## Importing the LonelyBoy Library (github.com/insert-generic-name-here/lonelyboy)

In [4]:
import os, sys
sys.path.append(os.path.join(os.path.expanduser('~'), 'Documents/Insert-Generic-Name-Here/'))
# sys.path

In [5]:
from lonelyboy.geospatial import plots as gsplt
from lonelyboy.geospatial import preprocessing as gspp
from lonelyboy.timeseries import lbtimeseries as tspp
from lonelyboy.geospatial import group_patterns as gsgp

## Importing all other Essential Libraries
#### (DO NOT FORGET TO EXECUTE THE FUNCTIONS IN THE BOTTOM CELLS)

In [6]:
import psycopg2
import numpy as np
import configparser
import pandas as pd
import geopandas as gpd
import contextily as ctx
from random import choice
from tqdm import tqdm_notebook
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN, MeanShift
from sklearn.preprocessing import MinMaxScaler
from shapely.geometry import Point, LineString, shape
from haversine import haversine

In [7]:
from multiprocessing import cpu_count, Pool
from functools import partial
import datetime

## Import Libraries for Visualizations

In [8]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [9]:
import PyQt5
import matplotlib.pyplot as plt
from matplotlib import style;  style.use('ggplot')
get_ipython().magic('matplotlib qt')

In [10]:
from tqdm import tqdm, tqdm_notebook

## Importing the Server Credentials

In [11]:
properties = configparser.ConfigParser()
properties.read(os.path.join('.','sql_server.ini'))
properties = properties['SERVER']

['./sql_server.ini']

## Connectiing to Server and Fetch 48hrs of Trajectory Data

In [12]:
host    = properties['host']
db_name = properties['db_name']
uname   = properties['uname']
pw      = properties['pw']
port    = properties['port']

traj_sql = 'SELECT * FROM ais_data.dynamic_ships WHERE ts>1456802710 AND ts<1456975510  '
ports_sql = 'SELECT * FROM ports.ports_of_brittany'

con = psycopg2.connect(database=db_name, user=uname, password=pw, host=host, port = port)

traj = gpd.GeoDataFrame.from_postgis(traj_sql, con, geom_col='geom' )

ports = gpd.GeoDataFrame.from_postgis(ports_sql, con, geom_col='geom' )
ports.geom = ports.geom.apply(lambda x: x[0])

print(f'Fetched {sizeof_fmt(traj.memory_usage().sum())}')
print(f'Fetched {sizeof_fmt(ports.memory_usage().sum())}')

con.close()

Fetched 38.1MiB
Fetched 14.0KiB

In [13]:
ports.head(2)
traj.head(2)

,gid,gml_id,por_id,libelle_po,insee_comm,por_x,por_y,geom
0,1,port.1,1,Le Vivier-sur-Mer,35361,297025.0,2408370.0,POINT (-1.771798868659233 48.60274269672541)
1,2,port.10,10,Saint-Samson sur Rance,22327,279335.0,2396060.0,POINT (-2.001990119062326 48.48369993456267)

,id,mmsi,status,turn,speed,course,heading,lon,lat,ts,geom
0,17515086,227300000,7.0,-126.0,2.8,34.2,346,-4.631805,48.11133,1456802713,POINT (-4.631805 48.11133)
1,17515175,226263000,5.0,0.0,0.1,256.2,133,-4.485797,48.37982,1456803199,POINT (-4.4857965 48.37982)

## (Hopefully) Doing something Useful

* ### Select some mmsi's
* ### Denoise them (per mmsi)
* ### Resample them (per mmsi)

In [14]:
### SELECT SOME MMSI'S
# mmsis = np.array([228186700, 477115900, 227002330, 227270000, 227369960, 227298110,\
#                    228190600, 227408710, 228849000, 227730220, 228762000, 227612860,\
#                    227592820, 227590030, 227654220, 227578460, 220364000, 636092323,\
#                    227322690, 227702670, 228021700, 219118000, 227312180, 273348830,\
#                    275457000, 226084000, 244976000, 224130870, 228203800, 228167900,\
#                    227327000, 228144000, 636016457, 215477000, 226318000, 314207000,\
#                    247087700, 563187000, 477612300, 227588930, 258316000, 228919000])
mmsis = traj.mmsi.unique()

In [15]:
### INSTEAD OF THIS CELL, EXECUTE THE ONE BELOW
# mmsis = np.array([227590030, 305476000, 235005980, 226084000, 227088590])
# sample_trajectories = gspp.pick_random_group(traj, 'mmsi', group_size=50)
# len(sample_trajectories)
# sample_trajectories

In [16]:
### DENOISE THEM
#### DROP TIMESTAMP DUPLICATES PER MMSI
sample_trajectories = traj.loc[traj.mmsi.isin(mmsis)]
sample_trajectories = sample_trajectories.drop_duplicates(subset=['mmsi', 'ts']).sort_values('ts').reset_index(drop=True)
sample_trajectories.head()

,id,mmsi,status,turn,speed,course,heading,lon,lat,ts,geom
0,12293630,227941000,7.0,0.0,0.0,285.0,8,-4.327213,48.100086,1456802711,POINT (-4.3272133 48.100086)
1,12293631,227705102,15.0,-127.0,0.0,261.8,511,-4.496568,48.382435,1456802711,POINT (-4.496568 48.382435)
2,17515086,227300000,7.0,-126.0,2.8,34.2,346,-4.631805,48.111330,1456802713,POINT (-4.631805 48.11133)
3,12293632,227016100,0.0,0.0,0.0,264.3,174,-4.481568,48.381393,1456802713,POINT (-4.4815683 48.381393)
4,12293633,227008170,0.0,0.0,0.0,135.0,144,-4.486115,48.381565,1456802713,POINT (-4.486115 48.381565)

In [17]:
### DROP OUTLIERS IN SAMPLE_TRAJECTORIES BASED ON TIMESTAMP ---- WIP; IDK IF I'LL APPLY THIS OR NOT (SO FAR: NOT APPLIED)
for mmsi in tqdm_notebook(sample_trajectories.mmsi.unique()):
    mmsi_ts_outliers = gspp.get_outliers(sample_trajectories.loc[sample_trajectories.mmsi == mmsi].ts, alpha=1.5)
#     sample_trajectories = sample_trajectories.drop(mmsi_ts_outliers)
    print (mmsi_ts_outliers)

HBox(children=(IntProgress(value=0, max=197), HTML(value='')))

Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([117413, 117422, 117432, 117437, 117459, 117465, 117483, 117500,
            119040, 119057, 119075, 119512, 119534, 119967, 119977, 119983,
            120011, 120028, 120043, 120058, 120063, 129542, 174651, 179445,
            179467, 179505, 181825, 181858, 181882, 182175, 182185, 182205,
            182457, 183057, 183064, 183094, 183118, 183352, 183361, 183371,
            183382, 183412, 185721, 187276, 187284, 189800, 189813, 190085,
            190091, 192714, 192726, 192741, 192779, 192797, 193055, 193062,
            193080, 193088, 193344, 193395, 193691, 193697, 193717, 193726,
            193732, 193741, 193746, 193752, 194052, 194059, 194066, 194076,
            194083, 194092, 194103, 194105, 194118, 194422, 194439, 194444,
            194451, 195988, 195999, 196025, 196031, 196040, 196219, 196236,
            196242, 196271, 196277, 196503, 196512, 196557],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([    6,   206,   413,   624,   822,  1061,  1474,  1715,  2123,
             2332,  2335,  2541,  2756,  2952,  3174,  3370,  3578,  3790,
             3991,  4212,  4410,  4616,  4844,  5038,  5246,  5475,  5948,
             6163,  6410,  6618,  6619,  6865,  7067,  7288,  7496,  7711,
             7951,  8189,  8455, 59593, 65396, 66689, 81237],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([   37,   247,   440,   655,   845,  1083,  1300,  1506,  1736,
             1942,
            ...
            70176, 70481, 70803, 71086, 71331, 71606, 71844, 72143, 72401,
            72645],
           dtype='int64', length=222)
Int64Index([    48,    261,    452,    667,    854,   1098,   1315,   1318,
              1524,   1747,
            ...
             96278,  96285,  96294,  96307,  96319,  96325,  99157,  99182,
             99662, 100637],
           dtype='int64', length=221)
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([151699, 152597, 154920, 155881, 158749, 159849, 163339, 169019,
            172142, 173796, 174554, 176736, 177933, 179141, 179721, 181086,
            182818, 183530, 186625, 186878, 187713, 187730, 187743, 188646,
            188973, 189042, 189265, 189823, 189896, 190202, 190633, 190726,
            190899, 191121, 191130, 191266, 191411, 191592, 191611, 191631,
            191642, 191684, 191813, 192227, 192266, 192548, 192819, 193492,
            193503, 193814, 193887, 194449, 196094, 198023, 201239, 202099,
            202106, 202116, 202640, 209394, 211250, 214011, 215286, 216361,
            216655, 217102, 218078, 220613, 220635],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([   535,    540,    547,    551,    573,    580,    588,    596,
               601,    887,
            ...
            222420, 222438, 222439, 222462, 222666, 222670, 222679, 222695,
            222699, 222748],
           dtype='int64', length=107)
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([  1314,   5531,  10345,  24190,  34017,  43588,  57974,  63945,
             74400,  79891,  84750,  95603, 100213, 106018, 112118, 118545,
            123853, 126973, 132479, 136538, 140456, 143589, 147804, 151687,
            151700, 151704, 151718, 151725, 151735, 151739, 151743, 151757,
            151961, 151969, 151982, 151991, 152003, 152009, 155566, 158737,
            159533, 160490, 160495, 160505, 160511, 160549, 189802, 189804,
            189808, 189817, 189822, 189828, 189832, 189837, 189841, 190324,
            190336, 193029, 193035, 193054, 193063, 193087, 193334],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([155532, 159499, 160515, 164269, 169846, 174635, 175819, 175860,
            178492, 179514, 182193],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([4794], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([  6125, 152010, 152015, 152019, 152030, 152033, 154913, 154925,
            154930, 154935, 155888, 156267, 156276, 156281, 156290, 156295],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([153901, 158517, 158762, 159179, 160828, 161877, 161992, 162042], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([10807, 10818, 10831, 11222, 11230], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([160541, 163750, 164352, 165173, 166599, 167479, 168889, 169413,
            169901, 170393, 170608, 170850, 171348],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([16324, 26351, 36435, 43482, 45588, 63876, 79780, 81169, 152335], dtype='int64')
Int64Index([79413, 85570], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([147670, 151723, 152609, 155903, 159428, 159866, 160659, 161100,
            162649, 163359, 167019, 169033, 170249, 173809, 175053, 178145,
            179901, 180220, 181278, 181854, 182823],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([17974, 89513, 94779, 95254, 95265, 96555, 99696, 99714, 105465,
            112111, 112127],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([64955], dtype='int64')
Int64Index([151464, 151472, 151480, 151492, 151500, 151508, 151514, 151521,
            151528, 151536,
            ...
            189561, 189569, 189576, 189585, 189594, 189604, 189612, 189622,
            189634, 189643],
           dtype='int64', length=839)
Int64Index([151984, 151986, 151995, 152004, 152031, 152039, 154907, 154909,
            154912, 154927,
            ...
            165249, 165257, 165678, 165684, 165687, 165693, 165695, 165703,
            165709, 165763],
           dtype='int64', length=705)
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([24191, 51747], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([26431], dtype='int64')
Int64Index([96601, 96614, 96621, 100209, 100217], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([32360], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([148249, 152634, 155929], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([36426, 36433, 44205, 44244, 44971, 45002, 45013, 45025, 45053,
            45589, 45611, 45629, 45672, 49968, 50019, 50030, 50036, 50044,
            50058, 50067, 51820, 51839, 51856, 70527, 75215, 79841, 79847,
            79864, 79875, 79888, 84729, 84757, 85029, 85037, 85050, 85063,
            85071, 85107, 85115, 85130, 85470, 85536],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([43632, 43850, 44054, 44120, 44265], dtype='int64')
Int64Index([ 45666,  45689,  45702,  45727,  45736,  65772,  65903,  65931,
             67419,  69947,  69966,  69979, 156720, 156743, 156782, 157433,
            157446, 157466, 157500, 157538, 157659, 157776, 157796, 158040,
            158117, 158563, 158594, 158880, 158973, 159182, 159194, 159216,
            159260, 159308, 159445, 159461, 159925, 159937, 160024, 160257,
            160368, 160833, 161358, 161545, 161881, 162097, 162262, 162276,
            162626, 162728, 163144, 163154, 163588, 163781, 165241, 165260,
            165758, 165889, 166095, 166259, 166549, 166765, 168278, 169588,
            170483, 170814, 171190, 182790, 182800, 182826, 182836],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')

Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([67654, 67832, 68148, 68165], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([73514, 73950, 74756, 75153, 75207, 75550, 75626], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([202100, 202111, 202896, 205949, 209366, 213062, 222190], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([84741, 84771, 86031, 95224, 95231, 95244, 99193, 99225], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([122771, 122791, 122817, 122848, 122872, 122883, 123249, 123304,
            123398],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([167822, 168119, 168431, 168697, 168975, 169229, 169495, 169734,
            169979, 170473,
            ...
            221567, 221880, 222175, 222829, 222905, 223119, 223252, 223381,
            223679, 223939],
           dtype='int64', length=295)
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([155642, 216389], dtype='int64')
Int64Index([209310, 209312, 209319, 209322, 209326, 209329, 209332, 209337,
            209341, 209344, 209348, 209350, 209353, 209357, 209360, 209365,
            209369, 209371, 209375, 209379, 209382, 209384, 209386, 209658,
            209687, 209693, 209700, 209702, 209705, 209709, 209715, 209717,
            209729, 209730, 209735, 209738],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([123823, 124138, 124141, 124406, 124661, 124665, 126698, 126710,
            126718, 126726, 126735, 126741, 126746, 126749, 126754, 126756,
            126764, 151740, 151746, 151963, 151966, 151975, 151980, 151992,
            151994, 152026, 152035, 152275, 152279, 152320, 152329, 152337,
            152585, 152592, 152613, 152622, 152628, 152632, 152637, 152881,
            152890, 152894, 152912, 153112, 153124, 153128, 153134, 153138,
            153149, 153150, 153160, 153162, 155505, 156620, 156623, 156628,
            156632],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([146733, 152002], dtype='int64')
Int64Index([148168, 148208, 148261, 148621, 148874, 149044, 150116, 151497,
            151715, 152524, 152556, 152602, 152640, 152719, 152882, 152914],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([149079], dtype='int64')
Int64Index([151978, 154918, 154928, 155194, 155202, 155210, 155213, 155219,
            155231, 155243, 155253, 155257, 155263, 155266, 155512, 155525,
            155529, 155538, 155539, 155543, 155551, 155560, 155568, 155921,
            155927, 156229, 156234, 156262, 156274, 156279, 156577, 156584,
            156591, 156593, 156606, 156612, 156617, 156637, 158730, 158736,
            158744, 158746, 158757, 158764, 158771, 158777, 158785, 158789,
            158795, 185733, 185751, 186064, 186109, 186116, 186918, 187704,
            187724, 190315, 190323],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([155522], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([208744, 208760, 208770, 208787, 208797, 208799], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([175445, 178104, 178116, 178128, 178136, 178148, 178157, 179511,
            179523, 179530, 181830, 181851, 181868, 182507, 182522, 182526],
           dtype='int64')
Int64Index([178463, 178815, 178831, 178840, 211924, 211946, 211956, 212199,
            212205, 212223, 212233],
           dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([208443, 215722, 215736, 216479, 221437, 221953, 221954, 222693], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([212268, 212542, 218931, 219229], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')

In [18]:
### DROP OUTLIERS IN SAMPLE_TRAJECTORIES BASED ON VELOCITY (POTENTIAL-AREA-OF-ACTIVITY)
sample_trajectories['velocity'] = np.nan

for mmsi in tqdm_notebook(sample_trajectories.mmsi.unique()):
    try:
        sample_trajectories.loc[sample_trajectories.mmsi == mmsi] = gspp.calculate_velocity(sample_trajectories.loc[sample_trajectories.mmsi == mmsi], smoothing=True, window=5, center=True)
#         mmsi_vel_outliers = gspp.get_outliers(sample_trajectories.loc[sample_trajectories.mmsi == mmsi].velocity, alpha=3)
        mmsi_vel_outliers = sample_trajectories.iloc[(sample_trajectories.mmsi == mmsi) & (sample_trajectories.velocity >= 102.2)]
        print(mmsi_vel_outliers)
        sample_trajectories = sample_trajectories.drop(mmsi_vel_outliers)
    except:
        continue

sample_trajectories = sample_trajectories.reset_index(drop=True)
sample_trajectories = sample_trajectories.fillna(0)

HBox(children=(IntProgress(value=0, max=197), HTML(value='')))

/home/andretri7/Documents/Insert-Generic-Name-Here/lonelyboy/geospatial/preprocessing.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  gdf['current_loc'] = gdf.geom.apply(lambda x: (x.x,x.y))
/home/andretri7/Documents/Insert-Generic-Name-Here/lonelyboy/geospatial/preprocessing.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  gdf['next_loc'] = gdf.geom.shift(-1)
/home/andretri7/Documents/Insert-Generic-Name-Here/lonelyboy/geospatial/preprocessing.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  gdf['next_loc'] = gdf.next_loc.apply(lambda x : (x.x,x.y))
/home/andretri7/Documents/Insert-Generic-Name-Here/lonelyboy/geospatial/preprocessing.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  gdf['velocity'] = gdf[['current_loc', 'next_loc']].apply(lambda x : haversine(x[0], x[1])*0.539956803 , axis=1).multiply(3600/gdf.ts.diff(-1).abs())
/home/andretri7/Documents/Insert-Generic-Name-Here/lonelyboy/geospatial/preprocessing.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  gdf['velocity'] = gdf['velocity'].rolling(window, center=center).mean()
/home/andretri7/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [19]:
sample_trajectories

,id,mmsi,status,turn,speed,course,heading,lon,lat,ts,geom,velocity
0,12293630.0,227941000.0,7.0,0.0,0.0,285.0,8.0,-4.327213,48.100086,1.456803e+09,POINT (-4.3272133 48.100086),0.000000
1,12293631.0,227705102.0,15.0,-127.0,0.0,261.8,511.0,-4.496568,48.382435,1.456803e+09,POINT (-4.496568 48.382435),0.000000
2,17515086.0,227300000.0,7.0,-126.0,2.8,34.2,346.0,-4.631805,48.111330,1.456803e+09,POINT (-4.631805 48.11133),0.000000
3,12293632.0,227016100.0,0.0,0.0,0.0,264.3,174.0,-4.481568,48.381393,1.456803e+09,POINT (-4.4815683 48.381393),0.000000
4,12293633.0,227008170.0,0.0,0.0,0.0,135.0,144.0,-4.486115,48.381565,1.456803e+09,POINT (-4.486115 48.381565),0.000000
5,12293634.0,227574020.0,15.0,-127.0,0.0,241.7,511.0,-4.496673,48.382454,1.456803e+09,POINT (-4.496673 48.382454),0.000000
6,17515087.0,256494000.0,5.0,0.0,0.0,344.0,217.0,-4.451149,48.383625,1.456803e+09,POINT (-4.4511485 48.383625),0.000000
7,12293637.0,227006750.0,0.0,127.0,0.0,266.1,267.0,-4.484478,48.381172,1.456803e+09,POINT (-4.4844785 48.381172),0.000000
8,12293635.0,228186700.0,15.0,-127.0,102.3,360.0,511.0,-4.512498,48.370834,1.456803e+09,POINT (-4.5124984 48.370834),0.000000
9,12293636.0,228394000.0,7.0,-127.0,1.7,77.0,511.0,-4.654577,48.123035,1.456803e+09,POINT (-4.654577 48.123035),0.000000
10,17515088.0,227300000.0,7.0,-126.0,2.7,27.1,338.0,-4.631777,48.111380,1.456803e+09,POINT (-4.631777 48.11138),0.000000
11,12293638.0,227003050.0,0.0,0.0,0.0,298.8,150.0,-4.485728,48.381130,1.456803e+09,POINT (-4.4857283 48.38113),0.000000
12,17515089.0,227300000.0,7.0,-126.0,2.6,23.3,335.0,-4.631757,48.111420,1.456803e+09,POINT (-4.631757 48.11142),2.614918
13,12293639.0,227941000.0,7.0,0.0,0.0,290.0,8.0,-4.327213,48.100086,1.456803e+09,POINT (-4.3272133 48.100086),0.000000
14,12293640.0,227705102.0,15.0,-127.0,0.0,244.1,511.0,-4.496587,48.382427,1.456803e+09,POINT (-4.496587 48.382427),0.000000
15,12293641.0,227016100.0,0.0,0.0,0.0,265.2,174.0,-4.481566,48.381393,1.456803e+09,POINT (-4.4815664 48.381393),0.000000
16,17515090.0,227300000.0,7.0,-126.0,2.5,21.6,332.0,-4.631747,48.111443,1.456803e+09,POINT (-4.631747 48.111443),2.413013
17,12293642.0,227008170.0,0.0,0.0,0.0,135.0,144.0,-4.486115,48.381565,1.456803e+09,POINT (-4.486115 48.381565),0.000000
18,12293643.0,228186700.0,15.0,-127.0,102.3,360.0,511.0,-4.512579,48.370872,1.456803e+09,POINT (-4.5125785 48.370872),0.000000
19,17515091.0,227300000.0,7.0,-126.0,2.3,18.3,330.0,-4.631738,48.111473,1.456803e+09,POINT (-4.631738 48.111473),2.163386
20,12293644.0,227006750.0,0.0,-126.0,0.0,266.9,265.0,-4.484490,48.381153,1.456803e+09,POINT (-4.48449 48.381153),0.000000
21,12293646.0,227003050.0,0.0,0.0,0.0,263.7,151.0,-4.485734,48.381126,1.456803e+09,POINT (-4.4857335 48.381126),0.000000
22,12293645.0,228394000.0,7.0,-127.0,1.8,72.5,511.0,-4.654503,48.123060,1.456803e+09,POINT (-4.6545033 48.12306),0.000000
23,12293647.0,227941000.0,7.0,0.0,0.0,245.2,7.0,-4.327213,48.100086,1.456803e+09,POINT (-4.3272133 48.100086),0.022095
24,17515092.0,227300000.0,7.0,-126.0,2.2,11.7,327.0,-4.631723,48.111507,1.456803e+09,POINT (-4.6317234 48.111507),2.069874
25,12293648.0,227705102.0,15.0,-127.0,0.0,276.3,511.0,-4.496605,48.382427,1.456803e+09,POINT (-4.496605 48.382427),0.235094
26,17515093.0,227300000.0,7.0,-126.0,2.1,12.7,328.0,-4.631720,48.111526,1.456803e+09,POINT (-4.63172 48.111526),1.780622
27,12293649.0,227008170.0,0.0,0.0,0.0,135.0,144.0,-4.486115,48.381565,1.456803e+09,POINT (-4.486115 48.381565),0.058768
28,12293650.0,227016100.0,0.0,0.0,0.0,264.4,174.0,-4.481568,48.381397,1.456803e+09,POINT (-4.4815683 48.381397),0.049888
29,12293651.0,227003050.0,0.0,0.0,0.0,284.1,151.0,-4.485738,48.381120,1.456803e+09,POINT (-4.4857383 48.38112),0.114735
...,...,...,...,...,...,...,...,...,...,...,...,...
223926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,0,0.000000
223927,12453292.0,227008170.0,0.0,0.0,0.0,135.0,148.0,-4.486165,48.381500,1.456975e+09,POINT (-4.486165 48.3815),0.000000
223928,12453293.0,227003050.0,0.0,0.0,0.0,272.3,149.0,-4.485754,48.381110,1.456975e+09,POINT (-4.4857535 48.38111),0.000000
223929,17567093.0,235098058.0,1.0,0.0,0.2,82.4,289.0,-4.493882,48.197720,1.456975e+09,POINT (-4.4938817 48.19772),0.158972
223930,12453294.0,636092331.0,0.0,-17.0,6.4,303.8,305.0,-4.802352,48.139374,1.456975e+09,POINT (-4.8023515 48.139374),0.000000
223931,17567094.0,235098058.0,1.0,0.0,0.3,154.0,289.0,-4.493885,48.197712,1.456975e+09,POINT (-4.493885 48.197712),0.234947
223932,12453295.0,228762000.0,15.0,-126.0,0.3,333.6,311.0,-4.520315,48.335680,1.456975e+09,POINT (-4.520315 48.33568),0.318162
223933,12453296.0,227003050.0,0.0,0.0,0.0,269.3,149.0,-4.485752,48.381107,1.456975e+09,POINT (-4.4857516 48.381107),0.000000
223934,12453297.0,227008170.0,0.0,0.0,0.0,135.0,148.0,-4.486165,48.381500,1.456975e+09,POINT (-4.486165 48.3815),0.000000
223935,17567096.0,235098058.0,1.0,0.0,1.0,29.3,288.0,-4.493888,48.197712,1.456975e+09,POINT (-4.4938884 48.197712),0.000000
223936,12453299.0,227705102.0,15.0,-127.0,0.0,209.3,511.0,-4.496582,48.382400,1.456975e+09,POINT (-4.4965816 48.3824),0.000000
223937,12453298.0,636092331.0,0.0,10.0,6.2,303.7,307.0,-4.802767,48.139560,1.456975e+09,POINT (-4.802767 48.13956),0.000000
223938,17567098.0,228762000.0,15.0,-126.0,0.2,332.7,308.0,-4.520323,48.335690,1.456975e+09,POINT (-4.5203233 48.33569),0.264256
223939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,0,0.000000
223940,12453300.0,227008170.0,0.0,0.0,0.0,135.0,148.0,-4.486165,48.381500,1.456975e+09,POINT (-4.486165 48.3815),0.000000
223941,12453301.0,227003050.0,0.0,0.0,0.0,223.3,149.0,-4.485754,48.381104,1.456975e+09,POINT (-4.4857535 48.381104),0.000000
223942,17567100.0,235098058.0,1.0,0.0,0.4,80.4,287.0,-4.493888,48.197710,1.456975e+09,POINT (-4.4938884 48.19771),0.000000
223943,17567101.0,228762000.0,15.0,-126.0,0.2,322.9,305.0,-4.520328,48.335697,1.456975e+09,POINT (-4.5203285 48.335697),0.000000
223944,12453302.0,636092331.0,0.0,7.0,6.5,305.5,306.0,-4.803088,48.139730,1.456975e+09,POINT (-4.803088 48.13973),0.000000
223945,17567102.0,228762000.0,15.0,-126.0,0.2,305.0,304.0,-4.520330,48.335700,1.456975e+09,POINT (-4.52033 48.3357),0.000000
223946,17567103.0,235098058.0,1.0,0.0,0.5,143.8,287.0,-4.493892,48.197697,1.456975e+09,POINT (-4.4938917 48.197697),0.000000
223947,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,0,0.000000
223948,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,0,0.000000
223949,17567104.0,228762000.0,15.0,-126.0,0.1,289.9,301.0,-4.520333,48.335700,1.456976e+09,POINT (-4.5203333 48.3357),0.000000
223950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,0,0.000000
223951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,0,0.000000
223952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,0,0.000000
223953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,0,0.000000
223954,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,0,0.000000
223955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,0,0.000000

In [ ]:
plot_idx = 0
for mmsi in sample_trajectories.mmsi.unique():
    plt.figure(plot_idx)
    pois = gspp.get_outliers(sample_trajectories.loc[sample_trajectories.mmsi == mmsi].velocity, alpha=2)
    
    print (pois)
    sample_trajectories.loc[sample_trajectories.mmsi == mmsi].velocity.plot(figsize=(20,10), c=(0,0,0))
    for poi in pois:
        plt.axvline(x=poi, c='r')
    
    plt.show()
    plot_idx += 1

In [20]:
mmsi_resampled = []
for mmsi in tqdm_notebook(sample_trajectories.mmsi.unique()):
    tmp = gspp.resample_geospatial(sample_trajectories.loc[sample_trajectories.mmsi == mmsi], rule = '60S', method='linear', crs = {'init': 'epsg:4326'}, drop_lon_lat = True)
    tmp = tmp.drop(['id', 'status', 'turn', 'speed', 'ts'], axis=1)
    mmsi_resampled.append(tmp)
        
sample_trajectories_resampled = pd.concat(mmsi_resampled)
sample_trajectories_resampled = sample_trajectories_resampled.sort_values('datetime').reset_index(drop=True)

HBox(children=(IntProgress(value=0, max=198), HTML(value='')))

/home/andretri7/Documents/Insert-Generic-Name-Here/lonelyboy/geospatial/preprocessing.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  sample_ves['datetime'] = pd.to_datetime(sample_ves['ts'], unit='s')

In [ ]:
plot_idx = 0
for mmsi in sample_trajectories_resampled.mmsi.unique():
    plt.figure(plot_idx)
    sample_trajectories_resampled.loc[sample_trajectories_resampled.mmsi == mmsi].velocity.plot(figsize=(20,10), c=(0,0,0))
    plt.show()
    plot_idx += 1

In [21]:
sample_trajectories_resampled.head(20)

,mmsi,course,heading,geom,velocity,datetime
0,0.0,0.0,0.0,POINT (0 0),0.000000,1970-01-01 00:00:00
1,227941000.0,285.0,8.0,POINT (-4.3272133 48.100086),0.000000,2016-03-01 03:25:00
2,227300000.0,34.2,346.0,POINT (-4.631805 48.11133),0.000000,2016-03-01 03:25:00
3,227016100.0,264.3,174.0,POINT (-4.4815683 48.381393),0.000000,2016-03-01 03:25:00
4,227008170.0,135.0,144.0,POINT (-4.486115 48.381565),0.000000,2016-03-01 03:25:00
5,227574020.0,241.7,511.0,POINT (-4.496673 48.382454),0.000000,2016-03-01 03:25:00
6,256494000.0,344.0,217.0,POINT (-4.4511485 48.383625),0.000000,2016-03-01 03:25:00
7,227006750.0,266.1,267.0,POINT (-4.4844785 48.381172),0.000000,2016-03-01 03:25:00
8,228186700.0,360.0,511.0,POINT (-4.5124984 48.370834),0.000000,2016-03-01 03:25:00
9,228394000.0,77.0,511.0,POINT (-4.654577 48.123035),0.000000,2016-03-01 03:25:00
10,227003050.0,298.8,150.0,POINT (-4.4857283 48.38113),0.000000,2016-03-01 03:25:00
11,227222000.0,167.4,167.0,POINT (-4.477003 48.38212),0.000000,2016-03-01 03:25:00
12,477115900.0,271.0,37.0,POINT (-4.453315 48.381668),0.000000,2016-03-01 03:25:00
13,220417000.0,133.9,243.0,POINT (-4.4850183 48.3527),0.000000,2016-03-01 03:25:00
14,227705102.0,261.8,511.0,POINT (-4.496568 48.382435),0.000000,2016-03-01 03:25:00
15,227705102.0,282.6,511.0,POINT (-4.496595 48.38244),0.121514,2016-03-01 03:26:00
16,227300000.0,21.2,322.0,POINT (-4.6316385 48.11174),1.437314,2016-03-01 03:26:00
17,227941000.0,244.4,8.0,POINT (-4.3272185 48.100086),0.059596,2016-03-01 03:26:00
18,636015106.0,307.6,239.0,POINT (-4.474283 48.339455),0.000000,2016-03-01 03:26:00
19,228394000.0,77.8,511.0,POINT (-4.6542068 48.12314),1.660516,2016-03-01 03:26:00

## Plot the Preprocessed Trajectories (just to be sure)

In [21]:
ax = sample_trajectories_resampled.to_crs(epsg=3857).plot(figsize=(10, 10))
ctx.add_basemap(ax, zoom=11)
plt.show()

## Search for Flocks
* #### 1. The Clustering will take place in time slices 
* #### 2. Possible Features: (X_coord, Y_coord, course)

* #### Set up a Color Map (for the Plots)

In [22]:
LABEL_COLOR_MAP = {-1 : 'black', 0 : 'white', 1 : 'r', 2 : 'g',\
                   3 : 'b', 4 : 'm', 5 : 'y', 6 : 'maroon', 7 : 'pink',\
                   8 : 'sienna', 9 : 'darkslategray', 10 : 'purple', 
                   11 : 'darkgoldenrod', 12: 'chocolate'}

* #### Getting a Sample Time Frame (to test the clustering algorithms)

In [23]:
# sample_datetime = np.datetime64('2016-03-02T10:04:00.000000000') 
# sample_datetime = np.datetime64('2016-03-01T19:13:00.000000000')
# THE BEST ONE SO FAR
sample_datetime = np.datetime64('2016-03-01T16:32:00.000000000')
## 
# while True:
#     sample_datetime = np.random.choice(sample_trajectories_resampled.datetime)
#     sample_timeFrame = sample_trajectories_resampled.loc[sample_trajectories_resampled.datetime == sample_datetime].drop_duplicates(subset=['mmsi', 'datetime'])
#     sample_timeFrame = sample_timeFrame.sort_values('datetime').reset_index(drop=True)
#     if (mean_distance_to_nearest_port(sample_timeFrame, ports) > 0.11): break
sample_timeFrame = sample_trajectories_resampled.loc[sample_trajectories_resampled.datetime == sample_datetime].drop_duplicates(subset=['mmsi', 'datetime'])
sample_timeFrame

,mmsi,course,heading,geom,velocity,datetime
51846,228211900.0,185.687052,511.000000,POINT (-4.778695697065673 48.36124802235678),5.795790,2016-03-01 16:32:00
51847,228064900.0,192.200000,206.666667,POINT (-4.511742766666667 48.364703),0.037871,2016-03-01 16:32:00
51848,477115900.0,182.000000,38.000000,POINT (-4.453365 48.38168866666667),0.019633,2016-03-01 16:32:00
51849,275457000.0,264.822857,239.714286,POINT (-5.522254757142857 48.22897728571429),6.800780,2016-03-01 16:32:00
51850,227612860.0,90.221221,511.000000,POINT (-4.495466119767442 48.38341180959303),2.319420,2016-03-01 16:32:00
51851,227696930.0,341.857460,511.000000,POINT (-4.484825078830645 48.38040994556452),4.604099,2016-03-01 16:32:00
51852,227006750.0,294.900000,254.000000,POINT (-4.4844966 48.381138),0.423957,2016-03-01 16:32:00
51853,227941000.0,174.649110,215.793594,POINT (-4.326646832740214 48.09851185053381),1.943659,2016-03-01 16:32:00
51854,228762000.0,223.400000,223.000000,POINT (-4.5063834 48.165085),11.182687,2016-03-01 16:32:00
51855,227114300.0,9.300000,511.000000,POINT (-4.8058414 48.31592),10.210144,2016-03-01 16:32:00
51856,227088590.0,343.640000,511.000000,POINT (-4.48751946 48.37799033333333),0.002277,2016-03-01 16:32:00
51857,234056000.0,302.600000,262.000000,POINT (-4.445037 48.312794),0.585988,2016-03-01 16:32:00
51858,228126000.0,59.120000,511.000000,POINT (-4.57221308 47.80833415),0.000000,2016-03-01 16:32:00
51859,227162950.0,303.571111,511.000000,POINT (-4.327327288888889 48.0990914),0.018478,2016-03-01 16:32:00
51860,227408710.0,0.000000,511.000000,POINT (-4.490347744444444 48.37918933333334),0.010858,2016-03-01 16:32:00
51861,304087000.0,221.714286,211.971429,POINT (-6.79017622 47.66370274285714),8.297169,2016-03-01 16:32:00
51862,226263000.0,88.600000,87.000000,POINT (-4.8652916 48.28225),28.671984,2016-03-01 16:32:00
51863,224130870.0,95.190000,98.050000,POINT (-6.44961514 47.98955695),13.658605,2016-03-01 16:32:00
51864,228210800.0,170.518268,511.000000,POINT (-4.818556393070866 48.3884341968504),6.726974,2016-03-01 16:32:00
51865,227635210.0,120.005328,511.000000,POINT (-4.497042876084262 48.37952006195787),0.150204,2016-03-01 16:32:00
51866,228796000.0,319.992487,511.000000,POINT (-4.495421086137566 48.38203843809524),0.006940,2016-03-01 16:32:00
51867,227574020.0,338.000000,511.000000,POINT (-4.4967184 48.38246),0.147498,2016-03-01 16:32:00
51868,227362110.0,91.700000,511.000000,POINT (-4.4899635 48.379265),0.021301,2016-03-01 16:32:00
51869,228853000.0,279.909843,511.000000,POINT (-3.910376858267717 47.7538673031496),0.000000,2016-03-01 16:32:00
51870,235108972.0,53.062857,511.000000,POINT (-4.912026714285714 48.19267134285714),10.763121,2016-03-01 16:32:00
51871,228005700.0,313.161581,511.000000,POINT (-4.522570791627907 48.3653651627907),1.007218,2016-03-01 16:32:00
51872,228186700.0,360.000000,511.000000,POINT (-4.512665 48.370834),0.815242,2016-03-01 16:32:00
51873,227148000.0,163.100000,511.000000,POINT (-4.4982815 48.38028),0.010671,2016-03-01 16:32:00
51874,412069000.0,22.500000,262.000000,POINT (-4.4676 48.3809),0.019766,2016-03-01 16:32:00
51875,249297000.0,351.000000,215.000000,POINT (-4.4544635 48.38504),0.049387,2016-03-01 16:32:00
...,...,...,...,...,...,...
51882,228228800.0,340.171667,299.900000,POINT (-5.537912543333333 48.18853166666667),11.610662,2016-03-01 16:32:00
51883,228155700.0,320.146667,511.000000,POINT (-4.484885666666667 48.37894586666666),0.006889,2016-03-01 16:32:00
51884,227730220.0,209.291011,511.000000,POINT (-4.487266561797753 48.38071851123595),0.111939,2016-03-01 16:32:00
51885,228109000.0,75.300000,511.000000,POINT (-4.681443 48.12367),5.233663,2016-03-01 16:32:00
51886,227008170.0,135.000000,147.000000,POINT (-4.486165 48.3815),0.657392,2016-03-01 16:32:00
51887,227705102.0,127.366858,511.000000,POINT (-4.496584766119771 48.38244371616079),0.199041,2016-03-01 16:32:00
51888,227318040.0,227.054673,511.000000,POINT (-4.494730409532711 47.81979934392523),0.000000,2016-03-01 16:32:00
51889,227002630.0,72.873404,72.668085,POINT (-4.556360706595744 47.99506855106383),21.799843,2016-03-01 16:32:00
51890,228236700.0,282.200000,511.000000,POINT (-4.5621834 48.12388),11.835565,2016-03-01 16:32:00
51891,227806500.0,149.353178,195.851695,POINT (-4.496032055084745 48.38235752966101),1.028150,2016-03-01 16:32:00
51892,227003050.0,137.900000,138.000000,POINT (-4.8217783 48.383686),18.742240,2016-03-01 16:32:00
51893,227142200.0,62.265714,52.028571,POINT (-4.327376828571428 48.09941714285714),0.137717,2016-03-01 16:32:00
51894,228258000.0,282.016667,511.000000,POINT (-4.460930703333333 47.74346223333333),0.993317,2016-03-01 16:32:00
51895,227270000.0,0.000000,511.000000,POINT (-4.478277233333333 48.38315),0.003657,2016-03-01 16:32:00
51896,226216000.0,310.750000,304.816667,POINT (-4.175252171666666 47.83569871666667),0.000426,2016-03-01 16:32:00
51897,227320660.0,135.197143,511.000000,POINT (-4.886732028571428 48.43096877142857),11.148618,2016-03-01 16:32:00
51898,636015106.0,222.600000,267.000000,POINT (-4.4734135 48.33949),0.044589,2016-03-01 16:32:00
51899,227366000.0,92.800000,94.000000,POINT (-4.99692 48.121315),14.082859,2016-03-01 16:32:00
51900,227311000.0,106.759833,107.727197,POINT (-4.584141986945607 47.98883189958159),10.945410,2016-03-01 16:32:00
51901,244925000.0,282.363636,276.363636,POINT (-5.200666880681818 48.3767979090909),13.764863,2016-03-01 16:32:00
51902,244630187.0,87.500000,511.000000,POINT (-4.488445 48.37731),0.002748,2016-03-01 16:32:00
51903,227298110.0,360.000000,511.000000,POINT (-4.489395 48.37902666666667),0.020692,2016-03-01 16:32:00
51904,227702670.0,0.000000,511.000000,POINT (-4.4893517 48.378338),0.026807,2016-03-01 16:32:00
51905,227521960.0,325.896506,511.000000,POINT (-4.488281389130434 48.3784058113354),0.053589,2016-03-01 16:32:00
51906,227590030.0,269.671304,511.000000,POINT (-4.483892548695652 48.38145776376811),0.735606,2016-03-01 16:32:00
51907,228336000.0,279.663725,206.921569,POINT (-4.77956491495098 48.36025010392157),0.679197,2016-03-01 16:32:00
51908,311043200.0,171.501575,172.453543,POINT (-5.497522311181102 48.43391729133859),0.000000,2016-03-01 16:32:00
51909,227588970.0,289.426187,511.000000,POINT (-4.483931643698854 48.38141184942717),0.134065,2016-03-01 16:32:00
51910,228394000.0,264.400000,511.000000,POINT (-4.950703 48.10729),1.732656,2016-03-01 16:32:00
51911,226084000.0,142.445397,511.000000,POINT (-4.794392316366292 48.36194433901608),7.841589,2016-03-01 16:32:00

In [24]:
ax = sample_timeFrame.to_crs(epsg=3857).plot(figsize=(10, 10))
ctx.add_basemap(ax, zoom=11)
plt.show()

* ## K-Means Clustering

In [24]:
# gdf_tmp = sample_trajectories_resampled.loc[sample_trajectories_resampled.datetime == sample_datetime].drop_duplicates(subset=['mmsi', 'datetime'])  
flocks = gsgp.flock_mining(sample_timeFrame, doi=None, init='k-means++', n_init=10, n_jobs=-1, precompute_distances=True, random_state=0, verbose=0)

  0%|          | 0/1 [00:00<?, ?it/s]
  0%|          | 0/66 [00:00<?, ?it/s]
 12%|        | 8/66 [00:00<00:00, 72.49it/s]
 20%|        | 13/66 [00:00<00:00, 60.13it/s]
 26%|       | 17/66 [00:00<00:01, 48.33it/s]
 30%|       | 20/66 [00:00<00:01, 39.67it/s]
 35%|      | 23/66 [00:00<00:01, 33.25it/s]
 39%|      | 26/66 [00:00<00:01, 28.71it/s]
 44%|     | 29/66 [00:00<00:01, 24.31it/s]
 48%|     | 32/66 [00:01<00:01, 21.71it/s]
 53%|    | 35/66 [00:01<00:01, 19.40it/s]
 56%|    | 37/66 [00:01<00:01, 17.17it/s]
 59%|    | 39/66 [00:01<00:01, 15.61it/s]
 62%|   | 41/66 [00:01<00:01, 14.82it/s]
 65%|   | 43/66 [00:01<00:01, 13.78it/s]
 68%|   | 45/66 [00:02<00:01, 13.37it/s]
 71%|   | 47/66 [00:02<00:01, 12.97it/s]
 74%|  | 49/66 [00:02<00:01, 12.53it/s]
 77%|  | 51/66 [00:02<00:01, 12.12it/s]
 80%|  | 53/66 [00:02<00:01, 11.80it/s]
 83%| | 55/66 [00:02<00:00, 11.45it/s]
 86%| | 57/66 [00:03<00:00, 11.03it/s]
 89%| | 59/66 [00:03<00:00, 10.55it/s]
 92%|| 61/66 [00:03<00:00, 10.34it/s]
 95%|| 63/66 [00:03<00:00,  9.94it/s]
 98%|| 65/66 [00:03<00:00,  9.52it/s]
100%|| 66/66 [00:04<00:00,  9.20it/s]
100%|| 1/1 [00:04<00:00,  4.10s/it]

In [25]:
flocks

,flocks,start_time,end_time
0.0,"[235108972.0, 227300000.0, 227366000.0, 228394...",2016-03-01 16:32:00,NaN
1.0,"[228064900.0, 477115900.0, 227612860.0, 227696...",2016-03-01 16:32:00,NaN
2.0,"[244925000.0, 311043200.0]",2016-03-01 16:32:00,NaN
3.0,[224130870.0],2016-03-01 16:32:00,NaN
4.0,"[228126000.0, 227318040.0, 228258000.0]",2016-03-01 16:32:00,NaN
5.0,"[275457000.0, 228228800.0]",2016-03-01 16:32:00,NaN
6.0,"[227941000.0, 227162950.0, 227114630.0, 227142...",2016-03-01 16:32:00,NaN
7.0,"[228211900.0, 227114300.0, 226263000.0, 228210...",2016-03-01 16:32:00,NaN
8.0,[304087000.0],2016-03-01 16:32:00,NaN
9.0,"[228853000.0, 226216000.0]",2016-03-01 16:32:00,NaN
10.0,"[227002630.0, 227311000.0]",2016-03-01 16:32:00,NaN
11.0,[220417000.0],2016-03-01 16:32:00,NaN
12.0,"[228762000.0, 228109000.0, 228236700.0]",2016-03-01 16:32:00,NaN

* #### Plotting the Results of Flock Mining...

In [27]:
label_color = pd.DataFrame([], index=sample_timeFrame.index, columns=['color'])

cluster_indices = [sample_timeFrame.loc[sample_timeFrame.mmsi.isin(flock)].index for flock in flocks.flocks] 
for color_idx, cluster in enumerate(cluster_indices):
    label_color.loc[label_color.index.isin(cluster), 'color'] = color_idx

ax = sample_timeFrame.to_crs(epsg=3857).plot(figsize=(10, 10), c=label_color.color.values)
ctx.add_basemap(ax, zoom=11)
plt.show()

### __Q:__ sklearn KMeans uses Euclidean Distance; Which is not Good on GeoSpatial Data. What if we could incorporate the Haversine Formula to get a bit more Accurate Clusters?

### __A:__ Re-project the Data to a Mercator in which Euclidean Distance can be Applied

## Search for Convoys (via DBSCAN Clustering; Using the Haversine Distance as a Distance Metric)

In [217]:
convoys = gsgp.convoy_mining(sample_timeFrames, time_threshold=5, min_samples=3, eps=2.5, metric=haversine, metric_params=None, algorithm='auto', leaf_size=50, p=None, n_jobs=-1)

100%|| 2/2 [00:00<00:00,  7.70it/s]

In [218]:
convoys

,convoys,start_time,end_time
0.0,"[228211900.0, 228336000.0, 226084000.0]",2016-03-01 16:33:00,NaN
1.0,"[228064900.0, 477115900.0, 227612860.0, 227696...",2016-03-01 16:33:00,NaN
2.0,"[227941000.0, 227162950.0, 227114630.0, 227142...",2016-03-01 16:33:00,NaN
3.0,"[227300000.0, 227366000.0, 228394000.0]",2016-03-01 16:33:00,NaN
0.0,"[227114630.0, 227941000.0, 227162950.0, 227142...",2016-03-01 16:33:00,NaN
1.0,"[227222000.0, 227592820.0, 227008170.0, 228155...",2016-03-01 16:33:00,NaN
2.0,"[227003050.0, 226084000.0, 228210800.0, 228336...",2016-03-01 16:33:00,NaN
3.0,"[227300000.0, 228394000.0, 227366000.0]",2016-03-01 16:33:00,NaN

* #### Plotting the Results of Convoy Mining...

In [30]:
label_color = pd.DataFrame([], index=sample_timeFrame.index, columns=['color'])

cluster_indices = [sample_timeFrame.loc[sample_timeFrame.mmsi.isin(flock)].index for flock in convoys.convoys] 
for color_idx, cluster in enumerate(cluster_indices):
    label_color.loc[label_color.index.isin(cluster), 'color'] = color_idx

ax = sample_timeFrame.to_crs(epsg=3857).plot(figsize=(10, 10), c=label_color.color.values)
ctx.add_basemap(ax, zoom=11)
plt.show()

In [173]:
from datetime import datetime, timedelta

In [229]:
def convoy_mining_v2(gdf, time_threshold=5, min_samples=3, eps=2.5, metric=haversine, metric_params=None, algorithm='auto', leaf_size=50, p=None, n_jobs=-1): 
    gdf[['lon', 'lat']] = gdf['geom'].apply(lambda x: pd.Series({'lon':x.x, 'lat':x.y})) 
    gdf = gdf.drop('geom', axis=1)

    convoys = pd.DataFrame([], columns=['convoys', 'start_time', 'end_time'])
    
    for datetime_of_interest in tqdm(gdf['datetime'].unique()):      
        # Get the Useful Features
        timeFrame = gdf[['lon', 'lat']].loc[gdf['datetime'] == datetime_of_interest]
        # Normalize
        scaler = MinMaxScaler()
        X = scaler.fit_transform(timeFrame.values)
        # Cluster
        clustering = DBSCAN(eps=eps, min_samples=min_samples, metric=metric, metric_params=metric_params,\
                            algorithm=algorithm, leaf_size=leaf_size, p=p, n_jobs=n_jobs).fit(X)
        cluster_n = clustering.labels_
        # Create the DataFrame (Structure: <INDEX_OF_CLUSTER>, <LIST_OF_TIMEFRAME_INDICES>)
        tmp = pd.DataFrame(np.array([gdf.loc[timeFrame.index]['mmsi'], cluster_n]).T, columns=['convoys', 'cnv_idx'])
        tmp = tmp.loc[tmp.cnv_idx != -1].groupby('cnv_idx')['convoys'].apply(list)
        
        # Append to Convoy History
        convoys = convoys.append(pd.DataFrame({'convoys':tmp, 'start_time':np.array([datetime_of_interest]*len(tmp))}, columns=['convoys', 'start_time', 'end_time'])).reset_index(drop=True)  
        
    return convoys

In [230]:
def convoy_mining_v3(gdf, time_threshold=5, min_samples=3, eps=2.5, rate=60, metric=haversine, metric_params=None, algorithm='auto', leaf_size=50, p=None, n_jobs=-1): 
    gdf[['lon', 'lat']] = gdf['geom'].apply(lambda x: pd.Series({'lon':x.x, 'lat':x.y})) 
    gdf = gdf.drop('geom', axis=1)

    convoys = pd.DataFrame([], columns=['convoys', 'start_time', 'end_time'])
    
    for datetime_of_interest in tqdm(gdf['datetime'].unique()):      
        # Get the Useful Features
        timeFrame = gdf[['lon', 'lat']].loc[gdf['datetime'] == datetime_of_interest]
        # Normalize
        scaler = MinMaxScaler()
        X = scaler.fit_transform(timeFrame.values)
        # Cluster
        clustering = DBSCAN(eps=eps, min_samples=min_samples, metric=metric, metric_params=metric_params,\
                            algorithm=algorithm, leaf_size=leaf_size, p=p, n_jobs=n_jobs).fit(X)
        cluster_n = clustering.labels_
        # Create the DataFrame (Structure: <INDEX_OF_CLUSTER>, <LIST_OF_TIMEFRAME_INDICES>)
        tmp = pd.DataFrame(np.array([gdf.loc[timeFrame.index]['mmsi'], cluster_n]).T, columns=['convoys', 'cnv_idx'])
        tmp = tmp.loc[tmp.cnv_idx != -1].groupby('cnv_idx')['convoys'].apply(list).apply(set)
        tmp = pd.DataFrame({'convoys':tmp, 'start_time':np.array([datetime_of_interest]*len(tmp))}, columns=['convoys', 'start_time', 'end_time'])
        
        # Append to Convoy History
        convoys = join_convoys(convoys, tmp)
        
    return convoys

In [33]:
sample_datetimes = [np.datetime64('2016-03-01T16:32:00.000000000'), np.datetime64('2016-03-01T16:33:00.000000000')]

sample_timeFrames = sample_trajectories_resampled.loc[sample_trajectories_resampled.datetime.isin(sample_datetimes)].drop_duplicates(subset=['mmsi', 'datetime'])
sample_timeFrames

,mmsi,course,heading,geom,velocity,datetime
51846,228211900.0,185.687052,511.000000,POINT (-4.778695697065673 48.36124802235678),5.795790,2016-03-01 16:32:00
51847,228064900.0,192.200000,206.666667,POINT (-4.511742766666667 48.364703),0.037871,2016-03-01 16:32:00
51848,477115900.0,182.000000,38.000000,POINT (-4.453365 48.38168866666667),0.019633,2016-03-01 16:32:00
51849,275457000.0,264.822857,239.714286,POINT (-5.522254757142857 48.22897728571429),6.800780,2016-03-01 16:32:00
51850,227612860.0,90.221221,511.000000,POINT (-4.495466119767442 48.38341180959303),2.319420,2016-03-01 16:32:00
51851,227696930.0,341.857460,511.000000,POINT (-4.484825078830645 48.38040994556452),4.604099,2016-03-01 16:32:00
51852,227006750.0,294.900000,254.000000,POINT (-4.4844966 48.381138),0.423957,2016-03-01 16:32:00
51853,227941000.0,174.649110,215.793594,POINT (-4.326646832740214 48.09851185053381),1.943659,2016-03-01 16:32:00
51854,228762000.0,223.400000,223.000000,POINT (-4.5063834 48.165085),11.182687,2016-03-01 16:32:00
51855,227114300.0,9.300000,511.000000,POINT (-4.8058414 48.31592),10.210144,2016-03-01 16:32:00
51856,227088590.0,343.640000,511.000000,POINT (-4.48751946 48.37799033333333),0.002277,2016-03-01 16:32:00
51857,234056000.0,302.600000,262.000000,POINT (-4.445037 48.312794),0.585988,2016-03-01 16:32:00
51858,228126000.0,59.120000,511.000000,POINT (-4.57221308 47.80833415),0.000000,2016-03-01 16:32:00
51859,227162950.0,303.571111,511.000000,POINT (-4.327327288888889 48.0990914),0.018478,2016-03-01 16:32:00
51860,227408710.0,0.000000,511.000000,POINT (-4.490347744444444 48.37918933333334),0.010858,2016-03-01 16:32:00
51861,304087000.0,221.714286,211.971429,POINT (-6.79017622 47.66370274285714),8.297169,2016-03-01 16:32:00
51862,226263000.0,88.600000,87.000000,POINT (-4.8652916 48.28225),28.671984,2016-03-01 16:32:00
51863,224130870.0,95.190000,98.050000,POINT (-6.44961514 47.98955695),13.658605,2016-03-01 16:32:00
51864,228210800.0,170.518268,511.000000,POINT (-4.818556393070866 48.3884341968504),6.726974,2016-03-01 16:32:00
51865,227635210.0,120.005328,511.000000,POINT (-4.497042876084262 48.37952006195787),0.150204,2016-03-01 16:32:00
51866,228796000.0,319.992487,511.000000,POINT (-4.495421086137566 48.38203843809524),0.006940,2016-03-01 16:32:00
51867,227574020.0,338.000000,511.000000,POINT (-4.4967184 48.38246),0.147498,2016-03-01 16:32:00
51868,227362110.0,91.700000,511.000000,POINT (-4.4899635 48.379265),0.021301,2016-03-01 16:32:00
51869,228853000.0,279.909843,511.000000,POINT (-3.910376858267717 47.7538673031496),0.000000,2016-03-01 16:32:00
51870,235108972.0,53.062857,511.000000,POINT (-4.912026714285714 48.19267134285714),10.763121,2016-03-01 16:32:00
51871,228005700.0,313.161581,511.000000,POINT (-4.522570791627907 48.3653651627907),1.007218,2016-03-01 16:32:00
51872,228186700.0,360.000000,511.000000,POINT (-4.512665 48.370834),0.815242,2016-03-01 16:32:00
51873,227148000.0,163.100000,511.000000,POINT (-4.4982815 48.38028),0.010671,2016-03-01 16:32:00
51874,412069000.0,22.500000,262.000000,POINT (-4.4676 48.3809),0.019766,2016-03-01 16:32:00
51875,249297000.0,351.000000,215.000000,POINT (-4.4544635 48.38504),0.049387,2016-03-01 16:32:00
...,...,...,...,...,...,...
51951,228258000.0,281.012500,511.000000,POINT (-4.4600614375 47.743420625),0.980247,2016-03-01 16:33:00
51952,228126000.0,57.416667,511.000000,POINT (-4.5720909 47.80812879166667),0.000000,2016-03-01 16:33:00
51953,228210800.0,170.571654,511.000000,POINT (-4.818536886614173 48.38826503937008),6.726883,2016-03-01 16:33:00
51954,227369960.0,63.500000,511.000000,POINT (-4.489055 48.37796),0.009042,2016-03-01 16:33:00
51955,275457000.0,266.100000,240.000000,POINT (-5.524265 48.22835),6.770194,2016-03-01 16:33:00
51956,228394000.0,261.300000,511.000000,POINT (-4.950775 48.107277),2.138070,2016-03-01 16:33:00
51957,227148000.0,168.100000,511.000000,POINT (-4.498278166666667 48.38027866666667),0.011176,2016-03-01 16:33:00
51958,227002630.0,72.919681,72.893617,POINT (-4.556355630319149 47.99508092021276),21.782403,2016-03-01 16:33:00
51959,228336000.0,279.656863,206.960784,POINT (-4.77956518872549 48.36024990196078),0.680374,2016-03-01 16:33:00
51960,235108972.0,53.100000,511.000000,POINT (-4.909475 48.194145),10.763729,2016-03-01 16:33:00
51961,227588970.0,289.461047,511.000000,POINT (-4.483931613747954 48.38141187397709),0.134070,2016-03-01 16:33:00
51962,228064900.0,192.200000,206.333333,POINT (-4.511740533333334 48.364698),0.036070,2016-03-01 16:33:00
51963,228236700.0,288.600000,511.000000,POINT (-4.5653534 48.124508),11.601229,2016-03-01 16:33:00
51964,304087000.0,222.000000,212.000000,POINT (-6.7914915 47.661896),8.298517,2016-03-01 16:33:00
51965,227806500.0,149.545233,196.222458,POINT (-4.496031917372881 48.38235670550848),1.027290,2016-03-01 16:33:00
51966,234056000.0,302.800000,270.000000,POINT (-4.445142 48.31284),0.800356,2016-03-01 16:33:00
51967,227941000.0,174.547829,215.816370,POINT (-4.326646871886121 48.09851171530249),1.943968,2016-03-01 16:33:00
51968,227088590.0,343.400000,511.000000,POINT (-4.487519266666666 48.37799111111111),0.002279,2016-03-01 16:33:00
51969,220417000.0,28.300000,23.000000,POINT (-5.690417 48.623325),11.754084,2016-03-01 16:33:00
51970,228853000.0,280.057480,511.000000,POINT (-3.910411732283465 47.7539068503937),0.000000,2016-03-01 16:33:00
51971,244925000.0,279.272727,273.272727,POINT (-5.203452863636364 48.37815018181818),13.771374,2016-03-01 16:33:00
51972,228228800.0,340.083333,300.000000,POINT (-5.540912766666667 48.18988333333333),11.601506,2016-03-01 16:33:00
51973,228109000.0,40.600000,511.000000,POINT (-4.6803265 48.124474),4.431426,2016-03-01 16:33:00
51974,227730220.0,209.778652,511.000000,POINT (-4.487266584269663 48.3807186516854),0.112113,2016-03-01 16:33:00
51975,227162950.0,305.655556,511.000000,POINT (-4.327328444444444 48.099094),0.018472,2016-03-01 16:33:00
51976,227366000.0,91.600000,90.000000,POINT (-4.993933 48.12125),13.652681,2016-03-01 16:33:00
51977,228211900.0,185.755799,511.000000,POINT (-4.778704292501164 48.36124772380065),5.795306,2016-03-01 16:33:00
51978,227142200.0,62.497449,52.540816,POINT (-4.327376826530612 48.09941716836735),0.137720,2016-03-01 16:33:00
51979,227318040.0,227.193458,511.000000,POINT (-4.494601990654205 47.81979587850467),0.000000,2016-03-01 16:33:00
51980,226216000.0,310.800000,304.833333,POINT (-4.175252283333333 47.83569883333334),0.000425,2016-03-01 16:33:00

In [246]:
# convoys = convoy_mining_v2(sample_timeFrames, time_threshold=5, min_samples=3, eps=2, metric=haversine, metric_params=None, algorithm='auto', leaf_size=50, p=None, n_jobs=-1) 
convoys = convoy_mining_v3(sample_timeFrames, time_threshold=5, rate=60, min_samples=3, eps=2, metric=haversine, metric_params=None, algorithm='auto', leaf_size=50, p=None, n_jobs=-1)

100%|| 2/2 [00:00<00:00,  7.00it/s]

In [248]:
convoys

,convoys,start_time,end_time
0,"{227941000.0, 227162950.0, 227142200.0, 227114...",2016-03-01 16:32:00,NaN
1,"{228064900.0, 227574020.0, 412069000.0, 227635...",2016-03-01 16:32:00,NaN
2,"{228336000.0, 228211900.0, 226084000.0}",2016-03-01 16:32:00,NaN
3,"{227941000.0, 227142200.0, 227114630.0, 227162...",2016-03-01 16:32:00,2016-03-01 16:33:00
4,"{227300000.0, 228394000.0, 227366000.0}",2016-03-01 16:33:00,NaT

In [236]:
# convoys_t1 = convoys.loc[convoys.start_time == sample_datetimes[0]]
# convoys_t1.convoys = convoys_t1.convoys.apply(set)
# convoys_t2 = convoys.loc[convoys.start_time == sample_datetimes[1]]
# convoys_t2.convoys = convoys_t2.convoys.apply(set)

# convoys_t1
# convoys_t2
# for idxA, convoyA in enumerate(convoys_t1.convoys.apply(set)):
#     for idxB, convoyB in enumerate(convoys_t2.convoys.apply(set)):
#         if (convoyA & convoyB):
#             print (f'from {idxA} to {idxB}')

# convoys_t1.join(convoys_t2, (convoys_t2.convoys.intersections(convoys_t1.convoys)), "inner")

In [245]:
def join_convoys(convoys_prev, convoys_next, rate=60):
    df_joined = pd.DataFrame([], columns=['convoys', 'start_time', 'end_time'])
    df_left, df_right = (convoys_prev, convoys_next) if (len(convoys_prev) > len(convoys_next)) else (convoys_next, convoys_prev)

    try:
        for idx_left, convoy_left in enumerate(df_left.convoys):
            start_time = df_left.iloc[idx_left].start_time
            foundFlag = False
            end_time = df_right.iloc[0].start_time
            for idx_right, convoy_right in enumerate(df_right.convoys):
                end_time = df_right.iloc[idx_right].start_time
                if convoy_left.intersection(convoy_right) != set():
                    df_joined = df_joined.append({'convoys':convoy_left.intersection(convoy_right), 'start_time':start_time if start_time < end_time else end_time}, ignore_index=True)
                    foundFlag = True
                    break
                    
            if not foundFlag:
                df_left_isOlder = start_time < end_time
                if df_left_isOlder:
                    res_join = pd.DataFrame([{'convoys':convoy_left, 'start_time':start_time, 'end_time': end_time},
                                             {'convoys':df_right.iloc[-1].convoys, 'start_time':start_time}], columns=['convoys', 'start_time', 'end_time'])
                else:
                    res_join = pd.DataFrame([{'convoys':df_right.iloc[-1].convoys, 'start_time':end_time, 'end_time': start_time},
                                             {'convoys':convoy_left, 'start_time':start_time}], columns=['convoys', 'start_time', 'end_time'])
                df_joined = df_joined.append(res_join)
    except IndexError: 
        if len(df_left) == 0: 
            return df_joined
        df_left.loc[df_left.end_time == np.nan].end_time = df_left.loc[df_left.end_time == np.nan].start_time + timedelta(seconds=60)
        df_joined = df_joined.append(df_left)

    return df_joined.reset_index(drop=True)

In [249]:
for doi in convoys.start_time.unique():
    label_color = pd.DataFrame([], index=sample_timeFrames.loc[sample_timeFrames.datetime == doi].index, columns=['color'])
    
    cluster_indices = [sample_timeFrames.loc[sample_timeFrames.mmsi.isin(convoy)].index for convoy in convoys.loc[convoys.start_time == doi].convoys] 
    for color_idx, cluster in enumerate(cluster_indices):
        label_color.loc[label_color.index.isin(cluster), 'color'] = color_idx
    
    ax = sample_timeFrames.loc[sample_timeFrames.datetime == doi].to_crs(epsg=3857).plot(figsize=(10, 10), c=label_color.color.values)
    ctx.add_basemap(ax, zoom=11)
    plt.show()

# FUNCTIONS

In [1]:
def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f%s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f%s%s" % (num, 'Yi', suffix)

In [2]:
def make_lines(gdf, df_out, i, geometry = 'geometry'):
    geom0 = gdf.loc[i][geometry]
    geom1 = gdf.loc[i + 1][geometry]
    
    start, end = [(geom0.x, geom0.y), (geom1.x, geom1.y)]
    line = LineString([start, end])
    
    # Create a DataFrame to hold record
    data = {'id': i,
            'geometry': [line]}
    df_line = pd.DataFrame(data, columns = ['id', 'geometry'])
    
    # Add record DataFrame of compiled records
    df_out = pd.concat([df_out, df_line])
    return df_out

In [3]:
def mean_distance_to_nearest_port(gdf, ports):
    '''
    Calculates the minimum distance between the point and the lists of ports. Can be used to determine if the ship is sailing or not
    '''
    counter = 0
    for point in tqdm_notebook(gdf.geom):
        counter += ports.geom.distance(point).min()
    
    return counter/len(gdf)