In [4]:
import pandas as pd
import numpy as np
from haversine import haversine
import networkx as nx

df = pd.read_csv('4h_timeFrame_not_at_3_fing_am.csv')

In [181]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [5]:
df.head()

,id,mmsi,status,turn,speed,course,heading,lon,lat,ts,geom,velocity,datetime
0,1.884809e+07,227408710.0,0.0,0.0,0.000000,258.100000,511.000000,-4.490398,48.379186,1.456818e+09,POINT (-4.4903984 48.3791865),0.013741,2016-03-01 07:36:00
1,1.758572e+07,228853000.0,7.0,-127.0,6.169685,200.775984,511.000000,-3.891684,47.732670,1.456818e+09,POINT (-3.891684385826772 47.73266998031496),0.153449,2016-03-01 07:36:00
2,1.884808e+07,227686540.0,0.0,0.0,6.400000,199.300000,511.000000,-4.464395,48.327780,1.456818e+09,POINT (-4.464395 48.32778),6.911790,2016-03-01 07:36:00
3,1.751793e+07,226216000.0,7.0,0.0,0.000000,196.639167,302.466667,-4.175265,47.835712,1.456818e+09,POINT (-4.175265398333333 47.83571188333333),0.001396,2016-03-01 07:36:00
4,1.751790e+07,227270000.0,5.0,-127.0,0.000000,0.000000,511.000000,-4.478274,48.383153,1.456818e+09,POINT (-4.478274466666667 48.38315333333333),0.003177,2016-03-01 07:36:00

In [16]:
def pairs_in_radius(df, diam=1000):
    res = []
    for ind_i, ind_j, val_i, val_j in nparray_combinations(df):
        dist = haversine(val_i, val_j)*1000
        if (dist<diam):
            res.append((ind_i,ind_j))   
    return res

In [165]:
def connected_edges(data):
    G = nx.Graph()
    G.add_edges_from(data)
    return [sorted(list(cluster)) for cluster in nx.find_cliques(G)]

In [8]:
def nparray_combinations(arr):
    for i in range(arr.shape[0]):
        for j in range(i+1, arr.shape[0]):
            yield i, j, arr[i,:], arr[j,:]

In [9]:
def eval_candidate(candidate, pairs):
    for pair in itertools.combinations(candidate,2):
        if pair not in pairs:
            return False
    return True

In [10]:
def translate(sets, sdf):
    return [tuple([sdf.iloc[point].mmsi for point in points]) for points in sets]

In [11]:
def circle_cluster(timeframe, min_cardinality = 2):
    pairs = pairs_in_radius(timeframe[['lon', 'lat']].values)
    full_sets = connected_edges(pairs)
    clusters = []
    for individual_sets in full_sets:
        # MAYBE FROM BIG TO SMALL INSTEAD OF SMALL TO BIG
        for j in range(min_cardinality,len(individual_sets)+1):
            for candidate in itertools.combinations(individual_sets,j):
                 if eval_candidate(candidate, pairs):
                        clusters.append(candidate)
    return clusters

In [12]:
def get_circular_clusters(timeframe):
    pairs = pairs_in_radius(timeframe[['lon', 'lat']].values)
    return connected_edges(pairs)

In [186]:
keep = pd.DataFrame()
log=[]
for ind, (ts, sdf) in enumerate(df.groupby('datetime')):
    print (ind+1,' / ', df.datetime.nunique(), end='\r')
    present = pd.DataFrame([[tuple(val)] for (val) in translate(get_circular_clusters(sdf), sdf)], columns=['clusters'])
    present['st'] = present['et'] = ts
    present['dur'] = 1
    if ind == 0:
        past = present
        continue
    
    past
    new = present.merge(past, how='left', indicator=True)
    new = new[new['_merge']=='left_only'].drop(['_merge'],axis=1)
    new
    
#     new['st'] = new['et'] = ts
#     new['dur'] = 1

#     get if tuple of tmp1 is subset or equal of a row of tmp2
    tmp = pd.DataFrame(past['clusters']).apply(lambda x: True in [set(x) <= set(val) for val in present.values], axis=1)
    tst = past.loc[tmp].copy()
    tst['et'] = ts
    tst['dur'] = tst.dur.apply(lambda x : x+1)
    
    past = pd.concat([tst,new]).reset_index(drop=True)
    
    keep = keep.append(past.loc[past.dur>=5])
    log.append(past.dur)
#     if ind==2: break
#     break
    if ind==50:
        break
# fn_keep = keep.drop_duplicates(['clusters'], keep='last')

,clusters,st,et,dur
0,"(227686540.0, 227632830.0)",2016-03-01 07:36:00,2016-03-01 07:36:00,1
1,"(227686540.0, 227322670.0)",2016-03-01 07:36:00,2016-03-01 07:36:00,1
2,"(227270000.0, 227008170.0, 227002330.0, 226263...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
3,"(227270000.0, 227222000.0, 227002330.0, 227016...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
4,"(249297000.0, 477115900.0)",2016-03-01 07:36:00,2016-03-01 07:36:00,1
5,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 07:36:00,2016-03-01 07:36:00,1
6,"(227632830.0, 227303430.0)",2016-03-01 07:36:00,2016-03-01 07:36:00,1
7,"(227639660.0, 227611930.0, 227650230.0, 227578...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
8,"(227639660.0, 227611930.0, 227322670.0, 227650...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
9,"(227590030.0, 227588970.0)",2016-03-01 07:36:00,2016-03-01 07:36:00,1
10,"(227003050.0, 228064900.0)",2016-03-01 07:36:00,2016-03-01 07:36:00,1
11,"(228005700.0, 256494000.0, 227730220.0)",2016-03-01 07:36:00,2016-03-01 07:36:00,1
12,"(227611930.0, 227650230.0, 227631450.0, 227578...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
13,"(227408710.0, 227806500.0, 227635210.0, 227369...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
14,"(227408710.0, 227806500.0, 227635210.0, 227612...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
15,"(227408710.0, 227806500.0, 227369960.0, 227705...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
16,"(227408710.0, 227008170.0, 227002330.0, 226263...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
17,"(227408710.0, 227008170.0, 227002330.0, 226263...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
18,"(227408710.0, 227008170.0, 226263000.0, 227369...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
19,"(227408710.0, 227806500.0, 227635210.0, 227369...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
20,"(227408710.0, 227806500.0, 227635210.0, 227705...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
21,"(227408710.0, 227806500.0, 227635210.0, 227612...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
22,"(227008170.0, 227002330.0, 226263000.0, 227369...",2016-03-01 07:36:00,2016-03-01 07:36:00,1
23,"(227641920.0, 636015106.0)",2016-03-01 07:36:00,2016-03-01 07:36:00,1
24,"(228064900.0, 228186700.0)",2016-03-01 07:36:00,2016-03-01 07:36:00,1
25,"(227666970.0, 227315110.0)",2016-03-01 07:36:00,2016-03-01 07:36:00,1
26,"(227322690.0, 227690560.0)",2016-03-01 07:36:00,2016-03-01 07:36:00,1

,clusters,st,et,dur
0,"(227006750.0, 227270000.0, 227002330.0, 226263...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
1,"(227006750.0, 227270000.0, 227002330.0, 227222...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
2,"(227578460.0, 227650230.0, 227322670.0, 227639...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
3,"(227578460.0, 227650230.0, 227631450.0, 227639...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
4,"(227322670.0, 227686540.0, 227639660.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
5,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
6,"(227640710.0, 227654220.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
7,"(227315110.0, 227666970.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
8,"(227686540.0, 227641920.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
9,"(227590030.0, 227588970.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
10,"(256494000.0, 227730220.0, 228005700.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
11,"(227641920.0, 636015106.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
12,"(228064900.0, 227003050.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
13,"(228064900.0, 228186700.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
14,"(227632830.0, 227303430.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
15,"(477115900.0, 249297000.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
16,"(227574020.0, 227408710.0, 227612860.0, 227635...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
17,"(227408710.0, 227088590.0, 227298110.0, 244630...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
18,"(227006750.0, 227002330.0, 226263000.0, 227408...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
19,"(227002330.0, 226263000.0, 227408710.0, 227088...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
20,"(227408710.0, 227088590.0, 227592820.0, 227705...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
21,"(227408710.0, 227635210.0, 227298110.0, 244630...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
22,"(227006750.0, 227002330.0, 226263000.0, 227088...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
23,"(227574020.0, 227408710.0, 227612860.0, 227148...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
24,"(227690560.0, 227322690.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1

,clusters,st,et,dur
0,"(227632830.0, 227303430.0)",2016-03-01 07:36:00,2016-03-01 07:37:00,2
1,"(227590030.0, 227588970.0)",2016-03-01 07:36:00,2016-03-01 07:37:00,2
2,"(227641920.0, 636015106.0)",2016-03-01 07:36:00,2016-03-01 07:37:00,2
3,"(228064900.0, 228186700.0)",2016-03-01 07:36:00,2016-03-01 07:37:00,2
4,"(227006750.0, 227270000.0, 227002330.0, 226263...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
5,"(227006750.0, 227270000.0, 227002330.0, 227222...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
6,"(227578460.0, 227650230.0, 227322670.0, 227639...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
7,"(227578460.0, 227650230.0, 227631450.0, 227639...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
8,"(227322670.0, 227686540.0, 227639660.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
9,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
10,"(227640710.0, 227654220.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
11,"(227315110.0, 227666970.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
12,"(227686540.0, 227641920.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
13,"(227590030.0, 227588970.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
14,"(256494000.0, 227730220.0, 228005700.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
15,"(227641920.0, 636015106.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
16,"(228064900.0, 227003050.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
17,"(228064900.0, 228186700.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
18,"(227632830.0, 227303430.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
19,"(477115900.0, 249297000.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1
20,"(227574020.0, 227408710.0, 227612860.0, 227635...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
21,"(227408710.0, 227088590.0, 227298110.0, 244630...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
22,"(227006750.0, 227002330.0, 226263000.0, 227408...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
23,"(227002330.0, 226263000.0, 227408710.0, 227088...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
24,"(227408710.0, 227088590.0, 227592820.0, 227705...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
25,"(227408710.0, 227635210.0, 227298110.0, 244630...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
26,"(227006750.0, 227002330.0, 226263000.0, 227088...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
27,"(227574020.0, 227408710.0, 227612860.0, 227148...",2016-03-01 07:37:00,2016-03-01 07:37:00,1
28,"(227690560.0, 227322690.0)",2016-03-01 07:37:00,2016-03-01 07:37:00,1

,clusters,st,et,dur
0,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
1,"(227632830.0, 227303430.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
2,"(227003050.0, 228064900.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
3,"(227654220.0, 227640710.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
4,"(227639660.0, 227686540.0, 227650230.0, 227322...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
5,"(227639660.0, 227578460.0, 227631450.0, 227650...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
6,"(477115900.0, 249297000.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
7,"(227589520.0, 227322670.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
8,"(228186700.0, 228064900.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
9,"(227315110.0, 227666970.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
10,"(227612860.0, 227574020.0, 227635210.0, 227806...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
11,"(227612860.0, 227574020.0, 227635210.0, 227806...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
12,"(227006750.0, 227008170.0, 227088590.0, 227298...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
13,"(227592820.0, 227008170.0, 227088590.0, 227298...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
14,"(227806500.0, 227088590.0, 227298110.0, 227369...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
15,"(227635210.0, 227806500.0, 227298110.0, 227369...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
16,"(227016100.0, 227006750.0, 227008170.0, 227088...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
17,"(228005700.0, 256494000.0, 227730220.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
18,"(227322690.0, 227690560.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
19,"(227641920.0, 227686540.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
20,"(227641920.0, 636015106.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
21,"(227016100.0, 227006750.0, 227002330.0, 227222...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
22,"(227590030.0, 227588970.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
23,"(227016100.0, 227006750.0, 227008170.0, 227002...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
24,"(227592820.0, 227705102.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1

,clusters,st,et,dur
0,"(227632830.0, 227303430.0)",2016-03-01 07:36:00,2016-03-01 07:38:00,3
1,"(227590030.0, 227588970.0)",2016-03-01 07:36:00,2016-03-01 07:38:00,3
2,"(227641920.0, 636015106.0)",2016-03-01 07:36:00,2016-03-01 07:38:00,3
3,"(227315110.0, 227666970.0)",2016-03-01 07:37:00,2016-03-01 07:38:00,2
4,"(227590030.0, 227588970.0)",2016-03-01 07:37:00,2016-03-01 07:38:00,2
5,"(227641920.0, 636015106.0)",2016-03-01 07:37:00,2016-03-01 07:38:00,2
6,"(227632830.0, 227303430.0)",2016-03-01 07:37:00,2016-03-01 07:38:00,2
7,"(477115900.0, 249297000.0)",2016-03-01 07:37:00,2016-03-01 07:38:00,2
8,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
9,"(227632830.0, 227303430.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
10,"(227003050.0, 228064900.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
11,"(227654220.0, 227640710.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
12,"(227639660.0, 227686540.0, 227650230.0, 227322...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
13,"(227639660.0, 227578460.0, 227631450.0, 227650...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
14,"(477115900.0, 249297000.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
15,"(227589520.0, 227322670.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
16,"(228186700.0, 228064900.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
17,"(227315110.0, 227666970.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
18,"(227612860.0, 227574020.0, 227635210.0, 227806...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
19,"(227612860.0, 227574020.0, 227635210.0, 227806...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
20,"(227006750.0, 227008170.0, 227088590.0, 227298...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
21,"(227592820.0, 227008170.0, 227088590.0, 227298...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
22,"(227806500.0, 227088590.0, 227298110.0, 227369...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
23,"(227635210.0, 227806500.0, 227298110.0, 227369...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
24,"(227016100.0, 227006750.0, 227008170.0, 227088...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
25,"(228005700.0, 256494000.0, 227730220.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
26,"(227322690.0, 227690560.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
27,"(227641920.0, 227686540.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
28,"(227641920.0, 636015106.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
29,"(227016100.0, 227006750.0, 227002330.0, 227222...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
30,"(227590030.0, 227588970.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1
31,"(227016100.0, 227006750.0, 227008170.0, 227002...",2016-03-01 07:38:00,2016-03-01 07:38:00,1
32,"(227592820.0, 227705102.0)",2016-03-01 07:38:00,2016-03-01 07:38:00,1

,clusters,st,et,dur
0,"(227322690.0, 227690560.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
1,"(477115900.0, 249297000.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
2,"(228064900.0, 228186700.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
3,"(227686540.0, 227641920.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
4,"(227686540.0, 227322670.0, 227650230.0, 227589...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
5,"(227611930.0, 227322670.0, 227650230.0, 227589...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
6,"(227611930.0, 227631450.0, 227578460.0, 227322...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
7,"(256494000.0, 227730220.0, 228005700.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
8,"(227588970.0, 227590030.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
9,"(227315110.0, 227666970.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
10,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
11,"(227408710.0, 228796000.0, 227574020.0, 227635...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
12,"(227408710.0, 228796000.0, 227298110.0, 227362...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
13,"(227408710.0, 227298110.0, 227008170.0, 227362...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
14,"(227408710.0, 227006750.0, 227298110.0, 227008...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
15,"(227408710.0, 228796000.0, 227635210.0, 227298...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
16,"(227408710.0, 228796000.0, 227574020.0, 227148...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
17,"(227016100.0, 227006750.0, 227298110.0, 227008...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
18,"(227016100.0, 227006750.0, 227222000.0, 227002...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
19,"(227303430.0, 227640710.0, 227632830.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
20,"(227016100.0, 227006750.0, 227008170.0, 226263...",2016-03-01 07:39:00,2016-03-01 07:39:00,1

,clusters,st,et,dur
0,"(227315110.0, 227666970.0)",2016-03-01 07:37:00,2016-03-01 07:39:00,3
1,"(477115900.0, 249297000.0)",2016-03-01 07:37:00,2016-03-01 07:39:00,3
2,"(477115900.0, 249297000.0)",2016-03-01 07:38:00,2016-03-01 07:39:00,2
3,"(227315110.0, 227666970.0)",2016-03-01 07:38:00,2016-03-01 07:39:00,2
4,"(227322690.0, 227690560.0)",2016-03-01 07:38:00,2016-03-01 07:39:00,2
5,"(227322690.0, 227690560.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
6,"(477115900.0, 249297000.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
7,"(228064900.0, 228186700.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
8,"(227686540.0, 227641920.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
9,"(227686540.0, 227322670.0, 227650230.0, 227589...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
10,"(227611930.0, 227322670.0, 227650230.0, 227589...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
11,"(227611930.0, 227631450.0, 227578460.0, 227322...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
12,"(256494000.0, 227730220.0, 228005700.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
13,"(227588970.0, 227590030.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
14,"(227315110.0, 227666970.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
15,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
16,"(227408710.0, 228796000.0, 227574020.0, 227635...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
17,"(227408710.0, 228796000.0, 227298110.0, 227362...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
18,"(227408710.0, 227298110.0, 227008170.0, 227362...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
19,"(227408710.0, 227006750.0, 227298110.0, 227008...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
20,"(227408710.0, 228796000.0, 227635210.0, 227298...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
21,"(227408710.0, 228796000.0, 227574020.0, 227148...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
22,"(227016100.0, 227006750.0, 227298110.0, 227008...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
23,"(227016100.0, 227006750.0, 227222000.0, 227002...",2016-03-01 07:39:00,2016-03-01 07:39:00,1
24,"(227303430.0, 227640710.0, 227632830.0)",2016-03-01 07:39:00,2016-03-01 07:39:00,1
25,"(227016100.0, 227006750.0, 227008170.0, 226263...",2016-03-01 07:39:00,2016-03-01 07:39:00,1

,clusters,st,et,dur
0,"(227631450.0, 227650230.0, 227611930.0, 227578...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
1,"(249297000.0, 477115900.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
2,"(227588970.0, 227303430.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
3,"(228186700.0, 228064900.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
4,"(227006750.0, 227002330.0, 227222000.0, 227270...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
5,"(227690560.0, 227322690.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
6,"(227686540.0, 227641920.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
7,"(227686540.0, 227650230.0, 227611930.0, 227589...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
8,"(227408710.0, 227362110.0, 228796000.0, 227148...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
9,"(227369960.0, 227006750.0, 227002330.0, 226263...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
10,"(227369960.0, 227408710.0, 227362110.0, 228796...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
11,"(227369960.0, 227408710.0, 244630187.0, 227362...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
12,"(227369960.0, 227006750.0, 227002330.0, 227408...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
13,"(227369960.0, 227002330.0, 227408710.0, 226263...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
14,"(227369960.0, 227408710.0, 244630187.0, 227362...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
15,"(227730220.0, 256494000.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
16,"(227632830.0, 227640710.0, 227303430.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
17,"(227666970.0, 227315110.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
18,"(227006750.0, 227002330.0, 226263000.0, 227270...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
19,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1

,clusters,st,et,dur
0,"(227686540.0, 227641920.0)",2016-03-01 07:39:00,2016-03-01 07:40:00,2
1,"(227631450.0, 227650230.0, 227611930.0, 227578...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
2,"(249297000.0, 477115900.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
3,"(227588970.0, 227303430.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
4,"(228186700.0, 228064900.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
5,"(227006750.0, 227002330.0, 227222000.0, 227270...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
6,"(227690560.0, 227322690.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
7,"(227686540.0, 227641920.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
8,"(227686540.0, 227650230.0, 227611930.0, 227589...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
9,"(227408710.0, 227362110.0, 228796000.0, 227148...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
10,"(227369960.0, 227006750.0, 227002330.0, 226263...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
11,"(227369960.0, 227408710.0, 227362110.0, 228796...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
12,"(227369960.0, 227408710.0, 244630187.0, 227362...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
13,"(227369960.0, 227006750.0, 227002330.0, 227408...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
14,"(227369960.0, 227002330.0, 227408710.0, 226263...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
15,"(227369960.0, 227408710.0, 244630187.0, 227362...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
16,"(227730220.0, 256494000.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
17,"(227632830.0, 227640710.0, 227303430.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
18,"(227666970.0, 227315110.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1
19,"(227006750.0, 227002330.0, 226263000.0, 227270...",2016-03-01 07:40:00,2016-03-01 07:40:00,1
20,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:40:00,2016-03-01 07:40:00,1

,clusters,st,et,dur
0,"(227686540.0, 227611930.0, 227589520.0, 227650...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
1,"(227686540.0, 227589520.0, 227641920.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
2,"(220417000.0, 227705102.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
3,"(227611930.0, 227631450.0, 227650230.0, 227578...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
4,"(227611930.0, 227589520.0, 227631450.0, 227650...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
5,"(227705102.0, 228005700.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
6,"(227640710.0, 227632830.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
7,"(249297000.0, 477115900.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
8,"(256494000.0, 227730220.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
9,"(228186700.0, 228064900.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
10,"(227322690.0, 227690560.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
11,"(227303430.0, 227632830.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
12,"(227303430.0, 227588970.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
13,"(226263000.0, 227006750.0, 227270000.0, 227008...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
14,"(227006750.0, 227270000.0, 227002330.0, 227222...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
15,"(227148000.0, 227408710.0, 228796000.0, 227362...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
16,"(227408710.0, 228796000.0, 227362110.0, 227806...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
17,"(227408710.0, 228796000.0, 244630187.0, 227362...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
18,"(226263000.0, 227408710.0, 227088590.0, 244630...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
19,"(226263000.0, 227408710.0, 227006750.0, 227088...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
20,"(227408710.0, 227088590.0, 228796000.0, 244630...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
21,"(226263000.0, 227006750.0, 227088590.0, 244630...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
22,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
23,"(227666970.0, 227315110.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1

,clusters,st,et,dur
0,"(249297000.0, 477115900.0)",2016-03-01 07:40:00,2016-03-01 07:41:00,2
1,"(228186700.0, 228064900.0)",2016-03-01 07:40:00,2016-03-01 07:41:00,2
2,"(227666970.0, 227315110.0)",2016-03-01 07:40:00,2016-03-01 07:41:00,2
3,"(227686540.0, 227611930.0, 227589520.0, 227650...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
4,"(227686540.0, 227589520.0, 227641920.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
5,"(220417000.0, 227705102.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
6,"(227611930.0, 227631450.0, 227650230.0, 227578...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
7,"(227611930.0, 227589520.0, 227631450.0, 227650...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
8,"(227705102.0, 228005700.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
9,"(227640710.0, 227632830.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
10,"(249297000.0, 477115900.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
11,"(256494000.0, 227730220.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
12,"(228186700.0, 228064900.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
13,"(227322690.0, 227690560.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
14,"(227303430.0, 227632830.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
15,"(227303430.0, 227588970.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
16,"(226263000.0, 227006750.0, 227270000.0, 227008...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
17,"(227006750.0, 227270000.0, 227002330.0, 227222...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
18,"(227148000.0, 227408710.0, 228796000.0, 227362...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
19,"(227408710.0, 228796000.0, 227362110.0, 227806...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
20,"(227408710.0, 228796000.0, 244630187.0, 227362...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
21,"(226263000.0, 227408710.0, 227088590.0, 244630...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
22,"(226263000.0, 227408710.0, 227006750.0, 227088...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
23,"(227408710.0, 227088590.0, 228796000.0, 244630...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
24,"(226263000.0, 227006750.0, 227088590.0, 244630...",2016-03-01 07:41:00,2016-03-01 07:41:00,1
25,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1
26,"(227666970.0, 227315110.0)",2016-03-01 07:41:00,2016-03-01 07:41:00,1

,clusters,st,et,dur
0,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
1,"(227315110.0, 227666970.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
2,"(228005700.0, 227705102.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
3,"(227641920.0, 227686540.0, 227589520.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
4,"(227641920.0, 227322690.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
5,"(227016100.0, 227298110.0, 227088590.0, 244630...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
6,"(227298110.0, 227806500.0, 227635210.0, 227612...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
7,"(227298110.0, 227088590.0, 244630187.0, 227806...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
8,"(227298110.0, 227088590.0, 244630187.0, 227369...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
9,"(227298110.0, 227088590.0, 244630187.0, 227369...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
10,"(227298110.0, 244630187.0, 227806500.0, 227635...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
11,"(227298110.0, 227806500.0, 227635210.0, 227612...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
12,"(227640710.0, 227632830.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
13,"(227016100.0, 227270000.0, 227222000.0, 227006...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
14,"(227016100.0, 227270000.0, 226263000.0, 227008...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
15,"(227631450.0, 227639660.0, 227611930.0, 227322...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
16,"(227631450.0, 227639660.0, 227578460.0, 227611...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
17,"(227588970.0, 227303430.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
18,"(227632830.0, 227303430.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
19,"(228186700.0, 228064900.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
20,"(227322690.0, 227690560.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
21,"(256494000.0, 227730220.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
22,"(227705102.0, 220417000.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
23,"(477115900.0, 249297000.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1

,clusters,st,et,dur
0,"(228186700.0, 228064900.0)",2016-03-01 07:40:00,2016-03-01 07:42:00,3
1,"(227640710.0, 227632830.0)",2016-03-01 07:41:00,2016-03-01 07:42:00,2
2,"(256494000.0, 227730220.0)",2016-03-01 07:41:00,2016-03-01 07:42:00,2
3,"(228186700.0, 228064900.0)",2016-03-01 07:41:00,2016-03-01 07:42:00,2
4,"(227322690.0, 227690560.0)",2016-03-01 07:41:00,2016-03-01 07:42:00,2
5,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
6,"(227315110.0, 227666970.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
7,"(228005700.0, 227705102.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
8,"(227641920.0, 227686540.0, 227589520.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
9,"(227641920.0, 227322690.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
10,"(227016100.0, 227298110.0, 227088590.0, 244630...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
11,"(227298110.0, 227806500.0, 227635210.0, 227612...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
12,"(227298110.0, 227088590.0, 244630187.0, 227806...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
13,"(227298110.0, 227088590.0, 244630187.0, 227369...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
14,"(227298110.0, 227088590.0, 244630187.0, 227369...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
15,"(227298110.0, 244630187.0, 227806500.0, 227635...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
16,"(227298110.0, 227806500.0, 227635210.0, 227612...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
17,"(227640710.0, 227632830.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
18,"(227016100.0, 227270000.0, 227222000.0, 227006...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
19,"(227016100.0, 227270000.0, 226263000.0, 227008...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
20,"(227631450.0, 227639660.0, 227611930.0, 227322...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
21,"(227631450.0, 227639660.0, 227578460.0, 227611...",2016-03-01 07:42:00,2016-03-01 07:42:00,1
22,"(227588970.0, 227303430.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
23,"(227632830.0, 227303430.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
24,"(228186700.0, 228064900.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
25,"(227322690.0, 227690560.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
26,"(256494000.0, 227730220.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
27,"(227705102.0, 220417000.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1
28,"(477115900.0, 249297000.0)",2016-03-01 07:42:00,2016-03-01 07:42:00,1

,clusters,st,et,dur
0,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
1,"(227303430.0, 227588970.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
2,"(227303430.0, 227632830.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
3,"(227589520.0, 227686540.0, 227641920.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
4,"(227589520.0, 227631450.0, 227611930.0, 227639...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
5,"(228186700.0, 228064900.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
6,"(227002330.0, 227270000.0, 227016100.0, 227008...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
7,"(227002330.0, 227270000.0, 227016100.0, 227006...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
8,"(227640710.0, 227590030.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
9,"(477115900.0, 249297000.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
10,"(228064900.0, 227730220.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
11,"(227315110.0, 227666970.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
12,"(227690560.0, 227322690.0, 227641920.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
13,"(227002330.0, 227088590.0, 244630187.0, 227016...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
14,"(227574020.0, 227408710.0, 227806500.0, 227369...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
15,"(227088590.0, 244630187.0, 227408710.0, 227806...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
16,"(227002330.0, 227592820.0, 227088590.0, 244630...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
17,"(227002330.0, 227088590.0, 244630187.0, 227408...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
18,"(244630187.0, 227408710.0, 227806500.0, 227369...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
19,"(227574020.0, 227148000.0, 227408710.0, 227806...",2016-03-01 07:43:00,2016-03-01 07:43:00,1

,clusters,st,et,dur
0,"(228186700.0, 228064900.0)",2016-03-01 07:40:00,2016-03-01 07:43:00,4
1,"(228186700.0, 228064900.0)",2016-03-01 07:41:00,2016-03-01 07:43:00,3
2,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 07:42:00,2016-03-01 07:43:00,2
3,"(227315110.0, 227666970.0)",2016-03-01 07:42:00,2016-03-01 07:43:00,2
4,"(228186700.0, 228064900.0)",2016-03-01 07:42:00,2016-03-01 07:43:00,2
5,"(477115900.0, 249297000.0)",2016-03-01 07:42:00,2016-03-01 07:43:00,2
6,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
7,"(227303430.0, 227588970.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
8,"(227303430.0, 227632830.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
9,"(227589520.0, 227686540.0, 227641920.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
10,"(227589520.0, 227631450.0, 227611930.0, 227639...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
11,"(228186700.0, 228064900.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
12,"(227002330.0, 227270000.0, 227016100.0, 227008...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
13,"(227002330.0, 227270000.0, 227016100.0, 227006...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
14,"(227640710.0, 227590030.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
15,"(477115900.0, 249297000.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
16,"(228064900.0, 227730220.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
17,"(227315110.0, 227666970.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
18,"(227690560.0, 227322690.0, 227641920.0)",2016-03-01 07:43:00,2016-03-01 07:43:00,1
19,"(227002330.0, 227088590.0, 244630187.0, 227016...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
20,"(227574020.0, 227408710.0, 227806500.0, 227369...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
21,"(227088590.0, 244630187.0, 227408710.0, 227806...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
22,"(227002330.0, 227592820.0, 227088590.0, 244630...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
23,"(227002330.0, 227088590.0, 244630187.0, 227408...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
24,"(244630187.0, 227408710.0, 227806500.0, 227369...",2016-03-01 07:43:00,2016-03-01 07:43:00,1
25,"(227574020.0, 227148000.0, 227408710.0, 227806...",2016-03-01 07:43:00,2016-03-01 07:43:00,1

,clusters,st,et,dur
0,"(227303430.0, 227588970.0, 227632830.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
1,"(227303430.0, 227654220.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
2,"(227941000.0, 227142200.0, 227162950.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
3,"(227640710.0, 227589520.0, 227590030.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
4,"(227002330.0, 227270000.0, 227006750.0, 227222...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
5,"(227002330.0, 227270000.0, 227006750.0, 227016...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
6,"(227589520.0, 227631450.0, 227322670.0, 227578...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
7,"(227589520.0, 227641920.0, 227686540.0, 227650...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
8,"(227589520.0, 227631450.0, 227590030.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
9,"(227631450.0, 227322670.0, 227611930.0, 227578...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
10,"(227002330.0, 244630187.0, 227088590.0, 227369...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
11,"(227612860.0, 227408710.0, 227635210.0, 228796...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
12,"(244630187.0, 227408710.0, 227635210.0, 228796...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
13,"(227002330.0, 244630187.0, 227088590.0, 227408...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
14,"(227002330.0, 227592820.0, 244630187.0, 227088...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
15,"(244630187.0, 227088590.0, 227408710.0, 228796...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
16,"(227612860.0, 227408710.0, 227635210.0, 228796...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
17,"(249297000.0, 477115900.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
18,"(227315110.0, 227654220.0, 227666970.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
19,"(227641920.0, 227322690.0, 227690560.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
20,"(228064900.0, 228186700.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1

,clusters,st,et,dur
0,"(227303430.0, 227588970.0, 227632830.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
1,"(227303430.0, 227654220.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
2,"(227941000.0, 227142200.0, 227162950.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
3,"(227640710.0, 227589520.0, 227590030.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
4,"(227002330.0, 227270000.0, 227006750.0, 227222...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
5,"(227002330.0, 227270000.0, 227006750.0, 227016...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
6,"(227589520.0, 227631450.0, 227322670.0, 227578...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
7,"(227589520.0, 227641920.0, 227686540.0, 227650...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
8,"(227589520.0, 227631450.0, 227590030.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
9,"(227631450.0, 227322670.0, 227611930.0, 227578...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
10,"(227002330.0, 244630187.0, 227088590.0, 227369...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
11,"(227612860.0, 227408710.0, 227635210.0, 228796...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
12,"(244630187.0, 227408710.0, 227635210.0, 228796...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
13,"(227002330.0, 244630187.0, 227088590.0, 227408...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
14,"(227002330.0, 227592820.0, 244630187.0, 227088...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
15,"(244630187.0, 227088590.0, 227408710.0, 228796...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
16,"(227612860.0, 227408710.0, 227635210.0, 228796...",2016-03-01 07:44:00,2016-03-01 07:44:00,1
17,"(249297000.0, 477115900.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
18,"(227315110.0, 227654220.0, 227666970.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
19,"(227641920.0, 227322690.0, 227690560.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1
20,"(228064900.0, 228186700.0)",2016-03-01 07:44:00,2016-03-01 07:44:00,1

,clusters,st,et,dur
0,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
1,"(227322690.0, 227690560.0, 227641920.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
2,"(228064900.0, 228186700.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
3,"(227322670.0, 227611930.0, 227639660.0, 227650...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
4,"(227322670.0, 227611930.0, 227641920.0, 227650...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
5,"(227588970.0, 227303430.0, 227632830.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
6,"(227270000.0, 227222000.0, 227006750.0, 227002...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
7,"(227270000.0, 227008170.0, 227006750.0, 227002...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
8,"(227654220.0, 227303430.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
9,"(227654220.0, 227666970.0, 227315110.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
10,"(477115900.0, 249297000.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
11,"(227641920.0, 227640710.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
12,"(227113100.0, 227636480.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
13,"(227590030.0, 227640710.0, 227589520.0, 227631...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
14,"(227298110.0, 227635210.0, 227369960.0, 227574...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
15,"(227298110.0, 227369960.0, 244630187.0, 227088...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
16,"(227298110.0, 227369960.0, 227008170.0, 244630...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
17,"(227298110.0, 227369960.0, 227008170.0, 244630...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
18,"(227298110.0, 227635210.0, 227369960.0, 244630...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
19,"(227635210.0, 227148000.0, 227574020.0, 228796...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
20,"(227298110.0, 227369960.0, 227008170.0, 244630...",2016-03-01 07:45:00,2016-03-01 07:45:00,1

,clusters,st,et,dur
0,"(228064900.0, 228186700.0)",2016-03-01 07:44:00,2016-03-01 07:45:00,2
1,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
2,"(227322690.0, 227690560.0, 227641920.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
3,"(228064900.0, 228186700.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
4,"(227322670.0, 227611930.0, 227639660.0, 227650...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
5,"(227322670.0, 227611930.0, 227641920.0, 227650...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
6,"(227588970.0, 227303430.0, 227632830.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
7,"(227270000.0, 227222000.0, 227006750.0, 227002...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
8,"(227270000.0, 227008170.0, 227006750.0, 227002...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
9,"(227654220.0, 227303430.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
10,"(227654220.0, 227666970.0, 227315110.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
11,"(477115900.0, 249297000.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
12,"(227641920.0, 227640710.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
13,"(227113100.0, 227636480.0)",2016-03-01 07:45:00,2016-03-01 07:45:00,1
14,"(227590030.0, 227640710.0, 227589520.0, 227631...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
15,"(227298110.0, 227635210.0, 227369960.0, 227574...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
16,"(227298110.0, 227369960.0, 244630187.0, 227088...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
17,"(227298110.0, 227369960.0, 227008170.0, 244630...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
18,"(227298110.0, 227369960.0, 227008170.0, 244630...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
19,"(227298110.0, 227635210.0, 227369960.0, 244630...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
20,"(227635210.0, 227148000.0, 227574020.0, 228796...",2016-03-01 07:45:00,2016-03-01 07:45:00,1
21,"(227298110.0, 227369960.0, 227008170.0, 244630...",2016-03-01 07:45:00,2016-03-01 07:45:00,1

,clusters,st,et,dur
0,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
1,"(227654220.0, 227666970.0, 227315110.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
2,"(227654220.0, 227588970.0, 227303430.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
3,"(227650230.0, 227578460.0, 227639660.0, 227686...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
4,"(227578460.0, 227641920.0, 227631450.0, 227322...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
5,"(227730220.0, 227592820.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
6,"(227222000.0, 227016100.0, 227002330.0, 227006...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
7,"(227322690.0, 227641920.0, 227690560.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
8,"(227113100.0, 227636480.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
9,"(477115900.0, 249297000.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
10,"(227632830.0, 227588970.0, 227303430.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
11,"(227641920.0, 227631450.0, 227640710.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
12,"(227589520.0, 227631450.0, 227640710.0, 227590...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
13,"(228064900.0, 228186700.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
14,"(227148000.0, 227635210.0, 227806500.0, 227612...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
15,"(227635210.0, 227806500.0, 227612860.0, 227574...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
16,"(227635210.0, 227806500.0, 227298110.0, 244630...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
17,"(227806500.0, 227298110.0, 244630187.0, 227408...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
18,"(227008170.0, 227298110.0, 244630187.0, 227002...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
19,"(227008170.0, 227298110.0, 227592820.0, 244630...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
20,"(227008170.0, 227298110.0, 227016100.0, 244630...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
21,"(227008170.0, 227016100.0, 227002330.0, 227006...",2016-03-01 07:46:00,2016-03-01 07:46:00,1

,clusters,st,et,dur
0,"(228064900.0, 228186700.0)",2016-03-01 07:44:00,2016-03-01 07:46:00,3
1,"(228064900.0, 228186700.0)",2016-03-01 07:45:00,2016-03-01 07:46:00,2
2,"(227654220.0, 227666970.0, 227315110.0)",2016-03-01 07:45:00,2016-03-01 07:46:00,2
3,"(477115900.0, 249297000.0)",2016-03-01 07:45:00,2016-03-01 07:46:00,2
4,"(227113100.0, 227636480.0)",2016-03-01 07:45:00,2016-03-01 07:46:00,2
5,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
6,"(227654220.0, 227666970.0, 227315110.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
7,"(227654220.0, 227588970.0, 227303430.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
8,"(227650230.0, 227578460.0, 227639660.0, 227686...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
9,"(227578460.0, 227641920.0, 227631450.0, 227322...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
10,"(227730220.0, 227592820.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
11,"(227222000.0, 227016100.0, 227002330.0, 227006...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
12,"(227322690.0, 227641920.0, 227690560.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
13,"(227113100.0, 227636480.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
14,"(477115900.0, 249297000.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
15,"(227632830.0, 227588970.0, 227303430.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
16,"(227641920.0, 227631450.0, 227640710.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
17,"(227589520.0, 227631450.0, 227640710.0, 227590...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
18,"(228064900.0, 228186700.0)",2016-03-01 07:46:00,2016-03-01 07:46:00,1
19,"(227148000.0, 227635210.0, 227806500.0, 227612...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
20,"(227635210.0, 227806500.0, 227612860.0, 227574...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
21,"(227635210.0, 227806500.0, 227298110.0, 244630...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
22,"(227806500.0, 227298110.0, 244630187.0, 227408...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
23,"(227008170.0, 227298110.0, 244630187.0, 227002...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
24,"(227008170.0, 227298110.0, 227592820.0, 244630...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
25,"(227008170.0, 227298110.0, 227016100.0, 244630...",2016-03-01 07:46:00,2016-03-01 07:46:00,1
26,"(227008170.0, 227016100.0, 227002330.0, 227006...",2016-03-01 07:46:00,2016-03-01 07:46:00,1

,clusters,st,et,dur
0,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
1,"(227113100.0, 227315110.0, 227666970.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
2,"(227113100.0, 227636480.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
3,"(227590030.0, 227578460.0, 227322670.0, 227640...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
4,"(227590030.0, 227631450.0, 227589520.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
5,"(227650230.0, 227578460.0, 227686540.0, 227322...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
6,"(227650230.0, 227578460.0, 227686540.0, 227322...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
7,"(227578460.0, 227322670.0, 227640710.0, 227631...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
8,"(227588970.0, 227654220.0, 227303430.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
9,"(227588970.0, 227632830.0, 227303430.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
10,"(227654220.0, 227315110.0, 227666970.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
11,"(228186700.0, 228064900.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
12,"(477115900.0, 249297000.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
13,"(227322690.0, 227690560.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
14,"(227322690.0, 227640710.0, 227641920.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
15,"(227016100.0, 227006750.0, 226263000.0, 227088...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
16,"(227806500.0, 227408710.0, 227369960.0, 244630...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
17,"(227806500.0, 227408710.0, 227088590.0, 227369...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
18,"(227408710.0, 226263000.0, 227088590.0, 227369...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
19,"(227408710.0, 226263000.0, 227088590.0, 227369...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
20,"(227408710.0, 227006750.0, 226263000.0, 227088...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
21,"(227574020.0, 227806500.0, 227408710.0, 227369...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
22,"(227574020.0, 227806500.0, 227408710.0, 227148...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
23,"(227016100.0, 227006750.0, 227002330.0, 227222...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
24,"(227016100.0, 227006750.0, 226263000.0, 227008...",2016-03-01 07:47:00,2016-03-01 07:47:00,1

,clusters,st,et,dur
0,"(477115900.0, 249297000.0)",2016-03-01 07:45:00,2016-03-01 07:47:00,3
1,"(227113100.0, 227636480.0)",2016-03-01 07:45:00,2016-03-01 07:47:00,3
2,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:46:00,2016-03-01 07:47:00,2
3,"(227113100.0, 227636480.0)",2016-03-01 07:46:00,2016-03-01 07:47:00,2
4,"(477115900.0, 249297000.0)",2016-03-01 07:46:00,2016-03-01 07:47:00,2
5,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
6,"(227113100.0, 227315110.0, 227666970.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
7,"(227113100.0, 227636480.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
8,"(227590030.0, 227578460.0, 227322670.0, 227640...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
9,"(227590030.0, 227631450.0, 227589520.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
10,"(227650230.0, 227578460.0, 227686540.0, 227322...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
11,"(227650230.0, 227578460.0, 227686540.0, 227322...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
12,"(227578460.0, 227322670.0, 227640710.0, 227631...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
13,"(227588970.0, 227654220.0, 227303430.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
14,"(227588970.0, 227632830.0, 227303430.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
15,"(227654220.0, 227315110.0, 227666970.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
16,"(228186700.0, 228064900.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
17,"(477115900.0, 249297000.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
18,"(227322690.0, 227690560.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
19,"(227322690.0, 227640710.0, 227641920.0)",2016-03-01 07:47:00,2016-03-01 07:47:00,1
20,"(227016100.0, 227006750.0, 226263000.0, 227088...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
21,"(227806500.0, 227408710.0, 227369960.0, 244630...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
22,"(227806500.0, 227408710.0, 227088590.0, 227369...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
23,"(227408710.0, 226263000.0, 227088590.0, 227369...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
24,"(227408710.0, 226263000.0, 227088590.0, 227369...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
25,"(227408710.0, 227006750.0, 226263000.0, 227088...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
26,"(227574020.0, 227806500.0, 227408710.0, 227369...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
27,"(227574020.0, 227806500.0, 227408710.0, 227148...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
28,"(227016100.0, 227006750.0, 227002330.0, 227222...",2016-03-01 07:47:00,2016-03-01 07:47:00,1
29,"(227016100.0, 227006750.0, 226263000.0, 227008...",2016-03-01 07:47:00,2016-03-01 07:47:00,1

,clusters,st,et,dur
0,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
1,"(227002330.0, 227222000.0, 227270000.0, 227016...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
2,"(227002330.0, 227270000.0, 227016100.0, 227008...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
3,"(227641920.0, 227322690.0, 227640710.0, 227690...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
4,"(227641920.0, 227639660.0, 227650230.0, 227578...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
5,"(227641920.0, 227650230.0, 227578460.0, 227611...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
6,"(227641920.0, 227578460.0, 227631450.0, 227640...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
7,"(227666970.0, 227569380.0, 227654220.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
8,"(227666970.0, 227315110.0, 227113100.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
9,"(227666970.0, 227315110.0, 227654220.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
10,"(227002330.0, 227088590.0, 227016100.0, 227730...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
11,"(227806500.0, 227408710.0, 227369960.0, 227298...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
12,"(227002330.0, 227088590.0, 227408710.0, 227730...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
13,"(227002330.0, 227088590.0, 227408710.0, 227730...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
14,"(227806500.0, 227088590.0, 227408710.0, 244630...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
15,"(227806500.0, 227408710.0, 244630187.0, 227369...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
16,"(227806500.0, 227408710.0, 227298110.0, 227148...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
17,"(227588970.0, 227569380.0, 227654220.0, 227632...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
18,"(227631450.0, 227589520.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
19,"(227762340.0, 227636480.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
20,"(228064900.0, 228186700.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
21,"(227113100.0, 227636480.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
22,"(477115900.0, 249297000.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1

,clusters,st,et,dur
0,"(477115900.0, 249297000.0)",2016-03-01 07:45:00,2016-03-01 07:48:00,4
1,"(227113100.0, 227636480.0)",2016-03-01 07:45:00,2016-03-01 07:48:00,4
2,"(227113100.0, 227636480.0)",2016-03-01 07:46:00,2016-03-01 07:48:00,3
3,"(477115900.0, 249297000.0)",2016-03-01 07:46:00,2016-03-01 07:48:00,3
4,"(227113100.0, 227636480.0)",2016-03-01 07:47:00,2016-03-01 07:48:00,2
5,"(477115900.0, 249297000.0)",2016-03-01 07:47:00,2016-03-01 07:48:00,2
6,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
7,"(227002330.0, 227222000.0, 227270000.0, 227016...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
8,"(227002330.0, 227270000.0, 227016100.0, 227008...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
9,"(227641920.0, 227322690.0, 227640710.0, 227690...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
10,"(227641920.0, 227639660.0, 227650230.0, 227578...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
11,"(227641920.0, 227650230.0, 227578460.0, 227611...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
12,"(227641920.0, 227578460.0, 227631450.0, 227640...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
13,"(227666970.0, 227569380.0, 227654220.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
14,"(227666970.0, 227315110.0, 227113100.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
15,"(227666970.0, 227315110.0, 227654220.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
16,"(227002330.0, 227088590.0, 227016100.0, 227730...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
17,"(227806500.0, 227408710.0, 227369960.0, 227298...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
18,"(227002330.0, 227088590.0, 227408710.0, 227730...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
19,"(227002330.0, 227088590.0, 227408710.0, 227730...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
20,"(227806500.0, 227088590.0, 227408710.0, 244630...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
21,"(227806500.0, 227408710.0, 244630187.0, 227369...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
22,"(227806500.0, 227408710.0, 227298110.0, 227148...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
23,"(227588970.0, 227569380.0, 227654220.0, 227632...",2016-03-01 07:48:00,2016-03-01 07:48:00,1
24,"(227631450.0, 227589520.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
25,"(227762340.0, 227636480.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
26,"(228064900.0, 228186700.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
27,"(227113100.0, 227636480.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1
28,"(477115900.0, 249297000.0)",2016-03-01 07:48:00,2016-03-01 07:48:00,1

,clusters,st,et,dur
0,"(227569380.0, 227632830.0, 227303430.0, 227654...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
1,"(227639660.0, 227686540.0, 227640710.0, 227641...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
2,"(227686540.0, 227640710.0, 227641920.0, 227690...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
3,"(227686540.0, 227640710.0, 227641920.0, 227650...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
4,"(227315110.0, 227666970.0, 227113100.0)",2016-03-01 07:49:00,2016-03-01 07:49:00,1
5,"(227315110.0, 227666970.0, 227654220.0)",2016-03-01 07:49:00,2016-03-01 07:49:00,1
6,"(228064900.0, 228186700.0)",2016-03-01 07:49:00,2016-03-01 07:49:00,1
7,"(227762340.0, 227636480.0, 227113100.0)",2016-03-01 07:49:00,2016-03-01 07:49:00,1
8,"(227640710.0, 227641920.0, 227650230.0, 227578...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
9,"(227631450.0, 227590030.0, 227322670.0)",2016-03-01 07:49:00,2016-03-01 07:49:00,1
10,"(227088590.0, 227002330.0, 226263000.0, 227730...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
11,"(227612860.0, 227408710.0, 228796000.0, 227148...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
12,"(227612860.0, 227408710.0, 228796000.0, 227362...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
13,"(227088590.0, 227408710.0, 244630187.0, 228796...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
14,"(227088590.0, 227002330.0, 226263000.0, 227408...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
15,"(227088590.0, 227002330.0, 226263000.0, 227408...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
16,"(227408710.0, 244630187.0, 228796000.0, 227362...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
17,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 07:49:00,2016-03-01 07:49:00,1
18,"(477115900.0, 249297000.0)",2016-03-01 07:49:00,2016-03-01 07:49:00,1
19,"(227002330.0, 226263000.0, 227730220.0, 227006...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
20,"(227002330.0, 227730220.0, 227006750.0, 227016...",2016-03-01 07:49:00,2016-03-01 07:49:00,1

,clusters,st,et,dur
0,"(477115900.0, 249297000.0)",2016-03-01 07:45:00,2016-03-01 07:49:00,5
1,"(477115900.0, 249297000.0)",2016-03-01 07:46:00,2016-03-01 07:49:00,4
2,"(477115900.0, 249297000.0)",2016-03-01 07:47:00,2016-03-01 07:49:00,3
3,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 07:48:00,2016-03-01 07:49:00,2
4,"(228064900.0, 228186700.0)",2016-03-01 07:48:00,2016-03-01 07:49:00,2
5,"(477115900.0, 249297000.0)",2016-03-01 07:48:00,2016-03-01 07:49:00,2
6,"(227569380.0, 227632830.0, 227303430.0, 227654...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
7,"(227639660.0, 227686540.0, 227640710.0, 227641...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
8,"(227686540.0, 227640710.0, 227641920.0, 227690...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
9,"(227686540.0, 227640710.0, 227641920.0, 227650...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
10,"(227315110.0, 227666970.0, 227113100.0)",2016-03-01 07:49:00,2016-03-01 07:49:00,1
11,"(227315110.0, 227666970.0, 227654220.0)",2016-03-01 07:49:00,2016-03-01 07:49:00,1
12,"(228064900.0, 228186700.0)",2016-03-01 07:49:00,2016-03-01 07:49:00,1
13,"(227762340.0, 227636480.0, 227113100.0)",2016-03-01 07:49:00,2016-03-01 07:49:00,1
14,"(227640710.0, 227641920.0, 227650230.0, 227578...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
15,"(227631450.0, 227590030.0, 227322670.0)",2016-03-01 07:49:00,2016-03-01 07:49:00,1
16,"(227088590.0, 227002330.0, 226263000.0, 227730...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
17,"(227612860.0, 227408710.0, 228796000.0, 227148...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
18,"(227612860.0, 227408710.0, 228796000.0, 227362...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
19,"(227088590.0, 227408710.0, 244630187.0, 228796...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
20,"(227088590.0, 227002330.0, 226263000.0, 227408...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
21,"(227088590.0, 227002330.0, 226263000.0, 227408...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
22,"(227408710.0, 244630187.0, 228796000.0, 227362...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
23,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 07:49:00,2016-03-01 07:49:00,1
24,"(477115900.0, 249297000.0)",2016-03-01 07:49:00,2016-03-01 07:49:00,1
25,"(227002330.0, 226263000.0, 227730220.0, 227006...",2016-03-01 07:49:00,2016-03-01 07:49:00,1
26,"(227002330.0, 227730220.0, 227006750.0, 227016...",2016-03-01 07:49:00,2016-03-01 07:49:00,1

,clusters,st,et,dur
0,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 07:50:00,2016-03-01 07:50:00,1
1,"(227270000.0, 227016100.0, 227006750.0, 226263...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
2,"(227270000.0, 227016100.0, 227006750.0, 227222...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
3,"(227590030.0, 227641920.0, 227631450.0, 227322...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
4,"(227590030.0, 227650230.0, 227641920.0, 227611...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
5,"(227650230.0, 227641920.0, 227611930.0, 227639...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
6,"(227650230.0, 227641920.0, 227611930.0, 227578...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
7,"(227650230.0, 227641920.0, 227611930.0, 227578...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
8,"(228186700.0, 228064900.0)",2016-03-01 07:50:00,2016-03-01 07:50:00,1
9,"(477115900.0, 249297000.0)",2016-03-01 07:50:00,2016-03-01 07:50:00,1
10,"(227315110.0, 227113100.0, 227666970.0, 227654...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
11,"(227315110.0, 227666970.0, 227588970.0, 227654...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
12,"(227113100.0, 227762340.0, 227636480.0)",2016-03-01 07:50:00,2016-03-01 07:50:00,1
13,"(228796000.0, 227806500.0, 227574020.0, 227635...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
14,"(228796000.0, 227806500.0, 227088590.0, 227408...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
15,"(227006750.0, 227088590.0, 226263000.0, 227408...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
16,"(227088590.0, 226263000.0, 227408710.0, 227008...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
17,"(227806500.0, 227088590.0, 227408710.0, 227362...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
18,"(228796000.0, 227806500.0, 227635210.0, 227408...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
19,"(228796000.0, 227148000.0, 227806500.0, 227574...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
20,"(227016100.0, 227006750.0, 227088590.0, 226263...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
21,"(227588970.0, 227569380.0, 227632830.0, 227654...",2016-03-01 07:50:00,2016-03-01 07:50:00,1

,clusters,st,et,dur
0,"(477115900.0, 249297000.0)",2016-03-01 07:45:00,2016-03-01 07:50:00,6
1,"(477115900.0, 249297000.0)",2016-03-01 07:46:00,2016-03-01 07:50:00,5
2,"(477115900.0, 249297000.0)",2016-03-01 07:47:00,2016-03-01 07:50:00,4
3,"(477115900.0, 249297000.0)",2016-03-01 07:48:00,2016-03-01 07:50:00,3
4,"(477115900.0, 249297000.0)",2016-03-01 07:49:00,2016-03-01 07:50:00,2
5,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 07:50:00,2016-03-01 07:50:00,1
6,"(227270000.0, 227016100.0, 227006750.0, 226263...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
7,"(227270000.0, 227016100.0, 227006750.0, 227222...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
8,"(227590030.0, 227641920.0, 227631450.0, 227322...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
9,"(227590030.0, 227650230.0, 227641920.0, 227611...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
10,"(227650230.0, 227641920.0, 227611930.0, 227639...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
11,"(227650230.0, 227641920.0, 227611930.0, 227578...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
12,"(227650230.0, 227641920.0, 227611930.0, 227578...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
13,"(228186700.0, 228064900.0)",2016-03-01 07:50:00,2016-03-01 07:50:00,1
14,"(477115900.0, 249297000.0)",2016-03-01 07:50:00,2016-03-01 07:50:00,1
15,"(227315110.0, 227113100.0, 227666970.0, 227654...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
16,"(227315110.0, 227666970.0, 227588970.0, 227654...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
17,"(227113100.0, 227762340.0, 227636480.0)",2016-03-01 07:50:00,2016-03-01 07:50:00,1
18,"(228796000.0, 227806500.0, 227574020.0, 227635...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
19,"(228796000.0, 227806500.0, 227088590.0, 227408...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
20,"(227006750.0, 227088590.0, 226263000.0, 227408...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
21,"(227088590.0, 226263000.0, 227408710.0, 227008...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
22,"(227806500.0, 227088590.0, 227408710.0, 227362...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
23,"(228796000.0, 227806500.0, 227635210.0, 227408...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
24,"(228796000.0, 227148000.0, 227806500.0, 227574...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
25,"(227016100.0, 227006750.0, 227088590.0, 226263...",2016-03-01 07:50:00,2016-03-01 07:50:00,1
26,"(227588970.0, 227569380.0, 227632830.0, 227654...",2016-03-01 07:50:00,2016-03-01 07:50:00,1

,clusters,st,et,dur
0,"(249297000.0, 477115900.0)",2016-03-01 07:51:00,2016-03-01 07:51:00,1
1,"(227303430.0, 227569380.0, 227632830.0)",2016-03-01 07:51:00,2016-03-01 07:51:00,1
2,"(227303430.0, 227632830.0, 227654220.0, 227588...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
3,"(227650230.0, 227690560.0, 227322670.0, 227686...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
4,"(227650230.0, 227322670.0, 227590030.0, 227611...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
5,"(227222000.0, 227002330.0, 227016100.0, 227006...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
6,"(227589520.0, 227569380.0)",2016-03-01 07:51:00,2016-03-01 07:51:00,1
7,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 07:51:00,2016-03-01 07:51:00,1
8,"(227322670.0, 227590030.0, 227631450.0, 227641...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
9,"(227762340.0, 227636480.0)",2016-03-01 07:51:00,2016-03-01 07:51:00,1
10,"(228064900.0, 228186700.0)",2016-03-01 07:51:00,2016-03-01 07:51:00,1
11,"(227636480.0, 227666970.0, 227113100.0)",2016-03-01 07:51:00,2016-03-01 07:51:00,1
12,"(227612860.0, 227408710.0, 227148000.0, 227574...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
13,"(226263000.0, 227002330.0, 227008170.0, 227369...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
14,"(227612860.0, 227408710.0, 227574020.0, 227369...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
15,"(227612860.0, 227408710.0, 227369960.0, 227362...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
16,"(227408710.0, 227369960.0, 227362110.0, 227806...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
17,"(226263000.0, 227002330.0, 227408710.0, 227008...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
18,"(226263000.0, 227002330.0, 227408710.0, 227592...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
19,"(227408710.0, 227369960.0, 227362110.0, 227088...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
20,"(227408710.0, 227592820.0, 227369960.0, 227362...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
21,"(227315110.0, 227666970.0, 227113100.0, 227654...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
22,"(226263000.0, 227002330.0, 227008170.0, 227016...",2016-03-01 07:51:00,2016-03-01 07:51:00,1

,clusters,st,et,dur
0,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 07:50:00,2016-03-01 07:51:00,2
1,"(249297000.0, 477115900.0)",2016-03-01 07:51:00,2016-03-01 07:51:00,1
2,"(227303430.0, 227569380.0, 227632830.0)",2016-03-01 07:51:00,2016-03-01 07:51:00,1
3,"(227303430.0, 227632830.0, 227654220.0, 227588...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
4,"(227650230.0, 227690560.0, 227322670.0, 227686...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
5,"(227650230.0, 227322670.0, 227590030.0, 227611...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
6,"(227222000.0, 227002330.0, 227016100.0, 227006...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
7,"(227589520.0, 227569380.0)",2016-03-01 07:51:00,2016-03-01 07:51:00,1
8,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 07:51:00,2016-03-01 07:51:00,1
9,"(227322670.0, 227590030.0, 227631450.0, 227641...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
10,"(227762340.0, 227636480.0)",2016-03-01 07:51:00,2016-03-01 07:51:00,1
11,"(228064900.0, 228186700.0)",2016-03-01 07:51:00,2016-03-01 07:51:00,1
12,"(227636480.0, 227666970.0, 227113100.0)",2016-03-01 07:51:00,2016-03-01 07:51:00,1
13,"(227612860.0, 227408710.0, 227148000.0, 227574...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
14,"(226263000.0, 227002330.0, 227008170.0, 227369...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
15,"(227612860.0, 227408710.0, 227574020.0, 227369...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
16,"(227612860.0, 227408710.0, 227369960.0, 227362...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
17,"(227408710.0, 227369960.0, 227362110.0, 227806...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
18,"(226263000.0, 227002330.0, 227408710.0, 227008...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
19,"(226263000.0, 227002330.0, 227408710.0, 227592...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
20,"(227408710.0, 227369960.0, 227362110.0, 227088...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
21,"(227408710.0, 227592820.0, 227369960.0, 227362...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
22,"(227315110.0, 227666970.0, 227113100.0, 227654...",2016-03-01 07:51:00,2016-03-01 07:51:00,1
23,"(226263000.0, 227002330.0, 227008170.0, 227016...",2016-03-01 07:51:00,2016-03-01 07:51:00,1

,clusters,st,et,dur
0,"(227303430.0, 227654220.0, 227632830.0)",2016-03-01 07:52:00,2016-03-01 07:52:00,1
1,"(227303430.0, 227569380.0, 227632830.0)",2016-03-01 07:52:00,2016-03-01 07:52:00,1
2,"(227590030.0, 227641920.0, 227322670.0, 227611...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
3,"(227590030.0, 227641920.0, 227322670.0, 227631...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
4,"(227315110.0, 227654220.0, 227113100.0, 227588...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
5,"(227315110.0, 227654220.0, 227632830.0, 227588...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
6,"(227088590.0, 227369960.0, 227806500.0, 227298...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
7,"(227088590.0, 227369960.0, 226263000.0, 227298...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
8,"(227088590.0, 227369960.0, 226263000.0, 227298...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
9,"(227088590.0, 227369960.0, 227806500.0, 227298...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
10,"(227369960.0, 227806500.0, 227298110.0, 228796...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
11,"(227369960.0, 227806500.0, 227298110.0, 228796...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
12,"(227369960.0, 227806500.0, 227298110.0, 228796...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
13,"(227806500.0, 227298110.0, 228796000.0, 227148...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
14,"(227088590.0, 227369960.0, 226263000.0, 227298...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
15,"(228186700.0, 228064900.0)",2016-03-01 07:52:00,2016-03-01 07:52:00,1
16,"(227641920.0, 227686540.0, 227322670.0, 227639...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
17,"(227762340.0, 227113100.0, 227636480.0, 227666...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
18,"(249297000.0, 477115900.0)",2016-03-01 07:52:00,2016-03-01 07:52:00,1
19,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 07:52:00,2016-03-01 07:52:00,1
20,"(227006750.0, 227270000.0, 227222000.0, 227016...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
21,"(226263000.0, 227006750.0, 227008170.0, 227270...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
22,"(227569380.0, 227589520.0)",2016-03-01 07:52:00,2016-03-01 07:52:00,1
23,"(227113100.0, 227588970.0, 227636480.0, 227666...",2016-03-01 07:52:00,2016-03-01 07:52:00,1

,clusters,st,et,dur
0,"(249297000.0, 477115900.0)",2016-03-01 07:51:00,2016-03-01 07:52:00,2
1,"(227303430.0, 227569380.0, 227632830.0)",2016-03-01 07:51:00,2016-03-01 07:52:00,2
2,"(227303430.0, 227654220.0, 227632830.0)",2016-03-01 07:52:00,2016-03-01 07:52:00,1
3,"(227303430.0, 227569380.0, 227632830.0)",2016-03-01 07:52:00,2016-03-01 07:52:00,1
4,"(227590030.0, 227641920.0, 227322670.0, 227611...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
5,"(227590030.0, 227641920.0, 227322670.0, 227631...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
6,"(227315110.0, 227654220.0, 227113100.0, 227588...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
7,"(227315110.0, 227654220.0, 227632830.0, 227588...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
8,"(227088590.0, 227369960.0, 227806500.0, 227298...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
9,"(227088590.0, 227369960.0, 226263000.0, 227298...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
10,"(227088590.0, 227369960.0, 226263000.0, 227298...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
11,"(227088590.0, 227369960.0, 227806500.0, 227298...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
12,"(227369960.0, 227806500.0, 227298110.0, 228796...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
13,"(227369960.0, 227806500.0, 227298110.0, 228796...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
14,"(227369960.0, 227806500.0, 227298110.0, 228796...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
15,"(227806500.0, 227298110.0, 228796000.0, 227148...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
16,"(227088590.0, 227369960.0, 226263000.0, 227298...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
17,"(228186700.0, 228064900.0)",2016-03-01 07:52:00,2016-03-01 07:52:00,1
18,"(227641920.0, 227686540.0, 227322670.0, 227639...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
19,"(227762340.0, 227113100.0, 227636480.0, 227666...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
20,"(249297000.0, 477115900.0)",2016-03-01 07:52:00,2016-03-01 07:52:00,1
21,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 07:52:00,2016-03-01 07:52:00,1
22,"(227006750.0, 227270000.0, 227222000.0, 227016...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
23,"(226263000.0, 227006750.0, 227008170.0, 227270...",2016-03-01 07:52:00,2016-03-01 07:52:00,1
24,"(227569380.0, 227589520.0)",2016-03-01 07:52:00,2016-03-01 07:52:00,1
25,"(227113100.0, 227588970.0, 227636480.0, 227666...",2016-03-01 07:52:00,2016-03-01 07:52:00,1

,clusters,st,et,dur
0,"(227650230.0, 227690560.0, 227322690.0, 227578...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
1,"(227650230.0, 227690560.0, 227590030.0, 227322...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
2,"(227650230.0, 227690560.0, 227322690.0, 227578...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
3,"(227650230.0, 227590030.0, 227322670.0, 227641...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
4,"(227222000.0, 226263000.0, 227016100.0, 227270...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
5,"(227113100.0, 227588970.0, 227762340.0, 227666...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
6,"(227113100.0, 227588970.0, 227762340.0, 227636...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
7,"(227113100.0, 227588970.0, 227315110.0, 227666...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
8,"(227113100.0, 227654220.0, 227632830.0, 227588...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
9,"(227654220.0, 227632830.0, 227303430.0)",2016-03-01 07:53:00,2016-03-01 07:53:00,1
10,"(227589520.0, 227303430.0, 227569380.0)",2016-03-01 07:53:00,2016-03-01 07:53:00,1
11,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:53:00,2016-03-01 07:53:00,1
12,"(477115900.0, 249297000.0)",2016-03-01 07:53:00,2016-03-01 07:53:00,1
13,"(227408710.0, 227298110.0, 227574020.0, 228796...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
14,"(227408710.0, 226263000.0, 227298110.0, 227592...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
15,"(227408710.0, 227298110.0, 227592820.0, 227730...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
16,"(227408710.0, 227298110.0, 227730220.0, 228796...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
17,"(227408710.0, 226263000.0, 227298110.0, 227002...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
18,"(227408710.0, 227298110.0, 227730220.0, 228796...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
19,"(227408710.0, 227298110.0, 228796000.0, 227806...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
20,"(227408710.0, 227298110.0, 227574020.0, 227148...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
21,"(226263000.0, 227016100.0, 227298110.0, 227002...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
22,"(226263000.0, 227016100.0, 227270000.0, 227002...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
23,"(228186700.0, 228064900.0)",2016-03-01 07:53:00,2016-03-01 07:53:00,1

,clusters,st,et,dur
0,"(228186700.0, 228064900.0)",2016-03-01 07:52:00,2016-03-01 07:53:00,2
1,"(227650230.0, 227690560.0, 227322690.0, 227578...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
2,"(227650230.0, 227690560.0, 227590030.0, 227322...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
3,"(227650230.0, 227690560.0, 227322690.0, 227578...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
4,"(227650230.0, 227590030.0, 227322670.0, 227641...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
5,"(227222000.0, 226263000.0, 227016100.0, 227270...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
6,"(227113100.0, 227588970.0, 227762340.0, 227666...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
7,"(227113100.0, 227588970.0, 227762340.0, 227636...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
8,"(227113100.0, 227588970.0, 227315110.0, 227666...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
9,"(227113100.0, 227654220.0, 227632830.0, 227588...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
10,"(227654220.0, 227632830.0, 227303430.0)",2016-03-01 07:53:00,2016-03-01 07:53:00,1
11,"(227589520.0, 227303430.0, 227569380.0)",2016-03-01 07:53:00,2016-03-01 07:53:00,1
12,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:53:00,2016-03-01 07:53:00,1
13,"(477115900.0, 249297000.0)",2016-03-01 07:53:00,2016-03-01 07:53:00,1
14,"(227408710.0, 227298110.0, 227574020.0, 228796...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
15,"(227408710.0, 226263000.0, 227298110.0, 227592...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
16,"(227408710.0, 227298110.0, 227592820.0, 227730...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
17,"(227408710.0, 227298110.0, 227730220.0, 228796...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
18,"(227408710.0, 226263000.0, 227298110.0, 227002...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
19,"(227408710.0, 227298110.0, 227730220.0, 228796...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
20,"(227408710.0, 227298110.0, 228796000.0, 227806...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
21,"(227408710.0, 227298110.0, 227574020.0, 227148...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
22,"(226263000.0, 227016100.0, 227298110.0, 227002...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
23,"(226263000.0, 227016100.0, 227270000.0, 227002...",2016-03-01 07:53:00,2016-03-01 07:53:00,1
24,"(228186700.0, 228064900.0)",2016-03-01 07:53:00,2016-03-01 07:53:00,1

,clusters,st,et,dur
0,"(227686540.0, 227641920.0, 227322670.0, 227650...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
1,"(227686540.0, 227641920.0, 227650230.0, 227322...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
2,"(227303430.0, 227589520.0, 227632830.0)",2016-03-01 07:54:00,2016-03-01 07:54:00,1
3,"(227303430.0, 227315110.0, 227632830.0)",2016-03-01 07:54:00,2016-03-01 07:54:00,1
4,"(227569380.0, 227589520.0)",2016-03-01 07:54:00,2016-03-01 07:54:00,1
5,"(477115900.0, 249297000.0)",2016-03-01 07:54:00,2016-03-01 07:54:00,1
6,"(227641920.0, 227322670.0, 227650230.0, 227322...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
7,"(227641920.0, 227322670.0, 227650230.0, 227611...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
8,"(227762340.0, 227636480.0, 227113100.0, 227588...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
9,"(227315110.0, 227632830.0, 227113100.0, 227654...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
10,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:54:00,2016-03-01 07:54:00,1
11,"(227016100.0, 227730220.0, 227006750.0, 244630...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
12,"(228796000.0, 227806500.0, 227298110.0, 227574...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
13,"(228796000.0, 244630187.0, 227806500.0, 227298...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
14,"(227730220.0, 244630187.0, 227806500.0, 227298...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
15,"(227730220.0, 227006750.0, 244630187.0, 227298...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
16,"(227730220.0, 244630187.0, 227298110.0, 226263...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
17,"(227730220.0, 228796000.0, 244630187.0, 227806...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
18,"(227730220.0, 228796000.0, 227806500.0, 227298...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
19,"(228796000.0, 227148000.0, 227806500.0, 227298...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
20,"(228186700.0, 228064900.0)",2016-03-01 07:54:00,2016-03-01 07:54:00,1
21,"(227016100.0, 227006750.0, 226263000.0, 227002...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
22,"(227016100.0, 227006750.0, 226263000.0, 227002...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
23,"(227666970.0, 227588970.0)",2016-03-01 07:54:00,2016-03-01 07:54:00,1

,clusters,st,et,dur
0,"(228186700.0, 228064900.0)",2016-03-01 07:52:00,2016-03-01 07:54:00,3
1,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:53:00,2016-03-01 07:54:00,2
2,"(477115900.0, 249297000.0)",2016-03-01 07:53:00,2016-03-01 07:54:00,2
3,"(228186700.0, 228064900.0)",2016-03-01 07:53:00,2016-03-01 07:54:00,2
4,"(227686540.0, 227641920.0, 227322670.0, 227650...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
5,"(227686540.0, 227641920.0, 227650230.0, 227322...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
6,"(227303430.0, 227589520.0, 227632830.0)",2016-03-01 07:54:00,2016-03-01 07:54:00,1
7,"(227303430.0, 227315110.0, 227632830.0)",2016-03-01 07:54:00,2016-03-01 07:54:00,1
8,"(227569380.0, 227589520.0)",2016-03-01 07:54:00,2016-03-01 07:54:00,1
9,"(477115900.0, 249297000.0)",2016-03-01 07:54:00,2016-03-01 07:54:00,1
10,"(227641920.0, 227322670.0, 227650230.0, 227322...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
11,"(227641920.0, 227322670.0, 227650230.0, 227611...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
12,"(227762340.0, 227636480.0, 227113100.0, 227588...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
13,"(227315110.0, 227632830.0, 227113100.0, 227654...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
14,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:54:00,2016-03-01 07:54:00,1
15,"(227016100.0, 227730220.0, 227006750.0, 244630...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
16,"(228796000.0, 227806500.0, 227298110.0, 227574...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
17,"(228796000.0, 244630187.0, 227806500.0, 227298...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
18,"(227730220.0, 244630187.0, 227806500.0, 227298...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
19,"(227730220.0, 227006750.0, 244630187.0, 227298...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
20,"(227730220.0, 244630187.0, 227298110.0, 226263...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
21,"(227730220.0, 228796000.0, 244630187.0, 227806...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
22,"(227730220.0, 228796000.0, 227806500.0, 227298...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
23,"(228796000.0, 227148000.0, 227806500.0, 227298...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
24,"(228186700.0, 228064900.0)",2016-03-01 07:54:00,2016-03-01 07:54:00,1
25,"(227016100.0, 227006750.0, 226263000.0, 227002...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
26,"(227016100.0, 227006750.0, 226263000.0, 227002...",2016-03-01 07:54:00,2016-03-01 07:54:00,1
27,"(227666970.0, 227588970.0)",2016-03-01 07:54:00,2016-03-01 07:54:00,1

,clusters,st,et,dur
0,"(227690560.0, 227578460.0, 227650230.0, 227686...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
1,"(227690560.0, 227578460.0, 227650230.0, 227686...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
2,"(227578460.0, 227641920.0, 227322670.0, 227611...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
3,"(227588970.0, 227113100.0, 227762340.0, 227654...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
4,"(227588970.0, 227113100.0, 227654220.0, 227315...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
5,"(227588970.0, 227666970.0)",2016-03-01 07:55:00,2016-03-01 07:55:00,1
6,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 07:55:00,2016-03-01 07:55:00,1
7,"(477115900.0, 249297000.0)",2016-03-01 07:55:00,2016-03-01 07:55:00,1
8,"(227113100.0, 227654220.0, 227315110.0, 227632...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
9,"(227762340.0, 227636480.0)",2016-03-01 07:55:00,2016-03-01 07:55:00,1
10,"(227666970.0, 227621940.0)",2016-03-01 07:55:00,2016-03-01 07:55:00,1
11,"(227641920.0, 227631450.0, 227322670.0, 227611...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
12,"(227315110.0, 227589520.0, 227632830.0, 227303...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
13,"(228064900.0, 228186700.0)",2016-03-01 07:55:00,2016-03-01 07:55:00,1
14,"(226263000.0, 227002330.0, 227088590.0, 227006...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
15,"(227148000.0, 227408710.0, 227574020.0, 227612...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
16,"(227408710.0, 227574020.0, 227612860.0, 228796...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
17,"(227408710.0, 227612860.0, 228796000.0, 227806...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
18,"(227408710.0, 227088590.0, 228796000.0, 227806...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
19,"(227408710.0, 227088590.0, 227806500.0, 227592...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
20,"(226263000.0, 227408710.0, 227002330.0, 227088...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
21,"(226263000.0, 227408710.0, 227002330.0, 227088...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
22,"(227408710.0, 228796000.0, 227806500.0, 227362...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
23,"(226263000.0, 227002330.0, 227006750.0, 227016...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
24,"(226263000.0, 227002330.0, 227006750.0, 227016...",2016-03-01 07:55:00,2016-03-01 07:55:00,1

,clusters,st,et,dur
0,"(477115900.0, 249297000.0)",2016-03-01 07:53:00,2016-03-01 07:55:00,3
1,"(477115900.0, 249297000.0)",2016-03-01 07:54:00,2016-03-01 07:55:00,2
2,"(227690560.0, 227578460.0, 227650230.0, 227686...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
3,"(227690560.0, 227578460.0, 227650230.0, 227686...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
4,"(227578460.0, 227641920.0, 227322670.0, 227611...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
5,"(227588970.0, 227113100.0, 227762340.0, 227654...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
6,"(227588970.0, 227113100.0, 227654220.0, 227315...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
7,"(227588970.0, 227666970.0)",2016-03-01 07:55:00,2016-03-01 07:55:00,1
8,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 07:55:00,2016-03-01 07:55:00,1
9,"(477115900.0, 249297000.0)",2016-03-01 07:55:00,2016-03-01 07:55:00,1
10,"(227113100.0, 227654220.0, 227315110.0, 227632...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
11,"(227762340.0, 227636480.0)",2016-03-01 07:55:00,2016-03-01 07:55:00,1
12,"(227666970.0, 227621940.0)",2016-03-01 07:55:00,2016-03-01 07:55:00,1
13,"(227641920.0, 227631450.0, 227322670.0, 227611...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
14,"(227315110.0, 227589520.0, 227632830.0, 227303...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
15,"(228064900.0, 228186700.0)",2016-03-01 07:55:00,2016-03-01 07:55:00,1
16,"(226263000.0, 227002330.0, 227088590.0, 227006...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
17,"(227148000.0, 227408710.0, 227574020.0, 227612...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
18,"(227408710.0, 227574020.0, 227612860.0, 228796...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
19,"(227408710.0, 227612860.0, 228796000.0, 227806...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
20,"(227408710.0, 227088590.0, 228796000.0, 227806...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
21,"(227408710.0, 227088590.0, 227806500.0, 227592...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
22,"(226263000.0, 227408710.0, 227002330.0, 227088...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
23,"(226263000.0, 227408710.0, 227002330.0, 227088...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
24,"(227408710.0, 228796000.0, 227806500.0, 227362...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
25,"(226263000.0, 227002330.0, 227006750.0, 227016...",2016-03-01 07:55:00,2016-03-01 07:55:00,1
26,"(226263000.0, 227002330.0, 227006750.0, 227016...",2016-03-01 07:55:00,2016-03-01 07:55:00,1

,clusters,st,et,dur
0,"(227322690.0, 227641920.0, 227690560.0, 227686...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
1,"(227322690.0, 227641920.0, 227690560.0, 227322...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
2,"(227641920.0, 227322670.0, 227631450.0, 227590...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
3,"(228064900.0, 228186700.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
4,"(227621940.0, 227666970.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
5,"(227113100.0, 227315110.0, 227632830.0, 227654...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
6,"(227113100.0, 227315110.0, 227654220.0, 227588...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
7,"(227113100.0, 227762340.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
8,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
9,"(227369960.0, 227362110.0, 227612860.0, 228796...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
10,"(227369960.0, 227362110.0, 227612860.0, 228796...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
11,"(227369960.0, 227362110.0, 227006750.0, 227002...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
12,"(227369960.0, 227362110.0, 227002330.0, 227730...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
13,"(227369960.0, 227362110.0, 227806500.0, 227730...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
14,"(227369960.0, 227362110.0, 228796000.0, 227806...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
15,"(227369960.0, 227362110.0, 228796000.0, 227635...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
16,"(227016100.0, 227369960.0, 227362110.0, 227006...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
17,"(227148000.0, 227362110.0, 227612860.0, 228796...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
18,"(227315110.0, 227632830.0, 227589520.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
19,"(249297000.0, 477115900.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
20,"(227762340.0, 227636480.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
21,"(227303430.0, 227632830.0, 227589520.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
22,"(227016100.0, 227006750.0, 227002330.0, 227008...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
23,"(227016100.0, 227006750.0, 227002330.0, 227270...",2016-03-01 07:56:00,2016-03-01 07:56:00,1

,clusters,st,et,dur
0,"(227762340.0, 227636480.0)",2016-03-01 07:55:00,2016-03-01 07:56:00,2
1,"(228064900.0, 228186700.0)",2016-03-01 07:55:00,2016-03-01 07:56:00,2
2,"(227322690.0, 227641920.0, 227690560.0, 227686...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
3,"(227322690.0, 227641920.0, 227690560.0, 227322...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
4,"(227641920.0, 227322670.0, 227631450.0, 227590...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
5,"(228064900.0, 228186700.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
6,"(227621940.0, 227666970.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
7,"(227113100.0, 227315110.0, 227632830.0, 227654...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
8,"(227113100.0, 227315110.0, 227654220.0, 227588...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
9,"(227113100.0, 227762340.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
10,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
11,"(227369960.0, 227362110.0, 227612860.0, 228796...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
12,"(227369960.0, 227362110.0, 227612860.0, 228796...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
13,"(227369960.0, 227362110.0, 227006750.0, 227002...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
14,"(227369960.0, 227362110.0, 227002330.0, 227730...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
15,"(227369960.0, 227362110.0, 227806500.0, 227730...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
16,"(227369960.0, 227362110.0, 228796000.0, 227806...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
17,"(227369960.0, 227362110.0, 228796000.0, 227635...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
18,"(227016100.0, 227369960.0, 227362110.0, 227006...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
19,"(227148000.0, 227362110.0, 227612860.0, 228796...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
20,"(227315110.0, 227632830.0, 227589520.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
21,"(249297000.0, 477115900.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
22,"(227762340.0, 227636480.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
23,"(227303430.0, 227632830.0, 227589520.0)",2016-03-01 07:56:00,2016-03-01 07:56:00,1
24,"(227016100.0, 227006750.0, 227002330.0, 227008...",2016-03-01 07:56:00,2016-03-01 07:56:00,1
25,"(227016100.0, 227006750.0, 227002330.0, 227270...",2016-03-01 07:56:00,2016-03-01 07:56:00,1

,clusters,st,et,dur
0,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:57:00,2016-03-01 07:57:00,1
1,"(227588970.0, 227621940.0, 227666970.0)",2016-03-01 07:57:00,2016-03-01 07:57:00,1
2,"(227588970.0, 227654220.0, 227113100.0, 227315...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
3,"(227632830.0, 227654220.0, 227113100.0, 227589...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
4,"(227632830.0, 227589520.0, 227303430.0)",2016-03-01 07:57:00,2016-03-01 07:57:00,1
5,"(227578460.0, 227690560.0, 227686540.0, 227650...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
6,"(227578460.0, 227690560.0, 227686540.0, 227650...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
7,"(227578460.0, 227650230.0, 227322690.0, 227322...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
8,"(227578460.0, 227690560.0, 227686540.0, 227650...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
9,"(228796000.0, 227298110.0, 227574020.0, 227408...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
10,"(227006750.0, 227298110.0, 227002330.0, 227369...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
11,"(228796000.0, 227298110.0, 227574020.0, 227408...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
12,"(228796000.0, 227298110.0, 227408710.0, 227369...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
13,"(226263000.0, 227298110.0, 227002330.0, 227408...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
14,"(226263000.0, 227006750.0, 227298110.0, 227002...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
15,"(226263000.0, 227298110.0, 227408710.0, 227592...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
16,"(228796000.0, 227298110.0, 227408710.0, 227369...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
17,"(228796000.0, 227298110.0, 227408710.0, 227369...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
18,"(227762340.0, 227636480.0)",2016-03-01 07:57:00,2016-03-01 07:57:00,1
19,"(477115900.0, 249297000.0)",2016-03-01 07:57:00,2016-03-01 07:57:00,1
20,"(228064900.0, 228186700.0)",2016-03-01 07:57:00,2016-03-01 07:57:00,1
21,"(227006750.0, 227002330.0, 227222000.0, 227270...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
22,"(227590030.0, 227322670.0, 227611930.0, 227641...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
23,"(227006750.0, 227002330.0, 227270000.0, 227008...",2016-03-01 07:57:00,2016-03-01 07:57:00,1

,clusters,st,et,dur
0,"(227762340.0, 227636480.0)",2016-03-01 07:55:00,2016-03-01 07:57:00,3
1,"(228064900.0, 228186700.0)",2016-03-01 07:55:00,2016-03-01 07:57:00,3
2,"(228064900.0, 228186700.0)",2016-03-01 07:56:00,2016-03-01 07:57:00,2
3,"(227762340.0, 227636480.0)",2016-03-01 07:56:00,2016-03-01 07:57:00,2
4,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 07:57:00,2016-03-01 07:57:00,1
5,"(227588970.0, 227621940.0, 227666970.0)",2016-03-01 07:57:00,2016-03-01 07:57:00,1
6,"(227588970.0, 227654220.0, 227113100.0, 227315...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
7,"(227632830.0, 227654220.0, 227113100.0, 227589...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
8,"(227632830.0, 227589520.0, 227303430.0)",2016-03-01 07:57:00,2016-03-01 07:57:00,1
9,"(227578460.0, 227690560.0, 227686540.0, 227650...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
10,"(227578460.0, 227690560.0, 227686540.0, 227650...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
11,"(227578460.0, 227650230.0, 227322690.0, 227322...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
12,"(227578460.0, 227690560.0, 227686540.0, 227650...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
13,"(228796000.0, 227298110.0, 227574020.0, 227408...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
14,"(227006750.0, 227298110.0, 227002330.0, 227369...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
15,"(228796000.0, 227298110.0, 227574020.0, 227408...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
16,"(228796000.0, 227298110.0, 227408710.0, 227369...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
17,"(226263000.0, 227298110.0, 227002330.0, 227408...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
18,"(226263000.0, 227006750.0, 227298110.0, 227002...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
19,"(226263000.0, 227298110.0, 227408710.0, 227592...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
20,"(228796000.0, 227298110.0, 227408710.0, 227369...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
21,"(228796000.0, 227298110.0, 227408710.0, 227369...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
22,"(227762340.0, 227636480.0)",2016-03-01 07:57:00,2016-03-01 07:57:00,1
23,"(477115900.0, 249297000.0)",2016-03-01 07:57:00,2016-03-01 07:57:00,1
24,"(228064900.0, 228186700.0)",2016-03-01 07:57:00,2016-03-01 07:57:00,1
25,"(227006750.0, 227002330.0, 227222000.0, 227270...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
26,"(227590030.0, 227322670.0, 227611930.0, 227641...",2016-03-01 07:57:00,2016-03-01 07:57:00,1
27,"(227006750.0, 227002330.0, 227270000.0, 227008...",2016-03-01 07:57:00,2016-03-01 07:57:00,1

,clusters,st,et,dur
0,"(227640710.0, 227631450.0, 227322690.0, 227690...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
1,"(227640710.0, 227631450.0, 227322690.0, 227690...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
2,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
3,"(227631450.0, 227590030.0, 227611930.0, 227641...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
4,"(227631450.0, 227322690.0, 227650230.0, 227611...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
5,"(227631450.0, 227322690.0, 227690560.0, 227686...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
6,"(227362110.0, 227806500.0, 227574020.0, 227612...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
7,"(227362110.0, 227806500.0, 227574020.0, 227612...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
8,"(227362110.0, 227806500.0, 227369960.0, 227730...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
9,"(227362110.0, 227806500.0, 227369960.0, 227008...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
10,"(227362110.0, 227369960.0, 227008170.0, 227730...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
11,"(227362110.0, 227369960.0, 227008170.0, 227730...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
12,"(227362110.0, 227369960.0, 227088590.0, 227408...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
13,"(227362110.0, 227806500.0, 227369960.0, 227408...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
14,"(227362110.0, 227806500.0, 227612860.0, 227369...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
15,"(227362110.0, 227369960.0, 227008170.0, 227730...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
16,"(227222000.0, 227016100.0, 227270000.0, 227006...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
17,"(249297000.0, 477115900.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
18,"(227666970.0, 227621940.0, 227588970.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
19,"(227636480.0, 227762340.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
20,"(227303430.0, 227632830.0, 227589520.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
21,"(228186700.0, 228064900.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
22,"(227632830.0, 227589520.0, 227315110.0, 227113...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
23,"(220417000.0, 228005700.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
24,"(227590030.0, 227569380.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
25,"(227315110.0, 227113100.0, 227654220.0, 227588...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
26,"(227008170.0, 227016100.0, 227270000.0, 227006...",2016-03-01 07:58:00,2016-03-01 07:58:00,1

,clusters,st,et,dur
0,"(227640710.0, 227631450.0, 227322690.0, 227690...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
1,"(227640710.0, 227631450.0, 227322690.0, 227690...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
2,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
3,"(227631450.0, 227590030.0, 227611930.0, 227641...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
4,"(227631450.0, 227322690.0, 227650230.0, 227611...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
5,"(227631450.0, 227322690.0, 227690560.0, 227686...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
6,"(227362110.0, 227806500.0, 227574020.0, 227612...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
7,"(227362110.0, 227806500.0, 227574020.0, 227612...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
8,"(227362110.0, 227806500.0, 227369960.0, 227730...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
9,"(227362110.0, 227806500.0, 227369960.0, 227008...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
10,"(227362110.0, 227369960.0, 227008170.0, 227730...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
11,"(227362110.0, 227369960.0, 227008170.0, 227730...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
12,"(227362110.0, 227369960.0, 227088590.0, 227408...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
13,"(227362110.0, 227806500.0, 227369960.0, 227408...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
14,"(227362110.0, 227806500.0, 227612860.0, 227369...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
15,"(227362110.0, 227369960.0, 227008170.0, 227730...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
16,"(227222000.0, 227016100.0, 227270000.0, 227006...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
17,"(249297000.0, 477115900.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
18,"(227666970.0, 227621940.0, 227588970.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
19,"(227636480.0, 227762340.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
20,"(227303430.0, 227632830.0, 227589520.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
21,"(228186700.0, 228064900.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
22,"(227632830.0, 227589520.0, 227315110.0, 227113...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
23,"(220417000.0, 228005700.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
24,"(227590030.0, 227569380.0)",2016-03-01 07:58:00,2016-03-01 07:58:00,1
25,"(227315110.0, 227113100.0, 227654220.0, 227588...",2016-03-01 07:58:00,2016-03-01 07:58:00,1
26,"(227008170.0, 227016100.0, 227270000.0, 227006...",2016-03-01 07:58:00,2016-03-01 07:58:00,1

,clusters,st,et,dur
0,"(227686540.0, 227322690.0, 227650230.0, 227690...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
1,"(227686540.0, 227322690.0, 227650230.0, 227690...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
2,"(227322690.0, 227650230.0, 227611930.0, 227322...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
3,"(227590030.0, 227611930.0, 227322670.0, 227641...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
4,"(227590030.0, 227569380.0, 227322670.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1
5,"(227222000.0, 227270000.0, 227016100.0, 227006...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
6,"(249297000.0, 477115900.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1
7,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1
8,"(227589520.0, 227654220.0, 227113100.0, 227315...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
9,"(227589520.0, 227303430.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1
10,"(227654220.0, 227113100.0, 227588970.0, 227315...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
11,"(227113100.0, 227588970.0, 227315110.0, 227666...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
12,"(227270000.0, 227016100.0, 227008170.0, 227006...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
13,"(226263000.0, 227592820.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1
14,"(228064900.0, 228186700.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1
15,"(227369960.0, 244630187.0, 227298110.0, 227408...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
16,"(227369960.0, 244630187.0, 227298110.0, 227408...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
17,"(227369960.0, 244630187.0, 227298110.0, 227408...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
18,"(227369960.0, 244630187.0, 227298110.0, 227408...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
19,"(227369960.0, 227574020.0, 227298110.0, 227408...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
20,"(227369960.0, 244630187.0, 227298110.0, 227408...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
21,"(227369960.0, 227298110.0, 227408710.0, 228796...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
22,"(227369960.0, 244630187.0, 227298110.0, 227016...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
23,"(227148000.0, 227574020.0, 227298110.0, 227408...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
24,"(227636480.0, 227762340.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1
25,"(228005700.0, 220417000.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1

,clusters,st,et,dur
0,"(249297000.0, 477115900.0)",2016-03-01 07:58:00,2016-03-01 07:59:00,2
1,"(227636480.0, 227762340.0)",2016-03-01 07:58:00,2016-03-01 07:59:00,2
2,"(227686540.0, 227322690.0, 227650230.0, 227690...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
3,"(227686540.0, 227322690.0, 227650230.0, 227690...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
4,"(227322690.0, 227650230.0, 227611930.0, 227322...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
5,"(227590030.0, 227611930.0, 227322670.0, 227641...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
6,"(227590030.0, 227569380.0, 227322670.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1
7,"(227222000.0, 227270000.0, 227016100.0, 227006...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
8,"(249297000.0, 477115900.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1
9,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1
10,"(227589520.0, 227654220.0, 227113100.0, 227315...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
11,"(227589520.0, 227303430.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1
12,"(227654220.0, 227113100.0, 227588970.0, 227315...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
13,"(227113100.0, 227588970.0, 227315110.0, 227666...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
14,"(227270000.0, 227016100.0, 227008170.0, 227006...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
15,"(226263000.0, 227592820.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1
16,"(228064900.0, 228186700.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1
17,"(227369960.0, 244630187.0, 227298110.0, 227408...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
18,"(227369960.0, 244630187.0, 227298110.0, 227408...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
19,"(227369960.0, 244630187.0, 227298110.0, 227408...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
20,"(227369960.0, 244630187.0, 227298110.0, 227408...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
21,"(227369960.0, 227574020.0, 227298110.0, 227408...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
22,"(227369960.0, 244630187.0, 227298110.0, 227408...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
23,"(227369960.0, 227298110.0, 227408710.0, 228796...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
24,"(227369960.0, 244630187.0, 227298110.0, 227016...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
25,"(227148000.0, 227574020.0, 227298110.0, 227408...",2016-03-01 07:59:00,2016-03-01 07:59:00,1
26,"(227636480.0, 227762340.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1
27,"(228005700.0, 220417000.0)",2016-03-01 07:59:00,2016-03-01 07:59:00,1

,clusters,st,et,dur
0,"(227636480.0, 227762340.0)",2016-03-01 08:00:00,2016-03-01 08:00:00,1
1,"(227578460.0, 227322690.0, 227611930.0, 227322...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
2,"(227578460.0, 227322690.0, 227686540.0, 227611...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
3,"(227578460.0, 227322690.0, 227686540.0, 227640...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
4,"(228186700.0, 228064900.0)",2016-03-01 08:00:00,2016-03-01 08:00:00,1
5,"(227632830.0, 227315110.0, 227113100.0, 227588...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
6,"(227632830.0, 227315110.0, 227113100.0, 227654...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
7,"(220417000.0, 228005700.0)",2016-03-01 08:00:00,2016-03-01 08:00:00,1
8,"(227362110.0, 227806500.0, 227612860.0, 227408...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
9,"(227002330.0, 227730220.0, 244630187.0, 227362...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
10,"(227362110.0, 227298110.0, 227806500.0, 227612...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
11,"(244630187.0, 227362110.0, 227298110.0, 227806...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
12,"(227002330.0, 227730220.0, 244630187.0, 227362...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
13,"(227730220.0, 244630187.0, 227362110.0, 227298...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
14,"(227730220.0, 227362110.0, 227298110.0, 227806...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
15,"(227002330.0, 227730220.0, 244630187.0, 227362...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
16,"(227569380.0, 227611930.0, 227322670.0, 227641...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
17,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 08:00:00,2016-03-01 08:00:00,1
18,"(227589520.0, 227303430.0)",2016-03-01 08:00:00,2016-03-01 08:00:00,1
19,"(227002330.0, 227006750.0, 227008170.0, 227016...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
20,"(227002330.0, 227006750.0, 227016100.0, 227270...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
21,"(249297000.0, 477115900.0)",2016-03-01 08:00:00,2016-03-01 08:00:00,1

,clusters,st,et,dur
0,"(249297000.0, 477115900.0)",2016-03-01 07:58:00,2016-03-01 08:00:00,3
1,"(227636480.0, 227762340.0)",2016-03-01 07:58:00,2016-03-01 08:00:00,3
2,"(249297000.0, 477115900.0)",2016-03-01 07:59:00,2016-03-01 08:00:00,2
3,"(227589520.0, 227303430.0)",2016-03-01 07:59:00,2016-03-01 08:00:00,2
4,"(227636480.0, 227762340.0)",2016-03-01 07:59:00,2016-03-01 08:00:00,2
5,"(227636480.0, 227762340.0)",2016-03-01 08:00:00,2016-03-01 08:00:00,1
6,"(227578460.0, 227322690.0, 227611930.0, 227322...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
7,"(227578460.0, 227322690.0, 227686540.0, 227611...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
8,"(227578460.0, 227322690.0, 227686540.0, 227640...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
9,"(228186700.0, 228064900.0)",2016-03-01 08:00:00,2016-03-01 08:00:00,1
10,"(227632830.0, 227315110.0, 227113100.0, 227588...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
11,"(227632830.0, 227315110.0, 227113100.0, 227654...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
12,"(220417000.0, 228005700.0)",2016-03-01 08:00:00,2016-03-01 08:00:00,1
13,"(227362110.0, 227806500.0, 227612860.0, 227408...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
14,"(227002330.0, 227730220.0, 244630187.0, 227362...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
15,"(227362110.0, 227298110.0, 227806500.0, 227612...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
16,"(244630187.0, 227362110.0, 227298110.0, 227806...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
17,"(227002330.0, 227730220.0, 244630187.0, 227362...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
18,"(227730220.0, 244630187.0, 227362110.0, 227298...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
19,"(227730220.0, 227362110.0, 227298110.0, 227806...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
20,"(227002330.0, 227730220.0, 244630187.0, 227362...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
21,"(227569380.0, 227611930.0, 227322670.0, 227641...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
22,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 08:00:00,2016-03-01 08:00:00,1
23,"(227589520.0, 227303430.0)",2016-03-01 08:00:00,2016-03-01 08:00:00,1
24,"(227002330.0, 227006750.0, 227008170.0, 227016...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
25,"(227002330.0, 227006750.0, 227016100.0, 227270...",2016-03-01 08:00:00,2016-03-01 08:00:00,1
26,"(249297000.0, 477115900.0)",2016-03-01 08:00:00,2016-03-01 08:00:00,1

,clusters,st,et,dur
0,"(227270000.0, 227008170.0, 227016100.0, 227006...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
1,"(227270000.0, 227222000.0, 227016100.0, 227006...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
2,"(227650230.0, 227322690.0, 227611930.0, 227641...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
3,"(227650230.0, 227322690.0, 227611930.0, 227641...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
4,"(227650230.0, 227640710.0, 227631450.0, 227322...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
5,"(227650230.0, 227631450.0, 227322690.0, 227611...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
6,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:01:00,2016-03-01 08:01:00,1
7,"(477115900.0, 249297000.0)",2016-03-01 08:01:00,2016-03-01 08:01:00,1
8,"(228064900.0, 228186700.0)",2016-03-01 08:01:00,2016-03-01 08:01:00,1
9,"(227322690.0, 227569380.0, 227611930.0, 227641...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
10,"(227589520.0, 227666970.0, 227315110.0, 227113...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
11,"(227589520.0, 227303430.0, 227654220.0, 227632...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
12,"(227666970.0, 227315110.0, 227113100.0, 227621...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
13,"(227636480.0, 227762340.0)",2016-03-01 08:01:00,2016-03-01 08:01:00,1
14,"(220417000.0, 228005700.0)",2016-03-01 08:01:00,2016-03-01 08:01:00,1
15,"(227408710.0, 227369960.0, 227008170.0, 227088...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
16,"(227574020.0, 227408710.0, 227369960.0, 227635...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
17,"(227408710.0, 227369960.0, 227635210.0, 228796...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
18,"(227408710.0, 227592820.0, 227369960.0, 227008...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
19,"(227408710.0, 227369960.0, 227088590.0, 228796...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
20,"(227408710.0, 227369960.0, 228796000.0, 227612...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
21,"(227574020.0, 227148000.0, 227408710.0, 227635...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
22,"(227369960.0, 227008170.0, 227088590.0, 227016...",2016-03-01 08:01:00,2016-03-01 08:01:00,1

,clusters,st,et,dur
0,"(227636480.0, 227762340.0)",2016-03-01 07:58:00,2016-03-01 08:01:00,4
1,"(227636480.0, 227762340.0)",2016-03-01 07:59:00,2016-03-01 08:01:00,3
2,"(227636480.0, 227762340.0)",2016-03-01 08:00:00,2016-03-01 08:01:00,2
3,"(220417000.0, 228005700.0)",2016-03-01 08:00:00,2016-03-01 08:01:00,2
4,"(227270000.0, 227008170.0, 227016100.0, 227006...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
5,"(227270000.0, 227222000.0, 227016100.0, 227006...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
6,"(227650230.0, 227322690.0, 227611930.0, 227641...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
7,"(227650230.0, 227322690.0, 227611930.0, 227641...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
8,"(227650230.0, 227640710.0, 227631450.0, 227322...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
9,"(227650230.0, 227631450.0, 227322690.0, 227611...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
10,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:01:00,2016-03-01 08:01:00,1
11,"(477115900.0, 249297000.0)",2016-03-01 08:01:00,2016-03-01 08:01:00,1
12,"(228064900.0, 228186700.0)",2016-03-01 08:01:00,2016-03-01 08:01:00,1
13,"(227322690.0, 227569380.0, 227611930.0, 227641...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
14,"(227589520.0, 227666970.0, 227315110.0, 227113...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
15,"(227589520.0, 227303430.0, 227654220.0, 227632...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
16,"(227666970.0, 227315110.0, 227113100.0, 227621...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
17,"(227636480.0, 227762340.0)",2016-03-01 08:01:00,2016-03-01 08:01:00,1
18,"(220417000.0, 228005700.0)",2016-03-01 08:01:00,2016-03-01 08:01:00,1
19,"(227408710.0, 227369960.0, 227008170.0, 227088...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
20,"(227574020.0, 227408710.0, 227369960.0, 227635...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
21,"(227408710.0, 227369960.0, 227635210.0, 228796...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
22,"(227408710.0, 227592820.0, 227369960.0, 227008...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
23,"(227408710.0, 227369960.0, 227088590.0, 228796...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
24,"(227408710.0, 227369960.0, 228796000.0, 227612...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
25,"(227574020.0, 227148000.0, 227408710.0, 227635...",2016-03-01 08:01:00,2016-03-01 08:01:00,1
26,"(227369960.0, 227008170.0, 227088590.0, 227016...",2016-03-01 08:01:00,2016-03-01 08:01:00,1

,clusters,st,et,dur
0,"(227654220.0, 227666970.0, 227588970.0, 227621...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
1,"(227654220.0, 227588970.0, 227589520.0, 227303...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
2,"(227362110.0, 227016100.0, 227730220.0, 227088...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
3,"(227362110.0, 227612860.0, 227298110.0, 227635...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
4,"(227362110.0, 227298110.0, 227635210.0, 244630...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
5,"(227362110.0, 227730220.0, 227612860.0, 227298...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
6,"(227362110.0, 227730220.0, 227088590.0, 227298...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
7,"(227362110.0, 227730220.0, 227088590.0, 227298...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
8,"(227362110.0, 227730220.0, 227088590.0, 227298...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
9,"(227362110.0, 227612860.0, 227635210.0, 227806...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
10,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 08:02:00,2016-03-01 08:02:00,1
11,"(227578460.0, 227686540.0, 227611930.0, 227641...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
12,"(227578460.0, 227686540.0, 227690560.0, 227640...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
13,"(227578460.0, 227686540.0, 227611930.0, 227690...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
14,"(227578460.0, 227611930.0, 227641920.0, 227322...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
15,"(227578460.0, 227611930.0, 227590030.0, 227641...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
16,"(249297000.0, 477115900.0)",2016-03-01 08:02:00,2016-03-01 08:02:00,1
17,"(227762340.0, 227636480.0)",2016-03-01 08:02:00,2016-03-01 08:02:00,1
18,"(220417000.0, 228005700.0)",2016-03-01 08:02:00,2016-03-01 08:02:00,1
19,"(228186700.0, 228064900.0)",2016-03-01 08:02:00,2016-03-01 08:02:00,1
20,"(227016100.0, 227002330.0, 227222000.0, 227006...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
21,"(227016100.0, 227002330.0, 227008170.0, 227006...",2016-03-01 08:02:00,2016-03-01 08:02:00,1

,clusters,st,et,dur
0,"(220417000.0, 228005700.0)",2016-03-01 08:00:00,2016-03-01 08:02:00,3
1,"(220417000.0, 228005700.0)",2016-03-01 08:01:00,2016-03-01 08:02:00,2
2,"(227654220.0, 227666970.0, 227588970.0, 227621...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
3,"(227654220.0, 227588970.0, 227589520.0, 227303...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
4,"(227362110.0, 227016100.0, 227730220.0, 227088...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
5,"(227362110.0, 227612860.0, 227298110.0, 227635...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
6,"(227362110.0, 227298110.0, 227635210.0, 244630...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
7,"(227362110.0, 227730220.0, 227612860.0, 227298...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
8,"(227362110.0, 227730220.0, 227088590.0, 227298...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
9,"(227362110.0, 227730220.0, 227088590.0, 227298...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
10,"(227362110.0, 227730220.0, 227088590.0, 227298...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
11,"(227362110.0, 227612860.0, 227635210.0, 227806...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
12,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 08:02:00,2016-03-01 08:02:00,1
13,"(227578460.0, 227686540.0, 227611930.0, 227641...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
14,"(227578460.0, 227686540.0, 227690560.0, 227640...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
15,"(227578460.0, 227686540.0, 227611930.0, 227690...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
16,"(227578460.0, 227611930.0, 227641920.0, 227322...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
17,"(227578460.0, 227611930.0, 227590030.0, 227641...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
18,"(249297000.0, 477115900.0)",2016-03-01 08:02:00,2016-03-01 08:02:00,1
19,"(227762340.0, 227636480.0)",2016-03-01 08:02:00,2016-03-01 08:02:00,1
20,"(220417000.0, 228005700.0)",2016-03-01 08:02:00,2016-03-01 08:02:00,1
21,"(228186700.0, 228064900.0)",2016-03-01 08:02:00,2016-03-01 08:02:00,1
22,"(227016100.0, 227002330.0, 227222000.0, 227006...",2016-03-01 08:02:00,2016-03-01 08:02:00,1
23,"(227016100.0, 227002330.0, 227008170.0, 227006...",2016-03-01 08:02:00,2016-03-01 08:02:00,1

,clusters,st,et,dur
0,"(227631450.0, 227639660.0, 227650230.0, 227640...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
1,"(227639660.0, 227650230.0, 227640710.0, 227686...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
2,"(227632830.0, 227666970.0, 227303430.0, 227589...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
3,"(227632830.0, 227666970.0, 227315110.0, 227113...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
4,"(228005700.0, 220417000.0)",2016-03-01 08:03:00,2016-03-01 08:03:00,1
5,"(227590030.0, 227322670.0, 227569380.0, 227641...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
6,"(227650230.0, 227640710.0, 227686540.0, 227322...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
7,"(227650230.0, 227569380.0, 227686540.0, 227322...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
8,"(227650230.0, 227322670.0, 227569380.0, 227641...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
9,"(227650230.0, 227569380.0, 227641920.0, 227686...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
10,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:03:00,2016-03-01 08:03:00,1
11,"(228064900.0, 228186700.0)",2016-03-01 08:03:00,2016-03-01 08:03:00,1
12,"(227222000.0, 227006750.0, 227270000.0, 227002...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
13,"(249297000.0, 477115900.0)",2016-03-01 08:03:00,2016-03-01 08:03:00,1
14,"(227008170.0, 227006750.0, 227270000.0, 227002...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
15,"(227148000.0, 228796000.0, 227408710.0, 227635...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
16,"(227369960.0, 227008170.0, 227408710.0, 227006...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
17,"(227369960.0, 227008170.0, 227408710.0, 227362...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
18,"(227369960.0, 228796000.0, 227408710.0, 227362...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
19,"(227369960.0, 228796000.0, 227408710.0, 227635...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
20,"(227369960.0, 228796000.0, 227408710.0, 227635...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
21,"(227369960.0, 228796000.0, 227408710.0, 227612...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
22,"(227369960.0, 227008170.0, 227006750.0, 227362...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
23,"(227636480.0, 227762340.0)",2016-03-01 08:03:00,2016-03-01 08:03:00,1

,clusters,st,et,dur
0,"(249297000.0, 477115900.0)",2016-03-01 08:02:00,2016-03-01 08:03:00,2
1,"(227631450.0, 227639660.0, 227650230.0, 227640...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
2,"(227639660.0, 227650230.0, 227640710.0, 227686...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
3,"(227632830.0, 227666970.0, 227303430.0, 227589...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
4,"(227632830.0, 227666970.0, 227315110.0, 227113...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
5,"(228005700.0, 220417000.0)",2016-03-01 08:03:00,2016-03-01 08:03:00,1
6,"(227590030.0, 227322670.0, 227569380.0, 227641...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
7,"(227650230.0, 227640710.0, 227686540.0, 227322...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
8,"(227650230.0, 227569380.0, 227686540.0, 227322...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
9,"(227650230.0, 227322670.0, 227569380.0, 227641...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
10,"(227650230.0, 227569380.0, 227641920.0, 227686...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
11,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:03:00,2016-03-01 08:03:00,1
12,"(228064900.0, 228186700.0)",2016-03-01 08:03:00,2016-03-01 08:03:00,1
13,"(227222000.0, 227006750.0, 227270000.0, 227002...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
14,"(249297000.0, 477115900.0)",2016-03-01 08:03:00,2016-03-01 08:03:00,1
15,"(227008170.0, 227006750.0, 227270000.0, 227002...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
16,"(227148000.0, 228796000.0, 227408710.0, 227635...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
17,"(227369960.0, 227008170.0, 227408710.0, 227006...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
18,"(227369960.0, 227008170.0, 227408710.0, 227362...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
19,"(227369960.0, 228796000.0, 227408710.0, 227362...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
20,"(227369960.0, 228796000.0, 227408710.0, 227635...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
21,"(227369960.0, 228796000.0, 227408710.0, 227635...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
22,"(227369960.0, 228796000.0, 227408710.0, 227612...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
23,"(227369960.0, 227008170.0, 227006750.0, 227362...",2016-03-01 08:03:00,2016-03-01 08:03:00,1
24,"(227636480.0, 227762340.0)",2016-03-01 08:03:00,2016-03-01 08:03:00,1

,clusters,st,et,dur
0,"(227589520.0, 227621940.0, 227113100.0, 227632...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
1,"(227589520.0, 227621940.0, 227632830.0, 227654...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
2,"(227589520.0, 227621940.0, 227303430.0, 227632...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
3,"(227640190.0, 227113100.0, 227315110.0)",2016-03-01 08:04:00,2016-03-01 08:04:00,1
4,"(227569380.0, 227686540.0, 227690560.0, 227650...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
5,"(227569380.0, 227686540.0, 227690560.0, 227650...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
6,"(227569380.0, 227686540.0, 227690560.0, 227650...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
7,"(227569380.0, 227578460.0, 227641920.0, 227590...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
8,"(227569380.0, 227686540.0, 227650230.0, 227578...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
9,"(227569380.0, 227650230.0, 227578460.0, 227641...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
10,"(227016100.0, 227222000.0, 227006750.0, 227002...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
11,"(227762340.0, 227636480.0)",2016-03-01 08:04:00,2016-03-01 08:04:00,1
12,"(227686540.0, 227690560.0, 227631450.0, 227640...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
13,"(249297000.0, 477115900.0)",2016-03-01 08:04:00,2016-03-01 08:04:00,1
14,"(228005700.0, 220417000.0)",2016-03-01 08:04:00,2016-03-01 08:04:00,1
15,"(227016100.0, 227369960.0, 227362110.0, 227088...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
16,"(227369960.0, 227362110.0, 227408710.0, 227088...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
17,"(228796000.0, 227369960.0, 227362110.0, 227408...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
18,"(228796000.0, 227369960.0, 227362110.0, 227408...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
19,"(228796000.0, 227369960.0, 227362110.0, 227408...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
20,"(228796000.0, 227369960.0, 227362110.0, 227408...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
21,"(227369960.0, 227362110.0, 227408710.0, 227088...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
22,"(227148000.0, 228796000.0, 227362110.0, 227408...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
23,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 08:04:00,2016-03-01 08:04:00,1
24,"(227016100.0, 227008170.0, 227006750.0, 227002...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
25,"(228064900.0, 228186700.0)",2016-03-01 08:04:00,2016-03-01 08:04:00,1

,clusters,st,et,dur
0,"(249297000.0, 477115900.0)",2016-03-01 08:02:00,2016-03-01 08:04:00,3
1,"(228005700.0, 220417000.0)",2016-03-01 08:03:00,2016-03-01 08:04:00,2
2,"(228064900.0, 228186700.0)",2016-03-01 08:03:00,2016-03-01 08:04:00,2
3,"(249297000.0, 477115900.0)",2016-03-01 08:03:00,2016-03-01 08:04:00,2
4,"(227589520.0, 227621940.0, 227113100.0, 227632...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
5,"(227589520.0, 227621940.0, 227632830.0, 227654...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
6,"(227589520.0, 227621940.0, 227303430.0, 227632...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
7,"(227640190.0, 227113100.0, 227315110.0)",2016-03-01 08:04:00,2016-03-01 08:04:00,1
8,"(227569380.0, 227686540.0, 227690560.0, 227650...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
9,"(227569380.0, 227686540.0, 227690560.0, 227650...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
10,"(227569380.0, 227686540.0, 227690560.0, 227650...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
11,"(227569380.0, 227578460.0, 227641920.0, 227590...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
12,"(227569380.0, 227686540.0, 227650230.0, 227578...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
13,"(227569380.0, 227650230.0, 227578460.0, 227641...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
14,"(227016100.0, 227222000.0, 227006750.0, 227002...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
15,"(227762340.0, 227636480.0)",2016-03-01 08:04:00,2016-03-01 08:04:00,1
16,"(227686540.0, 227690560.0, 227631450.0, 227640...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
17,"(249297000.0, 477115900.0)",2016-03-01 08:04:00,2016-03-01 08:04:00,1
18,"(228005700.0, 220417000.0)",2016-03-01 08:04:00,2016-03-01 08:04:00,1
19,"(227016100.0, 227369960.0, 227362110.0, 227088...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
20,"(227369960.0, 227362110.0, 227408710.0, 227088...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
21,"(228796000.0, 227369960.0, 227362110.0, 227408...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
22,"(228796000.0, 227369960.0, 227362110.0, 227408...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
23,"(228796000.0, 227369960.0, 227362110.0, 227408...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
24,"(228796000.0, 227369960.0, 227362110.0, 227408...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
25,"(227369960.0, 227362110.0, 227408710.0, 227088...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
26,"(227148000.0, 228796000.0, 227362110.0, 227408...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
27,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 08:04:00,2016-03-01 08:04:00,1
28,"(227016100.0, 227008170.0, 227006750.0, 227002...",2016-03-01 08:04:00,2016-03-01 08:04:00,1
29,"(228064900.0, 228186700.0)",2016-03-01 08:04:00,2016-03-01 08:04:00,1

,clusters,st,et,dur
0,"(227578460.0, 227686540.0, 227569380.0, 227640...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
1,"(227578460.0, 227611930.0, 227322670.0, 227641...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
2,"(227578460.0, 227686540.0, 227569380.0, 227611...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
3,"(227578460.0, 227569380.0, 227611930.0, 227322...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
4,"(227578460.0, 227611930.0, 227322670.0, 227641...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
5,"(227686540.0, 227569380.0, 227640710.0, 227322...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
6,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 08:05:00,2016-03-01 08:05:00,1
7,"(227636480.0, 227762340.0)",2016-03-01 08:05:00,2016-03-01 08:05:00,1
8,"(227589520.0, 227621940.0, 227303430.0, 227315...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
9,"(227589520.0, 227621940.0, 227303430.0, 227315...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
10,"(227589520.0, 227621940.0, 227303430.0, 227588...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
11,"(228064900.0, 228186700.0)",2016-03-01 08:05:00,2016-03-01 08:05:00,1
12,"(227640710.0, 227690560.0, 227631450.0, 227639...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
13,"(227640190.0, 227315110.0, 227632830.0, 227113...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
14,"(477115900.0, 249297000.0)",2016-03-01 08:05:00,2016-03-01 08:05:00,1
15,"(227635210.0, 227612860.0, 227408710.0, 227806...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
16,"(227730220.0, 227408710.0, 227002330.0, 227362...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
17,"(227635210.0, 227612860.0, 227408710.0, 227806...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
18,"(227612860.0, 227730220.0, 227408710.0, 227806...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
19,"(227730220.0, 227408710.0, 227002330.0, 227806...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
20,"(227730220.0, 227408710.0, 227806500.0, 227362...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
21,"(227635210.0, 227408710.0, 227806500.0, 227362...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
22,"(227016100.0, 227730220.0, 227002330.0, 227362...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
23,"(228005700.0, 220417000.0)",2016-03-01 08:05:00,2016-03-01 08:05:00,1
24,"(227016100.0, 227002330.0, 227270000.0, 227006...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
25,"(227016100.0, 227002330.0, 227008170.0, 227270...",2016-03-01 08:05:00,2016-03-01 08:05:00,1

,clusters,st,et,dur
0,"(228005700.0, 220417000.0)",2016-03-01 08:03:00,2016-03-01 08:05:00,3
1,"(228064900.0, 228186700.0)",2016-03-01 08:03:00,2016-03-01 08:05:00,3
2,"(228005700.0, 220417000.0)",2016-03-01 08:04:00,2016-03-01 08:05:00,2
3,"(228064900.0, 228186700.0)",2016-03-01 08:04:00,2016-03-01 08:05:00,2
4,"(227578460.0, 227686540.0, 227569380.0, 227640...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
5,"(227578460.0, 227611930.0, 227322670.0, 227641...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
6,"(227578460.0, 227686540.0, 227569380.0, 227611...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
7,"(227578460.0, 227569380.0, 227611930.0, 227322...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
8,"(227578460.0, 227611930.0, 227322670.0, 227641...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
9,"(227686540.0, 227569380.0, 227640710.0, 227322...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
10,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 08:05:00,2016-03-01 08:05:00,1
11,"(227636480.0, 227762340.0)",2016-03-01 08:05:00,2016-03-01 08:05:00,1
12,"(227589520.0, 227621940.0, 227303430.0, 227315...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
13,"(227589520.0, 227621940.0, 227303430.0, 227315...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
14,"(227589520.0, 227621940.0, 227303430.0, 227588...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
15,"(228064900.0, 228186700.0)",2016-03-01 08:05:00,2016-03-01 08:05:00,1
16,"(227640710.0, 227690560.0, 227631450.0, 227639...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
17,"(227640190.0, 227315110.0, 227632830.0, 227113...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
18,"(477115900.0, 249297000.0)",2016-03-01 08:05:00,2016-03-01 08:05:00,1
19,"(227635210.0, 227612860.0, 227408710.0, 227806...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
20,"(227730220.0, 227408710.0, 227002330.0, 227362...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
21,"(227635210.0, 227612860.0, 227408710.0, 227806...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
22,"(227612860.0, 227730220.0, 227408710.0, 227806...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
23,"(227730220.0, 227408710.0, 227002330.0, 227806...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
24,"(227730220.0, 227408710.0, 227806500.0, 227362...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
25,"(227635210.0, 227408710.0, 227806500.0, 227362...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
26,"(227016100.0, 227730220.0, 227002330.0, 227362...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
27,"(228005700.0, 220417000.0)",2016-03-01 08:05:00,2016-03-01 08:05:00,1
28,"(227016100.0, 227002330.0, 227270000.0, 227006...",2016-03-01 08:05:00,2016-03-01 08:05:00,1
29,"(227016100.0, 227002330.0, 227008170.0, 227270...",2016-03-01 08:05:00,2016-03-01 08:05:00,1

,clusters,st,et,dur
0,"(227650230.0, 227686540.0, 227322690.0, 227640...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
1,"(227650230.0, 227578460.0, 227611930.0, 227641...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
2,"(227650230.0, 227686540.0, 227322690.0, 227640...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
3,"(227650230.0, 227686540.0, 227322690.0, 227640...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
4,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:06:00,2016-03-01 08:06:00,1
5,"(227636480.0, 227762340.0)",2016-03-01 08:06:00,2016-03-01 08:06:00,1
6,"(227113100.0, 227589520.0, 227303430.0, 227621...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
7,"(227113100.0, 227589520.0, 227640190.0, 227632...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
8,"(227589520.0, 227303430.0, 227621940.0, 227654...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
9,"(227631450.0, 227690560.0, 227639660.0)",2016-03-01 08:06:00,2016-03-01 08:06:00,1
10,"(249297000.0, 477115900.0)",2016-03-01 08:06:00,2016-03-01 08:06:00,1
11,"(227270000.0, 227002330.0, 227006750.0, 227222...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
12,"(227270000.0, 227008170.0, 227002330.0, 227006...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
13,"(227322670.0, 227578460.0, 227611930.0, 227641...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
14,"(227303430.0, 227621940.0, 227588970.0, 227654...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
15,"(228186700.0, 228064900.0)",2016-03-01 08:06:00,2016-03-01 08:06:00,1
16,"(227088590.0, 227008170.0, 227002330.0, 227369...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
17,"(227635210.0, 227574020.0, 227369960.0, 227806...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
18,"(227369960.0, 227806500.0, 228796000.0, 227408...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
19,"(227088590.0, 227592820.0, 227008170.0, 227002...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
20,"(227088590.0, 227369960.0, 227806500.0, 228796...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
21,"(227635210.0, 227369960.0, 227806500.0, 228796...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
22,"(227088590.0, 227008170.0, 227002330.0, 227369...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
23,"(227635210.0, 227574020.0, 227806500.0, 228796...",2016-03-01 08:06:00,2016-03-01 08:06:00,1

,clusters,st,et,dur
0,"(227636480.0, 227762340.0)",2016-03-01 08:05:00,2016-03-01 08:06:00,2
1,"(227650230.0, 227686540.0, 227322690.0, 227640...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
2,"(227650230.0, 227578460.0, 227611930.0, 227641...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
3,"(227650230.0, 227686540.0, 227322690.0, 227640...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
4,"(227650230.0, 227686540.0, 227322690.0, 227640...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
5,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:06:00,2016-03-01 08:06:00,1
6,"(227636480.0, 227762340.0)",2016-03-01 08:06:00,2016-03-01 08:06:00,1
7,"(227113100.0, 227589520.0, 227303430.0, 227621...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
8,"(227113100.0, 227589520.0, 227640190.0, 227632...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
9,"(227589520.0, 227303430.0, 227621940.0, 227654...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
10,"(227631450.0, 227690560.0, 227639660.0)",2016-03-01 08:06:00,2016-03-01 08:06:00,1
11,"(249297000.0, 477115900.0)",2016-03-01 08:06:00,2016-03-01 08:06:00,1
12,"(227270000.0, 227002330.0, 227006750.0, 227222...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
13,"(227270000.0, 227008170.0, 227002330.0, 227006...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
14,"(227322670.0, 227578460.0, 227611930.0, 227641...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
15,"(227303430.0, 227621940.0, 227588970.0, 227654...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
16,"(228186700.0, 228064900.0)",2016-03-01 08:06:00,2016-03-01 08:06:00,1
17,"(227088590.0, 227008170.0, 227002330.0, 227369...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
18,"(227635210.0, 227574020.0, 227369960.0, 227806...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
19,"(227369960.0, 227806500.0, 228796000.0, 227408...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
20,"(227088590.0, 227592820.0, 227008170.0, 227002...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
21,"(227088590.0, 227369960.0, 227806500.0, 228796...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
22,"(227635210.0, 227369960.0, 227806500.0, 228796...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
23,"(227088590.0, 227008170.0, 227002330.0, 227369...",2016-03-01 08:06:00,2016-03-01 08:06:00,1
24,"(227635210.0, 227574020.0, 227806500.0, 228796...",2016-03-01 08:06:00,2016-03-01 08:06:00,1

,clusters,st,et,dur
0,"(227222000.0, 227270000.0, 227002330.0, 227006...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
1,"(227590030.0, 227322670.0, 227641920.0)",2016-03-01 08:07:00,2016-03-01 08:07:00,1
2,"(227631450.0, 227639660.0, 227322690.0, 227690...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
3,"(227113100.0, 227315110.0, 227632830.0, 227654...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
4,"(227113100.0, 227315110.0, 227632830.0, 227303...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
5,"(227650230.0, 227569380.0, 227611930.0, 227639...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
6,"(228064900.0, 228186700.0)",2016-03-01 08:07:00,2016-03-01 08:07:00,1
7,"(227806500.0, 227408710.0, 227362110.0, 227574...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
8,"(227806500.0, 244630187.0, 227408710.0, 227362...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
9,"(227806500.0, 244630187.0, 227408710.0, 227362...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
10,"(227806500.0, 244630187.0, 227408710.0, 227362...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
11,"(227806500.0, 227408710.0, 227362110.0, 227298...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
12,"(244630187.0, 227408710.0, 227362110.0, 227298...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
13,"(244630187.0, 227362110.0, 227298110.0, 227008...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
14,"(227806500.0, 227408710.0, 227362110.0, 227574...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
15,"(227315110.0, 227666970.0, 227654220.0, 227621...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
16,"(227270000.0, 227008170.0, 227002330.0, 227006...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
17,"(227666970.0, 227588970.0, 227654220.0, 227621...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
18,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:07:00,2016-03-01 08:07:00,1
19,"(477115900.0, 249297000.0)",2016-03-01 08:07:00,2016-03-01 08:07:00,1
20,"(227611930.0, 227578460.0, 227641920.0)",2016-03-01 08:07:00,2016-03-01 08:07:00,1
21,"(227636480.0, 227762340.0)",2016-03-01 08:07:00,2016-03-01 08:07:00,1

,clusters,st,et,dur
0,"(227636480.0, 227762340.0)",2016-03-01 08:05:00,2016-03-01 08:07:00,3
1,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:06:00,2016-03-01 08:07:00,2
2,"(227636480.0, 227762340.0)",2016-03-01 08:06:00,2016-03-01 08:07:00,2
3,"(227270000.0, 227008170.0, 227002330.0, 227006...",2016-03-01 08:06:00,2016-03-01 08:07:00,2
4,"(227222000.0, 227270000.0, 227002330.0, 227006...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
5,"(227590030.0, 227322670.0, 227641920.0)",2016-03-01 08:07:00,2016-03-01 08:07:00,1
6,"(227631450.0, 227639660.0, 227322690.0, 227690...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
7,"(227113100.0, 227315110.0, 227632830.0, 227654...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
8,"(227113100.0, 227315110.0, 227632830.0, 227303...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
9,"(227650230.0, 227569380.0, 227611930.0, 227639...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
10,"(228064900.0, 228186700.0)",2016-03-01 08:07:00,2016-03-01 08:07:00,1
11,"(227806500.0, 227408710.0, 227362110.0, 227574...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
12,"(227806500.0, 244630187.0, 227408710.0, 227362...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
13,"(227806500.0, 244630187.0, 227408710.0, 227362...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
14,"(227806500.0, 244630187.0, 227408710.0, 227362...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
15,"(227806500.0, 227408710.0, 227362110.0, 227298...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
16,"(244630187.0, 227408710.0, 227362110.0, 227298...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
17,"(244630187.0, 227362110.0, 227298110.0, 227008...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
18,"(227806500.0, 227408710.0, 227362110.0, 227574...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
19,"(227315110.0, 227666970.0, 227654220.0, 227621...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
20,"(227270000.0, 227008170.0, 227002330.0, 227006...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
21,"(227666970.0, 227588970.0, 227654220.0, 227621...",2016-03-01 08:07:00,2016-03-01 08:07:00,1
22,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:07:00,2016-03-01 08:07:00,1
23,"(477115900.0, 249297000.0)",2016-03-01 08:07:00,2016-03-01 08:07:00,1
24,"(227611930.0, 227578460.0, 227641920.0)",2016-03-01 08:07:00,2016-03-01 08:07:00,1
25,"(227636480.0, 227762340.0)",2016-03-01 08:07:00,2016-03-01 08:07:00,1

,clusters,st,et,dur
0,"(227322670.0, 227641920.0, 227590030.0)",2016-03-01 08:08:00,2016-03-01 08:08:00,1
1,"(227588970.0, 227666970.0, 227654220.0, 227315...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
2,"(227639660.0, 227578460.0, 227322690.0, 227611...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
3,"(227639660.0, 227631450.0, 227322690.0, 227690...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
4,"(227641920.0, 227611930.0)",2016-03-01 08:08:00,2016-03-01 08:08:00,1
5,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:08:00,2016-03-01 08:08:00,1
6,"(227612860.0, 227408710.0, 227635210.0, 227362...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
7,"(227408710.0, 227088590.0, 227730220.0, 227362...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
8,"(227612860.0, 227408710.0, 227635210.0, 227362...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
9,"(227612860.0, 227408710.0, 227730220.0, 227362...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
10,"(227408710.0, 227088590.0, 227730220.0, 227362...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
11,"(227408710.0, 227088590.0, 227730220.0, 227362...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
12,"(227408710.0, 227635210.0, 227362110.0, 227298...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
13,"(227088590.0, 227730220.0, 227362110.0, 227298...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
14,"(227654220.0, 227315110.0, 227113100.0, 227303...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
15,"(227632830.0, 227113100.0, 227303430.0, 227589...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
16,"(227270000.0, 227006750.0, 227002330.0, 227222...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
17,"(227270000.0, 227006750.0, 227008170.0, 227002...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
18,"(477115900.0, 249297000.0)",2016-03-01 08:08:00,2016-03-01 08:08:00,1
19,"(228064900.0, 228186700.0)",2016-03-01 08:08:00,2016-03-01 08:08:00,1
20,"(227636480.0, 227762340.0)",2016-03-01 08:08:00,2016-03-01 08:08:00,1

,clusters,st,et,dur
0,"(227636480.0, 227762340.0)",2016-03-01 08:05:00,2016-03-01 08:08:00,4
1,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:06:00,2016-03-01 08:08:00,3
2,"(227636480.0, 227762340.0)",2016-03-01 08:06:00,2016-03-01 08:08:00,3
3,"(228064900.0, 228186700.0)",2016-03-01 08:07:00,2016-03-01 08:08:00,2
4,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:07:00,2016-03-01 08:08:00,2
5,"(477115900.0, 249297000.0)",2016-03-01 08:07:00,2016-03-01 08:08:00,2
6,"(227636480.0, 227762340.0)",2016-03-01 08:07:00,2016-03-01 08:08:00,2
7,"(227322670.0, 227641920.0, 227590030.0)",2016-03-01 08:08:00,2016-03-01 08:08:00,1
8,"(227588970.0, 227666970.0, 227654220.0, 227315...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
9,"(227639660.0, 227578460.0, 227322690.0, 227611...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
10,"(227639660.0, 227631450.0, 227322690.0, 227690...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
11,"(227641920.0, 227611930.0)",2016-03-01 08:08:00,2016-03-01 08:08:00,1
12,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:08:00,2016-03-01 08:08:00,1
13,"(227612860.0, 227408710.0, 227635210.0, 227362...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
14,"(227408710.0, 227088590.0, 227730220.0, 227362...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
15,"(227612860.0, 227408710.0, 227635210.0, 227362...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
16,"(227612860.0, 227408710.0, 227730220.0, 227362...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
17,"(227408710.0, 227088590.0, 227730220.0, 227362...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
18,"(227408710.0, 227088590.0, 227730220.0, 227362...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
19,"(227408710.0, 227635210.0, 227362110.0, 227298...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
20,"(227088590.0, 227730220.0, 227362110.0, 227298...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
21,"(227654220.0, 227315110.0, 227113100.0, 227303...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
22,"(227632830.0, 227113100.0, 227303430.0, 227589...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
23,"(227270000.0, 227006750.0, 227002330.0, 227222...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
24,"(227270000.0, 227006750.0, 227008170.0, 227002...",2016-03-01 08:08:00,2016-03-01 08:08:00,1
25,"(477115900.0, 249297000.0)",2016-03-01 08:08:00,2016-03-01 08:08:00,1
26,"(228064900.0, 228186700.0)",2016-03-01 08:08:00,2016-03-01 08:08:00,1
27,"(227636480.0, 227762340.0)",2016-03-01 08:08:00,2016-03-01 08:08:00,1

,clusters,st,et,dur
0,"(227611930.0, 227641920.0, 227640710.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1
1,"(227611930.0, 227650230.0, 227322690.0, 227569...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
2,"(227322670.0, 227641920.0, 227590030.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1
3,"(227632830.0, 227621940.0, 227303430.0, 227640...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
4,"(227270000.0, 227222000.0, 227006750.0, 227002...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
5,"(227270000.0, 227006750.0, 227002330.0, 227008...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
6,"(477115900.0, 249297000.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1
7,"(227113100.0, 227621940.0, 227315110.0, 227640...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
8,"(227113100.0, 227621940.0, 227303430.0, 227640...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
9,"(227113100.0, 227315110.0, 227588970.0, 227654...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
10,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1
11,"(227650230.0, 227631450.0, 227322690.0, 227569...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
12,"(220417000.0, 228005700.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1
13,"(227369960.0, 227362110.0, 227088590.0, 227730...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
14,"(227369960.0, 227362110.0, 227088590.0, 227730...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
15,"(227612860.0, 228796000.0, 227369960.0, 227362...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
16,"(227612860.0, 227635210.0, 228796000.0, 227369...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
17,"(228796000.0, 227369960.0, 227362110.0, 227088...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
18,"(227369960.0, 227362110.0, 227088590.0, 227806...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
19,"(227635210.0, 228796000.0, 227369960.0, 227362...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
20,"(227612860.0, 227635210.0, 227148000.0, 228796...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
21,"(228064900.0, 228186700.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1
22,"(227315110.0, 227666970.0, 227588970.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1
23,"(227762340.0, 227636480.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1

,clusters,st,et,dur
0,"(228064900.0, 228186700.0)",2016-03-01 08:07:00,2016-03-01 08:09:00,3
1,"(477115900.0, 249297000.0)",2016-03-01 08:07:00,2016-03-01 08:09:00,3
2,"(227322670.0, 227641920.0, 227590030.0)",2016-03-01 08:08:00,2016-03-01 08:09:00,2
3,"(477115900.0, 249297000.0)",2016-03-01 08:08:00,2016-03-01 08:09:00,2
4,"(228064900.0, 228186700.0)",2016-03-01 08:08:00,2016-03-01 08:09:00,2
5,"(227611930.0, 227641920.0, 227640710.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1
6,"(227611930.0, 227650230.0, 227322690.0, 227569...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
7,"(227322670.0, 227641920.0, 227590030.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1
8,"(227632830.0, 227621940.0, 227303430.0, 227640...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
9,"(227270000.0, 227222000.0, 227006750.0, 227002...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
10,"(227270000.0, 227006750.0, 227002330.0, 227008...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
11,"(477115900.0, 249297000.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1
12,"(227113100.0, 227621940.0, 227315110.0, 227640...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
13,"(227113100.0, 227621940.0, 227303430.0, 227640...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
14,"(227113100.0, 227315110.0, 227588970.0, 227654...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
15,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1
16,"(227650230.0, 227631450.0, 227322690.0, 227569...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
17,"(220417000.0, 228005700.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1
18,"(227369960.0, 227362110.0, 227088590.0, 227730...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
19,"(227369960.0, 227362110.0, 227088590.0, 227730...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
20,"(227612860.0, 228796000.0, 227369960.0, 227362...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
21,"(227612860.0, 227635210.0, 228796000.0, 227369...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
22,"(228796000.0, 227369960.0, 227362110.0, 227088...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
23,"(227369960.0, 227362110.0, 227088590.0, 227806...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
24,"(227635210.0, 228796000.0, 227369960.0, 227362...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
25,"(227612860.0, 227635210.0, 227148000.0, 228796...",2016-03-01 08:09:00,2016-03-01 08:09:00,1
26,"(228064900.0, 228186700.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1
27,"(227315110.0, 227666970.0, 227588970.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1
28,"(227762340.0, 227636480.0)",2016-03-01 08:09:00,2016-03-01 08:09:00,1

,clusters,st,et,dur
0,"(227588970.0, 227666970.0, 227113100.0, 227315...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
1,"(227270000.0, 227002330.0, 227006750.0, 227008...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
2,"(227270000.0, 227002330.0, 227006750.0, 227016...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
3,"(227590030.0, 227322670.0, 227641920.0)",2016-03-01 08:10:00,2016-03-01 08:10:00,1
4,"(249297000.0, 477115900.0)",2016-03-01 08:10:00,2016-03-01 08:10:00,1
5,"(227578460.0, 227631450.0, 227639660.0, 227690...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
6,"(227578460.0, 227639660.0, 227640710.0, 227641...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
7,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 08:10:00,2016-03-01 08:10:00,1
8,"(227640190.0, 227113100.0, 227621940.0, 227315...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
9,"(227640190.0, 227303430.0, 227621940.0, 227654...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
10,"(227640190.0, 227113100.0, 227621940.0, 227654...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
11,"(227640190.0, 227303430.0, 227621940.0, 227632...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
12,"(228064900.0, 228186700.0)",2016-03-01 08:10:00,2016-03-01 08:10:00,1
13,"(227762340.0, 227636480.0)",2016-03-01 08:10:00,2016-03-01 08:10:00,1
14,"(244630187.0, 227002330.0, 227369960.0, 227006...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
15,"(227408710.0, 227612860.0, 227369960.0, 227635...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
16,"(244630187.0, 227408710.0, 227369960.0, 227635...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
17,"(244630187.0, 227408710.0, 227002330.0, 227369...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
18,"(244630187.0, 227408710.0, 227369960.0, 228796...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
19,"(227408710.0, 227612860.0, 227369960.0, 228796...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
20,"(227408710.0, 227612860.0, 227635210.0, 228796...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
21,"(244630187.0, 227408710.0, 227002330.0, 227369...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
22,"(228005700.0, 220417000.0)",2016-03-01 08:10:00,2016-03-01 08:10:00,1

,clusters,st,et,dur
0,"(228064900.0, 228186700.0)",2016-03-01 08:07:00,2016-03-01 08:10:00,4
1,"(228064900.0, 228186700.0)",2016-03-01 08:08:00,2016-03-01 08:10:00,3
2,"(228064900.0, 228186700.0)",2016-03-01 08:09:00,2016-03-01 08:10:00,2
3,"(227762340.0, 227636480.0)",2016-03-01 08:09:00,2016-03-01 08:10:00,2
4,"(227588970.0, 227666970.0, 227113100.0, 227315...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
5,"(227270000.0, 227002330.0, 227006750.0, 227008...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
6,"(227270000.0, 227002330.0, 227006750.0, 227016...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
7,"(227590030.0, 227322670.0, 227641920.0)",2016-03-01 08:10:00,2016-03-01 08:10:00,1
8,"(249297000.0, 477115900.0)",2016-03-01 08:10:00,2016-03-01 08:10:00,1
9,"(227578460.0, 227631450.0, 227639660.0, 227690...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
10,"(227578460.0, 227639660.0, 227640710.0, 227641...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
11,"(227162950.0, 227142200.0, 227941000.0)",2016-03-01 08:10:00,2016-03-01 08:10:00,1
12,"(227640190.0, 227113100.0, 227621940.0, 227315...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
13,"(227640190.0, 227303430.0, 227621940.0, 227654...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
14,"(227640190.0, 227113100.0, 227621940.0, 227654...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
15,"(227640190.0, 227303430.0, 227621940.0, 227632...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
16,"(228064900.0, 228186700.0)",2016-03-01 08:10:00,2016-03-01 08:10:00,1
17,"(227762340.0, 227636480.0)",2016-03-01 08:10:00,2016-03-01 08:10:00,1
18,"(244630187.0, 227002330.0, 227369960.0, 227006...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
19,"(227408710.0, 227612860.0, 227369960.0, 227635...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
20,"(244630187.0, 227408710.0, 227369960.0, 227635...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
21,"(244630187.0, 227408710.0, 227002330.0, 227369...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
22,"(244630187.0, 227408710.0, 227369960.0, 228796...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
23,"(227408710.0, 227612860.0, 227369960.0, 228796...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
24,"(227408710.0, 227612860.0, 227635210.0, 228796...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
25,"(244630187.0, 227408710.0, 227002330.0, 227369...",2016-03-01 08:10:00,2016-03-01 08:10:00,1
26,"(228005700.0, 220417000.0)",2016-03-01 08:10:00,2016-03-01 08:10:00,1

,clusters,st,et,dur
0,"(227113100.0, 227640190.0, 227588970.0, 227654...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
1,"(227113100.0, 227621940.0, 227589520.0, 227640...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
2,"(227632830.0, 227303430.0, 227621940.0, 227589...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
3,"(227641920.0, 227639660.0, 227611930.0, 227640...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
4,"(227641920.0, 227639660.0, 227640710.0, 227322...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
5,"(227641920.0, 227590030.0, 227322670.0)",2016-03-01 08:11:00,2016-03-01 08:11:00,1
6,"(228186700.0, 228064900.0)",2016-03-01 08:11:00,2016-03-01 08:11:00,1
7,"(227762340.0, 227636480.0)",2016-03-01 08:11:00,2016-03-01 08:11:00,1
8,"(227639660.0, 227686540.0, 227631450.0, 227611...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
9,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 08:11:00,2016-03-01 08:11:00,1
10,"(227369960.0, 227730220.0, 244630187.0, 227008...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
11,"(227369960.0, 227730220.0, 244630187.0, 227008...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
12,"(227369960.0, 227574020.0, 227298110.0, 227806...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
13,"(227369960.0, 244630187.0, 227298110.0, 227806...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
14,"(227369960.0, 227730220.0, 227298110.0, 227806...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
15,"(227369960.0, 227730220.0, 244630187.0, 227592...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
16,"(227369960.0, 227730220.0, 244630187.0, 227298...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
17,"(227574020.0, 227298110.0, 227806500.0, 227408...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
18,"(227686540.0, 227631450.0, 227611930.0, 227650...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
19,"(477115900.0, 249297000.0)",2016-03-01 08:11:00,2016-03-01 08:11:00,1
20,"(220417000.0, 228005700.0)",2016-03-01 08:11:00,2016-03-01 08:11:00,1
21,"(227016100.0, 227222000.0, 227002330.0, 227270...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
22,"(227008170.0, 227016100.0, 227002330.0, 227270...",2016-03-01 08:11:00,2016-03-01 08:11:00,1

,clusters,st,et,dur
0,"(227762340.0, 227636480.0)",2016-03-01 08:09:00,2016-03-01 08:11:00,3
1,"(227762340.0, 227636480.0)",2016-03-01 08:10:00,2016-03-01 08:11:00,2
2,"(227113100.0, 227640190.0, 227588970.0, 227654...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
3,"(227113100.0, 227621940.0, 227589520.0, 227640...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
4,"(227632830.0, 227303430.0, 227621940.0, 227589...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
5,"(227641920.0, 227639660.0, 227611930.0, 227640...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
6,"(227641920.0, 227639660.0, 227640710.0, 227322...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
7,"(227641920.0, 227590030.0, 227322670.0)",2016-03-01 08:11:00,2016-03-01 08:11:00,1
8,"(228186700.0, 228064900.0)",2016-03-01 08:11:00,2016-03-01 08:11:00,1
9,"(227762340.0, 227636480.0)",2016-03-01 08:11:00,2016-03-01 08:11:00,1
10,"(227639660.0, 227686540.0, 227631450.0, 227611...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
11,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 08:11:00,2016-03-01 08:11:00,1
12,"(227369960.0, 227730220.0, 244630187.0, 227008...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
13,"(227369960.0, 227730220.0, 244630187.0, 227008...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
14,"(227369960.0, 227574020.0, 227298110.0, 227806...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
15,"(227369960.0, 244630187.0, 227298110.0, 227806...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
16,"(227369960.0, 227730220.0, 227298110.0, 227806...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
17,"(227369960.0, 227730220.0, 244630187.0, 227592...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
18,"(227369960.0, 227730220.0, 244630187.0, 227298...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
19,"(227574020.0, 227298110.0, 227806500.0, 227408...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
20,"(227686540.0, 227631450.0, 227611930.0, 227650...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
21,"(477115900.0, 249297000.0)",2016-03-01 08:11:00,2016-03-01 08:11:00,1
22,"(220417000.0, 228005700.0)",2016-03-01 08:11:00,2016-03-01 08:11:00,1
23,"(227016100.0, 227222000.0, 227002330.0, 227270...",2016-03-01 08:11:00,2016-03-01 08:11:00,1
24,"(227008170.0, 227016100.0, 227002330.0, 227270...",2016-03-01 08:11:00,2016-03-01 08:11:00,1

,clusters,st,et,dur
0,"(227631450.0, 227611930.0, 227578460.0, 227690...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
1,"(227631450.0, 227611930.0, 227578460.0, 227690...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
2,"(227631450.0, 227611930.0, 227578460.0, 227640...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
3,"(227631450.0, 227611930.0, 227578460.0, 227641...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
4,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:12:00,2016-03-01 08:12:00,1
5,"(227621940.0, 227303430.0, 227632830.0, 227640...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
6,"(220417000.0, 228005700.0)",2016-03-01 08:12:00,2016-03-01 08:12:00,1
7,"(249297000.0, 477115900.0)",2016-03-01 08:12:00,2016-03-01 08:12:00,1
8,"(227362110.0, 227008170.0, 227369960.0, 227002...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
9,"(227362110.0, 227369960.0, 227635210.0, 228796...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
10,"(227362110.0, 227369960.0, 228796000.0, 227408...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
11,"(227592820.0, 227362110.0, 227008170.0, 227369...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
12,"(227362110.0, 227369960.0, 228796000.0, 227408...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
13,"(227362110.0, 227369960.0, 227635210.0, 228796...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
14,"(227362110.0, 227635210.0, 228796000.0, 227408...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
15,"(227016100.0, 227362110.0, 227008170.0, 227369...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
16,"(227315110.0, 227640190.0, 227666970.0, 227113...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
17,"(227641920.0, 227640710.0, 227639660.0, 227322...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
18,"(227641920.0, 227590030.0, 227322670.0)",2016-03-01 08:12:00,2016-03-01 08:12:00,1
19,"(227303430.0, 227640190.0, 227666970.0, 227113...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
20,"(228186700.0, 228064900.0)",2016-03-01 08:12:00,2016-03-01 08:12:00,1
21,"(227016100.0, 227222000.0, 227002330.0, 227006...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
22,"(227636480.0, 227762340.0)",2016-03-01 08:12:00,2016-03-01 08:12:00,1
23,"(227016100.0, 227008170.0, 227002330.0, 227006...",2016-03-01 08:12:00,2016-03-01 08:12:00,1

,clusters,st,et,dur
0,"(227641920.0, 227590030.0, 227322670.0)",2016-03-01 08:11:00,2016-03-01 08:12:00,2
1,"(228186700.0, 228064900.0)",2016-03-01 08:11:00,2016-03-01 08:12:00,2
2,"(220417000.0, 228005700.0)",2016-03-01 08:11:00,2016-03-01 08:12:00,2
3,"(227631450.0, 227611930.0, 227578460.0, 227690...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
4,"(227631450.0, 227611930.0, 227578460.0, 227690...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
5,"(227631450.0, 227611930.0, 227578460.0, 227640...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
6,"(227631450.0, 227611930.0, 227578460.0, 227641...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
7,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:12:00,2016-03-01 08:12:00,1
8,"(227621940.0, 227303430.0, 227632830.0, 227640...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
9,"(220417000.0, 228005700.0)",2016-03-01 08:12:00,2016-03-01 08:12:00,1
10,"(249297000.0, 477115900.0)",2016-03-01 08:12:00,2016-03-01 08:12:00,1
11,"(227362110.0, 227008170.0, 227369960.0, 227002...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
12,"(227362110.0, 227369960.0, 227635210.0, 228796...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
13,"(227362110.0, 227369960.0, 228796000.0, 227408...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
14,"(227592820.0, 227362110.0, 227008170.0, 227369...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
15,"(227362110.0, 227369960.0, 228796000.0, 227408...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
16,"(227362110.0, 227369960.0, 227635210.0, 228796...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
17,"(227362110.0, 227635210.0, 228796000.0, 227408...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
18,"(227016100.0, 227362110.0, 227008170.0, 227369...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
19,"(227315110.0, 227640190.0, 227666970.0, 227113...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
20,"(227641920.0, 227640710.0, 227639660.0, 227322...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
21,"(227641920.0, 227590030.0, 227322670.0)",2016-03-01 08:12:00,2016-03-01 08:12:00,1
22,"(227303430.0, 227640190.0, 227666970.0, 227113...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
23,"(228186700.0, 228064900.0)",2016-03-01 08:12:00,2016-03-01 08:12:00,1
24,"(227016100.0, 227222000.0, 227002330.0, 227006...",2016-03-01 08:12:00,2016-03-01 08:12:00,1
25,"(227636480.0, 227762340.0)",2016-03-01 08:12:00,2016-03-01 08:12:00,1
26,"(227016100.0, 227008170.0, 227002330.0, 227006...",2016-03-01 08:12:00,2016-03-01 08:12:00,1

,clusters,st,et,dur
0,"(227322670.0, 227639660.0, 227640710.0, 227641...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
1,"(227322670.0, 227641920.0, 227590030.0)",2016-03-01 08:13:00,2016-03-01 08:13:00,1
2,"(227635210.0, 227298110.0, 228796000.0, 227362...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
3,"(227298110.0, 227088590.0, 227362110.0, 227369...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
4,"(227635210.0, 227298110.0, 228796000.0, 227362...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
5,"(227298110.0, 228796000.0, 227088590.0, 227362...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
6,"(227298110.0, 227088590.0, 227362110.0, 227806...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
7,"(227635210.0, 227298110.0, 228796000.0, 227362...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
8,"(227298110.0, 228796000.0, 227362110.0, 227806...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
9,"(227298110.0, 227088590.0, 227362110.0, 227016...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
10,"(227640190.0, 227589520.0, 227654220.0, 227113...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
11,"(227640190.0, 227589520.0, 227654220.0, 227632...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
12,"(227640190.0, 227589520.0, 227621940.0, 227654...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
13,"(227222000.0, 227270000.0, 227016100.0, 227006...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
14,"(227569380.0, 227322690.0, 227650230.0, 227631...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
15,"(227569380.0, 227631450.0, 227686540.0, 227578...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
16,"(228005700.0, 220417000.0)",2016-03-01 08:13:00,2016-03-01 08:13:00,1
17,"(227636480.0, 227762340.0)",2016-03-01 08:13:00,2016-03-01 08:13:00,1
18,"(227315110.0, 227113100.0, 227588970.0, 227666...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
19,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:13:00,2016-03-01 08:13:00,1
20,"(227270000.0, 227016100.0, 227006750.0, 227008...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
21,"(477115900.0, 249297000.0)",2016-03-01 08:13:00,2016-03-01 08:13:00,1
22,"(227631450.0, 227639660.0, 227578460.0, 227611...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
23,"(227631450.0, 227639660.0, 227686540.0, 227578...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
24,"(228064900.0, 228186700.0)",2016-03-01 08:13:00,2016-03-01 08:13:00,1

,clusters,st,et,dur
0,"(227636480.0, 227762340.0)",2016-03-01 08:12:00,2016-03-01 08:13:00,2
1,"(227322670.0, 227639660.0, 227640710.0, 227641...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
2,"(227322670.0, 227641920.0, 227590030.0)",2016-03-01 08:13:00,2016-03-01 08:13:00,1
3,"(227635210.0, 227298110.0, 228796000.0, 227362...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
4,"(227298110.0, 227088590.0, 227362110.0, 227369...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
5,"(227635210.0, 227298110.0, 228796000.0, 227362...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
6,"(227298110.0, 228796000.0, 227088590.0, 227362...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
7,"(227298110.0, 227088590.0, 227362110.0, 227806...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
8,"(227635210.0, 227298110.0, 228796000.0, 227362...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
9,"(227298110.0, 228796000.0, 227362110.0, 227806...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
10,"(227298110.0, 227088590.0, 227362110.0, 227016...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
11,"(227640190.0, 227589520.0, 227654220.0, 227113...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
12,"(227640190.0, 227589520.0, 227654220.0, 227632...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
13,"(227640190.0, 227589520.0, 227621940.0, 227654...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
14,"(227222000.0, 227270000.0, 227016100.0, 227006...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
15,"(227569380.0, 227322690.0, 227650230.0, 227631...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
16,"(227569380.0, 227631450.0, 227686540.0, 227578...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
17,"(228005700.0, 220417000.0)",2016-03-01 08:13:00,2016-03-01 08:13:00,1
18,"(227636480.0, 227762340.0)",2016-03-01 08:13:00,2016-03-01 08:13:00,1
19,"(227315110.0, 227113100.0, 227588970.0, 227666...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
20,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:13:00,2016-03-01 08:13:00,1
21,"(227270000.0, 227016100.0, 227006750.0, 227008...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
22,"(477115900.0, 249297000.0)",2016-03-01 08:13:00,2016-03-01 08:13:00,1
23,"(227631450.0, 227639660.0, 227578460.0, 227611...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
24,"(227631450.0, 227639660.0, 227686540.0, 227578...",2016-03-01 08:13:00,2016-03-01 08:13:00,1
25,"(228064900.0, 228186700.0)",2016-03-01 08:13:00,2016-03-01 08:13:00,1

,clusters,st,et,dur
0,"(227322690.0, 227578460.0, 227569380.0, 227650...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
1,"(227322690.0, 227578460.0, 227569380.0, 227631...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
2,"(249297000.0, 477115900.0)",2016-03-01 08:14:00,2016-03-01 08:14:00,1
3,"(227621940.0, 227640190.0, 227589520.0, 227303...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
4,"(227640190.0, 227589520.0, 227666970.0, 227303...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
5,"(227640190.0, 227589520.0, 227666970.0, 227303...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
6,"(227322670.0, 227590030.0)",2016-03-01 08:14:00,2016-03-01 08:14:00,1
7,"(227322670.0, 227639660.0, 227641920.0, 227640...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
8,"(227270000.0, 227016100.0, 227006750.0, 227008...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
9,"(227270000.0, 227016100.0, 227222000.0, 227006...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
10,"(227639660.0, 227578460.0, 227640710.0, 227569...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
11,"(227639660.0, 227578460.0, 227641920.0, 227640...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
12,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 08:14:00,2016-03-01 08:14:00,1
13,"(227578460.0, 227640710.0, 227569380.0, 227631...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
14,"(227762340.0, 227636480.0)",2016-03-01 08:14:00,2016-03-01 08:14:00,1
15,"(228005700.0, 220417000.0)",2016-03-01 08:14:00,2016-03-01 08:14:00,1
16,"(227113100.0, 227315110.0)",2016-03-01 08:14:00,2016-03-01 08:14:00,1
17,"(228064900.0, 228186700.0)",2016-03-01 08:14:00,2016-03-01 08:14:00,1
18,"(227408710.0, 227148000.0, 227298110.0, 227574...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
19,"(227730220.0, 227408710.0, 244630187.0, 227298...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
20,"(227408710.0, 227298110.0, 227574020.0, 227369...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
21,"(227408710.0, 244630187.0, 227298110.0, 227369...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
22,"(227730220.0, 227408710.0, 244630187.0, 227298...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
23,"(227730220.0, 227408710.0, 227298110.0, 227369...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
24,"(227730220.0, 227408710.0, 244630187.0, 227298...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
25,"(227730220.0, 227408710.0, 244630187.0, 227298...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
26,"(227730220.0, 227016100.0, 244630187.0, 227298...",2016-03-01 08:14:00,2016-03-01 08:14:00,1

,clusters,st,et,dur
0,"(228005700.0, 220417000.0)",2016-03-01 08:13:00,2016-03-01 08:14:00,2
1,"(227270000.0, 227016100.0, 227006750.0, 227008...",2016-03-01 08:13:00,2016-03-01 08:14:00,2
2,"(228064900.0, 228186700.0)",2016-03-01 08:13:00,2016-03-01 08:14:00,2
3,"(227322690.0, 227578460.0, 227569380.0, 227650...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
4,"(227322690.0, 227578460.0, 227569380.0, 227631...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
5,"(249297000.0, 477115900.0)",2016-03-01 08:14:00,2016-03-01 08:14:00,1
6,"(227621940.0, 227640190.0, 227589520.0, 227303...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
7,"(227640190.0, 227589520.0, 227666970.0, 227303...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
8,"(227640190.0, 227589520.0, 227666970.0, 227303...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
9,"(227322670.0, 227590030.0)",2016-03-01 08:14:00,2016-03-01 08:14:00,1
10,"(227322670.0, 227639660.0, 227641920.0, 227640...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
11,"(227270000.0, 227016100.0, 227006750.0, 227008...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
12,"(227270000.0, 227016100.0, 227222000.0, 227006...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
13,"(227639660.0, 227578460.0, 227640710.0, 227569...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
14,"(227639660.0, 227578460.0, 227641920.0, 227640...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
15,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 08:14:00,2016-03-01 08:14:00,1
16,"(227578460.0, 227640710.0, 227569380.0, 227631...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
17,"(227762340.0, 227636480.0)",2016-03-01 08:14:00,2016-03-01 08:14:00,1
18,"(228005700.0, 220417000.0)",2016-03-01 08:14:00,2016-03-01 08:14:00,1
19,"(227113100.0, 227315110.0)",2016-03-01 08:14:00,2016-03-01 08:14:00,1
20,"(228064900.0, 228186700.0)",2016-03-01 08:14:00,2016-03-01 08:14:00,1
21,"(227408710.0, 227148000.0, 227298110.0, 227574...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
22,"(227730220.0, 227408710.0, 244630187.0, 227298...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
23,"(227408710.0, 227298110.0, 227574020.0, 227369...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
24,"(227408710.0, 244630187.0, 227298110.0, 227369...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
25,"(227730220.0, 227408710.0, 244630187.0, 227298...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
26,"(227730220.0, 227408710.0, 227298110.0, 227369...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
27,"(227730220.0, 227408710.0, 244630187.0, 227298...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
28,"(227730220.0, 227408710.0, 244630187.0, 227298...",2016-03-01 08:14:00,2016-03-01 08:14:00,1
29,"(227730220.0, 227016100.0, 244630187.0, 227298...",2016-03-01 08:14:00,2016-03-01 08:14:00,1

,clusters,st,et,dur
0,"(227113100.0, 227588970.0, 227654220.0, 227640...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
1,"(227113100.0, 227654220.0, 227315110.0)",2016-03-01 08:15:00,2016-03-01 08:15:00,1
2,"(227588970.0, 227632830.0, 227621940.0, 227666...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
3,"(227686540.0, 227569380.0, 227650230.0, 227578...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
4,"(227686540.0, 227640710.0, 227569380.0, 227578...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
5,"(227686540.0, 227640710.0, 227569380.0, 227578...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
6,"(227686540.0, 227640710.0, 227569380.0, 227578...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
7,"(477115900.0, 249297000.0)",2016-03-01 08:15:00,2016-03-01 08:15:00,1
8,"(227640710.0, 227631450.0, 227641920.0, 227639...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
9,"(227640710.0, 227322670.0, 227631450.0, 227641...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
10,"(227322670.0, 227631450.0, 227590030.0)",2016-03-01 08:15:00,2016-03-01 08:15:00,1
11,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 08:15:00,2016-03-01 08:15:00,1
12,"(227006750.0, 227088590.0, 244630187.0, 227730...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
13,"(227408710.0, 227148000.0, 227806500.0, 227574...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
14,"(227006750.0, 227408710.0, 227088590.0, 244630...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
15,"(227408710.0, 227088590.0, 244630187.0, 227730...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
16,"(227408710.0, 227806500.0, 227574020.0, 228796...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
17,"(227408710.0, 227806500.0, 227088590.0, 244630...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
18,"(227408710.0, 227806500.0, 227088590.0, 244630...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
19,"(227408710.0, 227806500.0, 244630187.0, 228796...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
20,"(228064900.0, 228186700.0)",2016-03-01 08:15:00,2016-03-01 08:15:00,1
21,"(227006750.0, 227730220.0, 227270000.0, 227008...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
22,"(227006750.0, 227270000.0, 227222000.0, 227016...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
23,"(227636480.0, 227762340.0)",2016-03-01 08:15:00,2016-03-01 08:15:00,1

,clusters,st,et,dur
0,"(228064900.0, 228186700.0)",2016-03-01 08:13:00,2016-03-01 08:15:00,3
1,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 08:14:00,2016-03-01 08:15:00,2
2,"(228064900.0, 228186700.0)",2016-03-01 08:14:00,2016-03-01 08:15:00,2
3,"(227113100.0, 227588970.0, 227654220.0, 227640...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
4,"(227113100.0, 227654220.0, 227315110.0)",2016-03-01 08:15:00,2016-03-01 08:15:00,1
5,"(227588970.0, 227632830.0, 227621940.0, 227666...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
6,"(227686540.0, 227569380.0, 227650230.0, 227578...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
7,"(227686540.0, 227640710.0, 227569380.0, 227578...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
8,"(227686540.0, 227640710.0, 227569380.0, 227578...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
9,"(227686540.0, 227640710.0, 227569380.0, 227578...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
10,"(477115900.0, 249297000.0)",2016-03-01 08:15:00,2016-03-01 08:15:00,1
11,"(227640710.0, 227631450.0, 227641920.0, 227639...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
12,"(227640710.0, 227322670.0, 227631450.0, 227641...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
13,"(227322670.0, 227631450.0, 227590030.0)",2016-03-01 08:15:00,2016-03-01 08:15:00,1
14,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 08:15:00,2016-03-01 08:15:00,1
15,"(227006750.0, 227088590.0, 244630187.0, 227730...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
16,"(227408710.0, 227148000.0, 227806500.0, 227574...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
17,"(227006750.0, 227408710.0, 227088590.0, 244630...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
18,"(227408710.0, 227088590.0, 244630187.0, 227730...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
19,"(227408710.0, 227806500.0, 227574020.0, 228796...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
20,"(227408710.0, 227806500.0, 227088590.0, 244630...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
21,"(227408710.0, 227806500.0, 227088590.0, 244630...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
22,"(227408710.0, 227806500.0, 244630187.0, 228796...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
23,"(228064900.0, 228186700.0)",2016-03-01 08:15:00,2016-03-01 08:15:00,1
24,"(227006750.0, 227730220.0, 227270000.0, 227008...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
25,"(227006750.0, 227270000.0, 227222000.0, 227016...",2016-03-01 08:15:00,2016-03-01 08:15:00,1
26,"(227636480.0, 227762340.0)",2016-03-01 08:15:00,2016-03-01 08:15:00,1

,clusters,st,et,dur
0,"(227270000.0, 227016100.0, 227006750.0, 227730...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
1,"(227270000.0, 227016100.0, 227222000.0, 227006...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
2,"(477115900.0, 249297000.0)",2016-03-01 08:16:00,2016-03-01 08:16:00,1
3,"(227113100.0, 227666970.0, 227303430.0, 227588...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
4,"(227113100.0, 227303430.0, 227315110.0, 227589...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
5,"(227640710.0, 227690560.0, 227686540.0, 227322...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
6,"(227640710.0, 227641920.0, 227631450.0, 227639...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
7,"(227640710.0, 227686540.0, 227641920.0, 227639...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
8,"(227640710.0, 227686540.0, 227639660.0, 227322...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
9,"(227666970.0, 227621940.0)",2016-03-01 08:16:00,2016-03-01 08:16:00,1
10,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 08:16:00,2016-03-01 08:16:00,1
11,"(228186700.0, 228064900.0)",2016-03-01 08:16:00,2016-03-01 08:16:00,1
12,"(227762340.0, 227636480.0)",2016-03-01 08:16:00,2016-03-01 08:16:00,1
13,"(227631450.0, 227590030.0, 227322670.0)",2016-03-01 08:16:00,2016-03-01 08:16:00,1
14,"(227088590.0, 227016100.0, 244630187.0, 227006...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
15,"(227612860.0, 227635210.0, 227298110.0, 228796...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
16,"(244630187.0, 227635210.0, 227298110.0, 228796...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
17,"(227088590.0, 244630187.0, 227006750.0, 227730...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
18,"(227088590.0, 227592820.0, 244630187.0, 227298...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
19,"(227088590.0, 227592820.0, 244630187.0, 227730...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
20,"(227088590.0, 244630187.0, 227298110.0, 228796...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
21,"(227148000.0, 227612860.0, 227635210.0, 227298...",2016-03-01 08:16:00,2016-03-01 08:16:00,1

,clusters,st,et,dur
0,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 08:14:00,2016-03-01 08:16:00,3
1,"(477115900.0, 249297000.0)",2016-03-01 08:15:00,2016-03-01 08:16:00,2
2,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 08:15:00,2016-03-01 08:16:00,2
3,"(227270000.0, 227016100.0, 227006750.0, 227730...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
4,"(227270000.0, 227016100.0, 227222000.0, 227006...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
5,"(477115900.0, 249297000.0)",2016-03-01 08:16:00,2016-03-01 08:16:00,1
6,"(227113100.0, 227666970.0, 227303430.0, 227588...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
7,"(227113100.0, 227303430.0, 227315110.0, 227589...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
8,"(227640710.0, 227690560.0, 227686540.0, 227322...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
9,"(227640710.0, 227641920.0, 227631450.0, 227639...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
10,"(227640710.0, 227686540.0, 227641920.0, 227639...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
11,"(227640710.0, 227686540.0, 227639660.0, 227322...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
12,"(227666970.0, 227621940.0)",2016-03-01 08:16:00,2016-03-01 08:16:00,1
13,"(227142200.0, 227162950.0, 227941000.0)",2016-03-01 08:16:00,2016-03-01 08:16:00,1
14,"(228186700.0, 228064900.0)",2016-03-01 08:16:00,2016-03-01 08:16:00,1
15,"(227762340.0, 227636480.0)",2016-03-01 08:16:00,2016-03-01 08:16:00,1
16,"(227631450.0, 227590030.0, 227322670.0)",2016-03-01 08:16:00,2016-03-01 08:16:00,1
17,"(227088590.0, 227016100.0, 244630187.0, 227006...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
18,"(227612860.0, 227635210.0, 227298110.0, 228796...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
19,"(244630187.0, 227635210.0, 227298110.0, 228796...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
20,"(227088590.0, 244630187.0, 227006750.0, 227730...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
21,"(227088590.0, 227592820.0, 244630187.0, 227298...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
22,"(227088590.0, 227592820.0, 244630187.0, 227730...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
23,"(227088590.0, 244630187.0, 227298110.0, 228796...",2016-03-01 08:16:00,2016-03-01 08:16:00,1
24,"(227148000.0, 227612860.0, 227635210.0, 227298...",2016-03-01 08:16:00,2016-03-01 08:16:00,1

,clusters,st,et,dur
0,"(227578460.0, 227322690.0, 227639660.0, 227641...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
1,"(227578460.0, 227322690.0, 227690560.0, 227686...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
2,"(227578460.0, 227322690.0, 227639660.0, 227641...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
3,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:17:00,2016-03-01 08:17:00,1
4,"(249297000.0, 477115900.0)",2016-03-01 08:17:00,2016-03-01 08:17:00,1
5,"(227362110.0, 227369960.0, 227612860.0, 228796...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
6,"(227362110.0, 227369960.0, 244630187.0, 228796...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
7,"(227362110.0, 227369960.0, 227008170.0, 244630...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
8,"(227362110.0, 227369960.0, 227008170.0, 227592...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
9,"(227362110.0, 227369960.0, 227592820.0, 244630...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
10,"(227362110.0, 227369960.0, 244630187.0, 228796...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
11,"(227362110.0, 227612860.0, 228796000.0, 227298...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
12,"(227362110.0, 227369960.0, 227008170.0, 227016...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
13,"(227303430.0, 227632830.0, 227589520.0, 227315...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
14,"(227303430.0, 227632830.0, 227589520.0, 227113...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
15,"(227621940.0, 227666970.0, 227640190.0)",2016-03-01 08:17:00,2016-03-01 08:17:00,1
16,"(227590030.0, 227631450.0, 227611930.0, 227322...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
17,"(228064900.0, 228186700.0)",2016-03-01 08:17:00,2016-03-01 08:17:00,1
18,"(227639660.0, 227641920.0, 227631450.0, 227611...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
19,"(227666970.0, 227632830.0, 227589520.0, 227640...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
20,"(227762340.0, 227636480.0)",2016-03-01 08:17:00,2016-03-01 08:17:00,1
21,"(227008170.0, 227016100.0, 227006750.0, 227270...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
22,"(227016100.0, 227006750.0, 227270000.0, 227222...",2016-03-01 08:17:00,2016-03-01 08:17:00,1

,clusters,st,et,dur
0,"(227762340.0, 227636480.0)",2016-03-01 08:16:00,2016-03-01 08:17:00,2
1,"(227578460.0, 227322690.0, 227639660.0, 227641...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
2,"(227578460.0, 227322690.0, 227690560.0, 227686...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
3,"(227578460.0, 227322690.0, 227639660.0, 227641...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
4,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:17:00,2016-03-01 08:17:00,1
5,"(249297000.0, 477115900.0)",2016-03-01 08:17:00,2016-03-01 08:17:00,1
6,"(227362110.0, 227369960.0, 227612860.0, 228796...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
7,"(227362110.0, 227369960.0, 244630187.0, 228796...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
8,"(227362110.0, 227369960.0, 227008170.0, 244630...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
9,"(227362110.0, 227369960.0, 227008170.0, 227592...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
10,"(227362110.0, 227369960.0, 227592820.0, 244630...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
11,"(227362110.0, 227369960.0, 244630187.0, 228796...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
12,"(227362110.0, 227612860.0, 228796000.0, 227298...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
13,"(227362110.0, 227369960.0, 227008170.0, 227016...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
14,"(227303430.0, 227632830.0, 227589520.0, 227315...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
15,"(227303430.0, 227632830.0, 227589520.0, 227113...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
16,"(227621940.0, 227666970.0, 227640190.0)",2016-03-01 08:17:00,2016-03-01 08:17:00,1
17,"(227590030.0, 227631450.0, 227611930.0, 227322...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
18,"(228064900.0, 228186700.0)",2016-03-01 08:17:00,2016-03-01 08:17:00,1
19,"(227639660.0, 227641920.0, 227631450.0, 227611...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
20,"(227666970.0, 227632830.0, 227589520.0, 227640...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
21,"(227762340.0, 227636480.0)",2016-03-01 08:17:00,2016-03-01 08:17:00,1
22,"(227008170.0, 227016100.0, 227006750.0, 227270...",2016-03-01 08:17:00,2016-03-01 08:17:00,1
23,"(227016100.0, 227006750.0, 227270000.0, 227222...",2016-03-01 08:17:00,2016-03-01 08:17:00,1

,clusters,st,et,dur
0,"(227632830.0, 227640190.0, 227588970.0, 227113...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
1,"(227632830.0, 227315110.0, 227654220.0, 227303...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
2,"(228064900.0, 228186700.0)",2016-03-01 08:18:00,2016-03-01 08:18:00,1
3,"(227621940.0, 227640190.0, 227666970.0)",2016-03-01 08:18:00,2016-03-01 08:18:00,1
4,"(227640190.0, 227588970.0, 227666970.0)",2016-03-01 08:18:00,2016-03-01 08:18:00,1
5,"(227569380.0, 227640710.0, 227650230.0, 227641...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
6,"(227569380.0, 227631450.0, 227640710.0, 227650...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
7,"(227569380.0, 227640710.0, 227650230.0, 227641...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
8,"(227569380.0, 227631450.0, 227640710.0, 227650...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
9,"(227016100.0, 227222000.0, 227006750.0, 227270...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
10,"(227762340.0, 227636480.0)",2016-03-01 08:18:00,2016-03-01 08:18:00,1
11,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:18:00,2016-03-01 08:18:00,1
12,"(227631450.0, 227611930.0, 227590030.0, 227322...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
13,"(227612860.0, 227806500.0, 228796000.0, 227362...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
14,"(227088590.0, 227369960.0, 227008170.0, 227016...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
15,"(227088590.0, 227369960.0, 227806500.0, 244630...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
16,"(227088590.0, 227369960.0, 227008170.0, 244630...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
17,"(227088590.0, 227369960.0, 227008170.0, 227006...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
18,"(227088590.0, 227369960.0, 227806500.0, 244630...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
19,"(227369960.0, 227806500.0, 244630187.0, 228796...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
20,"(227369960.0, 227612860.0, 227806500.0, 228796...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
21,"(227008170.0, 227016100.0, 227006750.0, 227270...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
22,"(249297000.0, 477115900.0)",2016-03-01 08:18:00,2016-03-01 08:18:00,1

,clusters,st,et,dur
0,"(227762340.0, 227636480.0)",2016-03-01 08:16:00,2016-03-01 08:18:00,3
1,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:17:00,2016-03-01 08:18:00,2
2,"(249297000.0, 477115900.0)",2016-03-01 08:17:00,2016-03-01 08:18:00,2
3,"(228064900.0, 228186700.0)",2016-03-01 08:17:00,2016-03-01 08:18:00,2
4,"(227762340.0, 227636480.0)",2016-03-01 08:17:00,2016-03-01 08:18:00,2
5,"(227008170.0, 227016100.0, 227006750.0, 227270...",2016-03-01 08:17:00,2016-03-01 08:18:00,2
6,"(227632830.0, 227640190.0, 227588970.0, 227113...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
7,"(227632830.0, 227315110.0, 227654220.0, 227303...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
8,"(228064900.0, 228186700.0)",2016-03-01 08:18:00,2016-03-01 08:18:00,1
9,"(227621940.0, 227640190.0, 227666970.0)",2016-03-01 08:18:00,2016-03-01 08:18:00,1
10,"(227640190.0, 227588970.0, 227666970.0)",2016-03-01 08:18:00,2016-03-01 08:18:00,1
11,"(227569380.0, 227640710.0, 227650230.0, 227641...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
12,"(227569380.0, 227631450.0, 227640710.0, 227650...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
13,"(227569380.0, 227640710.0, 227650230.0, 227641...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
14,"(227569380.0, 227631450.0, 227640710.0, 227650...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
15,"(227016100.0, 227222000.0, 227006750.0, 227270...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
16,"(227762340.0, 227636480.0)",2016-03-01 08:18:00,2016-03-01 08:18:00,1
17,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:18:00,2016-03-01 08:18:00,1
18,"(227631450.0, 227611930.0, 227590030.0, 227322...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
19,"(227612860.0, 227806500.0, 228796000.0, 227362...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
20,"(227088590.0, 227369960.0, 227008170.0, 227016...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
21,"(227088590.0, 227369960.0, 227806500.0, 244630...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
22,"(227088590.0, 227369960.0, 227008170.0, 244630...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
23,"(227088590.0, 227369960.0, 227008170.0, 227006...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
24,"(227088590.0, 227369960.0, 227806500.0, 244630...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
25,"(227369960.0, 227806500.0, 244630187.0, 228796...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
26,"(227369960.0, 227612860.0, 227806500.0, 228796...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
27,"(227008170.0, 227016100.0, 227006750.0, 227270...",2016-03-01 08:18:00,2016-03-01 08:18:00,1
28,"(249297000.0, 477115900.0)",2016-03-01 08:18:00,2016-03-01 08:18:00,1

,clusters,st,et,dur
0,"(227631450.0, 227590030.0, 227611930.0, 227322...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
1,"(227631450.0, 227578460.0, 227611930.0, 227641...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
2,"(249297000.0, 477115900.0)",2016-03-01 08:19:00,2016-03-01 08:19:00,1
3,"(227315110.0, 227632830.0, 227588970.0, 227113...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
4,"(227315110.0, 227632830.0, 227303430.0, 227654...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
5,"(227762340.0, 227636480.0)",2016-03-01 08:19:00,2016-03-01 08:19:00,1
6,"(227578460.0, 227641920.0, 227690560.0, 227640...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
7,"(228064900.0, 228186700.0)",2016-03-01 08:19:00,2016-03-01 08:19:00,1
8,"(227588970.0, 227113100.0, 227640190.0)",2016-03-01 08:19:00,2016-03-01 08:19:00,1
9,"(227574020.0, 227806500.0, 227408710.0, 227298...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
10,"(244630187.0, 227806500.0, 227408710.0, 227298...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
11,"(244630187.0, 227008170.0, 227408710.0, 227298...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
12,"(244630187.0, 227806500.0, 227408710.0, 227298...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
13,"(244630187.0, 227592820.0, 227806500.0, 227408...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
14,"(244630187.0, 227592820.0, 227008170.0, 227408...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
15,"(227574020.0, 227806500.0, 227408710.0, 227298...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
16,"(244630187.0, 227016100.0, 227008170.0, 227298...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
17,"(244630187.0, 227592820.0, 227730220.0, 227806...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
18,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:19:00,2016-03-01 08:19:00,1
19,"(227016100.0, 227006750.0, 227270000.0, 227222...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
20,"(227016100.0, 227008170.0, 227006750.0, 227270...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
21,"(227621940.0, 227640190.0, 227666970.0)",2016-03-01 08:19:00,2016-03-01 08:19:00,1

,clusters,st,et,dur
0,"(227762340.0, 227636480.0)",2016-03-01 08:16:00,2016-03-01 08:19:00,4
1,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:17:00,2016-03-01 08:19:00,3
2,"(249297000.0, 477115900.0)",2016-03-01 08:17:00,2016-03-01 08:19:00,3
3,"(228064900.0, 228186700.0)",2016-03-01 08:17:00,2016-03-01 08:19:00,3
4,"(227762340.0, 227636480.0)",2016-03-01 08:17:00,2016-03-01 08:19:00,3
5,"(228064900.0, 228186700.0)",2016-03-01 08:18:00,2016-03-01 08:19:00,2
6,"(227621940.0, 227640190.0, 227666970.0)",2016-03-01 08:18:00,2016-03-01 08:19:00,2
7,"(227762340.0, 227636480.0)",2016-03-01 08:18:00,2016-03-01 08:19:00,2
8,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:18:00,2016-03-01 08:19:00,2
9,"(249297000.0, 477115900.0)",2016-03-01 08:18:00,2016-03-01 08:19:00,2
10,"(227631450.0, 227590030.0, 227611930.0, 227322...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
11,"(227631450.0, 227578460.0, 227611930.0, 227641...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
12,"(249297000.0, 477115900.0)",2016-03-01 08:19:00,2016-03-01 08:19:00,1
13,"(227315110.0, 227632830.0, 227588970.0, 227113...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
14,"(227315110.0, 227632830.0, 227303430.0, 227654...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
15,"(227762340.0, 227636480.0)",2016-03-01 08:19:00,2016-03-01 08:19:00,1
16,"(227578460.0, 227641920.0, 227690560.0, 227640...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
17,"(228064900.0, 228186700.0)",2016-03-01 08:19:00,2016-03-01 08:19:00,1
18,"(227588970.0, 227113100.0, 227640190.0)",2016-03-01 08:19:00,2016-03-01 08:19:00,1
19,"(227574020.0, 227806500.0, 227408710.0, 227298...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
20,"(244630187.0, 227806500.0, 227408710.0, 227298...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
21,"(244630187.0, 227008170.0, 227408710.0, 227298...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
22,"(244630187.0, 227806500.0, 227408710.0, 227298...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
23,"(244630187.0, 227592820.0, 227806500.0, 227408...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
24,"(244630187.0, 227592820.0, 227008170.0, 227408...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
25,"(227574020.0, 227806500.0, 227408710.0, 227298...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
26,"(244630187.0, 227016100.0, 227008170.0, 227298...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
27,"(244630187.0, 227592820.0, 227730220.0, 227806...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
28,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:19:00,2016-03-01 08:19:00,1
29,"(227016100.0, 227006750.0, 227270000.0, 227222...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
30,"(227016100.0, 227008170.0, 227006750.0, 227270...",2016-03-01 08:19:00,2016-03-01 08:19:00,1
31,"(227621940.0, 227640190.0, 227666970.0)",2016-03-01 08:19:00,2016-03-01 08:19:00,1

,clusters,st,et,dur
0,"(227315110.0, 227113100.0, 227588970.0, 227632...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
1,"(227315110.0, 227588970.0, 227632830.0, 227589...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
2,"(227654220.0, 227588970.0, 227303430.0, 227632...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
3,"(227730220.0, 227592820.0)",2016-03-01 08:20:00,2016-03-01 08:20:00,1
4,"(227590030.0, 227569380.0, 227641920.0, 227650...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
5,"(249297000.0, 477115900.0)",2016-03-01 08:20:00,2016-03-01 08:20:00,1
6,"(227690560.0, 227640710.0, 227569380.0, 227686...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
7,"(227621940.0, 227113100.0, 227640190.0)",2016-03-01 08:20:00,2016-03-01 08:20:00,1
8,"(227621940.0, 227640190.0, 227666970.0)",2016-03-01 08:20:00,2016-03-01 08:20:00,1
9,"(227270000.0, 227006750.0, 227016100.0, 227222...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
10,"(227270000.0, 227006750.0, 227008170.0, 227016...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
11,"(227408710.0, 227298110.0, 227088590.0, 244630...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
12,"(227408710.0, 227298110.0, 227006750.0, 227088...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
13,"(227574020.0, 227635210.0, 227408710.0, 227298...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
14,"(227635210.0, 227408710.0, 227298110.0, 244630...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
15,"(227408710.0, 227298110.0, 227088590.0, 244630...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
16,"(227408710.0, 227298110.0, 227088590.0, 244630...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
17,"(227298110.0, 227006750.0, 227088590.0, 244630...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
18,"(227574020.0, 227635210.0, 227408710.0, 227298...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
19,"(228064900.0, 228186700.0)",2016-03-01 08:20:00,2016-03-01 08:20:00,1
20,"(227640710.0, 227569380.0, 227641920.0, 227650...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
21,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:20:00,2016-03-01 08:20:00,1
22,"(227569380.0, 227641920.0, 227650230.0, 227578...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
23,"(227636480.0, 227762340.0)",2016-03-01 08:20:00,2016-03-01 08:20:00,1

,clusters,st,et,dur
0,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:17:00,2016-03-01 08:20:00,4
1,"(249297000.0, 477115900.0)",2016-03-01 08:17:00,2016-03-01 08:20:00,4
2,"(228064900.0, 228186700.0)",2016-03-01 08:17:00,2016-03-01 08:20:00,4
3,"(228064900.0, 228186700.0)",2016-03-01 08:18:00,2016-03-01 08:20:00,3
4,"(227621940.0, 227640190.0, 227666970.0)",2016-03-01 08:18:00,2016-03-01 08:20:00,3
5,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:18:00,2016-03-01 08:20:00,3
6,"(249297000.0, 477115900.0)",2016-03-01 08:18:00,2016-03-01 08:20:00,3
7,"(249297000.0, 477115900.0)",2016-03-01 08:19:00,2016-03-01 08:20:00,2
8,"(228064900.0, 228186700.0)",2016-03-01 08:19:00,2016-03-01 08:20:00,2
9,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:19:00,2016-03-01 08:20:00,2
10,"(227621940.0, 227640190.0, 227666970.0)",2016-03-01 08:19:00,2016-03-01 08:20:00,2
11,"(227315110.0, 227113100.0, 227588970.0, 227632...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
12,"(227315110.0, 227588970.0, 227632830.0, 227589...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
13,"(227654220.0, 227588970.0, 227303430.0, 227632...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
14,"(227730220.0, 227592820.0)",2016-03-01 08:20:00,2016-03-01 08:20:00,1
15,"(227590030.0, 227569380.0, 227641920.0, 227650...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
16,"(249297000.0, 477115900.0)",2016-03-01 08:20:00,2016-03-01 08:20:00,1
17,"(227690560.0, 227640710.0, 227569380.0, 227686...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
18,"(227621940.0, 227113100.0, 227640190.0)",2016-03-01 08:20:00,2016-03-01 08:20:00,1
19,"(227621940.0, 227640190.0, 227666970.0)",2016-03-01 08:20:00,2016-03-01 08:20:00,1
20,"(227270000.0, 227006750.0, 227016100.0, 227222...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
21,"(227270000.0, 227006750.0, 227008170.0, 227016...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
22,"(227408710.0, 227298110.0, 227088590.0, 244630...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
23,"(227408710.0, 227298110.0, 227006750.0, 227088...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
24,"(227574020.0, 227635210.0, 227408710.0, 227298...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
25,"(227635210.0, 227408710.0, 227298110.0, 244630...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
26,"(227408710.0, 227298110.0, 227088590.0, 244630...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
27,"(227408710.0, 227298110.0, 227088590.0, 244630...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
28,"(227298110.0, 227006750.0, 227088590.0, 244630...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
29,"(227574020.0, 227635210.0, 227408710.0, 227298...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
30,"(228064900.0, 228186700.0)",2016-03-01 08:20:00,2016-03-01 08:20:00,1
31,"(227640710.0, 227569380.0, 227641920.0, 227650...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
32,"(227941000.0, 227162950.0, 227142200.0)",2016-03-01 08:20:00,2016-03-01 08:20:00,1
33,"(227569380.0, 227641920.0, 227650230.0, 227578...",2016-03-01 08:20:00,2016-03-01 08:20:00,1
34,"(227636480.0, 227762340.0)",2016-03-01 08:20:00,2016-03-01 08:20:00,1

,clusters,st,et,dur
0,"(249297000.0, 477115900.0)",2016-03-01 08:21:00,2016-03-01 08:21:00,1
1,"(227690560.0, 227640710.0, 227569380.0, 227650...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
2,"(227303430.0, 227632830.0, 227589520.0, 227588...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
3,"(227762340.0, 227636480.0)",2016-03-01 08:21:00,2016-03-01 08:21:00,1
4,"(227369960.0, 227006750.0, 227008170.0, 227298...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
5,"(227369960.0, 227408710.0, 227298110.0, 227612...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
6,"(227369960.0, 227408710.0, 227008170.0, 227298...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
7,"(227369960.0, 227408710.0, 227298110.0, 227088...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
8,"(227369960.0, 227408710.0, 227298110.0, 228796...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
9,"(227369960.0, 227006750.0, 227408710.0, 227008...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
10,"(227369960.0, 227408710.0, 227298110.0, 228796...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
11,"(227408710.0, 227298110.0, 227612860.0, 228796...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
12,"(227632830.0, 227315110.0, 227588970.0, 227113...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
13,"(228186700.0, 228064900.0)",2016-03-01 08:21:00,2016-03-01 08:21:00,1
14,"(227569380.0, 227650230.0, 227322670.0, 227631...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
15,"(227569380.0, 227650230.0, 227611930.0, 227322...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
16,"(227569380.0, 227650230.0, 227322670.0, 227631...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
17,"(227006750.0, 227008170.0, 227270000.0, 227016...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
18,"(227006750.0, 227270000.0, 227016100.0, 227222...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
19,"(227640190.0, 227621940.0, 227666970.0)",2016-03-01 08:21:00,2016-03-01 08:21:00,1
20,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:21:00,2016-03-01 08:21:00,1
21,"(227315110.0, 227621940.0, 227113100.0, 227666...",2016-03-01 08:21:00,2016-03-01 08:21:00,1

,clusters,st,et,dur
0,"(249297000.0, 477115900.0)",2016-03-01 08:17:00,2016-03-01 08:21:00,5
1,"(249297000.0, 477115900.0)",2016-03-01 08:18:00,2016-03-01 08:21:00,4
2,"(249297000.0, 477115900.0)",2016-03-01 08:19:00,2016-03-01 08:21:00,3
3,"(249297000.0, 477115900.0)",2016-03-01 08:20:00,2016-03-01 08:21:00,2
4,"(249297000.0, 477115900.0)",2016-03-01 08:21:00,2016-03-01 08:21:00,1
5,"(227690560.0, 227640710.0, 227569380.0, 227650...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
6,"(227303430.0, 227632830.0, 227589520.0, 227588...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
7,"(227762340.0, 227636480.0)",2016-03-01 08:21:00,2016-03-01 08:21:00,1
8,"(227369960.0, 227006750.0, 227008170.0, 227298...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
9,"(227369960.0, 227408710.0, 227298110.0, 227612...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
10,"(227369960.0, 227408710.0, 227008170.0, 227298...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
11,"(227369960.0, 227408710.0, 227298110.0, 227088...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
12,"(227369960.0, 227408710.0, 227298110.0, 228796...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
13,"(227369960.0, 227006750.0, 227408710.0, 227008...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
14,"(227369960.0, 227408710.0, 227298110.0, 228796...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
15,"(227408710.0, 227298110.0, 227612860.0, 228796...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
16,"(227632830.0, 227315110.0, 227588970.0, 227113...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
17,"(228186700.0, 228064900.0)",2016-03-01 08:21:00,2016-03-01 08:21:00,1
18,"(227569380.0, 227650230.0, 227322670.0, 227631...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
19,"(227569380.0, 227650230.0, 227611930.0, 227322...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
20,"(227569380.0, 227650230.0, 227322670.0, 227631...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
21,"(227006750.0, 227008170.0, 227270000.0, 227016...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
22,"(227006750.0, 227270000.0, 227016100.0, 227222...",2016-03-01 08:21:00,2016-03-01 08:21:00,1
23,"(227640190.0, 227621940.0, 227666970.0)",2016-03-01 08:21:00,2016-03-01 08:21:00,1
24,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:21:00,2016-03-01 08:21:00,1
25,"(227315110.0, 227621940.0, 227113100.0, 227666...",2016-03-01 08:21:00,2016-03-01 08:21:00,1

,clusters,st,et,dur
0,"(477115900.0, 249297000.0)",2016-03-01 08:22:00,2016-03-01 08:22:00,1
1,"(227641920.0, 227322690.0, 227569380.0, 227639...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
2,"(227641920.0, 227322690.0, 227569380.0, 227639...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
3,"(227641920.0, 227322690.0, 227569380.0, 227611...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
4,"(227589520.0, 227654220.0, 227303430.0, 227632...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
5,"(227589520.0, 227654220.0, 227588970.0, 227632...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
6,"(227322690.0, 227569380.0, 227639660.0, 227631...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
7,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 08:22:00,2016-03-01 08:22:00,1
8,"(228186700.0, 228064900.0)",2016-03-01 08:22:00,2016-03-01 08:22:00,1
9,"(227588970.0, 227315110.0)",2016-03-01 08:22:00,2016-03-01 08:22:00,1
10,"(228064900.0, 227730220.0)",2016-03-01 08:22:00,2016-03-01 08:22:00,1
11,"(244630187.0, 227806500.0, 227298110.0, 227362...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
12,"(244630187.0, 227298110.0, 227362110.0, 227006...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
13,"(244630187.0, 227298110.0, 227362110.0, 227088...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
14,"(244630187.0, 227806500.0, 227298110.0, 227362...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
15,"(244630187.0, 227806500.0, 227298110.0, 227362...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
16,"(227806500.0, 227298110.0, 227362110.0, 227635...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
17,"(227806500.0, 227148000.0, 227298110.0, 227362...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
18,"(244630187.0, 227298110.0, 227362110.0, 227006...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
19,"(227315110.0, 227666970.0, 227621940.0, 227113...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
20,"(227666970.0, 227640190.0)",2016-03-01 08:22:00,2016-03-01 08:22:00,1
21,"(227006750.0, 227270000.0, 227016100.0, 227008...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
22,"(227006750.0, 227270000.0, 227222000.0, 227016...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
23,"(227636480.0, 227762340.0)",2016-03-01 08:22:00,2016-03-01 08:22:00,1

,clusters,st,et,dur
0,"(228186700.0, 228064900.0)",2016-03-01 08:21:00,2016-03-01 08:22:00,2
1,"(477115900.0, 249297000.0)",2016-03-01 08:22:00,2016-03-01 08:22:00,1
2,"(227641920.0, 227322690.0, 227569380.0, 227639...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
3,"(227641920.0, 227322690.0, 227569380.0, 227639...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
4,"(227641920.0, 227322690.0, 227569380.0, 227611...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
5,"(227589520.0, 227654220.0, 227303430.0, 227632...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
6,"(227589520.0, 227654220.0, 227588970.0, 227632...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
7,"(227322690.0, 227569380.0, 227639660.0, 227631...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
8,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 08:22:00,2016-03-01 08:22:00,1
9,"(228186700.0, 228064900.0)",2016-03-01 08:22:00,2016-03-01 08:22:00,1
10,"(227588970.0, 227315110.0)",2016-03-01 08:22:00,2016-03-01 08:22:00,1
11,"(228064900.0, 227730220.0)",2016-03-01 08:22:00,2016-03-01 08:22:00,1
12,"(244630187.0, 227806500.0, 227298110.0, 227362...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
13,"(244630187.0, 227298110.0, 227362110.0, 227006...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
14,"(244630187.0, 227298110.0, 227362110.0, 227088...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
15,"(244630187.0, 227806500.0, 227298110.0, 227362...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
16,"(244630187.0, 227806500.0, 227298110.0, 227362...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
17,"(227806500.0, 227298110.0, 227362110.0, 227635...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
18,"(227806500.0, 227148000.0, 227298110.0, 227362...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
19,"(244630187.0, 227298110.0, 227362110.0, 227006...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
20,"(227315110.0, 227666970.0, 227621940.0, 227113...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
21,"(227666970.0, 227640190.0)",2016-03-01 08:22:00,2016-03-01 08:22:00,1
22,"(227006750.0, 227270000.0, 227016100.0, 227008...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
23,"(227006750.0, 227270000.0, 227222000.0, 227016...",2016-03-01 08:22:00,2016-03-01 08:22:00,1
24,"(227636480.0, 227762340.0)",2016-03-01 08:22:00,2016-03-01 08:22:00,1

,clusters,st,et,dur
0,"(477115900.0, 249297000.0)",2016-03-01 08:23:00,2016-03-01 08:23:00,1
1,"(227322690.0, 227690560.0, 227639660.0, 227686...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
2,"(227666970.0, 227113100.0, 227315110.0, 227621...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
3,"(228064900.0, 227730220.0)",2016-03-01 08:23:00,2016-03-01 08:23:00,1
4,"(228064900.0, 228186700.0)",2016-03-01 08:23:00,2016-03-01 08:23:00,1
5,"(227690560.0, 227639660.0, 227686540.0, 227631...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
6,"(227588970.0, 227654220.0, 227303430.0, 227589...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
7,"(227806500.0, 227088590.0, 227362110.0, 244630...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
8,"(227806500.0, 227088590.0, 227362110.0, 244630...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
9,"(227806500.0, 227635210.0, 227362110.0, 227369...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
10,"(227806500.0, 227635210.0, 227362110.0, 244630...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
11,"(227088590.0, 227362110.0, 244630187.0, 227369...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
12,"(227088590.0, 227362110.0, 244630187.0, 227369...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
13,"(227806500.0, 227635210.0, 227362110.0, 227148...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
14,"(227088590.0, 227362110.0, 244630187.0, 227369...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
15,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:23:00,2016-03-01 08:23:00,1
16,"(227762340.0, 227636480.0)",2016-03-01 08:23:00,2016-03-01 08:23:00,1
17,"(227222000.0, 227270000.0, 227006750.0, 227016...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
18,"(227569380.0, 227590030.0, 227641920.0, 227650...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
19,"(227008170.0, 227270000.0, 227006750.0, 227016...",2016-03-01 08:23:00,2016-03-01 08:23:00,1

,clusters,st,et,dur
0,"(477115900.0, 249297000.0)",2016-03-01 08:22:00,2016-03-01 08:23:00,2
1,"(228064900.0, 227730220.0)",2016-03-01 08:22:00,2016-03-01 08:23:00,2
2,"(477115900.0, 249297000.0)",2016-03-01 08:23:00,2016-03-01 08:23:00,1
3,"(227322690.0, 227690560.0, 227639660.0, 227686...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
4,"(227666970.0, 227113100.0, 227315110.0, 227621...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
5,"(228064900.0, 227730220.0)",2016-03-01 08:23:00,2016-03-01 08:23:00,1
6,"(228064900.0, 228186700.0)",2016-03-01 08:23:00,2016-03-01 08:23:00,1
7,"(227690560.0, 227639660.0, 227686540.0, 227631...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
8,"(227588970.0, 227654220.0, 227303430.0, 227589...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
9,"(227806500.0, 227088590.0, 227362110.0, 244630...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
10,"(227806500.0, 227088590.0, 227362110.0, 244630...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
11,"(227806500.0, 227635210.0, 227362110.0, 227369...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
12,"(227806500.0, 227635210.0, 227362110.0, 244630...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
13,"(227088590.0, 227362110.0, 244630187.0, 227369...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
14,"(227088590.0, 227362110.0, 244630187.0, 227369...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
15,"(227806500.0, 227635210.0, 227362110.0, 227148...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
16,"(227088590.0, 227362110.0, 244630187.0, 227369...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
17,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:23:00,2016-03-01 08:23:00,1
18,"(227762340.0, 227636480.0)",2016-03-01 08:23:00,2016-03-01 08:23:00,1
19,"(227222000.0, 227270000.0, 227006750.0, 227016...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
20,"(227569380.0, 227590030.0, 227641920.0, 227650...",2016-03-01 08:23:00,2016-03-01 08:23:00,1
21,"(227008170.0, 227270000.0, 227006750.0, 227016...",2016-03-01 08:23:00,2016-03-01 08:23:00,1

,clusters,st,et,dur
0,"(227016100.0, 227270000.0, 227222000.0, 227006...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
1,"(227016100.0, 227008170.0, 227270000.0, 227006...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
2,"(227666970.0, 227621940.0, 227315110.0, 227113...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
3,"(227650230.0, 227590030.0, 227641920.0, 227322...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
4,"(227650230.0, 227641920.0, 227611930.0, 227569...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
5,"(227632830.0, 227588970.0, 227589520.0, 227303...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
6,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:24:00,2016-03-01 08:24:00,1
7,"(227640710.0, 227631450.0, 227322670.0, 227690...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
8,"(477115900.0, 249297000.0)",2016-03-01 08:24:00,2016-03-01 08:24:00,1
9,"(227590030.0, 227641920.0, 227322670.0, 227690...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
10,"(227590030.0, 227631450.0, 227641920.0, 227322...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
11,"(228064900.0, 228186700.0)",2016-03-01 08:24:00,2016-03-01 08:24:00,1
12,"(227640190.0, 227113100.0)",2016-03-01 08:24:00,2016-03-01 08:24:00,1
13,"(227762340.0, 227636480.0)",2016-03-01 08:24:00,2016-03-01 08:24:00,1
14,"(227016100.0, 227008170.0, 227369960.0, 227088...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
15,"(227008170.0, 227592820.0, 227369960.0, 227088...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
16,"(227008170.0, 227369960.0, 227088590.0, 227408...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
17,"(227806500.0, 227369960.0, 227408710.0, 227574...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
18,"(227806500.0, 227369960.0, 227408710.0, 228796...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
19,"(227806500.0, 227369960.0, 227088590.0, 227408...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
20,"(227592820.0, 227806500.0, 227369960.0, 227088...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
21,"(227806500.0, 227408710.0, 227574020.0, 228796...",2016-03-01 08:24:00,2016-03-01 08:24:00,1

,clusters,st,et,dur
0,"(477115900.0, 249297000.0)",2016-03-01 08:22:00,2016-03-01 08:24:00,3
1,"(477115900.0, 249297000.0)",2016-03-01 08:23:00,2016-03-01 08:24:00,2
2,"(228064900.0, 228186700.0)",2016-03-01 08:23:00,2016-03-01 08:24:00,2
3,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:23:00,2016-03-01 08:24:00,2
4,"(227762340.0, 227636480.0)",2016-03-01 08:23:00,2016-03-01 08:24:00,2
5,"(227016100.0, 227270000.0, 227222000.0, 227006...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
6,"(227016100.0, 227008170.0, 227270000.0, 227006...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
7,"(227666970.0, 227621940.0, 227315110.0, 227113...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
8,"(227650230.0, 227590030.0, 227641920.0, 227322...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
9,"(227650230.0, 227641920.0, 227611930.0, 227569...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
10,"(227632830.0, 227588970.0, 227589520.0, 227303...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
11,"(227142200.0, 227941000.0, 227162950.0)",2016-03-01 08:24:00,2016-03-01 08:24:00,1
12,"(227640710.0, 227631450.0, 227322670.0, 227690...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
13,"(477115900.0, 249297000.0)",2016-03-01 08:24:00,2016-03-01 08:24:00,1
14,"(227590030.0, 227641920.0, 227322670.0, 227690...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
15,"(227590030.0, 227631450.0, 227641920.0, 227322...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
16,"(228064900.0, 228186700.0)",2016-03-01 08:24:00,2016-03-01 08:24:00,1
17,"(227640190.0, 227113100.0)",2016-03-01 08:24:00,2016-03-01 08:24:00,1
18,"(227762340.0, 227636480.0)",2016-03-01 08:24:00,2016-03-01 08:24:00,1
19,"(227016100.0, 227008170.0, 227369960.0, 227088...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
20,"(227008170.0, 227592820.0, 227369960.0, 227088...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
21,"(227008170.0, 227369960.0, 227088590.0, 227408...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
22,"(227806500.0, 227369960.0, 227408710.0, 227574...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
23,"(227806500.0, 227369960.0, 227408710.0, 228796...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
24,"(227806500.0, 227369960.0, 227088590.0, 227408...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
25,"(227592820.0, 227806500.0, 227369960.0, 227088...",2016-03-01 08:24:00,2016-03-01 08:24:00,1
26,"(227806500.0, 227408710.0, 227574020.0, 228796...",2016-03-01 08:24:00,2016-03-01 08:24:00,1

,clusters,st,et,dur
0,"(227632830.0, 227654220.0, 227303430.0, 227588...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
1,"(227632830.0, 227303430.0, 227589520.0, 227588...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
2,"(249297000.0, 477115900.0)",2016-03-01 08:25:00,2016-03-01 08:25:00,1
3,"(227640710.0, 227690560.0, 227322670.0, 227631...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
4,"(227578460.0, 227650230.0, 227690560.0, 227569...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
5,"(227578460.0, 227690560.0, 227569380.0, 227590...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
6,"(227578460.0, 227650230.0, 227569380.0, 227611...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
7,"(227636480.0, 227762340.0)",2016-03-01 08:25:00,2016-03-01 08:25:00,1
8,"(227113100.0, 227640190.0)",2016-03-01 08:25:00,2016-03-01 08:25:00,1
9,"(227113100.0, 227666970.0, 227315110.0, 227621...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
10,"(227362110.0, 227298110.0, 227592820.0, 227369...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
11,"(227362110.0, 227298110.0, 227369960.0, 227006...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
12,"(227362110.0, 227298110.0, 227592820.0, 227369...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
13,"(227362110.0, 227298110.0, 228796000.0, 227369...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
14,"(227362110.0, 227298110.0, 228796000.0, 227369...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
15,"(227362110.0, 227298110.0, 228796000.0, 227369...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
16,"(227362110.0, 227298110.0, 228796000.0, 227408...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
17,"(227362110.0, 227016100.0, 227298110.0, 227369...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
18,"(227666970.0, 227589520.0, 227621940.0)",2016-03-01 08:25:00,2016-03-01 08:25:00,1
19,"(227690560.0, 227590030.0, 227322670.0, 227631...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
20,"(228064900.0, 228186700.0)",2016-03-01 08:25:00,2016-03-01 08:25:00,1
21,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 08:25:00,2016-03-01 08:25:00,1
22,"(227016100.0, 227006750.0, 227222000.0, 227270...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
23,"(227016100.0, 227006750.0, 227270000.0, 227008...",2016-03-01 08:25:00,2016-03-01 08:25:00,1

,clusters,st,et,dur
0,"(228064900.0, 228186700.0)",2016-03-01 08:23:00,2016-03-01 08:25:00,3
1,"(228064900.0, 228186700.0)",2016-03-01 08:24:00,2016-03-01 08:25:00,2
2,"(227632830.0, 227654220.0, 227303430.0, 227588...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
3,"(227632830.0, 227303430.0, 227589520.0, 227588...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
4,"(249297000.0, 477115900.0)",2016-03-01 08:25:00,2016-03-01 08:25:00,1
5,"(227640710.0, 227690560.0, 227322670.0, 227631...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
6,"(227578460.0, 227650230.0, 227690560.0, 227569...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
7,"(227578460.0, 227690560.0, 227569380.0, 227590...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
8,"(227578460.0, 227650230.0, 227569380.0, 227611...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
9,"(227636480.0, 227762340.0)",2016-03-01 08:25:00,2016-03-01 08:25:00,1
10,"(227113100.0, 227640190.0)",2016-03-01 08:25:00,2016-03-01 08:25:00,1
11,"(227113100.0, 227666970.0, 227315110.0, 227621...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
12,"(227362110.0, 227298110.0, 227592820.0, 227369...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
13,"(227362110.0, 227298110.0, 227369960.0, 227006...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
14,"(227362110.0, 227298110.0, 227592820.0, 227369...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
15,"(227362110.0, 227298110.0, 228796000.0, 227369...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
16,"(227362110.0, 227298110.0, 228796000.0, 227369...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
17,"(227362110.0, 227298110.0, 228796000.0, 227369...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
18,"(227362110.0, 227298110.0, 228796000.0, 227408...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
19,"(227362110.0, 227016100.0, 227298110.0, 227369...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
20,"(227666970.0, 227589520.0, 227621940.0)",2016-03-01 08:25:00,2016-03-01 08:25:00,1
21,"(227690560.0, 227590030.0, 227322670.0, 227631...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
22,"(228064900.0, 228186700.0)",2016-03-01 08:25:00,2016-03-01 08:25:00,1
23,"(227162950.0, 227941000.0, 227142200.0)",2016-03-01 08:25:00,2016-03-01 08:25:00,1
24,"(227016100.0, 227006750.0, 227222000.0, 227270...",2016-03-01 08:25:00,2016-03-01 08:25:00,1
25,"(227016100.0, 227006750.0, 227270000.0, 227008...",2016-03-01 08:25:00,2016-03-01 08:25:00,1

,clusters,st,et,dur
0,"(227650230.0, 227690560.0, 227639660.0, 227578...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
1,"(227631450.0, 227690560.0, 227639660.0, 227686...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
2,"(227631450.0, 227690560.0, 227639660.0, 227640...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
3,"(227690560.0, 227639660.0, 227322690.0, 227686...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
4,"(227016100.0, 227362110.0, 227369960.0, 227006...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
5,"(227362110.0, 227369960.0, 227806500.0, 227592...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
6,"(227362110.0, 227369960.0, 227008170.0, 227592...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
7,"(228796000.0, 227362110.0, 227369960.0, 227806...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
8,"(227362110.0, 227369960.0, 227006750.0, 227008...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
9,"(228796000.0, 227362110.0, 227369960.0, 227806...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
10,"(228796000.0, 227362110.0, 227369960.0, 227612...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
11,"(228796000.0, 227362110.0, 227612860.0, 227806...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
12,"(227315110.0, 227666970.0, 227589520.0, 227621...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
13,"(227315110.0, 227666970.0, 227113100.0)",2016-03-01 08:26:00,2016-03-01 08:26:00,1
14,"(227578460.0, 227611930.0, 227569380.0, 227641...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
15,"(227632830.0, 227589520.0, 227621940.0, 227303...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
16,"(227632830.0, 227666970.0, 227589520.0, 227621...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
17,"(227632830.0, 227589520.0, 227303430.0, 227588...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
18,"(227762340.0, 227636480.0)",2016-03-01 08:26:00,2016-03-01 08:26:00,1
19,"(228186700.0, 228064900.0)",2016-03-01 08:26:00,2016-03-01 08:26:00,1
20,"(227654220.0, 227588970.0)",2016-03-01 08:26:00,2016-03-01 08:26:00,1
21,"(227016100.0, 227006750.0, 227270000.0, 227222...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
22,"(227016100.0, 227006750.0, 227008170.0, 227270...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
23,"(249297000.0, 477115900.0)",2016-03-01 08:26:00,2016-03-01 08:26:00,1
24,"(227142200.0, 227162950.0, 227319570.0, 227941...",2016-03-01 08:26:00,2016-03-01 08:26:00,1
25,"(227640190.0, 227113100.0)",2016-03-01 08:26:00,2016-03-01 08:26:00,1

In [180]:
keep

                     clusters                   st                   et  dur
0  (477115900.0, 249297000.0)  2016-03-01 07:45:00  2016-03-01 07:49:00    5
0  (477115900.0, 249297000.0)  2016-03-01 07:45:00  2016-03-01 07:50:00    6
1  (477115900.0, 249297000.0)  2016-03-01 07:46:00  2016-03-01 07:50:00    5
0  (249297000.0, 477115900.0)  2016-03-01 08:17:00  2016-03-01 08:21:00    5

In [162]:
keep

Empty DataFrame
Columns: []
Index: []

In [159]:
for i in (range(50)):
    print(log[i].max())

2
1
2
2
3
2
2
2
1
2
2
2
2
2
2
2
2
2
2
3
1
1
2
1
1
2
1
2
3
3
2
3
4
5
2
2
2
2
2
3
2
2
3
4
2
2
2
2
2
2

In [40]:
new['dur'] = new.dur.apply(lambda x : x+1)

In [44]:
past.loc[tmp]

                                          0
18  (227270000.0, 227222000.0, 227016100.0)
21  (227270000.0, 227008170.0, 227016100.0)
22  (227270000.0, 227002330.0, 227016100.0)
23  (227270000.0, 226263000.0, 227016100.0)
80  (227408710.0, 227008170.0, 227369960.0)

In [17]:
pairs = pairs_in_radius(sdf[['lon', 'lat']].values)
full_sets = connected_edges(pairs)
#     clusters = []
#     for individual_sets in full_sets:
#         # MAYBE FROM BIG TO SMALL INSTEAD OF SMALL TO BIG
#         for j in range(min_cardinality,len(individual_sets)+1):
#             for candidate in itertools.combinations(individual_sets,j):
#                  if eval_candidate(candidate, pairs):
#                         clusters.append(candidate)
#     return clusters

In [18]:
full_sets

[[0, 13, 64],
 [0, 15, 64],
 [0, 16, 64],
 [0, 24, 64],
 [0, 26, 64],
 [0, 27, 64],
 [0, 29, 64],
 [0, 32, 64],
 [0, 44, 64],
 [0, 45, 64],
 [0, 61, 64],
 [13, 41, 64],
 [16, 41, 64],
 [24, 41, 64],
 [26, 41, 64],
 [32, 41, 64],
 [41, 45, 64],
 [41, 61, 64],
 [4, 7, 41],
 [7, 16, 41],
 [7, 41, 45],
 [4, 13, 41],
 [4, 16, 41],
 [4, 24, 41],
 [4, 41, 45],
 [0, 13, 61],
 [0, 15, 61],
 [0, 16, 61],
 [0, 22, 61],
 [0, 24, 61],
 [0, 26, 61],
 [0, 27, 61],
 [0, 29, 61],
 [0, 32, 61],
 [0, 44, 61],
 [0, 45, 61],
 [0, 15, 50],
 [0, 22, 50],
 [0, 23, 50],
 [0, 26, 50],
 [0, 27, 50],
 [0, 32, 50],
 [0, 44, 50],
 [0, 47, 50],
 [0, 15, 47],
 [0, 22, 47],
 [0, 23, 47],
 [0, 27, 47],
 [0, 32, 47],
 [0, 44, 47],
 [0, 13, 45],
 [0, 16, 45],
 [0, 24, 45],
 [0, 26, 45],
 [0, 32, 45],
 [0, 15, 44],
 [0, 22, 44],
 [0, 23, 44],
 [0, 26, 44],
 [0, 27, 44],
 [0, 32, 44],
 [0, 13, 32],
 [0, 15, 32],
 [0, 16, 32],
 [0, 22, 32],
 [0, 23, 32],
 [0, 24, 32],
 [0, 26, 32],
 [0, 27, 32],
 [0, 29, 32],
 [0, 13, 29],
 [0, 16, 29],
 [0, 24, 29],
 [0, 26, 29],
 [0, 27, 29],
 [0, 13, 27],
 [0, 15, 27],
 [0, 22, 27],
 [0, 24, 27],
 [0, 26, 27],
 [0, 13, 26],
 [0, 15, 26],
 [0, 16, 26],
 [0, 22, 26],
 [0, 23, 26],
 [0, 24, 26],
 [0, 13, 24],
 [0, 16, 24],
 [0, 15, 23],
 [0, 22, 23],
 [0, 15, 22],
 [0, 13, 16],
 [10, 46, 53],
 [30, 46, 53],
 [10, 53, 68],
 [30, 53, 68],
 [53, 65, 68],
 [30, 53, 65],
 [10, 30, 46],
 [6, 28, 69],
 [25, 38, 63]]

In [69]:
[(227006750.0, 227008170.0, 227003050.0)] in pd.DataFrame([[val] for (val) in translate(full_sets, sdf)]).values.tolist()

True

In [21]:
pd.DataFrame([[tuple(val)] for (val) in translate(full_sets, sdf)])

                                           0
0    (227574020.0, 228394000.0, 227806500.0)
1    (227574020.0, 227640710.0, 227806500.0)
2    (227574020.0, 227311000.0, 227806500.0)
3    (227574020.0, 228236600.0, 227806500.0)
4    (227574020.0, 227705102.0, 227806500.0)
5    (227574020.0, 227666970.0, 227806500.0)
6    (227574020.0, 256494000.0, 227806500.0)
7    (227574020.0, 228211900.0, 227806500.0)
8    (227574020.0, 227632830.0, 227806500.0)
9    (227574020.0, 227303430.0, 227806500.0)
10   (227574020.0, 244630187.0, 227806500.0)
11   (228394000.0, 228005700.0, 227806500.0)
12   (227311000.0, 228005700.0, 227806500.0)
13   (228236600.0, 228005700.0, 227806500.0)
14   (227705102.0, 228005700.0, 227806500.0)
15   (228211900.0, 228005700.0, 227806500.0)
16   (228005700.0, 227303430.0, 227806500.0)
17   (228005700.0, 244630187.0, 227806500.0)
18   (304087000.0, 227650230.0, 228005700.0)
19   (227650230.0, 227311000.0, 228005700.0)
20   (227650230.0, 228005700.0, 227303430.0)
21   (304087000.0, 228394000.0, 228005700.0)
22   (304087000.0, 227311000.0, 228005700.0)
23   (304087000.0, 228236600.0, 228005700.0)
24   (304087000.0, 228005700.0, 227303430.0)
25   (227574020.0, 228394000.0, 244630187.0)
26   (227574020.0, 227640710.0, 244630187.0)
27   (227574020.0, 227311000.0, 244630187.0)
28   (227574020.0, 227148000.0, 244630187.0)
29   (227574020.0, 228236600.0, 244630187.0)
..                                       ...
71   (227574020.0, 227311000.0, 256494000.0)
72   (227574020.0, 228236600.0, 256494000.0)
73   (227574020.0, 227705102.0, 256494000.0)
74   (227574020.0, 227666970.0, 256494000.0)
75   (227574020.0, 228394000.0, 227666970.0)
76   (227574020.0, 227640710.0, 227666970.0)
77   (227574020.0, 227148000.0, 227666970.0)
78   (227574020.0, 228236600.0, 227666970.0)
79   (227574020.0, 227705102.0, 227666970.0)
80   (227574020.0, 228394000.0, 227705102.0)
81   (227574020.0, 227640710.0, 227705102.0)
82   (227574020.0, 227311000.0, 227705102.0)
83   (227574020.0, 227148000.0, 227705102.0)
84   (227574020.0, 227686540.0, 227705102.0)
85   (227574020.0, 228236600.0, 227705102.0)
86   (227574020.0, 228394000.0, 228236600.0)
87   (227574020.0, 227311000.0, 228236600.0)
88   (227574020.0, 227640710.0, 227686540.0)
89   (227574020.0, 227148000.0, 227686540.0)
90   (227574020.0, 227640710.0, 227148000.0)
91   (227574020.0, 228394000.0, 227311000.0)
92   (227088590.0, 412069000.0, 227298110.0)
93   (228236700.0, 412069000.0, 227298110.0)
94   (227088590.0, 227298110.0, 227690560.0)
95   (228236700.0, 227298110.0, 227690560.0)
96   (227298110.0, 228796000.0, 227690560.0)
97   (228236700.0, 227298110.0, 228796000.0)
98   (227088590.0, 228236700.0, 412069000.0)
99   (226263000.0, 227590030.0, 227588970.0)
100  (227589520.0, 228853000.0, 227114630.0)

[101 rows x 1 columns]

In [92]:
tmp1 = pd.DataFrame([[val] for val in translate(full_sets, sdf)])

In [89]:
tmp2 = pd.DataFrame([[val] for val in translate(full_sets, sdf)])

In [127]:
tmp2 = tmp2.append( pd.DataFrame([[(227322690.0, 228762000.0, 228893000.0, 228893000.0)]] )).reset_index(drop=True)

In [143]:
[tmp1.iloc[0][0] in val[0] for val in tmp2.values.tolist()]

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [142]:
tmp1.iloc[0][0]

(227322690.0, 228762000.0, 228893000.0)

In [118]:
tmp2 = tmp2.append([[(234056000.0, 227632830.0, 227639660.0, 237639660.0)]])

In [111]:
tmp2.merge(tmp1, how='left')

                                         0
0  (234056000.0, 227632830.0, 227639660.0)
1  (234056000.0, 227640190.0, 227639660.0)
2  (227612860.0, 228394000.0, 227162950.0)
3  (227016100.0, 227142200.0, 227654220.0)
4  (227322690.0, 228762000.0, 228893000.0)

In [112]:
tmp2.loc[~tmp2.isin(tmp1)]

ValueError: Cannot index with multidimensional key

In [1]:
new = present.merge(past, how='left', indicator=True)
new[new['_merge']=='left_only'].drop(['_merge'],axis=1)

NameError: name 'present' is not defined

In [2]:
# get if tuple of tmp1 is subset or equal of a row of tmp2
past.apply(lambda x: True in [set(x) <= set(val) for val in present.values], axis=1)

NameError: name 'past' is not defined

In [148]:
tmp1

                                         0
0  (227322690.0, 228762000.0, 228893000.0)
1  (227322690.0, 220364000.0, 228893000.0)
2  (477115900.0, 227300000.0, 256494000.0)
3  (228064900.0, 228796000.0, 227611930.0)

In [149]:
tmp2

                                                   0
0            (234056000.0, 227632830.0, 227639660.0)
1            (234056000.0, 227640190.0, 227639660.0)
2            (227612860.0, 228394000.0, 227162950.0)
3            (227016100.0, 227142200.0, 227654220.0)
4            (227322690.0, 228762000.0, 228893000.0)
5  (234056000.0, 227632830.0, 227639660.0, 237639...
6  (227322690.0, 228762000.0, 228893000.0, 228893...

In [167]:
[set(val) for val in tmp2.values]

[{(234056000.0, 227632830.0, 227639660.0)},
 {(234056000.0, 227640190.0, 227639660.0)},
 {(227612860.0, 228394000.0, 227162950.0)},
 {(227016100.0, 227142200.0, 227654220.0)},
 {(227322690.0, 228762000.0, 228893000.0)},
 {(234056000.0, 227632830.0, 227639660.0, 237639660.0)},
 {(227322690.0, 228762000.0, 228893000.0, 228893000.0)}]

In [166]:
tmp2

                                                   0
0            (234056000.0, 227632830.0, 227639660.0)
1            (234056000.0, 227640190.0, 227639660.0)
2            (227612860.0, 228394000.0, 227162950.0)
3            (227016100.0, 227142200.0, 227654220.0)
4            (227322690.0, 228762000.0, 228893000.0)
5  (234056000.0, 227632830.0, 227639660.0, 237639...
6  (227322690.0, 228762000.0, 228893000.0, 228893...