In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
from shapely.geometry import Point
from matplotlib import pyplot as plt
import matplotlib.gridspec as gridspec
from random import choice
pd.options.mode.chained_assignment = None 
import pickle

In [11]:
import os, sys
sys.path.append(os.path.join(os.path.expanduser('~'), 'Documents/Insert-Generic-Name-Here'))
# sys.path

from lonelyboy.geospatial import plots as gsplt
from lonelyboy.geospatial import preprocessing as gspp
from lonelyboy.timeseries import lbtimeseries as tspp
# from lonelyboy.geospatial import group_patterns as gsgp


# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"
import PyQt5
import matplotlib.pyplot as plt
from matplotlib import style;  style.use('ggplot')

style.use('ggplot')

get_ipython().magic('matplotlib qt')
# get_ipython().magic('matplotlib inline')

In [4]:
PLT_FIG_WIDTH = 3.787
PLT_FIG_HEIGHT = PLT_FIG_WIDTH / 1.618

# Reading Data (Testing on Fisheries)

In [4]:
ports = pd.read_pickle('./data/pkl/ports_raw.pkl')
fisheries = pd.read_csv('data/csv/fisheries_dynamic_real_points_v2.csv')

fisheries = gspp.gdf_from_df(fisheries, crs={'init':'epsg:4326'})
ports = gspp.create_port_bounds(ports, epsg=2154, port_radius=2000)

In [ ]:
gsplt.map_plot(fisheries, color=['steelblue'], title='Testing Trajectories', fontsize=10)

# [TESTING] Calculating AIS Activity

In [7]:
fisheries.drop(['index'], axis=1, inplace=True)

In [8]:
fisheries.head()

,id,mmsi,turn,speed,course,heading,lon,lat,ts,velocity,geom,traj_id,trip_id
0,13729318,227443000,-127.0,11.1,171.5,511,-4.782632,48.005634,1443650411,12.628942,POINT (-4.782632 48.005634),0.0,0
1,13729321,227443000,-127.0,11.3,172.6,511,-4.782532,48.005116,1443650420,10.235945,POINT (-4.7825317 48.00511599999999),0.0,0
2,13729323,227443000,-127.0,11.3,173.7,511,-4.782448,48.004600,1443650431,12.154994,POINT (-4.7824483 48.0046),0.0,0
3,13729325,227443000,-127.0,11.5,171.7,511,-4.782232,48.003550,1443650450,10.626990,POINT (-4.782232 48.00355),0.0,0
4,13729328,227443000,-127.0,11.4,171.1,511,-4.782132,48.003067,1443650460,12.686616,POINT (-4.7821317 48.003067),0.0,0

* ## Outside Port

In [61]:
ais_activity_outside_port = fisheries.groupby(['mmsi', pd.to_datetime(fisheries.ts, unit='s').dt.date, 'trip_id'], group_keys=False)\
                                        .apply(lambda df: df.ts.diff().sum()/3600).to_frame().reset_index()
ais_activity_outside_port.columns = ['mmsi', 'date', 'trip_id', '#hrs']

ais_activity_outside_port = ais_activity_outside_port.groupby(['mmsi', 'date'], group_keys=False).apply(lambda df: np.around(df['#hrs'].sum(), 3)).to_frame().reset_index()
ais_activity_outside_port.columns = ['mmsi', 'date', '#hrs']

ais_activity_outside_port

          mmsi      #hrs
0    219017843     4.369
1    224038000    68.248
2    224040000    19.177
3    224045260    13.166
4    224052970    56.448
5    224067130    81.161
6    224113270    37.843
7    224130870    85.678
8    224141980    16.803
9    224196160    11.569
10   224389000    79.676
11   226004000     6.089
12   226084000   415.221
13   226105000    73.023
14   226150000     4.519
15   226158000    58.056
16   226177000  1020.650
17   226178000   988.749
18   226179000   326.548
19   226216000   192.967
20   226243000    29.051
21   226267000    26.574
22   227108900     0.833
23   227113100   191.951
24   227114300  1389.596
25   227116100     8.000
26   227123700     2.613
27   227127900     5.822
28   227128800    34.709
29   227138600    18.360
..         ...       ...
297  228849000   485.918
298  228858000   101.623
299  228874000   284.180
300  228880000    24.628
301  228888000    10.458
302  228917000   111.079
303  228919000    80.707
304  228922000    28.777
305  228925000   176.762
306  228929000    45.015
307  228931000    83.179
308  228935000   107.050
309  228941000    38.278
310  228945000    15.497
311  228947000   607.231
312  228954000    41.766
313  228975000    24.133
314  232005610    42.868
315  232005800    21.839
316  235005150    13.211
317  235010670     7.669
318  235097013   183.205
319  244309000    67.595
320  244563000     0.088
321  244583000     9.422
322  245811000     1.998
323  250000870    44.044
324  257806000     3.000
325  265771000    11.642
326  277330000     0.002

[327 rows x 2 columns]

* ## Within Port

In [74]:
ais_activity_within_port = pd.DataFrame([], columns=['mmsi', '#hrs'])

for (vesselId), df in fisheries.groupby(['mmsi']):
    breaking_points = df.loc[df.traj_id.diff() == 1].index.tolist()
    
    if (len(breaking_points) == 0):
        ais_activity_within_port = ais_activity_within_port.append(pd.DataFrame([[vesselId, 0]], columns=['mmsi', '#hrs']))
        continue
    
    hrs = np.around(np.sum([df.loc[bp-1:bp,:].ts.diff().values[1] for bp in breaking_points])/3600, 3)
    ais_activity_within_port = ais_activity_within_port.append(pd.DataFrame([[vesselId, hrs]], columns=['mmsi', '#hrs']))
    
ais_activity_within_port.reset_index(drop=True, inplace=True)
ais_activity_within_port

          mmsi      #hrs
0    219017843  2676.874
1    224038000     0.000
2    224040000     0.000
3    224045260     0.000
4    224052970     8.172
5    224067130     0.000
6    224113270     0.000
7    224130870     0.000
8    224141980     0.000
9    224196160     0.000
10   224389000    20.459
11   226004000     0.000
12   226084000  3181.284
13   226105000   780.595
14   226150000     0.000
15   226158000     0.000
16   226177000  1003.666
17   226178000  1539.583
18   226179000  1337.083
19   226216000  1518.610
20   226243000  1459.539
21   226267000  1107.994
22   227108900     0.000
23   227113100  1745.346
24   227114300  2846.401
25   227116100     0.000
26   227123700     0.000
27   227127900     0.000
28   227128800   879.994
29   227138600   669.898
..         ...       ...
297  228849000  2091.421
298  228858000    12.795
299  228874000     0.000
300  228880000     0.000
301  228888000     0.000
302  228917000     0.000
303  228919000  2414.030
304  228922000  1267.634
305  228925000  1419.665
306  228929000     1.504
307  228931000   406.114
308  228935000  1249.411
309  228941000  1227.260
310  228945000     0.000
311  228947000  2138.938
312  228954000  2376.745
313  228975000     0.000
314  232005610     0.000
315  232005800     0.000
316  235005150     0.000
317  235010670     0.000
318  235097013   123.294
319  244309000     0.000
320  244563000     0.000
321  244583000     0.000
322  245811000     0.000
323  250000870   127.618
324  257806000     0.000
325  265771000    90.607
326  277330000     0.000

[327 rows x 2 columns]

* ## Temporal Gap

In [85]:
ais_activity_temporal_gap = pd.DataFrame([], columns=['mmsi', 'traj_id', '#hrs'])

for (vesselId, trajId), df in fisheries.groupby(['mmsi', 'traj_id']):
    breaking_points = df.loc[df.trip_id.diff() == 1].index.tolist()
    
    if (len(breaking_points) == 0):
        ais_activity_temporal_gap = ais_activity_temporal_gap.append(pd.DataFrame([[vesselId, trajId, 0]], columns=['mmsi', 'traj_id', '#hrs']))
        continue
    
    hrs = np.around(np.sum([df.loc[bp-1:bp,:].ts.diff().sum() for bp in breaking_points])/3600, 3)
    ais_activity_temporal_gap = ais_activity_temporal_gap.append(pd.DataFrame([[vesselId, trajId, hrs]], columns=['mmsi', 'traj_id', '#hrs']))

ais_activity_temporal_gap.reset_index(drop=True, inplace=True)
ais_activity_temporal_gap = ais_activity_temporal_gap.groupby(['mmsi'], group_keys=False).apply(lambda df: np.around(df['#hrs'].sum(), 3)).to_frame().reset_index()
ais_activity_temporal_gap.columns = ['mmsi', '#hrs']
ais_activity_temporal_gap

          mmsi      #hrs
0    219017843     0.000
1    224038000   677.592
2    224040000     0.000
3    224045260    12.165
4    224052970  1687.470
5    224067130  2667.930
6    224113270  2912.087
7    224130870  3042.163
8    224141980     0.000
9    224196160  1396.588
10   224389000  1793.565
11   226004000     0.000
12   226084000   721.948
13   226105000  3407.550
14   226150000     0.000
15   226158000  3739.356
16   226177000  2239.440
17   226178000  1711.659
18   226179000  2550.283
19   226216000  2609.685
20   226243000  2615.884
21   226267000  1846.644
22   227108900     0.000
23   227113100  2436.454
24   227114300   113.800
25   227116100     0.000
26   227123700  2779.919
27   227127900  2056.302
28   227128800   665.746
29   227138600   970.908
..         ...       ...
297  228849000  1754.114
298  228858000  1016.831
299  228874000  3469.748
300  228880000  3085.997
301  228888000  1813.758
302  228917000  3469.765
303  228919000  1847.593
304  228922000   563.457
305  228925000  1219.155
306  228929000  1869.645
307  228931000  3773.341
308  228935000  1933.632
309  228941000  2600.539
310  228945000     0.000
311  228947000  1585.826
312  228954000   730.650
313  228975000  1671.388
314  232005610  2900.387
315  232005800  1654.904
316  235005150  3851.965
317  235010670     0.000
318  235097013  3747.503
319  244309000    21.824
320  244563000     0.000
321  244583000    25.829
322  245811000     0.000
323  250000870  2569.026
324  257806000     0.000
325  265771000     0.000
326  277330000     0.000

[327 rows x 2 columns]

# Reading and Joining CSVs

In [5]:
data_folder = './data/csv/stats/nari_dynamic_ais_activity_report_V2/'

nari_dynamic_ais_activity_report_outside_port = []
nari_dynamic_ais_activity_report_within_port = []
nari_dynamic_ais_activity_report_temporal_gaps = []

for cnt, file in enumerate(os.listdir(data_folder)):
    tmp = pd.read_csv(os.path.join(data_folder, file))
    if 'outside' in file: 
        print (f'\'outside\' in: {file}')
        nari_dynamic_ais_activity_report_outside_port.append(tmp)
    elif 'within' in file: 
        print (f'\'within\' in: {file}')
        nari_dynamic_ais_activity_report_within_port.append(tmp)
    elif 'temporal' in file: 
        print (f'\'temporal\' in: {file}')
        nari_dynamic_ais_activity_report_temporal_gaps.append(tmp)
        
nari_dynamic_ais_activity_report_outside_port = pd.concat(nari_dynamic_ais_activity_report_outside_port, ignore_index=True)
nari_dynamic_ais_activity_report_within_port = pd.concat(nari_dynamic_ais_activity_report_within_port, ignore_index=True)
nari_dynamic_ais_activity_report_temporal_gaps = pd.concat(nari_dynamic_ais_activity_report_temporal_gaps, ignore_index=True)

'temporal' in: nari_dynamic_ais_activity_report_temporal_gaps_4_Without_Dates.csv
'temporal' in: nari_dynamic_ais_activity_report_temporal_gaps_5_Without_Dates.csv
'outside' in: nari_dynamic_ais_activity_report_outside_port_5_Without_Dates.csv
'outside' in: nari_dynamic_ais_activity_report_outside_port_3_Without_Dates.csv
'temporal' in: nari_dynamic_ais_activity_report_temporal_gaps_2_Without_Dates.csv
'temporal' in: nari_dynamic_ais_activity_report_temporal_gaps_3_Without_Dates.csv
'within' in: nari_dynamic_ais_activity_report_within_port_2_Without_Dates.csv
'outside' in: nari_dynamic_ais_activity_report_outside_port_4_Without_Dates.csv
'temporal' in: nari_dynamic_ais_activity_report_temporal_gaps_0_Without_Dates.csv
'outside' in: nari_dynamic_ais_activity_report_outside_port_2_Without_Dates.csv
'within' in: nari_dynamic_ais_activity_report_within_port_1_Without_Dates.csv
'temporal' in: nari_dynamic_ais_activity_report_temporal_gaps_1_Without_Dates.csv
'within' in: nari_dynamic_ais_activity_report_within_port_3_Without_Dates.csv
'within' in: nari_dynamic_ais_activity_report_within_port_5_Without_Dates.csv
'outside' in: nari_dynamic_ais_activity_report_outside_port_0_Without_Dates.csv
'within' in: nari_dynamic_ais_activity_report_within_port_0_Without_Dates.csv
'outside' in: nari_dynamic_ais_activity_report_outside_port_1_Without_Dates.csv
'within' in: nari_dynamic_ais_activity_report_within_port_4_Without_Dates.csv

In [7]:
nari_dynamic_ais_activity_report_outside_port.to_csv('./data/csv/stats/nari_dynamic_ais_activity_report_outside_port_v2.csv', index=False, header=True)
nari_dynamic_ais_activity_report_within_port.to_csv('./data/csv/stats/nari_dynamic_ais_activity_report_within_port_v2.csv', index=False, header=True)
nari_dynamic_ais_activity_report_temporal_gaps.to_csv('./data/csv/stats/nari_dynamic_ais_activity_report_temporal_gaps_v2.csv', index=False, header=True)

# Making the Pie Chart

In [9]:
df = pd.DataFrame({'#Hours': [nari_dynamic_ais_activity_report_outside_port['#hrs'].sum(), nari_dynamic_ais_activity_report_within_port['#hrs'].sum(), nari_dynamic_ais_activity_report_temporal_gaps['#hrs'].sum()]},
                 index=['Outside Port', 'Within Port', 'Unknown '])
print (df)
explode = (0.2, 0, 0)  
ax = df.plot.pie(y='#Hours', 
                   figsize=(PLT_FIG_WIDTH, PLT_FIG_HEIGHT), 
                   explode=explode,
                   startangle=0,
                   autopct='%1.1f%%', 
                   pctdistance=0.80,
                   cmap='tab20c',
                   legend=False)
ax.axis('equal')

for text in ax.texts:
    text.set_fontsize(8)
    if ' ' in text.get_text():
        text.set_color('grey')

plt.ylabel('')
plt.savefig('../AIS_Activity_Pie_Chart_V2.pdf', dpi=300)

                   #Hours
Outside Port   120968.342
Within Port    624431.903
Unknown       2523237.096

# Making the Distributions

In [6]:
vessel_AIS_activity = pd.concat([nari_dynamic_ais_activity_report_outside_port, nari_dynamic_ais_activity_report_within_port, nari_dynamic_ais_activity_report_temporal_gaps], 
          axis=1, join='inner', ignore_index=True)

vessel_AIS_activity.drop([2,4], axis=1, inplace=True)
vessel_AIS_activity.columns = ['mmsi', '#hrs Outside', '#hrs Within', '#hrs Temp. Gaps']
vessel_AIS_activity

           mmsi  #hrs Outside  #hrs Within  #hrs Temp. Gaps
0     227003050       624.499     1518.858          184.893
1     227113100       190.802     3379.790          185.606
2     227142200       364.150     1407.467          559.973
3     227300000      1556.430      260.391         2554.860
4     227574020       918.466     1865.423          221.903
5     227635680       324.890     4068.009           89.330
6     227696930       157.826      269.527         2517.449
7     227705102       937.541        2.058           39.199
8     228041600        68.008     3866.514         1149.407
9     228302900       314.378        0.000          368.147
10    227226450         1.042        0.000         3977.465
11    227327000       309.539     1004.172            0.000
12    227375000       318.521     2292.906         2527.907
13    227567680       194.564        0.000           34.017
14    228069900        21.284     2177.284         2991.017
15    228211900       946.699        0.000          906.930
16    228218000       325.591      141.848         2872.672
17    228910000        58.539     1099.808         2069.108
18    228919000        79.918     1267.683         4175.925
19    304903000        74.331        0.000         4009.698
20    227003850       327.556     1337.528         3345.370
21    227069470        22.497        0.000           59.283
22    227109900       217.829      876.241           79.605
23    227315190       323.672        0.000         2340.420
24    227406000       116.208     1611.971          343.751
25    228208800       247.529        0.000         2203.603
26    228267900       105.519        0.000         2600.828
27    228370000        72.821      249.676         3859.009
28    235054581        83.253        0.000         3729.391
29    246497000       410.823        0.000         3422.407
...         ...           ...          ...              ...
3515  432935000         0.151        0.000            0.000
3516  636092390         0.530        0.000            0.000
3517  227413960         0.642        0.000            0.000
3518  245021000         0.643        0.000            0.000
3519  245772000         0.566        0.000            0.000
3520  249689000         0.000        0.000            0.000
3521  538090056         0.000        0.000            0.000
3522  211210420         0.000        0.000            0.000
3523  212220000         0.000        0.000            0.000
3524  220634000         0.000        0.000            0.000
3525  230016570         0.141        0.000            0.000
3526  248278000         0.043        0.000            0.000
3527  371911000         0.211        0.000            0.000
3528  211202460         0.068        0.000            0.000
3529  244852000         0.000        0.000            0.000
3530  255805679         0.068        0.000            0.000
3531  310530000         0.000        0.000            0.000
3532  353979000         0.038        0.000            0.000
3533  431132000         0.000        0.000            0.000
3534  636012909         0.000        0.000            0.000
3535  636014309         0.000        0.000            0.000
3536  636017044         0.000        0.000            0.000
3537  244730000         0.000        0.000            0.000
3538  249704000         0.000        0.000            0.000
3539  256096000         0.000        0.000            0.000
3540  538004639         0.000        0.000            0.000
3541  636015240         0.000        0.000            0.000
3542  212340000         0.000        0.000            0.000
3543  219363000         0.000        0.000            0.000
3544  636013799         0.000        0.000            0.000

[3545 rows x 4 columns]

# Basic AIS Statistics

In [7]:
print ('Average #hrs Outside Port:\t', vessel_AIS_activity['#hrs Outside'].mean())
print ('Cumulative #hrs Outside Port:\t', vessel_AIS_activity['#hrs Outside'].sum())

Average #hrs Outside Port:	 34.12365077574048
Cumulative #hrs Outside Port:	 120968.342

In [8]:
print ('Average #hrs Within Port:\t', vessel_AIS_activity['#hrs Within'].mean())
print ('Cumulative #hrs Within Port:\t', vessel_AIS_activity['#hrs Within'].sum())

Average #hrs Within Port:	 176.14440141043724
Cumulative #hrs Within Port:	 624431.903

In [9]:
print ('Average #hrs on Temp. Gaps:\t', vessel_AIS_activity['#hrs Temp. Gaps'].mean())
print ('Cumulative #hrs Within Port:\t', vessel_AIS_activity['#hrs Temp. Gaps'].sum())

Average #hrs on Temp. Gaps:	 711.7735108603667
Cumulative #hrs Within Port:	 2523237.096

# AIS Distributions

In [114]:
out = pd.cut(vessel_AIS_activity['#hrs Outside'], [0, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 3912])
out = pd.cut(vessel_AIS_activity['#hrs Within'], [0, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 3912]) 

ax = out.value_counts(sort=False).plot.bar(figsize=(PLT_FIG_WIDTH,PLT_FIG_HEIGHT), fontsize=8, width=0.75, cmap='tab20', rot=40)
ax = out.value_counts(sort=False).plot.bar(ax=ax, figsize=(PLT_FIG_WIDTH,PLT_FIG_HEIGHT), fontsize=8, width=0.75, cmap='tab20', rot=40)

plt.ticklabel_format(style='sci', axis='y', scilimits=(0,0))
plt.suptitle(r'\textbf{Vessel AIS Activity Outside Port}', fontsize=8, y=1)
plt.xlabel(r'\textbf{\#hrs}', fontsize=8)
plt.ylabel(r'\textbf{\#Vessels}', fontsize=8)

plt.savefig(os.path.join('..', 'AIS_Activity_Outside_Port.pdf'), dpi=300, bbox_inches='tight')

In [47]:
out = pd.cut(vessel_AIS_activity['#hrs Within'], [0, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 4325]) 

ax = out.value_counts(sort=False).plot.bar(figsize=(PLT_FIG_WIDTH,PLT_FIG_HEIGHT), fontsize=8, width=0.75, cmap='tab20', rot=40)

plt.ticklabel_format(style='sci', axis='y', scilimits=(0,0))
plt.suptitle(r'\textbf{Cumulative AIS Activity Within Port}', fontsize=8, y=1)
plt.xlabel(r'\textbf{\#hrs}', fontsize=8)
plt.ylabel(r'\textbf{\#Vessels}', fontsize=8)

Text(0, 0.5, '\\textbf{\\#Vessels}')

In [49]:
out = pd.cut(vessel_AIS_activity['#hrs Temp. Gaps'], [0, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 3912, 4096, 4325]) 

ax = out.value_counts(sort=False).plot.bar(figsize=(PLT_FIG_WIDTH,PLT_FIG_HEIGHT), fontsize=8, width=0.75, cmap='tab20', rot=40)
# ax.set_xticklabels([str(c).split(' ')[1].split(']')[0] for c in out.cat.categories])

plt.ticklabel_format(style='sci', axis='y', scilimits=(0,0))
plt.suptitle(r'\textbf{Vessel AIS Activity Within Port}', fontsize=8, y=1)
plt.xlabel(r'\textbf{\#hrs}', fontsize=8)
plt.ylabel(r'\textbf{\#Vessels}', fontsize=8)

Text(0, 0.5, '\\textbf{\\#Vessels}')

In [12]:
out = pd.cut(vessel_AIS_activity['#hrs Within'], [0, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 4325]) 
out2 = pd.cut(vessel_AIS_activity['#hrs Temp. Gaps'], [0, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 3912, 4096, 4325]) 

df1 = out.value_counts(sort=False).to_frame()
df2 = out2.value_counts(sort=False).to_frame()
df = pd.concat([df1, df2], axis=1, join='inner', ignore_index=True)
df.columns = ['#Hrs Within Port', '#Hrs Temp. Gaps']

fig, ax = plt.subplots()
ax2 = df.plot(figsize=(PLT_FIG_WIDTH,PLT_FIG_HEIGHT), kind='bar', secondary_y='\#Hrs Temp. Gaps', 
             cmap='tab20', rot=35, width=0.75, legend=False, ax=ax)   

plt.title('Vessel AIS Activity Outside Port & Temporal Gaps', fontsize=8, y=1.1)
plt.xlabel('#hrs', fontsize=8)
plt.ylabel('#Vessels', fontsize=8)

ax.set_ylabel('#Vessels', fontsize=8)

fig.legend(['#Hrs Within Port', '#Hrs Temp. Gaps'], fontsize='small', loc='upper center',
           bbox_to_anchor=(0.535, 1.18), fancybox=False, shadow=False, frameon=False, ncol=2)
plt.grid(True)
plt.show()

# plt.savefig(os.path.join('..', 'AIS_Activity_Outside_Port_Temp_Gaps_V2.pdf'), dpi=300, bbox_inches='tight')

Traceback (most recent call last):
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/backends/backend_qt5.py", line 519, in _draw_idle
    self.draw()
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/backends/backend_agg.py", line 402, in draw
    self.figure.draw(self.renderer)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/artist.py", line 50, in draw_wrapper
    return draw(artist, renderer, *args, **kwargs)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/figure.py", line 1649, in draw
    renderer, self, artists, self.suppressComposite)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/image.py", line 138, in _draw_list_compositing_images
    a.draw(renderer)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/artist.py", line 50, in draw_wrapper
    return draw(artist, renderer, *args, **kwargs)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/axes/_base.py", line 2628, in draw
    mimage._draw_list_compositing_images(renderer, self, artists)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/image.py", line 138, in _draw_list_compositing_images
    a.draw(renderer)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/artist.py", line 50, in draw_wrapper
    return draw(artist, renderer, *args, **kwargs)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/axis.py", line 1187, in draw
    renderer)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/axis.py", line 1125, in _get_tick_bboxes
    extent = tick.label1.get_window_extent(renderer)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/text.py", line 930, in get_window_extent
    bbox, info, descent = self._get_layout(self._renderer)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/text.py", line 313, in _get_layout
    ismath=ismath)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/backends/backend_agg.py", line 209, in get_text_width_height_descent
    s, fontsize, renderer=self)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/texmanager.py", line 464, in get_text_width_height_descent
    dvifile = self.make_dvi(tex, fontsize)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/texmanager.py", line 328, in make_dvi
    texfile], tex)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/texmanager.py", line 298, in _run_checked_subprocess
    stderr=subprocess.STDOUT)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/subprocess.py", line 395, in check_output
    **kwargs).stdout
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/subprocess.py", line 472, in run
    with Popen(*popenargs, **kwargs) as process:
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/subprocess.py", line 775, in __init__
    restore_signals, start_new_session)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/subprocess.py", line 1522, in _execute_child
    raise child_exception_type(errno_num, err_msg, err_filename)
FileNotFoundError: [Errno 2] No such file or directory: 'latex': 'latex'
Traceback (most recent call last):
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/backends/backend_qt5.py", line 519, in _draw_idle
    self.draw()
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/backends/backend_agg.py", line 402, in draw
    self.figure.draw(self.renderer)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/artist.py", line 50, in draw_wrapper
    return draw(artist, renderer, *args, **kwargs)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/figure.py", line 1649, in draw
    renderer, self, artists, self.suppressComposite)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/image.py", line 138, in _draw_list_compositing_images
    a.draw(renderer)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/artist.py", line 50, in draw_wrapper
    return draw(artist, renderer, *args, **kwargs)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/axes/_base.py", line 2628, in draw
    mimage._draw_list_compositing_images(renderer, self, artists)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/image.py", line 138, in _draw_list_compositing_images
    a.draw(renderer)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/artist.py", line 50, in draw_wrapper
    return draw(artist, renderer, *args, **kwargs)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/axis.py", line 1187, in draw
    renderer)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/axis.py", line 1125, in _get_tick_bboxes
    extent = tick.label1.get_window_extent(renderer)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/text.py", line 930, in get_window_extent
    bbox, info, descent = self._get_layout(self._renderer)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/text.py", line 313, in _get_layout
    ismath=ismath)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/backends/backend_agg.py", line 209, in get_text_width_height_descent
    s, fontsize, renderer=self)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/texmanager.py", line 464, in get_text_width_height_descent
    dvifile = self.make_dvi(tex, fontsize)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/texmanager.py", line 328, in make_dvi
    texfile], tex)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/site-packages/matplotlib/texmanager.py", line 298, in _run_checked_subprocess
    stderr=subprocess.STDOUT)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/subprocess.py", line 395, in check_output
    **kwargs).stdout
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/subprocess.py", line 472, in run
    with Popen(*popenargs, **kwargs) as process:
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/subprocess.py", line 775, in __init__
    restore_signals, start_new_session)
  File "/home/andretri7/anaconda3/envs/gis/lib/python3.7/subprocess.py", line 1522, in _execute_child
    raise child_exception_type(errno_num, err_msg, err_filename)
FileNotFoundError: [Errno 2] No such file or directory: 'latex': 'latex'