In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
from shapely.geometry import Point
from matplotlib import pyplot as plt
import matplotlib.gridspec as gridspec
from random import choice
pd.options.mode.chained_assignment = None 
import pickle

In [2]:
import os, sys
sys.path.append(os.path.join(os.path.expanduser('~'), 'Documents/Coding/Python'))
# sys.path

from lonelyboy.geospatial import plots as gsplt
from lonelyboy.geospatial import preprocessing as gspp
from lonelyboy.timeseries import lbtimeseries as tspp
# from lonelyboy.geospatial import group_patterns as gsgp


# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"
import PyQt5
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
plt.rc('text', usetex=True)
plt.rc('font', family='serif')

get_ipython().magic('matplotlib qt')
# get_ipython().magic('matplotlib inline')

In [89]:
# PLT_FIG_WIDTH = 10.487
PLT_FIG_WIDTH = 3.787
PLT_FIG_HEIGHT = PLT_FIG_WIDTH / 1.618

In [4]:
ports = pd.read_pickle('./data/pkl/ports_raw.pkl')
traj  = pd.read_csv('./data/csv/nari_dynamic_test.csv')
# traj  = pd.read_csv('./data/csv/nari_dynamic.csv')

traj  = gspp.gdf_from_df(traj, crs={'init':'epsg:4326'})
ports = gspp.create_port_bounds(ports, epsg=2154, port_radius=2000)

In [6]:
gsplt.map_plot(traj, color=['steelblue'], title='Testing Trajectories', fontsize=10)

## Section 2: Distribution over Port Popularity

In [7]:
port_popularity = pd.DataFrame([], columns=['port_id', '#arrivals_departures'])

In [8]:
%%time
sindex = traj.sindex

port_popularity = pd.DataFrame([], columns=['port_id', '#arrivals_departures'])
# find the points that intersect with each subpolygon and add them to points_within_geometry
for (port_id, poly) in zip(ports.gid, ports.geom):
    # find approximate matches with r-tree, then precise matches from those approximate ones
    possible_matches_index = list(sindex.intersection(poly.bounds))
    possible_matches = traj.iloc[possible_matches_index]
    precise_matches  = possible_matches[possible_matches.intersects(poly)]
    port_popularity  = port_popularity.append(pd.DataFrame([[port_id, len(precise_matches)]], columns=['port_id', '#arrivals_departures']))
    
port_popularity.reset_index(inplace=True, drop=True)

Wall time: 5.68 s

* ### Reading CSVs

In [12]:
data_folder = './data/csv/stats/port_popularity_report'
for cnt, file in enumerate(os.listdir(data_folder)):
    tmp = pd.read_csv(os.path.join(data_folder, file))
    if cnt==0:
        port_popularity = tmp
    else: 
        port_popularity['#arrivals_departures'] = port_popularity['#arrivals_departures'] + tmp['#arrivals_departures']

In [ ]:
port_popularity

In [45]:
port_popularity.to_csv('./data/csv/stats/port_popularity_report.csv', index=False, header=True)

In [5]:
port_popularity = pd.read_csv('./data/csv/stats/port_popularity_report.csv')

In [6]:
port_popularity_merged = pd.merge(ports, port_popularity, how='inner', left_on='gid', right_on='port_id')
port_popularity_merged.head()

,gid,gml_id,por_id,libelle_po,insee_comm,por_x,por_y,geom,port_id,#arrivals_departures
0,1,port.1,1,Le Vivier-sur-Mer,35361,297025.0,2408370.0,POLYGON ((-1.744722258976547 48.60382613452489...,1,0
1,2,port.10,10,Saint-Samson sur Rance,22327,279335.0,2396060.0,POLYGON ((-1.974979769268805 48.48483583379186...,2,0
2,3,port.100,100,Douarnenez,29046,103135.0,2365330.0,POLYGON ((-4.314453220845626 48.09876366555108...,3,887769
3,4,port.101,101,Brézellec,29028,79105.4,2364190.0,POLYGON ((-4.634389885959526 48.06978148591438...,4,7342
4,5,port.102,102,Sein,29083,64562.5,2362180.0,"POLYGON ((-4.82623989311881 48.04003666854432,...",5,182025

In [7]:
tmp = port_popularity_merged.sort_values(['#arrivals_departures'], ascending=False).iloc[:2,:]
port_popularity_merged.sort_values(['#arrivals_departures'], ascending=False)

,gid,gml_id,por_id,libelle_po,insee_comm,por_x,por_y,geom,port_id,#arrivals_departures
207,208,port.86,86,Brest,29019,95931.3,2397840.0,POLYGON ((-4.448417803028764 48.38443172631552...,208,7297716
2,3,port.100,100,Douarnenez,29046,103135.0,2365330.0,POLYGON ((-4.314453220845626 48.09876366555108...,3,887769
208,209,port.87,87,Brest Moulin Blanc,29019,99011.9,2398830.0,POLYGON ((-4.408135980899162 48.39566629117813...,209,284938
4,5,port.102,102,Sein,29083,64562.5,2362180.0,"POLYGON ((-4.82623989311881 48.04003666854432,...",5,182025
219,220,port.97,97,Camaret,29022,86070.5,2386660.0,POLYGON ((-4.567755996722108 48.27657284982146...,220,178939
220,221,port.98,98,Le Fret,29042,92437.7,2387210.0,"POLYGON ((-4.48296706537295 48.2865582380885, ...",221,152680
221,222,port.99,99,Morgat,29042,92375.0,2380350.0,POLYGON ((-4.475798890467401 48.22499497743777...,222,33503
206,207,port.85,85,Le Conquet,29040,73575.0,2397180.0,POLYGON ((-4.748144371917133 48.36084100244644...,207,27524
218,219,port.96,96,Roscanvel,29238,89850.0,2390640.0,POLYGON ((-4.521715842237255 48.31520244875784...,219,25142
205,206,port.84,84,Île de Molène,29084,60462.5,2402630.0,POLYGON ((-4.931072710007551 48.39882861615506...,206,23012
212,213,port.90,90,Lauberlac'h,29189,100166.0,2392640.0,POLYGON ((-4.385481275381495 48.34112202991879...,213,12111
11,12,port.109,109,Saint-Guénolé Penmarc'h,29158,98012.2,2334480.0,POLYGON ((-4.347781800727664 47.81837566131623...,12,7744
3,4,port.101,101,Brézellec,29028,79105.4,2364190.0,POLYGON ((-4.634389885959526 48.06978148591438...,4,7342
204,205,port.83,83,Arland,29155,54385.5,2410410.0,POLYGON ((-5.022592235743381 48.46347442644752...,205,7245
202,203,port.81,81,Le Stiff,29155,53893.0,2411290.0,POLYGON ((-5.030330947479571 48.47091437295486...,203,7012
213,214,port.91,91,Le Tinduff,29189,103175.0,2392240.0,POLYGON ((-4.344593147367691 48.33989798270198...,214,5914
5,6,port.103,103,Bestrée,29168,74602.9,2360880.0,POLYGON ((-4.690592756553531 48.03655733503912...,6,3823
15,16,port.112,112,Loctudy Île Tudy,29135,113081.0,2335160.0,POLYGON ((-4.148010435620948 47.83581074338905...,16,3017
13,14,port.110,110,Le Guilvinec,29072,104817.0,2331500.0,"POLYGON ((-4.2539052248671 47.79682553749591, ...",14,2478
8,9,port.106,106,Audierne,29003,87751.3,2358150.0,POLYGON ((-4.511788017074558 48.02257411270256...,9,1850
6,7,port.104,104,Feunteun Aod,29168,76150.5,2360170.0,POLYGON ((-4.669079983857601 48.03145733071058...,7,1582
26,27,port.122,122,Concarneau,29039,132930.0,2337880.0,POLYGON ((-3.886583893044114 47.87460762031325...,27,711
17,18,port.114,114,Sainte-Marine,29037,117352.0,2339480.0,POLYGON ((-4.095870912974511 47.87774524059726...,18,371
19,20,port.116,116,Penfoul,29006,118086.0,2339960.0,POLYGON ((-4.086615758144462 47.88259968308339...,20,356
210,211,port.89,89,Le Passage,29189,102975.0,2398100.0,POLYGON ((-4.353995276991196 48.39218005605425...,211,284
55,56,port.149,149,Port-Tudy,56069,165760.0,2309620.0,POLYGON ((-3.421274610245151 47.64369172164235...,56,248
18,19,port.115,115,Quimper,29232,119205.0,2349990.0,POLYGON ((-4.082643741366092 47.97328378095818...,19,245
54,55,port.148,148,Port Lay,56069,164949.0,2309950.0,POLYGON ((-3.432362038775858 47.64613974876053...,55,244
21,22,port.118,118,Beg Meil,29058,127610.0,2336750.0,POLYGON ((-3.956268003236455 47.86073416306242...,22,213
57,58,port.150,150,Locmaria,56069,166603.0,2308030.0,POLYGON ((-3.408550705959819 47.63004193422149...,58,207
...,...,...,...,...,...,...,...,...,...,...
125,126,port.211,211,Cale du Ruault,56240,214229.0,2295870.0,POLYGON ((-2.765694405900551 47.55041910613233...,126,0
126,127,port.212,212,Cale de Penvins,56240,222175.0,2289280.0,POLYGON ((-2.654794197422912 47.49588942877057...,127,0
127,128,port.213,213,Cale de Fort-Espagnol,56046,201885.0,2303860.0,"POLYGON ((-2.936438089209222 47.6148019346266,...",128,0
128,129,port.214,214,Cale de la Pointe,56003,211597.0,2303250.0,POLYGON ((-2.806994748242975 47.61511960397437...,129,0
129,130,port.215,215,Cale de Pen Er Men,56003,209728.0,2304460.0,POLYGON ((-2.832863211415889 47.62484127914913...,130,0
130,131,port.216,216,Cale de Penboch,56003,213853.0,2303940.0,POLYGON ((-2.777649760852567 47.62258654511035...,131,0
131,132,port.217,217,Cale de Moréac,56003,215486.0,2303820.0,POLYGON ((-2.755865050884406 47.62250144943561...,132,0
1,2,port.10,10,Saint-Samson sur Rance,22327,279335.0,2396060.0,POLYGON ((-1.974979769268805 48.48483583379186...,2,0
108,109,port.197,197,La Roche-Bernard,56195,250518.0,2290250.0,POLYGON ((-2.280020063860443 47.52010339773158...,109,0
84,85,port.175,175,Le Port,56087,210379.0,2301500.0,POLYGON ((-2.821632110400178 47.59864652542024...,85,0
93,94,port.183,183,Cale de Béluré,56088,214483.0,2301980.0,POLYGON ((-2.767602919635257 47.60541706295264...,94,0
85,86,port.176,176,Arradon,56003,211855.0,2303400.0,POLYGON ((-2.803701225626495 47.61660163374327...,86,0
86,87,port.177,177,Cale de Conleau,56260,215625.0,2305130.0,POLYGON ((-2.755149161944574 47.63432578099144...,87,0
87,88,port.178,178,Vannes,56260,217513.0,2307190.0,POLYGON ((-2.731848302235287 47.65391526483221...,88,0
88,89,port.179,179,Port Anna,56243,215865.0,2303910.0,POLYGON ((-2.750915653725886 47.62357544727307...,89,0
89,90,port.18,18,Dahouët,22186,238197.0,2408990.0,POLYGON ((-2.541079196340543 48.57926265797345...,90,0
90,91,port.180,180,Cale de Badel,56244,217681.0,2302440.0,"POLYGON ((-2.725543991084164 47.6114225876495,...",91,0
91,92,port.181,181,Cale de Langle,56245,216554.0,2303180.0,POLYGON ((-2.741140246058645 47.61742501028684...,92,0
92,93,port.182,182,Cale de Barrarach,56246,216447.0,2303840.0,POLYGON ((-2.743131590015241 47.62328583836722...,93,0
94,95,port.184,184,Cale du Passage,56205,220288.0,2299910.0,POLYGON ((-2.688789208729621 47.59016112368275...,95,0
106,107,port.195,195,Penlan,56018,235845.0,2290840.0,POLYGON ((-2.474974045078307 47.51749581087779...,107,0
95,96,port.185,185,Le Logéo,56240,210202.0,2295550.0,POLYGON ((-2.818810285221583 47.54519675058584...,96,0
96,97,port.186,186,Saint-Jacques,56241,213540.0,2288880.0,POLYGON ((-2.768802329822373 47.48726850575491...,97,0
97,98,port.187,187,Cale de Kerners,56005,207707.0,2297260.0,POLYGON ((-2.853380550694635 47.55908042663631...,98,0
98,99,port.188,188,Port Navalo,56006,205185.0,2296300.0,POLYGON ((-2.885967182579435 47.54893673619607...,99,0
99,100,port.189,189,Le Crouesty,56007,206632.0,2295520.0,POLYGON ((-2.866103965954112 47.54282160024834...,100,0
101,102,port.190,190,Port aux Moines,56214,209718.0,2290700.0,POLYGON ((-2.821001700407756 47.50141191195458...,102,0
104,105,port.193,193,Cale de Pencadénic,56252,226629.0,2292160.0,POLYGON ((-2.598186193585698 47.52419041838363...,105,0
105,106,port.194,194,Pénerf,56052,226693.0,2291210.0,POLYGON ((-2.596555149521476 47.51571717672714...,106,0
111,112,port.2,2,Cancale,35049,291494.0,2416330.0,POLYGON ((-1.825291726937726 48.67268052773728...,112,0

In [78]:
_ = map_plot(ports, tmp, figsize=(PLT_FIG_WIDTH, PLT_FIG_HEIGHT), column='cmap', color=['black', 'red'], legend=False)

In [60]:
tmp_popular_ports = port_popularity_merged.sort_values(['#arrivals_departures'], ascending=False).iloc[:2,:]
tmp_popular_ports = gspp.create_port_bounds(tmp_popular_ports)
tmp_popular_ports

,gid,gml_id,por_id,libelle_po,insee_comm,por_x,por_y,geom,port_id,#arrivals_departures,cmap
207,208,port.86,86,Brest,29019,95931.3,2397840.0,POLYGON ((-4.421680857347681 48.38700041737251...,208,7297716,6.863187
2,3,port.100,100,Douarnenez,29046,103135.0,2365330.0,POLYGON ((-4.287854236200064 48.10130266698893...,3,887769,5.948300

In [74]:
# import matplotlib
import contextily as ctx
from sklearn.preprocessing import MinMaxScaler


def map_plot(df1, df2 = None, ax=None, title=None, fontsize=25, color=['r', 'g'], figsize=(15,15), attribution="", **kwargs):
    '''
    Plot one or two dataframes on top of eachother.

    TODO - Add support for N Dataframes and more parameters, other that figsize.
    '''
    df1.crs = {'init': 'epsg:4326'}
    
    if ax is not None:
        df1.to_crs(epsg=3857).plot(figsize=figsize,color=color[0], ax=ax, **kwargs)
    else:
        ax = df1.to_crs(epsg=3857).plot(figsize=figsize,color=color[0], **kwargs)
    if title is not None:
        ax.set_title(title, fontsize=fontsize)
    if df2 is not None:
        df2.crs = {'init': 'epsg:4326'}
        df2.to_crs(epsg=3857).plot(figsize=figsize,color=color[1], ax=ax, **kwargs)
    ctx.add_basemap(ax, attribution=attribution)
    ax.margins(0)
    ax.tick_params(left=False, labelleft=False, bottom=False, labelbottom=False)
    
    return ax

# scaler = MinMaxScaler(feature_range=(0,1))
# port_popularity_merged['cmap'] = scaler.fit_transform(port_popularity.values[:,1].reshape(-1,1))
# fig, ax = plt.subplots(1, figsize=(PLT_FIG_WIDTH, PLT_FIG_HEIGHT))

port_popularity_merged['cmap'] = port_popularity_merged['#arrivals_departures'].apply(np.log10).replace(-np.inf, 0)
_ = map_plot(port_popularity_merged, figsize=(PLT_FIG_WIDTH, PLT_FIG_HEIGHT), column='cmap', color=[None], cmap='viridis', legend=True)


# sm = plt.c;m.ScalarMappable(cmap='viridis', norm=plt.Normalize(vmin=port_popularity_merged['cmap'].min(), vmax=port_popularity_merged['cmap'].max()))
# # empty array for the data range
# sm._A = []
# # add the colorbar to the figure
# cbar = fig.colorbar(sm, orientation='horizontal', shrink=0.6, pad=0.01)
# cbar.set_label(label='$\log_{10} (\#arrivals\_departures)$',size=5,weight='bold')

cax = plt.gcf().get_axes()[1]
#and we can modify it, i.e.:
cax.set_ylabel(r'\textbf{$\log_{10} (\#arrivals\_departures)$}', fontsize=8)
cax.tick_params(labelsize=8)
cax.xaxis.set_ticks_position("bottom")

plt.title(r'\textbf{Port Popularity Heatmap}', fontsize=8)
plt.axis('off')
plt.show()
# gsplt.map_plot(port_popularity_merged, column='#arrivals_departures', color=[None], cmap='viridis', title='Port Popularity', fontsize=10, legend=True)
# plt.savefig(os.path.join('.', 'experimental_figures', 'figs_final', 'Port_Popularity.pdf'), dpi=500, bbox_inches='tight', pad_inches=0) 
plt.savefig(os.path.join('..', 'Port_Popularity_V4.pdf'), dpi=500, bbox_inches='tight')

In [79]:
# scaler = MinMaxScaler(feature_range=(0,1))
# port_popularity_merged['cmap'] = scaler.fit_transform(port_popularity.values[:,1].reshape(-1,1))
# fig, ax = plt.subplots(1, figsize=(PLT_FIG_WIDTH, PLT_FIG_HEIGHT))

port_popularity_merged['cmap'] = port_popularity_merged['#arrivals_departures'].apply(np.log10).replace(-np.inf, 0)
ax = map_plot(port_popularity_merged, figsize=(PLT_FIG_WIDTH, PLT_FIG_HEIGHT), column='cmap', color=[None], cmap='viridis', legend=True)
tmp_popular_ports.to_crs(epsg=3857).plot(facecolor='none', edgecolor='red', lw=0.7, ax=ax)

# sm = plt.c;m.ScalarMappable(cmap='viridis', norm=plt.Normalize(vmin=port_popularity_merged['cmap'].min(), vmax=port_popularity_merged['cmap'].max()))
# # empty array for the data range
# sm._A = []
# # add the colorbar to the figure
# cbar = fig.colorbar(sm, orientation='horizontal', shrink=0.6, pad=0.01)
# cbar.set_label(label='$\log_{10} (\#arrivals\_departures)$',size=5,weight='bold')

cax = plt.gcf().get_axes()[1]
#and we can modify it, i.e.:
cax.set_ylabel(r'\#AIS Points Inside Port', fontsize=8)
cax.set_yticklabels([r'$0$', r'$10^1$', r'$10^2$', r'$10^3$', r'$10^4$', r'$10^5$', r'$10^6$'])  # horizontal colorbar
cax.tick_params(labelsize=8)
cax.xaxis.set_ticks_position("bottom")


# plt.title(r'\textbf{Port Popularity Heatmap}', fontsize=8)
plt.axis('off')
plt.show()
# gsplt.map_plot(port_popularity_merged, column='#arrivals_departures', color=[None], cmap='viridis', title='Port Popularity', fontsize=10, legend=True)
# plt.savefig(os.path.join('.', 'experimental_figures', 'figs_final', 'Port_Popularity.pdf'), dpi=500, bbox_inches='tight', pad_inches=0) 
plt.savefig(os.path.join('..', 'Port_Popularity_V5.pdf'), dpi=500, bbox_inches='tight', pad_inches=0)

In [91]:
port_popularity_merged['cmap'] = port_popularity_merged['#arrivals_departures'].apply(np.log10).replace(-np.inf, 0)

PLT_FIG_WIDTH2 = 2.787
PLT_FIG_HEIGHT2 = PLT_FIG_WIDTH2 / 1.618

fig, ax = plt.subplots(1, figsize=(PLT_FIG_WIDTH2, PLT_FIG_HEIGHT2))
_ = gsplt.map_plot(port_popularity_merged, ax=ax, column='cmap', color=[None], cmap='viridis', legend=False)

sm = plt.cm.ScalarMappable(cmap='viridis', norm=plt.Normalize(vmin=port_popularity_merged['cmap'].min(),
                                                               vmax=port_popularity_merged['cmap'].max()))
# empty array for the data range
sm._A = []
# add the colorbar to the figure
cbar = fig.colorbar(sm, orientation='horizontal', shrink=0.6, pad=0.05)
# cbar.set_label(label='$\log_{10} (\#arrivals\_departures)$',size=8,weight='bold')


cax = plt.gcf().get_axes()[1]
#and we can modify it, i.e.:
cax.tick_params(labelsize=5)
cax.set_xlabel(r'\#AIS Points Inside Port', fontsize=5)
cax.set_xticklabels([r'$0$', r'$10^2$', r'$10^4$', r'$10^6$'])  # horizontal colorbar
cax.tick_params(labelsize=5)
cax.xaxis.set_ticks_position("bottom")

plt.suptitle(r'', fontsize=5)
plt.axis('off')
plt.show()
# gsplt.map_plot(port_popularity_merged, column='#arrivals_departures', color=[None], cmap='viridis', title='Port Popularity', fontsize=10, legend=True)
# plt.savefig(os.path.join('.', 'experimental_figures', 'figs_final', 'Port_Popularity.pdf'), dpi=500, bbox_inches='tight', pad_inches=0) 
plt.savefig(os.path.join('..', 'Port_Popularity_V5_horizontal.pdf'), dpi=500, bbox_inches='tight', pad_inches=0)

## Section 3: Distribution of AIS Activity
  * ### Outside Port

In [4]:
def vessel_ais_activity(vessel, ports, port_epsg=2154, port_radius=2000, temporal_threshold=12):                                               
    port_bounds = gspp.create_port_bounds(ports, epsg=port_epsg, port_radius=port_radius)
    port_segmented_trajectories = gspp.segment_trajectories_v2(vessel, port_bounds)
    temporal_segmented_trajectories = gspp.__temporal_segment(port_segmented_trajectories, temporal_threshold=temporal_threshold)
    vessel_fn = pd.concat(temporal_segmented_trajectories, ignore_index=True)
    vessel_fn.sort_values('ts', inplace=True)
    vessel_fn.drop(['index'], axis=1, inplace=True)
    return vessel_fn

In [5]:
traj_seg = traj.groupby('mmsi', group_keys=False).apply(vessel_ais_activity, ports)
traj_seg.sort_values('ts', inplace=True)

Vessel mmsi:205067000
Segments Before: 1
Segments After: 2
Vessel mmsi:205067000
Segments Before: 1
Segments After: 2
Vessel mmsi:205067000
Segments Before: 1
Segments After: 2
Vessel mmsi:227519920
Segments Before: 55
Segments After: 55
Vessel mmsi:228037600
Segments Before: 136
Segments After: 139
Vessel mmsi:305166000
Segments Before: 4
Segments After: 5

In [22]:
gsplt.map_plot(traj_seg, color=[None], column='traj_id', cmap='tab20',  title='Testing Trajectories Segments', fontsize=10, legend=True)

In [41]:
ais_activity_outside_port = traj_seg.groupby(['mmsi', 'traj_id_12h_gap', pd.to_datetime(traj_seg.ts, unit='s').dt.date], group_keys=False).apply(lambda df: df.ts.diff().sum()/3600).to_frame().reset_index()
ais_activity_outside_port.columns = ['mmsi', 'traj_id_temporal_gap','date', '#hrs']
ais_activity_outside_port = ais_activity_outside_port.groupby(['mmsi', 'date'], group_keys=False).apply(lambda df: df['#hrs'].sum()).to_frame().reset_index()
ais_activity_outside_port.columns = ['mmsi', 'date', '#hrs']
ais_activity_outside_port

          mmsi        date       #hrs
0    205067000  2015-10-22   1.843333
1    205067000  2015-10-23  21.251389
2    205067000  2016-02-10   1.249444
3    227519920  2015-10-01   4.116667
4    227519920  2015-10-03   2.107778
5    227519920  2015-10-09   0.116667
6    227519920  2015-10-10   0.484167
7    227519920  2015-10-11   0.174722
8    227519920  2015-10-18   3.883333
9    227519920  2015-10-19   2.115833
10   227519920  2015-10-24   2.150833
11   227519920  2015-10-29   0.916389
12   227519920  2015-10-30   1.934444
13   227519920  2015-11-02   1.382500
14   227519920  2015-11-07   1.099722
15   227519920  2015-11-11   0.741944
16   227519920  2015-11-15   2.175000
17   227519920  2015-12-01   0.949722
18   227519920  2015-12-02   1.433889
19   227519920  2015-12-04   1.707778
20   227519920  2015-12-10   1.474722
21   227519920  2015-12-11   1.349444
22   227519920  2015-12-13   3.599722
23   227519920  2016-03-31   0.041389
24   228037600  2015-09-30   1.988611
25   228037600  2015-10-01   9.328333
26   228037600  2015-10-02   2.793333
27   228037600  2015-10-05   4.665278
28   228037600  2015-10-07   8.883611
29   228037600  2015-10-08   9.184444
..         ...         ...        ...
78   228037600  2016-02-19   0.002500
79   228037600  2016-02-21   6.310833
80   228037600  2016-02-22   7.355556
81   228037600  2016-02-23   5.685833
82   228037600  2016-02-24   1.308333
83   228037600  2016-02-25   5.483333
84   228037600  2016-02-28   3.622500
85   228037600  2016-02-29   6.555278
86   228037600  2016-03-03   1.069444
87   228037600  2016-03-06   6.886111
88   228037600  2016-03-07   6.380833
89   228037600  2016-03-08   5.122500
90   228037600  2016-03-10   7.471944
91   228037600  2016-03-13   1.802778
92   228037600  2016-03-14   7.622500
93   228037600  2016-03-15   7.019722
94   228037600  2016-03-16   2.280278
95   228037600  2016-03-17   6.177500
96   228037600  2016-03-20   2.508889
97   228037600  2016-03-21   5.395000
98   228037600  2016-03-22   4.766389
99   228037600  2016-03-23   5.744444
100  228037600  2016-03-24   0.441944
101  228037600  2016-03-29   3.744722
102  228037600  2016-03-30   7.400000
103  228037600  2016-03-31   4.421389
104  305166000  2015-11-08   6.946944
105  305166000  2015-11-09   1.266944
106  305166000  2015-11-10   4.483333
107  305166000  2015-11-13   3.508333

[108 rows x 3 columns]

  * ### Within Port

In [123]:
ais_activity_within_port = pd.DataFrame([], columns=['mmsi', 'date', '#hrs'])

for groupby_cols, mmsi_traj in traj_seg.groupby(['mmsi', pd.to_datetime(traj_seg.ts, unit='s').dt.date]):
    breaking_points = mmsi_traj.loc[mmsi_traj.traj_id.diff() == 1].index.tolist()
#     print ('Vessel: ', groupby_cols[0])
#     print ('Breaking Points:\n', breaking_points)
    if (len(breaking_points) == 0):
        ais_activity_within_port = ais_activity_within_port.append(pd.DataFrame([[groupby_cols[0], groupby_cols[1], 0]], columns=['mmsi', 'date', '#hrs']))
        continue
        
    hrs = np.around(np.sum([mmsi_traj.loc[bp-1:bp,:].ts.diff().values[1] for bp in breaking_points])/3600, 3)
    ais_activity_within_port = ais_activity_within_port.append(pd.DataFrame([[groupby_cols[0], groupby_cols[1], hrs]], columns=['mmsi', 'date', '#hrs']))

ais_activity_within_port.reset_index(drop=True, inplace=True)

In [124]:
ais_activity_within_port

          mmsi        date    #hrs
0    205067000  2015-10-22       0
1    205067000  2015-10-23       0
2    205067000  2016-02-10       0
3    227519920  2015-10-01   0.232
4    227519920  2015-10-03   0.101
5    227519920  2015-10-09       0
6    227519920  2015-10-10       0
7    227519920  2015-10-11       0
8    227519920  2015-10-18    0.05
9    227519920  2015-10-19   0.226
10   227519920  2015-10-24   0.166
11   227519920  2015-10-29   0.125
12   227519920  2015-10-30   0.116
13   227519920  2015-11-02   0.017
14   227519920  2015-11-07   0.017
15   227519920  2015-11-11    0.05
16   227519920  2015-11-15   0.117
17   227519920  2015-12-01       0
18   227519920  2015-12-02   0.033
19   227519920  2015-12-04   0.092
20   227519920  2015-12-10    0.05
21   227519920  2015-12-11   0.083
22   227519920  2015-12-13     0.2
23   227519920  2016-03-31       0
24   228037600  2015-09-30   0.006
25   228037600  2015-10-01  14.671
26   228037600  2015-10-02       0
27   228037600  2015-10-05   0.067
28   228037600  2015-10-07       0
29   228037600  2015-10-08  14.814
..         ...         ...     ...
78   228037600  2016-02-19       0
79   228037600  2016-02-21       0
80   228037600  2016-02-22       0
81   228037600  2016-02-23       0
82   228037600  2016-02-24       0
83   228037600  2016-02-25       0
84   228037600  2016-02-28   0.002
85   228037600  2016-02-29   0.003
86   228037600  2016-03-03       0
87   228037600  2016-03-06   0.003
88   228037600  2016-03-07   16.51
89   228037600  2016-03-08   0.011
90   228037600  2016-03-10       0
91   228037600  2016-03-13       0
92   228037600  2016-03-14       0
93   228037600  2016-03-15  16.977
94   228037600  2016-03-16  18.046
95   228037600  2016-03-17       0
96   228037600  2016-03-20       0
97   228037600  2016-03-21       0
98   228037600  2016-03-22       0
99   228037600  2016-03-23       0
100  228037600  2016-03-24       0
101  228037600  2016-03-29       0
102  228037600  2016-03-30       0
103  228037600  2016-03-31   17.57
104  305166000  2015-11-08   0.003
105  305166000  2015-11-09   0.003
106  305166000  2015-11-10       0
107  305166000  2015-11-13       0

[108 rows x 3 columns]

# To Use on the Script

In [70]:
for mmsi, ves_traj in traj.groupby('mmsi', group_keys=False):
    ves_traj = vessel_activity_outside_port(ves_traj, ports)
    ais_activity_outside_port = ves_traj.groupby(['mmsi', 'traj_id_12h_gap', pd.to_datetime(ves_traj.ts, unit='s').dt.date], group_keys=False).apply(lambda df: df.ts.diff().sum()/3600).to_frame().reset_index()
    ais_activity_outside_port.columns = ['mmsi', 'traj_id_temporal_gap','date', '#hrs']
    print(ais_activity_outside_port.head())

Vessel mmsi:205067000
Segments Before: 1
Segments After: 2
        mmsi  traj_id_temporal_gap        date       #hrs
0  205067000                     0  2015-10-22   1.843333
1  205067000                     0  2015-10-23  21.251389
2  205067000                     1  2016-02-10   1.249444
Vessel mmsi:227519920
Segments Before: 55
Segments After: 55
        mmsi  traj_id_temporal_gap        date      #hrs
0  227519920                     0  2015-10-01  0.573889
1  227519920                     1  2015-10-01  0.400000
2  227519920                     2  2015-10-01  2.275000
3  227519920                     3  2015-10-01  0.350000
4  227519920                     4  2015-10-01  0.258889
Vessel mmsi:228037600
Segments Before: 136
Segments After: 139
        mmsi  traj_id_temporal_gap        date      #hrs
0  228037600                     0  2015-09-30  1.197222
1  228037600                     1  2015-09-30  0.791389
2  228037600                     1  2015-10-01  1.225000
3  228037600                     2  2015-10-01  8.103333
4  228037600                     2  2015-10-02  2.793333
Vessel mmsi:305166000
Segments Before: 4
Segments After: 5
        mmsi  traj_id_temporal_gap        date      #hrs
0  305166000                     0  2015-11-08  6.827778
1  305166000                     1  2015-11-08  0.119167
2  305166000                     2  2015-11-09  0.441944
3  305166000                     3  2015-11-09  0.825000
4  305166000                     3  2015-11-10  4.483333

In [58]:
# tmp = points_within_geometry.groupby(['mmsi', pd.to_datetime(points_within_geometry.ts, unit='s').dt.date], group_keys=False).apply(lambda df: df.ts.diff().sum()/3600).to_frame().reset_index()
# tmp.columns = ['mmsi', 'date', '#hrs']
# tmp

# gsplt.map_plot(points_within_geometry, points_outside_geometry, color=['r','steelblue'], title='Points Outside/Inside Port Radius', fontsize=10)

## Read CSVs And Make Plots

In [9]:
data_folder = './data/csv/stats/nari_dynamic_ais_activity_report/'

nari_dynamic_ais_activity_report_outside_port = []
nari_dynamic_ais_activity_report_within_port = []

for cnt, file in enumerate(os.listdir(data_folder)):
    tmp = pd.read_csv(os.path.join(data_folder, file))
    if 'outside' in file: 
        print (f'\'outside\' in: {file}')
        nari_dynamic_ais_activity_report_outside_port.append(tmp)
    elif 'within' in file: 
        print (f'\'within\' in: {file}')
        nari_dynamic_ais_activity_report_within_port.append(tmp)
        
nari_dynamic_ais_activity_report_outside_port = pd.concat(nari_dynamic_ais_activity_report_outside_port, ignore_index=True)
nari_dynamic_ais_activity_report_within_port = pd.concat(nari_dynamic_ais_activity_report_within_port, ignore_index=True)

nari_dynamic_ais_activity_report_outside_port.sort_values(['date'], inplace=True)
nari_dynamic_ais_activity_report_within_port.sort_values(['date'], inplace=True)

nari_dynamic_ais_activity_report_outside_port.reset_index(drop=True, inplace=True)
nari_dynamic_ais_activity_report_within_port.reset_index(drop=True, inplace=True)

'outside' in: nari_dynamic_ais_activity_report_outside_port.csv
'outside' in: nari_dynamic_ais_activity_report_outside_port_0.csv
'outside' in: nari_dynamic_ais_activity_report_outside_port_1.csv
'outside' in: nari_dynamic_ais_activity_report_outside_port_2.csv
'outside' in: nari_dynamic_ais_activity_report_outside_port_3.csv
'outside' in: nari_dynamic_ais_activity_report_outside_port_4.csv
'outside' in: nari_dynamic_ais_activity_report_outside_port_5.csv
'within' in: nari_dynamic_ais_activity_report_within_port.csv
'within' in: nari_dynamic_ais_activity_report_within_port_0.csv
'within' in: nari_dynamic_ais_activity_report_within_port_1.csv
'within' in: nari_dynamic_ais_activity_report_within_port_2.csv
'within' in: nari_dynamic_ais_activity_report_within_port_3.csv
'within' in: nari_dynamic_ais_activity_report_within_port_4.csv
'within' in: nari_dynamic_ais_activity_report_within_port_5.csv

In [53]:
nari_dynamic_ais_activity_report_outside_port.to_csv('./data/csv/stats/nari_dynamic_ais_activity_report_outside_port.csv', index=False, header=True)
nari_dynamic_ais_activity_report_within_port.to_csv('./data/csv/stats/nari_dynamic_ais_activity_report_within_port.csv', index=False, header=True)

In [60]:
tmp = nari_dynamic_ais_activity_report_outside_port.merge(nari_dynamic_ais_activity_report_within_port, how='outer', left_on=['mmsi','date'], right_on = ['mmsi','date'], suffixes=('_outside_port', '_within_port'))
tmp.to_csv('./data/csv/stats/nari_dynamic_ais_activity_report.csv', index=False, header=True)

In [11]:
tmp = pd.read_csv('./data/csv/stats/nari_dynamic_ais_activity_report.csv')

In [12]:
tmp.head()

        mmsi        date  #hrs_outside_port  #hrs_within_port
0  566838000  2015-09-30              0.000               0.0
1  304091000  2015-09-30              1.950               0.0
2  228218700  2015-09-30              1.351               0.0
3  228160000  2015-09-30              0.433               0.0
4  228131600  2015-09-30              1.993               0.0

In [13]:
ais_activity_by_date = tmp.groupby([pd.to_datetime(tmp.date).dt.to_period('D')]).apply(lambda df: pd.DataFrame([[df['#hrs_outside_port'].sum(), df['#hrs_within_port'].sum()]])).reset_index().drop(['level_1'], axis=1)
ais_activity_by_date.columns = ['date', '#Hours Outside Port', '#Hours Within Port']
ais_activity_by_date.head()

         date  #Hours Outside Port  #Hours Within Port
0  2015-09-30               52.137               0.000
1  2015-10-01             1042.867             157.307
2  2015-10-02              896.200               7.719
3  2015-10-03             1136.994               6.348
4  2015-10-04              622.045               0.895

In [32]:
ais_activity_by_date.plot.bar(cmap='tab20', x='date', figsize=(PLT_FIG_WIDTH, PLT_FIG_HEIGHT), width=0.95, rot=0)
plt.show()

In [14]:
avg_ais_activity_by_date = tmp.groupby([tmp.date]).apply(lambda df: pd.DataFrame([[df['#hrs_outside_port'].mean(), df['#hrs_within_port'].mean()]])).reset_index().drop(['level_1'], axis=1)
avg_ais_activity_by_date.columns = ['date', 'Avg. #Hours Outside Port', 'Avg. #Hours Within Port']
avg_ais_activity_by_date.head()

         date  Avg. #Hours Outside Port  Avg. #Hours Within Port
0  2015-09-30                  1.212488                 0.000000
1  2015-10-01                  5.793706                 0.873928
2  2015-10-02                  5.464634                 0.047067
3  2015-10-03                  5.952848                 0.033236
4  2015-10-04                  7.149943                 0.010287

In [15]:
ais_activity_by_mmsi = tmp.groupby(['mmsi', pd.to_datetime(tmp.date).dt.to_period('D')]).apply(lambda df: pd.DataFrame([[df['#hrs_outside_port'].sum(), df['#hrs_within_port'].sum(), 24-df['#hrs_outside_port'].sum()+df['#hrs_within_port'].sum()]])).reset_index().drop(['level_2'], axis=1)
ais_activity_by_mmsi = ais_activity_by_mmsi.groupby(['mmsi']).apply(lambda df: pd.DataFrame([[df[0].sum(), df[1].sum(), df[2].sum()]])).reset_index().drop(['level_1'], axis=1)
ais_activity_by_mmsi.columns = ['mmsi', '#Hours Outside Port', '#Hours Within Port', '#Hours AIS Device OFF']
ais_activity_by_mmsi

,mmsi,#Hours Outside Port,#Hours Within Port,#Hours AIS Device OFF
0,37100300,35.472,0.031,36.559
1,205067000,25.202,0.000,46.798
2,205204000,84.369,0.081,155.712
3,205209000,1.314,0.000,22.686
4,205277430,4.618,0.000,43.382
5,205309000,22.111,0.019,49.908
6,205439000,62.456,0.000,129.544
7,205489000,8.724,0.000,39.276
8,205656000,8.035,0.000,63.965
9,205688000,9.146,0.000,14.854
10,205734400,6.835,0.000,41.165
11,205880600,3.537,0.000,44.463
12,207137000,1.102,0.000,22.898
13,207138000,121.755,0.022,46.267
14,209015000,41.110,0.000,102.890
15,209073000,0.000,0.000,24.000
16,209177000,7.896,0.000,64.104
17,209185000,2.310,0.000,45.690
18,209211000,13.804,0.000,34.196
19,209273000,1.199,0.000,22.801
20,209283000,0.174,0.000,23.826
21,209297000,7.139,0.000,40.861
22,209304000,23.043,0.000,96.957
23,209309000,7.976,0.000,16.024
24,209366000,12.934,0.000,83.066
25,209384000,3.663,0.000,92.337
26,209394000,6.988,0.000,17.012
27,209448000,0.000,0.000,24.000
28,209478000,0.653,0.000,23.347
29,209487000,43.985,0.000,76.015
...,...,...,...,...
3515,636092331,31.131,0.000,16.869
3516,636092335,4.070,0.000,43.930
3517,636092337,0.000,0.000,24.000
3518,636092340,3.381,0.000,44.619
3519,636092346,1.387,0.000,46.613
3520,636092361,19.453,0.000,76.547
3521,636092390,0.530,0.000,23.470
3522,636092391,2.570,0.000,21.430
3523,636092423,6.041,0.000,41.959
3524,636092451,2.304,0.000,45.696
3525,636092455,19.966,0.000,52.034
3526,636092457,1.891,0.000,22.109
3527,636092521,35.962,0.000,108.038
3528,636092528,2.810,0.000,21.190
3529,636092529,4.982,0.000,43.018
3530,636092548,2.984,0.000,21.016
3531,636092556,5.099,0.000,66.901
3532,636092571,4.985,0.000,19.015
3533,636092614,2.325,0.000,21.675
3534,636092616,10.086,0.000,13.914
3535,664209000,10.362,0.000,157.638
3536,667001223,2.056,0.000,21.944
3537,667001484,4.664,0.000,19.336
3538,671638000,1.894,0.000,22.106
3539,701829000,0.000,0.000,24.000
3540,701830000,0.000,0.000,24.000
3541,701832000,7.822,0.000,40.178
3542,740357000,0.000,0.000,24.000
3543,888888888,85.291,0.133,130.842
3544,999999999,1095.102,1.848,442.746

In [16]:
labels = ['Outside Port', 'Within Port', 'AIS Device OFF']
df = pd.DataFrame({'#Hours': ais_activity_by_mmsi.iloc[:, 1:].sum().values}, 
             index=labels)

explode = (0.2, 0, 0)  
ax = df.plot.pie(y='#Hours', 
                   figsize=(PLT_FIG_WIDTH, PLT_FIG_HEIGHT), 
                   labels=[r'\textbf{Outside Port}', r'\textbf{Within Port}', r'\textbf{AIS Device OFF}'],
                   explode=explode,
                   startangle=90,
#                    autopct='%.1f%%',
                   autopct = lambda p: '{:.2f}\%'.format(p),
                   pctdistance=0.70,
                   cmap='tab20c',
                   legend=False)
ax.axis('equal')

for text in ax.texts:
    text.set_fontsize(8)
    if ' ' in text.get_text():
        text.set_color('grey')
    print(text)

plt.ylabel('')
plt.savefig(os.path.join('.', 'experimental_figures', 'figs_final', 'AIS_Activity_Pie_Chart.pdf'), dpi=300, bbox_inches='tight')

Text(-0.9165934630017915, 0.921876577195876, '\\textbf{Activity outside port}')
Text(-0.6345647051550863, 0.638222245750991, '24.91\\%')
Text(-1.099681758845238, -0.026458066124407972, '\\textbf{Activity inside port}')
Text(-0.6997974829015151, -0.0168369511700778, '0.95\\%')
Text(0.7984785785060152, -0.7565923338674623, '\\textbf{Unknown (or in-) activity}')
Text(0.5081227317765551, -0.48146784882474863, '74.14\\%')

In [9]:
avg_ais_activity_by_vessel = tmp.groupby(['mmsi']).apply(lambda df: pd.DataFrame([[df['#hrs_outside_port'].mean(), df['#hrs_within_port'].mean()]])).reset_index().drop(['level_1'], axis=1)
avg_ais_activity_by_vessel.columns = ['mmsi', '#Hours Outside Port', '#Hours Within Port'] 
ax = avg_ais_activity_by_vessel.plot.bar(cmap='tab20', figsize=(PLT_FIG_WIDTH, PLT_FIG_HEIGHT), width=0.95, rot=0)

In [19]:
avg_ais_activity_by_week = tmp.groupby([pd.to_datetime(tmp.date).dt.to_period('W')]).apply(lambda df : pd.DataFrame([[df['#hrs_outside_port'].mean(), df['#hrs_within_port'].mean()]])).reset_index().drop(['level_1'], axis=1)
avg_ais_activity_by_week.columns = ['date', '\#Hours Outside Port', '\#Hours Within Port'] 
print (avg_ais_activity_by_week.head())

ax = avg_ais_activity_by_week.plot.bar(cmap='tab20', figsize=(PLT_FIG_WIDTH, PLT_FIG_HEIGHT), fontsize=8, width=1, rot=65, legend=False)
# Put a legend below current axis
plt.title(r'\textbf{Avg. AIS Activity per Week}', fontsize=8, y=1)
plt.xlabel(r'\textbf{Week Number (Start:01-10-2015, End:31-03-2016)}', fontsize=8)
plt.ylabel(r'\textbf{\#Hours}', fontsize=8)

ax.legend(fontsize='small', loc='lower center', bbox_to_anchor=(0.5, -0.4),
          fancybox=False, shadow=False, frameon=False, ncol=2)

plt.savefig(os.path.join('.', 'experimental_figures', 'figs_final', 'Avg_AIS_Activity_by_Week.pdf'), dpi=300, bbox_inches='tight')

                    date  \#Hours Outside Port  \#Hours Within Port
0  2015-09-28/2015-10-04              5.639463             0.259051
1  2015-10-05/2015-10-11              7.047643             0.366189
2  2015-10-12/2015-10-18              6.141510             0.717253
3  2015-10-19/2015-10-25              6.176943             0.344040
4  2015-10-26/2015-11-01              5.020846             0.089937

In [20]:
cumulative_ais_activity_by_week = tmp.groupby([pd.to_datetime(tmp.date).dt.to_period('W')]).apply(lambda df : pd.DataFrame([[df['#hrs_outside_port'].sum(), df['#hrs_within_port'].sum()]])).reset_index().drop(['level_1'], axis=1)
cumulative_ais_activity_by_week.columns = ['week', '\#Hours Outside Port', '\#Hours Within Port'] 

ax = cumulative_ais_activity_by_week.plot.bar(cmap='tab20', figsize=(PLT_FIG_WIDTH, PLT_FIG_HEIGHT), fontsize=8, width=1, rot=65)

plt.title(r'\textbf{Cumulative AIS Activity per Week}', fontsize=8, y=1)
plt.xlabel(r'\textbf{Week Number (Start:01-10-2015, End:31-03-2016)}', fontsize=8)
plt.ylabel(r'\textbf{\#Hours}', fontsize=8)

ax.legend(fontsize='small', loc='lower center', bbox_to_anchor=(0.5, -0.4),
          fancybox=False, shadow=False, frameon=False, ncol=2)

plt.savefig(os.path.join('.', 'experimental_figures', 'figs_final', 'Cumulative_AIS_Activity_by_Week.pdf'), dpi=300, bbox_inches='tight')