## Importing the LonelyBoy Library (github.com/insert-generic-name-here/lonelyboy)

In [4]:
import os, sys
sys.path.append(os.path.join(os.path.expanduser('~'), 'Documents/Insert-Generic-Name-Here/'))
# sys.path

from lonelyboy.geospatial import plots as gsplt
from lonelyboy.geospatial import preprocessing as gspp
from lonelyboy.timeseries import lbtimeseries as tspp
from lonelyboy.geospatial import group_patterns as gsgp
from lonelyboy.geospatial import moving_patterns as gsmp

## Importing all other Essential Libraries
#### (DO NOT FORGET TO EXECUTE THE FUNCTIONS IN THE BOTTOM CELLS)

In [5]:
import psycopg2
import numpy as np
import configparser
import pandas as pd
import geopandas as gpd
import contextily as ctx
from random import choice
from tqdm import tqdm
import matplotlib.pyplot as plt
from sklearn.base import clone
from sklearn.cluster import DBSCAN, KMeans, MeanShift
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import silhouette_score
from shapely.geometry import Point, LineString, shape
from haversine import haversine
from datetime import datetime, timedelta

In [6]:
from multiprocessing import cpu_count, Pool
from functools import partial
import datetime

## Import Libraries for Visualizations

In [7]:
# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"

# import PyQt5
import matplotlib.pyplot as plt
from matplotlib import style;  style.use('ggplot')
# get_ipython().magic('matplotlib qt')

##  Importing the Server Credentials & Connectiing to Server and Fetch 48hrs of Trajectory Data

In [8]:
properties = configparser.ConfigParser()
properties.read(os.path.join('.','sql_server.ini'))
properties = properties['SERVER']

host    = properties['host']
db_name = properties['db_name']
uname   = properties['uname']
pw      = properties['pw']
port    = properties['port']

traj_sql = 'SELECT * FROM ais_data.dynamic_ships WHERE ts>1456802710 AND ts<1456975510  '
ports_sql = 'SELECT * FROM ports.ports_of_brittany'

con = psycopg2.connect(database=db_name, user=uname, password=pw, host=host, port = port)

traj = gpd.GeoDataFrame.from_postgis(traj_sql, con, geom_col='geom' )

ports = gpd.GeoDataFrame.from_postgis(ports_sql, con, geom_col='geom' )
ports.geom = ports.geom.apply(lambda x: x[0])

print(f'Fetched {sizeof_fmt(traj.memory_usage().sum())}')
print(f'Fetched {sizeof_fmt(ports.memory_usage().sum())}')

con.close()

Fetched 38.1MiB
Fetched 14.0KiB

In [9]:
ports.head(2)
traj.head(2)

,id,mmsi,status,turn,speed,course,heading,lon,lat,ts,geom
0,12652865,227003050,0.0,0.0,0.0,15.1,150,-4.485562,48.381060,1456863781,POINT (-4.485562 48.38106)
1,12652926,228394000,7.0,-127.0,10.2,122.3,511,-4.781942,48.042667,1456863827,POINT (-4.781942 48.042667)

## Let's get dangerous (got the reference?)

* ### Step 1: Denoising

In [10]:
#### DROP TIMESTAMP DUPLICATES PER MMSI
sample_trajectories = traj
sample_trajectories = sample_trajectories.drop_duplicates(subset=['mmsi', 'ts']).sort_values('ts').reset_index(drop=True)
sample_trajectories.head()

,id,mmsi,status,turn,speed,course,heading,lon,lat,ts,geom
0,12293631,227705102,15.0,-127.0,0.0,261.8,511,-4.496568,48.382435,1456802711,POINT (-4.496568 48.382435)
1,12293630,227941000,7.0,0.0,0.0,285.0,8,-4.327213,48.100086,1456802711,POINT (-4.3272133 48.100086)
2,12293634,227574020,15.0,-127.0,0.0,241.7,511,-4.496673,48.382454,1456802713,POINT (-4.496673 48.382454)
3,12293633,227008170,0.0,0.0,0.0,135.0,144,-4.486115,48.381565,1456802713,POINT (-4.486115 48.381565)
4,12293632,227016100,0.0,0.0,0.0,264.3,174,-4.481568,48.381393,1456802713,POINT (-4.4815683 48.381393)

In [11]:
### DROP OUTLIERS IN SAMPLE_TRAJECTORIES BASED ON TIMESTAMP ---- IDK IF I'LL APPLY THIS OR NOT (SO FAR: NOT APPLIED)
# indices = [item for sublist in [x for x in gdf.groupby(['mmsi'])['ts'].apply(lambda x: get_outliers(x)[0]) if x != []] for item in sublist]
# sample_trajectories.drop(indices, inplace=True)

In [12]:
### CALCULATE VELOCITIES BASED ON THE POINTS
sample_trajectories['velocity'] = np.nan
sample_trajectories = sample_trajectories.groupby(['mmsi'], as_index=False).apply(gspp.calculate_velocity, smoothing=False, window=15, center=False).reset_index(drop=True)

### DENOISE SAMPLE_TRAJECTORIES BASED ON A VELOCITY THRESHOLD (POTENTIAL-AREA-OF-ACTIVITY)
sample_trajectories = gspp.PotentialAreaOfActivity(sample_trajectories, velocity_threshold = 102.2)
sample_trajectories

,id,mmsi,status,turn,speed,course,heading,lon,lat,ts,geom,velocity
0,17552952,212228000,0.0,-126.0,5.5,37.0,17,-5.628232,48.721220,1456930088,POINT (-5.6282315 48.72122),5.500000
1,17516776,212518000,0.0,0.0,10.6,155.2,155,-5.398723,48.202198,1456810995,POINT (-5.398723 48.202198),11.876852
2,17517323,212518000,0.0,127.0,10.9,153.6,158,-5.283112,48.040985,1456814595,POINT (-5.2831116 48.040985),0.000000
3,12655544,215477000,0.0,0.0,11.3,119.3,124,-5.098250,48.289906,1456865914,POINT (-5.09825 48.289906),15.360736
4,12655606,215477000,0.0,-126.0,11.0,125.0,122,-5.095583,48.288727,1456865955,POINT (-5.0955834 48.288727),15.424732
5,12655719,215477000,0.0,0.0,11.6,123.1,125,-5.090328,48.286488,1456866035,POINT (-5.090328 48.286488),15.458734
6,12655840,215477000,0.0,0.0,11.4,120.0,126,-5.084340,48.283928,1456866126,POINT (-5.08434 48.283928),15.371931
7,12655869,215477000,0.0,-126.0,11.6,126.2,124,-5.083053,48.283320,1456866146,POINT (-5.083053 48.28332),15.701477
8,17533416,215477000,0.0,-126.0,11.2,123.2,112,-5.077209,48.280720,1456866234,POINT (-5.0772085 48.28072),15.609761
9,17533420,215477000,0.0,-126.0,11.0,115.3,111,-5.076662,48.280533,1456866242,POINT (-5.0766616 48.280533),15.824664
10,17533422,215477000,0.0,-126.0,10.9,113.3,111,-5.076448,48.280480,1456866245,POINT (-5.0764484 48.28048),13.682290
11,17533424,215477000,0.0,0.0,11.1,109.7,111,-5.076018,48.280373,1456866252,POINT (-5.0760183 48.280373),21.781316
12,17533426,215477000,0.0,0.0,11.2,109.4,111,-5.075723,48.280308,1456866255,POINT (-5.075723 48.280308),15.624070
13,17533429,215477000,0.0,0.0,10.8,109.7,111,-5.075302,48.280205,1456866261,POINT (-5.0753016 48.280205),16.332076
14,12656028,215477000,0.0,0.0,11.1,110.1,109,-5.074273,48.279957,1456866275,POINT (-5.074273 48.279957),16.642635
15,12656043,215477000,0.0,0.0,11.6,108.3,109,-5.073593,48.279823,1456866284,POINT (-5.073593 48.279823),14.491028
16,12656057,215477000,0.0,0.0,11.0,109.2,109,-5.072935,48.279694,1456866294,POINT (-5.072935 48.279694),18.059425
17,12656074,215477000,0.0,-126.0,10.9,110.8,105,-5.072035,48.279507,1456866305,POINT (-5.072035 48.279507),16.356765
18,12656090,215477000,0.0,0.0,11.3,106.0,105,-5.071291,48.279366,1456866315,POINT (-5.0712914 48.279366),14.559234
19,12656105,215477000,0.0,0.0,11.1,104.9,106,-5.070560,48.279247,1456866326,POINT (-5.07056 48.279247),16.573505
20,12656118,215477000,0.0,0.0,11.0,103.8,105,-5.069877,48.279150,1456866335,POINT (-5.0698767 48.27915),18.298130
21,12656135,215477000,0.0,0.0,11.4,103.3,106,-5.069042,48.279010,1456866345,POINT (-5.0690417 48.27901),16.236843
22,12656151,215477000,0.0,-126.0,11.1,106.1,102,-5.068303,48.278873,1456866355,POINT (-5.068303 48.278873),16.830726
23,17533446,215477000,0.0,-126.0,11.0,104.9,97,-5.067535,48.278744,1456866365,POINT (-5.067535 48.278744),16.770794
24,17533448,215477000,0.0,-126.0,11.4,103.1,95,-5.067000,48.278650,1456866372,POINT (-5.067 48.27865),17.528966
25,17533452,215477000,0.0,-126.0,11.3,97.0,94,-5.066595,48.278630,1456866377,POINT (-5.066595 48.27863),16.801024
26,17533454,215477000,0.0,0.0,11.0,97.0,95,-5.066285,48.278606,1456866381,POINT (-5.066285 48.278606),16.360688
27,17533456,215477000,0.0,0.0,11.0,94.9,96,-5.066058,48.278600,1456866384,POINT (-5.066058 48.2786),16.457256
28,17533458,215477000,0.0,0.0,11.1,91.1,97,-5.065753,48.278606,1456866388,POINT (-5.0657535 48.278606),11.551389
29,17533460,215477000,0.0,0.0,11.1,91.9,97,-5.065593,48.278603,1456866391,POINT (-5.0655932 48.278603),17.189106
...,...,...,...,...,...,...,...,...,...,...,...,...
223758,12736454,636092331,0.0,23.0,6.0,298.0,302,-4.792900,48.135372,1456975205,POINT (-4.7929 48.135372),9.294751
223759,12736458,636092331,0.0,7.0,6.3,303.1,302,-4.793245,48.135548,1456975214,POINT (-4.793245 48.135548),8.010764
223760,12736461,636092331,0.0,-10.0,6.7,308.1,301,-4.793610,48.135803,1456975226,POINT (-4.79361 48.135803),7.659150
223761,12736467,636092331,0.0,6.0,5.5,303.8,300,-4.793925,48.135853,1456975235,POINT (-4.793925 48.135853),9.834380
223762,12736472,636092331,0.0,-25.0,6.2,303.7,299,-4.794355,48.136110,1456975246,POINT (-4.794355 48.13611),5.951299
223763,12736478,636092331,0.0,-20.0,5.2,303.4,299,-4.794620,48.136185,1456975256,POINT (-4.79462 48.136185),8.214815
223764,12736481,636092331,0.0,-12.0,5.1,296.3,299,-4.794951,48.136270,1456975265,POINT (-4.7949514 48.13627),7.483202
223765,12736486,636092331,0.0,-13.0,5.4,296.7,299,-4.795257,48.136333,1456975274,POINT (-4.7952566 48.136333),7.587716
223766,12736491,636092331,0.0,14.0,5.6,298.0,301,-4.795661,48.136450,1456975286,POINT (-4.7956614 48.13645),7.875969
223767,12736496,636092331,0.0,13.0,5.7,296.3,302,-4.795980,48.136528,1456975295,POINT (-4.79598 48.136528),7.744195
223768,12736500,636092331,0.0,4.0,5.2,291.3,305,-4.796370,48.136585,1456975306,POINT (-4.79637 48.136585),7.543595
223769,12736505,636092331,0.0,9.0,5.4,294.6,305,-4.796699,48.136703,1456975316,POINT (-4.7966986 48.136703),9.245301
223770,12736509,636092331,0.0,23.0,6.2,300.9,305,-4.797043,48.136875,1456975325,POINT (-4.7970433 48.136875),8.411554
223771,12736515,636092331,0.0,-9.0,5.9,304.5,304,-4.797332,48.137074,1456975334,POINT (-4.797332 48.137074),8.254677
223772,12736519,636092331,0.0,-9.0,6.1,304.1,304,-4.797730,48.137302,1456975346,POINT (-4.79773 48.137302),8.113268
223773,12736524,636092331,0.0,17.0,6.3,303.5,303,-4.798042,48.137432,1456975355,POINT (-4.798042 48.137432),8.967732
223774,12736528,636092331,0.0,-10.0,6.0,305.3,302,-4.798449,48.137640,1456975366,POINT (-4.7984486 48.13764),7.189636
223775,12736533,636092331,0.0,17.0,5.6,297.5,304,-4.798770,48.137726,1456975376,POINT (-4.79877 48.137726),9.786287
223776,12736537,636092331,0.0,13.0,6.1,300.0,305,-4.799145,48.137886,1456975385,POINT (-4.799145 48.137886),7.044854
223777,12736542,636092331,0.0,-15.0,6.1,303.4,305,-4.799447,48.138010,1456975395,POINT (-4.7994466 48.13801),7.963434
223778,12736547,636092331,0.0,-14.0,5.6,305.2,305,-4.799823,48.138160,1456975406,POINT (-4.7998233 48.13816),9.983067
223779,12736553,636092331,0.0,-13.0,6.5,304.2,305,-4.800202,48.138332,1456975415,POINT (-4.800202 48.138332),8.349635
223780,12736557,636092331,0.0,13.0,6.3,305.7,305,-4.800583,48.138520,1456975426,POINT (-4.8005834 48.13852),8.415372
223781,17567086,636092331,0.0,-11.0,6.3,305.6,305,-4.800931,48.138695,1456975436,POINT (-4.8009315 48.138695),8.731209
223782,12736566,636092331,0.0,-9.0,6.5,305.0,305,-4.801262,48.138847,1456975445,POINT (-4.801262 48.138847),7.669719
223783,12736571,636092331,0.0,-16.0,6.4,304.7,305,-4.801578,48.139008,1456975455,POINT (-4.8015785 48.139008),9.589559
223784,12736574,636092331,0.0,-6.0,6.3,304.1,305,-4.801983,48.139190,1456975465,POINT (-4.8019834 48.13919),8.888721
223785,12736580,636092331,0.0,-17.0,6.4,303.8,305,-4.802352,48.139374,1456975475,POINT (-4.8023515 48.139374),8.194904
223786,12736584,636092331,0.0,10.0,6.2,303.7,307,-4.802767,48.139560,1456975487,POINT (-4.802767 48.13956),7.845176
223787,12736588,636092331,0.0,7.0,6.5,305.5,306,-4.803088,48.139730,1456975497,POINT (-4.803088 48.13973),0.000000

In [13]:
# ### RESAMPLE TRAJECTORIES
sample_trajectories_resampled = sample_trajectories.groupby(['mmsi'], as_index=False).apply(gspp.resample_geospatial, rule = '60S', method='linear', crs = {'init': 'epsg:4326'}, drop_lon_lat = False).reset_index(drop=True) 
sample_trajectories_resampled.sort_values(['datetime'], ascending=True, inplace=True)

## Plot the Preprocessed Trajectories (just to be sure)

In [ ]:
ax = sample_trajectories_resampled.to_crs(epsg=3857).plot(figsize=(10, 10))
ctx.add_basemap(ax, zoom=11)
plt.show()

## Flock/Convoy Mining Algorithm Testing will take place in 2h of data

In [126]:
timeWindow = sample_trajectories_resampled.datetime.unique()[0]
timeWindow = [timeWindow + np.timedelta64(60*i, 's') for i in range(1, 242)] #4H
# timeWindow = [timeWindow + np.timedelta64(60*i, 's') for i in range(1, 121)] #2H
# timeWindow = [timeWindow + np.timedelta64(60*i, 's') for i in range(1, 61)] #1H
# timeWindow = [timeWindow + np.timedelta64(60*i, 's') for i in range(1, 31)] #30MIN
sample_timeFrame = sample_trajectories_resampled.loc[sample_trajectories_resampled.datetime.isin(timeWindow)].sort_values('datetime').reset_index(drop=True)
# sample_timeFrame = sample_trajectories_resampled
sample_timeFrame

,id,mmsi,status,turn,speed,course,heading,lon,lat,ts,geom,velocity,datetime
0,1.229368e+07,227006750.0,0.0,0.000000,0.000000,268.500000,268.000000,-4.484462,48.381145,1.456803e+09,POINT (-4.484462 48.381145),0.307190,2016-03-01 03:26:00
1,1.751510e+07,227300000.0,7.0,-126.000000,1.500000,21.200000,322.000000,-4.631639,48.111740,1.456803e+09,POINT (-4.6316385 48.11174),1.395731,2016-03-01 03:26:00
2,1.751510e+07,256494000.0,5.0,0.000000,0.000000,344.000000,217.000000,-4.451143,48.383625,1.456803e+09,POINT (-4.451143 48.383625),0.019396,2016-03-01 03:26:00
3,1.229367e+07,227705102.0,15.0,-127.000000,0.000000,282.600000,511.000000,-4.496595,48.382440,1.456803e+09,POINT (-4.496595 48.38244),0.056880,2016-03-01 03:26:00
4,1.751512e+07,220417000.0,1.0,0.000000,0.066667,170.400000,242.333333,-4.484998,48.352693,1.456803e+09,POINT (-4.484997766666667 48.35269333333333),0.072627,2016-03-01 03:26:00
5,1.229368e+07,227574020.0,15.0,-127.000000,0.000000,237.500000,511.000000,-4.496685,48.382427,1.456803e+09,POINT (-4.496685 48.382427),0.186221,2016-03-01 03:26:00
6,1.229368e+07,228186700.0,15.0,-127.000000,102.300000,360.000000,511.000000,-4.512577,48.370872,1.456803e+09,POINT (-4.5125766 48.370872),0.059529,2016-03-01 03:26:00
7,1.229367e+07,227008170.0,0.0,0.000000,0.000000,135.000000,143.000000,-4.486115,48.381550,1.456803e+09,POINT (-4.486115 48.38155),0.000000,2016-03-01 03:26:00
8,1.229368e+07,228394000.0,7.0,-127.000000,0.600000,77.800000,511.000000,-4.654207,48.123140,1.456803e+09,POINT (-4.6542068 48.12314),1.905561,2016-03-01 03:26:00
9,1.751511e+07,227222000.0,5.0,0.000000,0.000000,167.400000,167.000000,-4.477003,48.382120,1.456803e+09,POINT (-4.477003 48.38212),0.000000,2016-03-01 03:26:00
10,1.751511e+07,227148000.0,5.0,-127.000000,0.100000,177.900000,511.000000,-4.498330,48.380295,1.456803e+09,POINT (-4.49833 48.380295),0.017371,2016-03-01 03:26:00
11,1.229367e+07,227016100.0,0.0,0.000000,0.000000,262.600000,174.000000,-4.481566,48.381400,1.456803e+09,POINT (-4.4815664 48.3814),0.000000,2016-03-01 03:26:00
12,1.751511e+07,412069000.0,5.0,0.000000,0.000000,39.600000,262.000000,-4.467567,48.380905,1.456803e+09,POINT (-4.4675665 48.380905),0.050139,2016-03-01 03:26:00
13,1.751511e+07,249297000.0,5.0,0.000000,0.000000,277.000000,215.000000,-4.454427,48.385025,1.456803e+09,POINT (-4.454427 48.385025),0.037948,2016-03-01 03:26:00
14,1.751512e+07,636015106.0,1.0,0.000000,0.100000,307.600000,239.000000,-4.474283,48.339455,1.456803e+09,POINT (-4.474283 48.339455),0.081093,2016-03-01 03:26:00
15,1.751511e+07,477115900.0,5.0,0.000000,0.000000,271.000000,37.000000,-4.453315,48.381673,1.456803e+09,POINT (-4.453315 48.381673),0.018059,2016-03-01 03:26:00
16,1.884675e+07,244630187.0,0.0,0.000000,0.000000,87.500000,511.000000,-4.488453,48.377320,1.456803e+09,POINT (-4.4884534 48.37732),0.000000,2016-03-01 03:26:00
17,1.229367e+07,227941000.0,7.0,0.000000,0.000000,244.400000,8.000000,-4.327218,48.100086,1.456803e+09,POINT (-4.3272185 48.100086),0.027018,2016-03-01 03:26:00
18,1.229367e+07,227003050.0,0.0,0.000000,0.000000,238.400000,150.000000,-4.485743,48.381115,1.456803e+09,POINT (-4.4857435 48.381115),0.201259,2016-03-01 03:26:00
19,1.886851e+07,227369960.0,0.0,0.000000,0.000000,345.500000,511.000000,-4.489077,48.377956,1.456803e+09,POINT (-4.4890766 48.377956),0.002645,2016-03-01 03:27:00
20,1.751513e+07,477115900.0,5.0,0.000000,0.000000,271.000000,37.000000,-4.453315,48.381678,1.456803e+09,POINT (-4.453315 48.381678),0.017959,2016-03-01 03:27:00
21,1.229372e+07,227574020.0,15.0,-127.000000,0.000000,272.000000,511.000000,-4.496696,48.382450,1.456803e+09,POINT (-4.4966965 48.38245),0.283172,2016-03-01 03:27:00
22,1.751514e+07,220417000.0,1.0,0.000000,0.033333,206.900000,241.666667,-4.484977,48.352687,1.456803e+09,POINT (-4.484977233333333 48.35268666666666),0.067506,2016-03-01 03:27:00
23,1.751512e+07,227002330.0,5.0,0.000000,0.100000,43.100000,149.000000,-4.485917,48.381430,1.456803e+09,POINT (-4.4859166 48.38143),0.005986,2016-03-01 03:27:00
24,1.229373e+07,228186700.0,15.0,-127.000000,102.300000,360.000000,511.000000,-4.512582,48.370865,1.456803e+09,POINT (-4.512582 48.370865),0.000000,2016-03-01 03:27:00
25,1.229373e+07,227300000.0,7.0,0.000000,1.300000,52.700000,306.000000,-4.631315,48.112000,1.456803e+09,POINT (-4.631315 48.112),1.613947,2016-03-01 03:27:00
26,1.229373e+07,227008170.0,0.0,0.000000,0.000000,135.000000,147.000000,-4.486165,48.381500,1.456803e+09,POINT (-4.486165 48.3815),1.526041,2016-03-01 03:27:00
27,1.885401e+07,244630187.0,0.0,0.000000,0.000000,87.500000,511.000000,-4.488453,48.377320,1.456803e+09,POINT (-4.4884534 48.37732),0.000756,2016-03-01 03:27:00
28,1.751512e+07,412069000.0,5.0,0.000000,0.000000,31.466667,262.000000,-4.467578,48.380897,1.456803e+09,POINT (-4.467577666666667 48.38089666666666),0.053779,2016-03-01 03:27:00
29,1.751513e+07,636015106.0,1.0,0.000000,0.100000,307.600000,239.333333,-4.474264,48.339443,1.456803e+09,POINT (-4.474264166666667 48.33944333333334),0.075158,2016-03-01 03:27:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10845,1.884773e+07,227686540.0,0.0,0.000000,5.700000,203.000000,511.000000,-4.455729,48.343773,1.456817e+09,POINT (-4.4557285 48.343773),6.349144,2016-03-01 07:26:00
10846,1.751781e+07,228236600.0,5.0,-127.000000,0.000000,290.633333,511.000000,-4.378553,47.816254,1.456817e+09,POINT (-4.37855312 47.816254),0.003777,2016-03-01 07:26:00
10847,1.751783e+07,226216000.0,7.0,0.000000,0.000000,199.980833,303.133333,-4.175262,47.835712,1.456817e+09,POINT (-4.175261681666667 47.83571171666667),0.001391,2016-03-01 07:26:00
10848,1.751774e+07,220417000.0,1.0,0.000000,0.000000,257.600000,259.666667,-4.484578,48.352160,1.456817e+09,POINT (-4.484578 48.35216),0.038137,2016-03-01 07:26:00
10849,1.751880e+07,228211900.0,15.0,-127.000000,4.153333,41.966667,511.000000,-5.214603,48.398503,1.456817e+09,POINT (-5.2146035 48.3985026),6.226886,2016-03-01 07:26:00
10850,1.884787e+07,227088590.0,0.0,0.000000,0.100000,75.280000,511.000000,-4.487547,48.378033,1.456817e+09,POINT (-4.48754732 48.37803306666667),0.002930,2016-03-01 07:26:00
10851,1.231174e+07,227142200.0,15.0,127.000000,0.000000,294.800000,8.000000,-4.327380,48.099430,1.456817e+09,POINT (-4.32738 48.09943),0.086212,2016-03-01 07:26:00
10852,1.751774e+07,477115900.0,5.0,0.000000,0.000000,271.000000,37.000000,-4.453342,48.381623,1.456817e+09,POINT (-4.4533425 48.38162266666667),0.063346,2016-03-01 07:26:00
10853,1.751773e+07,226263000.0,5.0,0.000000,0.100000,256.200000,133.000000,-4.485779,48.379828,1.456817e+09,POINT (-4.485779 48.37982833333334),0.018025,2016-03-01 07:26:00
10854,1.231169e+07,228762000.0,15.0,127.000000,6.600000,216.400000,225.000000,-4.487262,48.357490,1.456817e+09,POINT (-4.487262 48.35749),8.660431,2016-03-01 07:26:00
10855,1.884774e+07,227611930.0,0.0,0.000000,7.400000,183.000000,511.000000,-4.464865,48.335903,1.456817e+09,POINT (-4.464865 48.335903),7.387850,2016-03-01 07:26:00
10856,1.231169e+07,227008170.0,0.0,0.000000,0.000000,135.000000,142.000000,-4.486132,48.381584,1.456817e+09,POINT (-4.4861317 48.381584),0.000000,2016-03-01 07:26:00
10857,1.751774e+07,227222000.0,5.0,0.000000,0.000000,167.533333,167.000000,-4.477003,48.382120,1.456817e+09,POINT (-4.477003 48.38212),0.000000,2016-03-01 07:26:00
10858,1.884774e+07,227578460.0,0.0,0.000000,7.600000,195.800000,511.000000,-4.464530,48.327570,1.456817e+09,POINT (-4.46453 48.32757),7.776213,2016-03-01 07:26:00
10859,1.884800e+07,227114630.0,0.0,0.000000,0.000000,115.836667,511.000000,-4.339086,48.097667,1.456817e+09,POINT (-4.3390864 48.09766716666667),0.001853,2016-03-01 07:26:00
10860,1.884775e+07,227690560.0,0.0,0.000000,7.233333,201.366667,511.000000,-4.446443,48.360345,1.456817e+09,POINT (-4.446443333333333 48.36034466666666),7.649085,2016-03-01 07:26:00
10861,1.885862e+07,227654220.0,0.0,0.000000,7.500000,189.400000,511.000000,-4.459964,48.333348,1.456817e+09,POINT (-4.459964250000001 48.3333475),7.632673,2016-03-01 07:26:00
10862,1.884774e+07,227590030.0,0.0,0.000000,7.300000,144.900000,511.000000,-4.458823,48.324090,1.456817e+09,POINT (-4.458823 48.32409),8.545253,2016-03-01 07:26:00
10863,1.231170e+07,227006750.0,0.0,-126.000000,0.000000,277.800000,262.000000,-4.484472,48.381134,1.456817e+09,POINT (-4.484472 48.381134),0.148273,2016-03-01 07:26:00
10864,1.751781e+07,228336000.0,15.0,0.000000,2.180000,50.140000,305.200000,-4.896481,48.748222,1.456817e+09,POINT (-4.8964807 48.7482222),1.720035,2016-03-01 07:26:00
10865,1.884774e+07,227639660.0,0.0,0.000000,6.200000,178.100000,511.000000,-4.469894,48.335686,1.456817e+09,POINT (-4.4698935 48.335686),6.300512,2016-03-01 07:26:00
10866,1.751850e+07,228893000.0,7.0,20.018644,6.957627,182.393051,183.518644,-4.338377,47.738743,1.456817e+09,POINT (-4.338376525254238 47.73874268813559),8.243242,2016-03-01 07:26:00
10867,1.231170e+07,227300000.0,7.0,127.000000,2.500000,248.500000,250.000000,-4.635032,48.104626,1.456817e+09,POINT (-4.6350317 48.104626),4.062244,2016-03-01 07:26:00
10868,1.886951e+07,227369960.0,0.0,0.000000,0.033333,140.200000,511.000000,-4.489054,48.377948,1.456817e+09,POINT (-4.4890544 48.37794833333333),0.017678,2016-03-01 07:26:00
10869,1.231169e+07,228394000.0,7.0,-127.000000,7.000000,337.700000,511.000000,-4.671760,48.105988,1.456817e+09,POINT (-4.67176 48.105988),7.576752,2016-03-01 07:26:00
10870,1.751774e+07,227148000.0,5.0,-127.000000,0.100000,189.000000,511.000000,-4.498307,48.380314,1.456817e+09,POINT (-4.4983068 48.380314),0.002186,2016-03-01 07:26:00
10871,1.884774e+07,244630187.0,0.0,0.000000,0.000000,87.500000,511.000000,-4.488448,48.377320,1.456817e+09,POINT (-4.488448 48.37732),0.008524,2016-03-01 07:26:00
10872,1.884774e+07,227589520.0,0.0,0.000000,5.900000,117.600000,511.000000,-4.503877,48.327040,1.456817e+09,POINT (-4.5038767 48.32704),7.697481,2016-03-01 07:26:00
10873,1.751773e+07,412069000.0,5.0,0.000000,0.000000,248.000000,262.000000,-4.467590,48.380875,1.456817e+09,POINT (-4.46759 48.380875),0.020347,2016-03-01 07:26:00
10874,1.237459e+07,227612860.0,5.0,-127.000000,3.891352,17.368314,511.000000,-4.495402,48.383463,1.456817e+09,POINT (-4.495401996511628 48.38346339389535),2.637786,2016-03-01 07:26:00

In [ ]:
sample_timeFrame.to_csv('sample_timeFrame.csv', index=False)

## Search for Flocks/Convoys
* #### 1. The Clustering will take place in time slices 
* #### 2. Possible Features: (X_coord, Y_coord, course)

In [157]:
flocks_cluster = gsmp.flocks(sample_timeFrame, 0.05)
flocks_cluster_filtered = flocks_cluster.drop(columns=['index', 'id', 'status', 'turn', 'speed', 'course', 'heading', 'lon', 'lat', 'ts', 'velocity'], axis=1)

In [158]:
flocks_cluster_filtered = flocks_cluster_filtered.reset_index(drop=True)
flocks_cluster_filtered

,mmsi,geom,datetime,flock_label
0,227941000.0,POINT (-4.3272185 48.100086),2016-03-01 03:26:00,-1
1,227705102.0,POINT (-4.496595 48.38244),2016-03-01 03:26:00,-1
2,227300000.0,POINT (-4.6316385 48.11174),2016-03-01 03:26:00,-1
3,227016100.0,POINT (-4.4815664 48.3814),2016-03-01 03:26:00,-1
4,227008170.0,POINT (-4.486115 48.38155),2016-03-01 03:26:00,-1
5,228186700.0,POINT (-4.5125766 48.370872),2016-03-01 03:26:00,0
6,227003050.0,POINT (-4.4857435 48.381115),2016-03-01 03:26:00,0
7,227006750.0,POINT (-4.484462 48.381145),2016-03-01 03:26:00,-1
8,228394000.0,POINT (-4.6542068 48.12314),2016-03-01 03:26:00,-1
9,244630187.0,POINT (-4.4884534 48.37732),2016-03-01 03:26:00,-1
10,256494000.0,POINT (-4.451143 48.383625),2016-03-01 03:26:00,-1
11,227574020.0,POINT (-4.496685 48.382427),2016-03-01 03:26:00,-1
12,412069000.0,POINT (-4.4675665 48.380905),2016-03-01 03:26:00,-1
13,249297000.0,POINT (-4.454427 48.385025),2016-03-01 03:26:00,-1
14,227148000.0,POINT (-4.49833 48.380295),2016-03-01 03:26:00,-1
15,227222000.0,POINT (-4.477003 48.38212),2016-03-01 03:26:00,-1
16,477115900.0,POINT (-4.453315 48.381673),2016-03-01 03:26:00,-1
17,636015106.0,POINT (-4.474283 48.339455),2016-03-01 03:26:00,-1
18,220417000.0,POINT (-4.484997766666667 48.35269333333333),2016-03-01 03:26:00,-1
19,227941000.0,POINT (-4.3272233 48.10009),2016-03-01 03:27:00,-1
20,227705102.0,POINT (-4.496597 48.382435),2016-03-01 03:27:00,-1
21,227574020.0,POINT (-4.4966965 48.38245),2016-03-01 03:27:00,0
22,227008170.0,POINT (-4.486165 48.3815),2016-03-01 03:27:00,0
23,227016100.0,POINT (-4.481573 48.381393),2016-03-01 03:27:00,0
24,228186700.0,POINT (-4.512582 48.370865),2016-03-01 03:27:00,0
25,227300000.0,POINT (-4.631315 48.112),2016-03-01 03:27:00,-1
26,227003050.0,POINT (-4.485745 48.381123),2016-03-01 03:27:00,0
27,228394000.0,POINT (-4.65375 48.123257),2016-03-01 03:27:00,-1
28,227006750.0,POINT (-4.484482 48.381184),2016-03-01 03:27:00,-1
29,244630187.0,POINT (-4.4884534 48.37732),2016-03-01 03:27:00,-1
...,...,...,...,...
10845,227654220.0,POINT (-4.459964250000001 48.3333475),2016-03-01 07:26:00,-1
10846,227641920.0,POINT (-4.47707 48.355347),2016-03-01 07:26:00,-1
10847,227666970.0,POINT (-4.44386 48.321907),2016-03-01 07:26:00,0
10848,228849000.0,POINT (-4.827681324050633 48.23191889367089),2016-03-01 07:26:00,-1
10849,227578460.0,POINT (-4.46453 48.32757),2016-03-01 07:26:00,0
10850,227639660.0,POINT (-4.4698935 48.335686),2016-03-01 07:26:00,0
10851,226263000.0,POINT (-4.485779 48.37982833333334),2016-03-01 07:26:00,-1
10852,227590030.0,POINT (-4.458823 48.32409),2016-03-01 07:26:00,-1
10853,227631450.0,POINT (-4.470287 48.32411),2016-03-01 07:26:00,-1
10854,228211900.0,POINT (-5.2146035 48.3985026),2016-03-01 07:26:00,-1
10855,249297000.0,POINT (-4.454605 48.385292),2016-03-01 07:26:00,-1
10856,228005700.0,POINT (-4.501759409448819 48.35373585826772),2016-03-01 07:26:00,-1
10857,304087000.0,POINT (-6.047432739705882 48.60886208235294),2016-03-01 07:26:00,-1
10858,220364000.0,POINT (-6.2573400675 48.01715),2016-03-01 07:26:00,-1
10859,227142200.0,POINT (-4.32738 48.09943),2016-03-01 07:26:00,-1
10860,227148000.0,POINT (-4.4983068 48.380314),2016-03-01 07:26:00,-1
10861,636015106.0,POINT (-4.4739566 48.338833),2016-03-01 07:26:00,-1
10862,227690560.0,POINT (-4.446443333333333 48.36034466666666),2016-03-01 07:26:00,-1
10863,227114630.0,POINT (-4.3390864 48.09766716666667),2016-03-01 07:26:00,-1
10864,477115900.0,POINT (-4.4533425 48.38162266666667),2016-03-01 07:26:00,0
10865,227222000.0,POINT (-4.477003 48.38212),2016-03-01 07:26:00,0
10866,311043200.0,POINT (-3.532435293228346 49.71881006299213),2016-03-01 07:26:00,-1
10867,227369960.0,POINT (-4.4890544 48.37794833333333),2016-03-01 07:26:00,-1
10868,228236600.0,POINT (-4.37855312 47.816254),2016-03-01 07:26:00,-1
10869,227806500.0,POINT (-4.495966855555555 48.38167844444445),2016-03-01 07:26:00,-1
10870,228336000.0,POINT (-4.8964807 48.7482222),2016-03-01 07:26:00,-1
10871,228853000.0,POINT (-3.891335645669292 47.73227450787401),2016-03-01 07:26:00,-1
10872,226216000.0,POINT (-4.175261681666667 47.83571171666667),2016-03-01 07:26:00,-1
10873,220417000.0,POINT (-4.484578 48.35216),2016-03-01 07:26:00,-1
10874,227162950.0,POINT (-4.327440333333334 48.09923813333333),2016-03-01 07:26:00,-1

In [162]:
flocks_cluster_filtered.flock_label.value_counts()

-1    8477
 0    2343
 1      55
Name: flock_label, dtype: int64

In [137]:
# flocks_cluster.datetime.unique()
tmpA = flocks_cluster_filtered.loc[(flocks_cluster_filtered.datetime == np.datetime64('2016-03-01T03:43:00.000000000')) & (flocks_cluster_filtered.flock_label != -1)]
tmpA
# tmp.plot(column='flock_label', figsize=(20,20), cmap='Set1')

tmpB = flocks_cluster_filtered.loc[(flocks_cluster_filtered.datetime == np.datetime64('2016-03-01T03:44:00.000000000')) & (flocks_cluster_filtered.flock_label != -1)]
tmpB

,mmsi,geom,datetime,flock_label
509,227016100.0,POINT (-4.48167 48.381294),2016-03-01 03:43:00,0
510,227298110.0,POINT (-4.4893885 48.379032),2016-03-01 03:43:00,0
513,228186700.0,POINT (-4.5125866 48.37086),2016-03-01 03:43:00,0
514,228394000.0,POINT (-4.646527 48.12488),2016-03-01 03:43:00,1
515,244630187.0,POINT (-4.4884534 48.37732),2016-03-01 03:43:00,0
516,227006750.0,POINT (-4.484443 48.381153),2016-03-01 03:43:00,0
517,227300000.0,POINT (-4.6235833 48.112854),2016-03-01 03:43:00,1
522,227088590.0,POINT (-4.487519 48.37800066666667),2016-03-01 03:43:00,0
523,227002330.0,POINT (-4.485903333333333 48.38144933333333),2016-03-01 03:43:00,0

In [163]:
flocks_cluster_filtered = flocks_cluster_filtered.loc[flocks_cluster_filtered.flock_label != -1]
flocks_cluster_filtered

,mmsi,geom,datetime,flock_label
5,228186700.0,POINT (-4.5125766 48.370872),2016-03-01 03:26:00,0
6,227003050.0,POINT (-4.4857435 48.381115),2016-03-01 03:26:00,0
21,227574020.0,POINT (-4.4966965 48.38245),2016-03-01 03:27:00,0
22,227008170.0,POINT (-4.486165 48.3815),2016-03-01 03:27:00,0
23,227016100.0,POINT (-4.481573 48.381393),2016-03-01 03:27:00,0
24,228186700.0,POINT (-4.512582 48.370865),2016-03-01 03:27:00,0
26,227003050.0,POINT (-4.485745 48.381123),2016-03-01 03:27:00,0
38,636015106.0,POINT (-4.474264166666667 48.33944333333334),2016-03-01 03:27:00,0
39,227270000.0,POINT (-4.4782734 48.383152),2016-03-01 03:27:00,0
46,227016100.0,POINT (-4.481583 48.3814),2016-03-01 03:28:00,0
47,227008170.0,POINT (-4.4861317 48.38155),2016-03-01 03:28:00,0
48,227574020.0,POINT (-4.4966617 48.382477),2016-03-01 03:28:00,0
49,228186700.0,POINT (-4.51258 48.370865),2016-03-01 03:28:00,0
50,227003050.0,POINT (-4.48576 48.38112),2016-03-01 03:28:00,0
52,227006750.0,POINT (-4.4845233 48.38117),2016-03-01 03:28:00,0
53,256494000.0,POINT (-4.451132 48.383625),2016-03-01 03:28:00,0
56,227002330.0,POINT (-4.4859166 48.38143166666667),2016-03-01 03:28:00,0
57,228064900.0,POINT (-4.5117 48.36467),2016-03-01 03:28:00,0
63,636015106.0,POINT (-4.474245333333333 48.33943166666666),2016-03-01 03:28:00,0
64,477115900.0,POINT (-4.453315 48.381683),2016-03-01 03:28:00,0
71,227574020.0,POINT (-4.496645 48.382492),2016-03-01 03:29:00,0
72,227016100.0,POINT (-4.481593 48.381386),2016-03-01 03:29:00,0
75,227003050.0,POINT (-4.4857736 48.38114),2016-03-01 03:29:00,0
76,228186700.0,POINT (-4.512582 48.370865),2016-03-01 03:29:00,0
77,244630187.0,POINT (-4.4884534 48.37732),2016-03-01 03:29:00,0
97,227016100.0,POINT (-4.4815965 48.381386),2016-03-01 03:30:00,0
98,227008170.0,POINT (-4.486115 48.38155),2016-03-01 03:30:00,0
100,227003050.0,POINT (-4.4857683 48.381123),2016-03-01 03:30:00,0
101,228186700.0,POINT (-4.512665 48.370834),2016-03-01 03:30:00,0
127,234056000.0,POINT (-4.51852 48.367294),2016-03-01 03:31:00,0
...,...,...,...,...
10756,227006750.0,POINT (-4.4844885 48.381138),2016-03-01 07:25:00,0
10758,227003050.0,POINT (-4.4857736 48.381126),2016-03-01 07:25:00,0
10777,227666970.0,POINT (-4.4461317 48.32236),2016-03-01 07:25:00,0
10778,227641920.0,POINT (-4.478327 48.35713),2016-03-01 07:25:00,0
10780,227639660.0,POINT (-4.470132 48.337353),2016-03-01 07:25:00,0
10781,227590030.0,POINT (-4.46107 48.325348),2016-03-01 07:25:00,0
10783,227631450.0,POINT (-4.4692 48.326073),2016-03-01 07:25:00,0
10784,227588970.0,POINT (-4.46856 48.327667),2016-03-01 07:25:00,0
10794,227654220.0,POINT (-4.45967 48.334908),2016-03-01 07:25:00,0
10795,227222000.0,POINT (-4.477003 48.38212),2016-03-01 07:25:00,0
10796,477115900.0,POINT (-4.453348 48.381634),2016-03-01 07:25:00,0
10807,227574020.0,POINT (-4.4835114 48.35782),2016-03-01 07:26:00,0
10808,227588970.0,POINT (-4.4681716 48.326534),2016-03-01 07:26:00,0
10809,227632830.0,POINT (-4.464175 48.34142),2016-03-01 07:26:00,0
10810,227686540.0,POINT (-4.4557285 48.343773),2016-03-01 07:26:00,0
10811,227298110.0,POINT (-4.489405583333333 48.379025),2016-03-01 07:26:00,0
10812,227730220.0,POINT (-4.48368 48.35269),2016-03-01 07:26:00,0
10813,228762000.0,POINT (-4.487262 48.35749),2016-03-01 07:26:00,0
10814,227016100.0,POINT (-4.4815435 48.38144),2016-03-01 07:26:00,0
10815,227322670.0,POINT (-4.47055 48.342148),2016-03-01 07:26:00,0
10816,256494000.0,POINT (-4.463382 48.37058),2016-03-01 07:26:00,0
10820,227635210.0,POINT (-4.49552 48.379337),2016-03-01 07:26:00,0
10821,228186700.0,POINT (-4.5125866 48.37085),2016-03-01 07:26:00,0
10822,227006750.0,POINT (-4.484472 48.381134),2016-03-01 07:26:00,0
10824,244630187.0,POINT (-4.488448 48.37732),2016-03-01 07:26:00,0
10847,227666970.0,POINT (-4.44386 48.321907),2016-03-01 07:26:00,0
10849,227578460.0,POINT (-4.46453 48.32757),2016-03-01 07:26:00,0
10850,227639660.0,POINT (-4.4698935 48.335686),2016-03-01 07:26:00,0
10864,477115900.0,POINT (-4.4533425 48.38162266666667),2016-03-01 07:26:00,0
10865,227222000.0,POINT (-4.477003 48.38212),2016-03-01 07:26:00,0

In [167]:
history = flocks_cluster_filtered.loc[flocks_cluster_filtered.datetime == flocks_cluster_filtered.datetime.min()]

for doi, timeFrameClusters in flocks_cluster_filtered.groupby(['datetime'], as_index=False):
    tmp = history.groupby(['flock_label'], as_index=False).apply(pd.merge, timeFrameClusters, on=['mmsi'], how='inner', suffixes=('DROPME', ''))
    history = tmp[[c for c in tmp.columns if 'DROPME' not in c]]

          mmsi                          geom            datetime  flock_label
5  228186700.0  POINT (-4.5125766 48.370872) 2016-03-01 03:26:00            0
6  227003050.0  POINT (-4.4857435 48.381115) 2016-03-01 03:26:00            0

In [ ]:
history = sample_timeFrame2.loc[sample_timeFrame2.datetime == sample_timeFrame2.datetime.min()]
hist_lst = []
lst = []

for doi, timeFrameClusters in sample_timeFrame2.groupby(['datetime'], as_index=False):
    for label, cluster in timeFrameClusters.groupby(['labels'], as_index=False):
        tmp = pd.merge(history, cluster, how='inner', on=['mmsi'])
        if not len(tmp) == 0:
            lst.append(tmp)
        else:
            lst.append(cluster)
    
    history = pd.concat(lst)
    hist_lst.append(lst)
    lst = []

* #### Set up a Color Map (for the Plots)

In [8]:
LABEL_COLOR_MAP = {-1 : 'black', 0 : 'white', 1 : 'r', 2 : 'g',\
                   3 : 'b', 4 : 'm', 5 : 'y', 6 : 'maroon', 7 : 'pink',\
                   8 : 'sienna', 9 : 'darkslategray', 10 : 'purple', 
                   11 : 'darkgoldenrod', 12: 'chocolate'}

In [9]:
def join_geospatial(df_left, df_right, condition, mode):
    if (len(df_left) == 0):
        return df_right
    
    df_result = pd.DataFrame([], columns=[mode, 'start_time', 'end_time'])
    indices = []
    left_indices = []
    
    for idx_left, cluster_left in enumerate(df_left[mode]):
        for idx_right, cluster_right in enumerate(df_right[mode]):
            if condition(cluster_left, cluster_right):                
                res = pd.DataFrame([{mode:cluster_left.intersection(cluster_right), 'start_time':df_left.iloc[idx_left].start_time, 'end_time':df_right.iloc[idx_right].start_time}], columns=[mode, 'start_time', 'end_time'])  
                df_result = df_result.append(res, ignore_index=True)
                indices.append(idx_right)
                left_indices.append(idx_left)
                break
        
    left_indices = np.delete(df_left.index.values, left_indices)
    indices = np.delete(df_right.index.values, indices)
    df_result = df_result.append(df_left.iloc[left_indices], ignore_index=True)
    df_result = df_result.append(df_right.iloc[indices], ignore_index=True)
    return df_result

In [10]:
def group_patterns_mining(gdf, normalizing_algorithm, clustering_algorithm, verification_process, mode, time_threshold=5, min_samples=2, resampling_rate=60): 
    '''
    Search for Flocks/Convoys, given a GeoDataFrame.
    '''    
    cmc_verification_partial = partial(verification_process, min_samples=min_samples)
    gp_history = pd.DataFrame([], columns=[mode, 'start_time', 'end_time'])
    
    for doi, timeFrame in gdf.groupby(['datetime'], as_index=False):   
        print (f'Datetime of Interest: {doi}\r', end='')    
        X = normalizing_algorithm(timeFrame[['lon', 'lat']].values)
        cluster_n = clustering_algorithm(X)
        # Create the DataFrame (Structure: <INDEX_OF_CLUSTER>, <LIST_OF_TIMEFRAME_INDICES>)
        if not (len(cluster_n) == 1 and cluster_n[0] == -1):
            tmp = pd.DataFrame(np.array([timeFrame['mmsi'], cluster_n]).T, columns=[mode, 'cluster_idx'])
            tmp = tmp.loc[tmp.cluster_idx != -1].groupby('cluster_idx')[mode].apply(list).apply(set)
            tmp = pd.DataFrame({mode:tmp, 'start_time':np.array([doi]*len(tmp))}, columns=[mode, 'start_time', 'end_time'])
            # Append to Convoy History
            gp_history = join_geospatial(gp_history, tmp, cmc_verification_partial, mode=mode)
    
    gp_history.dropna(inplace=True)
    gp_history.sort_values('start_time', inplace=True)
    return gp_history.loc[(gp_history.end_time.apply(lambda ts: ts.timestamp()) - gp_history.start_time.apply(lambda ts: ts.timestamp()) >= (time_threshold*resampling_rate))  
                          & (gp_history[mode].apply(len) >= min_samples)].reset_index(drop=True)

In [17]:
normalizing_algorithm = partial(gsgp.MinMax_Scaler, feature_range=(0, 1), copy=True)
clustering_algorithm = partial(gsgp.DBSCAN_Clustering, eps=2.5, min_samples=3, metric=haversine, metric_params=None, algorithm='auto', leaf_size=50, p=None, n_jobs=-1) 
verification_process = gsgp.cmc_convoy_verification

convoys = group_patterns_mining(sample_timeFrame, normalizing_algorithm, clustering_algorithm, verification_process, mode='convoys', time_threshold=5, resampling_rate=60, min_samples=3) 
convoys

,convoys,start_time,end_time
0,"{227222000.0, 227008170.0, 227006750.0}",2016-03-01 03:25:00,2016-03-02 00:46:00
1,"{256494000.0, 249297000.0, 477115900.0}",2016-03-01 03:26:00,2016-03-01 07:54:00
2,"{227148000.0, 227574020.0, 227705102.0}",2016-03-01 03:26:00,2016-03-03 03:20:00
3,"{234056000.0, 228064900.0, 228186700.0}",2016-03-01 03:28:00,2016-03-02 09:41:00
4,"{227941000.0, 227162950.0, 227114630.0}",2016-03-01 03:43:00,2016-03-03 02:23:00
5,"{227635210.0, 227612860.0, 227705102.0}",2016-03-01 06:34:00,2016-03-02 06:34:00
6,"{227612860.0, 227574020.0, 227705102.0}",2016-03-01 06:40:00,2016-03-02 06:51:00
7,"{227592820.0, 227574020.0, 227705102.0}",2016-03-01 06:51:00,2016-03-02 17:56:00
8,"{228394000.0, 228236700.0, 227300000.0}",2016-03-01 06:54:00,2016-03-01 07:24:00
9,"{228762000.0, 234056000.0, 226263000.0}",2016-03-01 08:48:00,2016-03-01 09:07:00
10,"{228762000.0, 234056000.0, 256494000.0}",2016-03-01 09:08:00,2016-03-01 09:33:00
11,"{220417000.0, 234056000.0, 228762000.0}",2016-03-01 09:34:00,2016-03-01 09:41:00
12,"{228236600.0, 227366000.0, 228228800.0}",2016-03-01 09:58:00,2016-03-01 10:16:00
13,"{227300000.0, 228394000.0, 228109000.0}",2016-03-01 10:10:00,2016-03-01 10:50:00
14,"{227366000.0, 227318040.0, 228126000.0, 228228...",2016-03-01 10:46:00,2016-03-01 11:08:00
15,"{234056000.0, 228849000.0, 228762000.0}",2016-03-01 10:58:00,2016-03-01 11:12:00
16,"{636015106.0, 227762340.0, 228005700.0}",2016-03-01 13:07:00,2016-03-01 13:33:00
17,"{226263000.0, 220417000.0, 228070700.0}",2016-03-01 13:31:00,2016-03-01 14:01:00
18,"{226084000.0, 228211900.0, 228336000.0}",2016-03-01 14:31:00,2016-03-03 01:03:00
19,"{234056000.0, 227592820.0, 227574020.0}",2016-03-01 15:39:00,2016-03-02 09:41:00
20,"{636015106.0, 227592820.0, 227574020.0}",2016-03-01 15:46:00,2016-03-02 08:53:00
21,"{234056000.0, 227635210.0, 636015106.0}",2016-03-01 16:05:00,2016-03-01 17:53:00
22,"{227366000.0, 228394000.0, 227300000.0}",2016-03-01 16:32:00,2016-03-01 16:58:00
23,"{228228800.0, 275457000.0, 305476000.0}",2016-03-01 16:45:00,2016-03-01 16:53:00
24,"{234056000.0, 636015106.0, 227592820.0}",2016-03-01 16:55:00,2016-03-01 17:53:00
25,"{228762000.0, 228144000.0, 227685830.0}",2016-03-01 19:37:00,2016-03-01 21:53:00
26,"{636016457.0, 477115900.0, 227730220.0}",2016-03-01 20:42:00,2016-03-01 20:49:00
27,"{226338000.0, 228210800.0, 227114300.0}",2016-03-01 21:32:00,2016-03-01 21:41:00
28,"{226318000.0, 228210800.0, 227114300.0}",2016-03-01 22:45:00,2016-03-01 22:52:00
29,"{227392000.0, 228238700.0, 227114300.0}",2016-03-02 02:37:00,2016-03-02 02:47:00
30,"{227298110.0, 227008170.0, 244630187.0, 227362...",2016-03-02 06:35:00,2016-03-03 03:20:00
31,"{228762000.0, 227635210.0, 227705102.0}",2016-03-02 07:05:00,2016-03-02 15:13:00
32,"{228762000.0, 227592820.0, 227574020.0}",2016-03-02 15:03:00,2016-03-02 17:54:00
33,"{228336000.0, 228211900.0, 227114300.0}",2016-03-03 01:04:00,2016-03-03 01:33:00
34,"{234056000.0, 235098058.0, 636092331.0}",2016-03-03 01:19:00,2016-03-03 01:26:00
35,"{228336000.0, 227392000.0, 228211900.0}",2016-03-03 01:43:00,2016-03-03 02:06:00

# EXECUTE THIS TO CLOSE ALL PYPLOT FIGURES

In [21]:
plt.close(fig='all')

# FUNCTIONS

In [1]:
def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f%s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f%s%s" % (num, 'Yi', suffix)

In [2]:
def make_lines(gdf, df_out, i, geometry = 'geometry'):
    geom0 = gdf.loc[i][geometry]
    geom1 = gdf.loc[i + 1][geometry]
    
    start, end = [(geom0.x, geom0.y), (geom1.x, geom1.y)]
    line = LineString([start, end])
    
    # Create a DataFrame to hold record
    data = {'id': i,
            'geometry': [line]}
    df_line = pd.DataFrame(data, columns = ['id', 'geometry'])
    
    # Add record DataFrame of compiled records
    df_out = pd.concat([df_out, df_line])
    return df_out

In [3]:
def mean_distance_to_nearest_port(gdf, ports):
    '''
    Calculates the minimum distance between the point and the lists of ports. Can be used to determine if the ship is sailing or not
    '''
    counter = 0
    for point in tqdm(gdf.geom):
        counter += ports.geom.distance(point).min()
    
    return counter/len(gdf)