## Importing the LonelyBoy Library (github.com/insert-generic-name-here/lonelyboy)

In [2]:
import os, sys
sys.path.append(os.path.join(os.path.expanduser('~'), 'Documents/Insert-Generic-Name-Here/'))
# sys.path

from lonelyboy.geospatial import plots as gsplt
from lonelyboy.geospatial import preprocessing as gspp
from lonelyboy.timeseries import lbtimeseries as tspp
from lonelyboy.geospatial import group_patterns_v2 as gsgp

## Importing all other Essential Libraries
#### (DO NOT FORGET TO EXECUTE THE FUNCTIONS IN THE BOTTOM CELLS)

In [3]:
import psycopg2
import psycopg2.extras
import numpy as np
import configparser
import pandas as pd
import geopandas as gpd
import contextily as ctx
from random import choice
from tqdm import tqdm
import matplotlib.pyplot as plt
from sklearn.base import clone
from sklearn.cluster import DBSCAN, KMeans, MeanShift
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import silhouette_score
from shapely.geometry import Point, LineString, shape
from haversine import haversine
from datetime import datetime, timedelta

In [4]:
from multiprocessing import cpu_count, Pool
from functools import partial
import datetime

## Import Libraries for Visualizations

In [5]:
# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"

import PyQt5
import matplotlib.pyplot as plt
from matplotlib import style;  style.use('ggplot')
get_ipython().magic('matplotlib qt')

##  Importing the Server Credentials & Connectiing to Server and Fetch 48hrs of Trajectory Data

In [42]:
host    = 'snf-863583.vm.okeanos.grnet.gr'
db_name = 'zenodo'
uname   = 'students'
pw      = 'infol@bdbl@bs2017'
port    = '46132'

traj_sql = 'SELECT * FROM ais_data.dynamic_ships WHERE ts>1456802710 AND ts<1456975510'
ports_sql = 'SELECT * FROM ports.ports_of_brittany'

con = psycopg2.connect(database=db_name, user=uname, password=pw, host=host, port=port)

traj = gpd.GeoDataFrame.from_postgis(traj_sql, con, geom_col='geom')

ports = gpd.GeoDataFrame.from_postgis(ports_sql, con, geom_col='geom')
ports.geom = ports.geom.apply(lambda x: x[0])

con.close()

In [43]:
ports.head()

,gid,gml_id,por_id,libelle_po,insee_comm,por_x,por_y,geom
0,1,port.1,1,Le Vivier-sur-Mer,35361,297025.0,2408370.0,POINT (-1.771798868659233 48.60274269672541)
1,2,port.10,10,Saint-Samson sur Rance,22327,279335.0,2396060.0,POINT (-2.001990119062326 48.48369993456267)
2,3,port.100,100,Douarnenez,29046,103135.0,2365330.0,POINT (-4.341204251638414 48.09709590770091)
3,4,port.101,101,Brézellec,29028,79105.4,2364190.0,POINT (-4.661115947908725 48.06804110561076)
4,5,port.102,102,Sein,29083,64562.5,2362180.0,POINT (-4.852944548180974 48.03825273921113)

In [44]:
traj.head()

,id,mmsi,status,turn,speed,course,heading,lon,lat,ts,geom,distance_from_nearest_port
0,17515086,227300000,7.0,-126.0,2.8,34.2,346,-4.631805,48.111330,1456802713,POINT (-4.631805 48.11133),None
1,17515087,256494000,5.0,0.0,0.0,344.0,217,-4.451149,48.383625,1456802713,POINT (-4.4511485 48.383625),None
2,17515088,227300000,7.0,-126.0,2.7,27.1,338,-4.631777,48.111380,1456802717,POINT (-4.631777 48.11138),None
3,17515089,227300000,7.0,-126.0,2.6,23.3,335,-4.631757,48.111420,1456802720,POINT (-4.631757 48.11142),None
4,17515090,227300000,7.0,-126.0,2.5,21.6,332,-4.631747,48.111443,1456802723,POINT (-4.631747 48.111443),None

## Trying to get data for selected mmsi using a generator from CSV file (fingers crossed)

In [83]:
for row in traj.itertuples():
    print (row)
    break

Pandas(Index=0, id=17515086, mmsi=227300000, status=7.0, turn=-126.0, speed=2.8, course=34.2, heading=346, lon=-4.631805, lat=48.11133, ts=1456802713, geom=<shapely.geometry.point.Point object at 0x7f565628d3c8>, distance_from_nearest_port=None)

In [58]:
query =  "INSERT INTO ais_data.dynamic_ships_resampled_1min (mmsi, status, turn, speed, velocity, course, heading, lon, lat, ts) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"
query.split('(')[1].

'mmsi, status, turn, speed, velocity, course, heading, lon, lat, ts) VALUES '

In [18]:
%%time
iter_csv = pd.read_csv('data/csv/nari_dynamic.csv', chunksize=50000)
df = pd.concat((chunk[chunk['mmsi'].isin([477967700])] for chunk in iter_csv), ignore_index=True)

CPU times: user 10.7 s, sys: 1.2 s, total: 11.9 s
Wall time: 11.9 s

In [6]:
df.head()

,mmsi,status,turn,speed,course,heading,lon,lat,ts
0,538003354,0.0,0.0,12.4,58.0,59,-5.277512,48.946890,1443799994
1,477967700,0.0,0.0,17.3,37.5,36,-5.756353,48.562070,1444758539
2,538004252,0.0,0.0,12.3,58.2,58,-5.304182,48.902900,1445427824
3,538003920,0.0,4.0,12.1,55.6,60,-5.569274,48.793060,1445906007
4,538002755,0.0,0.0,13.4,27.2,24,-6.158875,48.114143,1446144200

In [14]:
gspp.gdf_from_df(df, crs={'init':'epsg:4326'})

,mmsi,status,turn,speed,course,heading,lon,lat,ts,geom
0,538003354,0.0,0.0,12.4,58.0,59,-5.277512,48.946890,1443799994,POINT (-5.2775116 48.94689)
1,477967700,0.0,0.0,17.3,37.5,36,-5.756353,48.562070,1444758539,POINT (-5.756353400000001 48.56207)
2,538004252,0.0,0.0,12.3,58.2,58,-5.304182,48.902900,1445427824,POINT (-5.3041816 48.9029)
3,538003920,0.0,4.0,12.1,55.6,60,-5.569274,48.793060,1445906007,POINT (-5.5692735 48.79306)
4,538002755,0.0,0.0,13.4,27.2,24,-6.158875,48.114143,1446144200,POINT (-6.158875 48.114143)
5,538002959,0.0,127.0,7.0,218.0,233,-5.673482,48.954450,1449290610,POINT (-5.6734815 48.95445)

* #### Packaging to a Function

In [20]:
def read_csv_generator(file_path, chunksize=50000, sep=',', **kwargs):
    pd_iter = pd.read_csv(file_path, chunksize=chunksize, sep=sep, **kwargs)
    return pd_iter

for chunk in read_csv_generator('data/csv/nari_dynamic.csv', chunksize=50000):
    if len(chunk) != 0:
        print (chunk.head()) 
        break

        mmsi  status  turn  speed  course  heading       lon        lat  \
0  245257000       0     0    0.1    13.1       36 -4.465718  48.382490
1  227705102      15  -127    0.0   262.7      511 -4.496571  48.382420
2  228131600      15  -127    8.5   263.7      511 -4.644325  48.092247
3  228051000       0  -127    0.0   295.0      511 -4.485108  48.381320
4  227574020      15  -127    0.1   248.6      511 -4.495441  48.383660

           ts
0  1443650402
1  1443650403
2  1443650404
3  1443650405
4  1443650406

## Trying to get data for selected mmsi using a generator from PostgreSQL (good luck with that)

In [ ]:
%%time

con = psycopg2.connect(database=db_name, user=uname, password=pw, host=host, port=port)
query = 'SELECT * FROM ais_data.dynamic_ships'
# gdf = pd.read_sql('SELECT * FROM ais_data.dynamic_ships', con=con)
size = 50000
i = 1
gdf = pd.DataFrame()
for chunk in pd.read_sql(query, con=con, chunksize=size):
    print (size*i)
    gdf = gdf.append(chunk.loc[chunk.mmsi == 227941000].drop('geom', axis=1))
    i+=1
    
con.close()

## RAM OVERLOAD (AGAIN!!!!)

## Sample Code from [PostgreSQL with Chunksize](http://jgardiner.co.uk/blog/read_sql_pandas)

In [ ]:
#Chunked access
start = time.time()
engine = create_engine(conn_str)
size = 10**4
df = pd.concat((x for x in pd.read_sql(iso_cmdb_base, engine, coerce_float=False, chunksize=size)),
               ignore_index=True)
print('time:', (time.time() - start)/60, 'minutes or ', time.time() - start, 'seconds')