In [33]:
import pandas as pd
import numpy as np
from haversine import haversine
import networkx as nx

df = pd.read_csv('4h_timeFrame.csv')

In [2]:
df.head()

,id,mmsi,status,turn,speed,course,heading,lon,lat,ts,geom,velocity,datetime
0,1.257696e+07,227006750.0,0.0,0.0,0.000000,268.5,268.000000,-4.484462,48.381145,1.456803e+09,POINT (-4.484462 48.381145),0.307191,2016-03-01 03:26:00
1,1.751510e+07,227300000.0,7.0,-126.0,1.500000,21.2,322.000000,-4.631639,48.111740,1.456803e+09,POINT (-4.6316385 48.11174),1.395733,2016-03-01 03:26:00
2,1.754235e+07,256494000.0,5.0,0.0,0.000000,344.0,217.000000,-4.451143,48.383625,1.456803e+09,POINT (-4.451143 48.383625),0.019396,2016-03-01 03:26:00
3,1.257696e+07,227705102.0,15.0,-127.0,0.000000,282.6,511.000000,-4.496595,48.382440,1.456803e+09,POINT (-4.496595 48.38244),0.056881,2016-03-01 03:26:00
4,1.754237e+07,220417000.0,1.0,0.0,0.066667,170.4,242.333333,-4.484998,48.352693,1.456803e+09,POINT (-4.484997766666667 48.35269333333333),0.072627,2016-03-01 03:26:00

In [83]:
def pairs_in_radius(df, diam=500):
    res = []
    for ind_i, ind_j, val_i, val_j in nparray_combinations(df):
        dist = haversine(val_i, val_j)*1000
        if (dist<diam):
            res.append((ind_i,ind_j))   
    return res

In [84]:
def connected_edges(data):
    G = nx.Graph()
    G.add_edges_from(data)
    return [sorted(list(cluster)) for cluster in nx.connected_components(G)]

In [101]:
def nparray_combinations(arr):
    for i in range(arr.shape[0]):
        for j in range(i+1, arr.shape[0]):
            yield i, j, arr[i,:], arr[j,:]

In [170]:
def eval_candidate(candidate, pairs):
    for pair in itertools.combinations(candidate,2):
        if pair not in pairs:
            return False
    return True

In [176]:
def circle_cluster(timeframe, min_cardinality = 2):
    pairs = pairs_in_radius(timeframe[['lon', 'lat']].values)
    full_sets = connected_edges(pairs)
    clusters = []
    for individual_sets in full_sets:
        # MAYBE FROM BIG TO SMALL INSTEAD OF SMALL TO BIG
        for j in range(min_cardinality,len(individual_sets)+1):
            for candidate in itertools.combinations(individual_sets,j):
                 if eval_candidate(candidate, pairs):
                        clusters.append(candidate)
    return clusters

In [177]:
for ind, (_, sdf) in enumerate(df.groupby('datetime')):
    print (ind,' / ', df.datetime.nunique(), end='\r')
    circle_cluster(sdf)

In [109]:
tst = connected_edges(tmp)

In [91]:
tmp[0]

(0, 7)

In [92]:
(array([0]), array([7])) in tmp

NameError: name 'array' is not defined

In [79]:
list(nparray_combinations(np.expand_dims(np.asarray(tst[0]), axis=1)))

0 1 [0] [7]
0 2 [0] [11]
0 3 [0] [18]
1 2 [7] [11]
1 3 [7] [18]
2 3 [11] [18]

[(0, 1, array([0]), array([7])),
 (0, 2, array([0]), array([11])),
 (0, 3, array([0]), array([18])),
 (1, 2, array([7]), array([11])),
 (1, 3, array([7]), array([18])),
 (2, 3, array([11]), array([18]))]

In [43]:
list(nparray_combinations(sdf))

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (0, 10),
 (0, 11),
 (0, 12),
 (0, 13),
 (0, 14),
 (0, 15),
 (0, 16),
 (0, 17),
 (0, 18),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (1, 10),
 (1, 11),
 (1, 12),
 (1, 13),
 (1, 14),
 (1, 15),
 (1, 16),
 (1, 17),
 (1, 18),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (2, 10),
 (2, 11),
 (2, 12),
 (2, 13),
 (2, 14),
 (2, 15),
 (2, 16),
 (2, 17),
 (2, 18),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (3, 10),
 (3, 11),
 (3, 12),
 (3, 13),
 (3, 14),
 (3, 15),
 (3, 16),
 (3, 17),
 (3, 18),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (4, 10),
 (4, 11),
 (4, 12),
 (4, 13),
 (4, 14),
 (4, 15),
 (4, 16),
 (4, 17),
 (4, 18),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (5, 10),
 (5, 11),
 (5, 12),
 (5, 13),
 (5, 14),
 (5, 15),
 (5, 16),
 (5, 17),
 (5, 18),
 (6, 7),
 (6, 8),
 (6, 9),
 (6, 10),
 (6, 11),
 (6, 12),
 (6, 13),
 (6, 14),
 (6, 15),
 (6, 16),
 (6, 17),
 (6, 18),
 (7, 8),
 (7, 9),
 (7, 10),
 (7, 11),
 (7, 12),
 (7, 13),
 (7, 14),
 (7, 15),
 (7, 16),
 (7, 17),
 (7, 18),
 (8, 9),
 (8, 10),
 (8, 11),
 (8, 12),
 (8, 13),
 (8, 14),
 (8, 15),
 (8, 16),
 (8, 17),
 (8, 18),
 (9, 10),
 (9, 11),
 (9, 12),
 (9, 13),
 (9, 14),
 (9, 15),
 (9, 16),
 (9, 17),
 (9, 18),
 (10, 11),
 (10, 12),
 (10, 13),
 (10, 14),
 (10, 15),
 (10, 16),
 (10, 17),
 (10, 18),
 (11, 12),
 (11, 13),
 (11, 14),
 (11, 15),
 (11, 16),
 (11, 17),
 (11, 18),
 (12, 13),
 (12, 14),
 (12, 15),
 (12, 16),
 (12, 17),
 (12, 18),
 (13, 14),
 (13, 15),
 (13, 16),
 (13, 17),
 (13, 18),
 (14, 15),
 (14, 16),
 (14, 17),
 (14, 18),
 (15, 16),
 (15, 17),
 (15, 18),
 (16, 17),
 (16, 18),
 (17, 18)]

In [169]:
import itertools
c = [1,2,3,4]
for i in itertools.combinations(c,2):
     print (*i)

1 2
1 3
1 4
2 3
2 4
3 4

In [135]:
lst = [1,2,3]

In [139]:
for point in lst:
    for j in [val for val in lst if val !=point]:
        print(point, j)

1 2
1 3
2 1
2 3
3 1
3 2

In [143]:
tuple(sorted((3,1)))

(1, 3)